.checkbox-label {
  padding-top: 10px;
}

.event-link-container {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
}
  
  input[type="checkbox"].form-control{
    display: block !important;
    width: 20px
  }
