<div>
  <form [formGroup]="publicationForm" class="form">
    <div class="form-group row" *ngIf="disabled && event">
      <div class="col-sm-12 event-link-container">
        <a id="eventLink" href="#" class="event-link" (click)="goToEventPage()" title="{{ dictionary.NAVIGATION.eventPage }}">{{ event.id }}</a>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-6" [class.has-error]="formErrors.publicationType" *ngIf="hideElements.indexOf('publicationType')===-1">
        <label for="publicationType">{{ dictionary.LABELS.TYPE }}
          <span class="require" *ngIf="validate">*</span>
        </label>
        <input id="publicationType" ngui-auto-complete class="form-control" [source]="publicationTypes" [no-match-found-text]="dictionary.MESSAGES.EMPTY_PUBLICATION_TYPE"
          [list-formatter]="listFormatter" display-property-name="value" value-property-name="publicationTypeId" formControlName="publicationType"
          [loading-text]="dictionary.MESSAGES.LOADING_PUBLICATION_TYPES" max-num-list="20" match-formatted="true" min-chars="0"
          [disabled]=disabled autocomplete="off" />
        <span *ngIf="formErrors.publicationType" class="help-block require">{{ formErrors.publicationType }}</span>
      </div>
      <div class="col-sm-6" [class.has-error]="formErrors.date">
        <label for="date">{{ dictionary.LABELS.DATE }}
          <span class="require" *ngIf="validate">*</span>
        </label>
        <input type="text" id="date" class="form-control" bsDatepicker formControlName="date" [bsConfig]="datePickerConfig" />
        <span *ngIf="formErrors.date" class="help-block require">{{ formErrors.date }}</span>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-12" [class.has-error]="formErrors.title" *ngIf="hideElements.indexOf('title')===-1">
        <label for="title">{{ dictionary.LABELS.TITLE }}
          <span class="require" *ngIf="validate">*</span>
        </label>
        <input id="title" class="form-control" type="text" formControlName="title" autocomplete="off" />
        <span *ngIf="formErrors.title" class="help-block require">{{ formErrors.title }}</span>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-12" [class.has-error]="formErrors.subTitle" *ngIf="hideElements.indexOf('subTitle')===-1">
        <label for="subTitle">{{ dictionary.LABELS.SUB_TITLE }} </label>
        <input id="subTitle" class="form-control" type="text" formControlName="subTitle" autocomplete="off" />
        <span *ngIf="formErrors.subTitle" class="help-block require">{{ formErrors.subTitle }}</span>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-12" [class.has-error]="formErrors.author" *ngIf="hideElements.indexOf('author')===-1">
        <label for="author">{{ dictionary.LABELS.AUTHOR }} </label>
        <input id="author" class="form-control" type="text" formControlName="author" autocomplete="off" />
        <span *ngIf="formErrors.author" class="help-block require">{{ formErrors.author }}</span>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <app-establishment-form [parentForm]="publicationForm" [disableForm]=disabled *ngIf="hideElements.indexOf('establishment')===-1"
          [validation]="validate" [required]="validate"></app-establishment-form>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4" [class.has-error]="formErrors.volume" *ngIf="hideElements.indexOf('volume')===-1">
        <label for="volume">{{ dictionary.PUBLICATION.LABELS.VOLUME }} </label>
        <input id="volume" class="form-control" type="text" formControlName="volume" autocomplete="off" />
      </div>
      <div class="col-sm-4" [class.has-error]="formErrors.edition" *ngIf="hideElements.indexOf('edition')===-1">
        <label for="edition">{{ dictionary.PUBLICATION.LABELS.EDITION }} </label>
        <input id="edition" class="form-control" type="text" formControlName="edition" autocomplete="off" />
      </div>
      <div class="col-sm-4" [class.has-error]="formErrors.pages" *ngIf="hideElements.indexOf('pages')===-1">
        <label for="pages">{{ dictionary.PUBLICATION.LABELS.PAGES }} </label>
        <input id="pages" class="form-control" type="number" formControlName="pages" autocomplete="off" />
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div *ngIf="formErrors.volume" class="help-block require">{{ formErrors.volume }}</div>
        <div *ngIf="formErrors.edition" class="help-block require">{{ formErrors.edition }}</div>
        <div *ngIf="formErrors.pages" class="help-block require">{{ formErrors.pages }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12" [class.has-error]="formErrors.isbn" *ngIf="hideElements.indexOf('isbn')===-1">
        <label for="isbn">{{ dictionary.PUBLICATION.LABELS.ISBN }}</label>
        <input id="isbn" class="form-control" type="text" formControlName="isbn" autocomplete="off" />
        <span *ngIf="formErrors.isbn" class="help-block require">{{ formErrors.isbn }}</span>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-12" *ngIf="hideElements.indexOf('verifiedDropDown')===-1">
        <label for="verifiedDropDown">{{ dictionary.PUBLICATION.LABELS.VERIFIED_STATUS }}</label>
        <input id="verifiedDropDown" ngui-auto-complete class="form-control" [source]="verifiedValues" [no-match-found-text]="dictionary.MESSAGES.EMPTY_PUBLICATION_VERIFIED_FIELD"
          [list-formatter]="listFormatter" display-property-name="value" value-property-name="realValue" formControlName="verifiedDropDown"
          match-formatted="true" min-chars="0" [disabled]=disabled autocomplete="off" />
      </div>
      <div class="col-sm-offset-7 col-sm-3" *ngIf="hideElements.indexOf('verified')===-1">
        <label class="checkbox-label" for="verified">{{ dictionary.PUBLICATION.LABELS.VERIFIED }}</label>
      </div>
      <div class="col-sm-2" *ngIf="hideElements.indexOf('verified')===-1">
        <input type="checkbox" class="form-control" id='verified' formControlName="verified" />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12" [class.has-error]="formErrors.notes" *ngIf="hideElements.indexOf('notes')===-1">
        <label for="notes">{{ dictionary.LABELS.NOTES }}</label>
        <textarea id="notes" class="form-control" rows="2" formControlName="notes" autocomplete="off"></textarea>
        <span *ngIf="formErrors.notes" class="help-block require">{{ formErrors.notes }}</span>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12" id="list_exhibitions" [class.has-error]="formErrors.exhibition" *ngIf="hideElements.indexOf('exhibition')===-1">
        <app-list-input-form [label]="dictionary.PUBLICATION.LABELS.EXHIBITIONS" [externalData]="exhibitionSvc" (messageEmitted)="handleListInputMessages($event)"
          (valuesEmitter)="changeExhibitionValues($event)" [selected]="exhibitionData"></app-list-input-form>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12" id="list_publications" [class.has-error]="formErrors.publication" *ngIf="hideElements.indexOf('publication')===-1">
        <app-list-input-form [label]="dictionary.PUBLICATION.LABELS.PUBLICATIONS" [externalData]="publicationSvc" (messageEmitted)="handleListInputMessages($event)"
          (valuesEmitter)="changePublicationValues($event)" [selected]="publicationData" [notAllowedIds]="notAllowedIds"></app-list-input-form>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12" [class.has-error]="formErrors.eventId" *ngIf="hideElements.indexOf('eventId')===-1">
        <label for="eventId">{{ dictionary.LABELS.EVENT_ID }}</label>
        <input id="eventId" class="form-control" type="text" formControlName="eventId" autocomplete="off" />
        <span *ngIf="formErrors.eventId" class="help-block require">{{ formErrors.eventId }}</span>
      </div>
    </div>

  </form>
</div>