<div class="modal-dialog app-dialog single-item-component">
  <div class="modal-content">
    <div class="modal-header" [ngClass]="{'no-padding-top': isClosable}">
      <div class="row" *ngIf="isClosable">
        <button type="button" class="close" (click)="close()">&times;</button>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <h4 class="modal-title">{{ title }}</h4>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-12">
              <button type="button" class="pull-right save" [disabled]="form.invalid" (click)="save()" qa-data="itemSave">
                <i class="fa fa-floppy-o fa-lg header-icon"></i>
              </button>
            </div>
            <div class="col-sm-12">
              <a class="pull-right open-item" (click)="openItem()">{{item.id}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <app-pricing-item-form></app-pricing-item-form>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h6 class="text-center subtitle">{{ dictionary.PRICING_ITEMS.FURTHER_DETAILS_TITLE }}</h6>
            </div>
            <div class="panel-body">
              <app-item-details-form [parentForm]="form" [hideElements]="hideDetailElements"></app-item-details-form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
