.single-item-component {
    width: 33%;
    .modal-title {
        margin-top: 13px;
    }
    .subtitle {
        font-weight: bold;
    }
    .close {
        margin-right: 20px;
    }
    .save {
        cursor: pointer;
        background: none;
        border: 0;
        box-shadow: none;
        color: #288671;
    }
    a.open-item,
    a.open-item:hover {
        cursor: pointer;
        text-decoration: none;
        margin-top: 0px;
        font-size: 11px;
    }
    .modal-body {
        overflow-y: auto;
        height: auto;
        max-height: 530px;
    }
}