.event-table-wrapper {
  .event-table {
    tbody {
      td {
        padding-left: 0;
        &.item-container {
          height: 100%;
          .item-group {
            display: flex;
            .single-item {
              padding: 0 10px;
              span {
                word-break: break-word;
              }
            }
            .details-column {
              flex-grow: 1;
            }
            .illustration-column {
              flex-grow: 1;
              padding-left: 17px;
            }
          }
        }
      }
    }
    &.noClientVersion {
      tbody {
        td {
          &.item-container {
            .item-group {
              &:hover {
                border: 1px solid transparent;
                cursor: auto;
              }
            }
          }
        }
      }
    }
    .details-column {
      width: 18%;
      max-width: 200px;
    }
    .illustration-column {
      width: 17%;
    }
    .clients-column {
      width: 25%;
    }
    .loading {
      width: 130px;
      height: 29px;
      background-size: 15px 15px;
      background-position: top center;
    }
  }
}