<div class="publication-table">
  <div class="panel panel-default panel-with-search">
    <div class="panel-heading">
      <h2 class="panel-title segment-title">{{ title }}</h2>
      <div class="row">
        <div class="col-sm-6">
          <a id="itemsLink" routerLink="items" class="panel-show-all" *ngIf="!noClientVersion">Items Page</a>
        </div>
        <div class="col-sm-6">
          <table-filter class="panel-search pull-right" [(itemsSetter)]="items" (onFilter)="onFilter($event)"></table-filter>
        </div>
      </div>
    </div>
    <div class="panel-body notes-font">
      <div class="event-table-wrapper">
        <table id="publicationTable" class="table event-table event-table-header">
          <thead class="table-header">
            <tr>
              <th class="object-column">{{ tableDictionary.OBJECT }}</th>
              <th class="details-column">{{ tableDictionary.DETAILS }}</th>
              <th class="illustration-column">{{ tableDictionary.ILLUSTRATION }}</th>
              <th class="clients-column">
                {{ !noClientVersion ? tableDictionary.CLIENT: ''}}
              </th>
            </tr>
          </thead>
        </table>
        <div class="scroll-table-wrapper" infinite-scroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="800" [scrollWindow]="false"
          (scrolled)="itemsTableScrolled()">
          <table class="table event-table" [ngClass]="{'noClientVersion': !!noClientVersion}">
            <thead>
              <tr>
                <th class="object-column"></th>
                <th class="details-column"></th>
                <th class="illustration-column"></th>
                <th class="clients-column"></th>
              </tr>
            </thead>
            <tbody>
              <tr id="itemDetail-{{item.id}}" *ngFor="let item of items" [appContextMenu]="{ options: menuOptions, item: item }">
                <td class="items-object">
                  <app-table-object [showTitles]="false" [objectIds]="item.objects" [tableOptions]="objectTableOptions"></app-table-object>
                </td>
                <td class="item-container" colspan="2" (click)="showPublicationItemPopUp(item)">
                  <div class="item-group" [ngClass]="{'item-grow-2': item.objects?.length > 1, 'item-grow-3': item.objects?.length>2 }">
                    <div class="details-column">
                      <ul class="item-group-enum">
                        <li *ngIf="item.cataloguingPage" class="single-item">
                          <label>{{ tableDictionary.PAGE }}:</label>
                          <span> {{ item.cataloguingPage }}</span>
                        </li>
                        <li *ngIf="item.number" class="single-item">
                          <label>{{ tableDictionary.NUMBER }}:</label>
                          <span>{{ item.number }}</span>
                        </li>
                        <li *ngIf="tableDictionary.FIGUR" class="single-item">
                          <label>{{ labels.fmv }}:</label>
                          <span>{{ item.figure }}
                          </span>
                        </li>
                        <li *ngIf="item.plate " class="single-item">
                          <label>{{ tableDictionary.PLATE }}:</label>
                          <span>{{ item.plate }}</span>
                        </li>
                        <li *ngIf="item.figure " class="single-item">
                          <label>{{ tableDictionary.FIGURE }}:</label>
                          <span>{{ item.figure }}</span>
                        </li>
                        <li *ngIf="item.illustration " class="single-item">
                          <label>{{ tableDictionary.ILLUSTRATION }}:</label>
                          <span>{{ item.illustration }}</span>
                        </li>
                      </ul>
                    </div>
                    <div class="illustration-column">
                      <ul class="item-group-enum">
                        <li class="single-text" *ngIf="item.publicationItemType">
                          <label>{{item.publicationItemType?.value}}{{generalConstant.IN}}{{ item.colourType?.name }}</label>
                        </li>
                      </ul>
                    </div>
                  </div>
                </td>
                <td [class.new]="!item.consignmentEvent">
                  <div *ngIf="!noClientVersion">
                    <ul class="card" *ngIf="item.consignmentEvent else addConsignor" (click)="editConsignment(item.consignmentEvent.id)">
                      <li class="single-item spec">
                        <label>{{ generalDictionary.FORM_LABELS.consigner}}</label>
                        <span class="spec-text" *ngIf="item.consignmentEvent.mainClient.clientData">
                          {{ item.consignmentEvent.mainClient.clientData.name }} ({{ item.consignmentEvent.mainClient.clientId}})
                        </span>
                        <span class="loading" *ngIf="!item.consignmentEvent.mainClient.clientData"></span>
                      </li>
                      <li>
                        <div *ngIf="item.consignmentEvent.affiliatedClient" (click)="editConsignment(item.consignmentEvent.id)" class="spec">
                          <label>{{ generalDictionary.FORM_LABELS.affiliated }}</label>
                          <span class="spec-text" *ngIf="item.consignmentEvent.affiliatedClient.clientData">
                            {{ item.consignmentEvent.affiliatedClient.clientData.name }} ({{ item.consignmentEvent.affiliatedClient.clientId}})
                          </span>
                          <span class="loading" *ngIf="!item.consignmentEvent.affiliatedClient.clientData"></span>
                        </div>
                      </li>
                    </ul>
                    <ng-template #addConsignor>
                      <button id="addConsigner" class="btn btn-default btn-client" type="button" (click)="addPerson(item)">{{ generalDictionary.FORM_LABELS.addConsigner }}</button>
                    </ng-template>

                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="publication-context-menu">
  <app-context-menu></app-context-menu>
</div>
