<li>
  <select [(ngModel)]="selectedValue" [value]="selectedValue" class="form-control" (change)="selectSort($event.target.value)"
    (click)="customSortSelect($event)">
    <option value="selected" name="selectSortValue">Select Sort</option>
    <option value="artist" name="artistSort">Artist</option>
    <option value="owner" name="">Current Owner ID</option>
    <option value="titleEN" name="titleENSort">Title(EN)</option>
    <option value="titleOrig" name="titleOriginalSort">Title(ORIG)</option>
    <option value="size" name="sizeSort">Size</option>
    <option value="height" name="heightSort">Height</option>
    <option value="width" name="widthSort">Width</option>
    <option value="depth" name="depthSort">Depth</option>
    <option value="year" name="yearSort">Year</option>
    <option value="sortcode" name="sortcodeSort">Sort Code</option>
    <option value="areaVolume" name="areaVolumeSort">Area/Volume</option>
    <option *ngFor="let catalog of catalogs" value="{{catalog}}">{{catalog}}</option>
    <option value="more">More..</option>
  </select>
</li>