<div class="event-transaction-table">
  <div class="panel panel-default panel-with-search">
    <div class="panel-heading">
      <h2 class="panel-title section-subtitle">{{ title }}</h2>
      <div class="row">
        <div class="col-sm-6">
          <a id="itemsLink" routerLink="items" class="panel-show-all" *ngIf="!noClientVersion">Items Page</a>
        </div>
        <div class="col-sm-6">
          <table-filter class="panel-search pull-right" [(itemsSetter)]="items" (onFilter)="onFilter($event)"></table-filter>
        </div>
      </div>
    </div>
    <div class="panel-body notes-font">
      <div class="event-table-wrapper">
        <table class="table event-table event-table-indexed transaction-items" [ngClass]="{'noClientVersion':!!noClientVersion}">
          <thead class="table-header">
            <tr>
              <th class="lot-column">
                {{tableHeaders[0]}}
              </th>
              <th class="object-column">
                {{tableHeaders[1]}}
              </th>
              <th class="prices-column">
                {{tableHeaders[2]}}
              </th>
              <th class="consigner-column" *ngIf="!noClientVersion">
                {{tableHeaders[3]}}
              </th>
            </tr>
          </thead>
        </table>
        <div class="scroll-table-wrapper" infinite-scroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="800" [scrollWindow]="false"
          (scrolled)="lotTableScrolled()">
          <table id="eventLotTable" class="table event-table event-table-indexed transaction-items">
            <thead class="table-header">
              <tr>
                <th class="lot-column">
                </th>
                <th class="object-column">
                </th>
                <th class="prices-column">
                </th>
                <th class="consigner-column">
                </th>
              </tr>
            </thead>
            <tbody *ngIf="items">
              <tr id="itemDetail-{{item.id}}" *ngFor="let item of items" [appContextMenu]="{ options: menuOptions, item: item }">
                <td class="lot lot-content item-container">
                  <div class="item-column-container item-group" (click)="showTransactionItemPopUp(item)" [ngClass]="{'item-grow-2': item.objects?.length > 1, 'item-grow-3': item.objects?.length>2 }">
                    {{ item.lotNumber }}
                  </div>
                </td>
                <td>
                  <app-table-object [showTitles]="false" [objectIds]="item.objects" [tableOptions]="objectTableOptions"></app-table-object>
                </td>
                <td class="prices item-container">
                  <div class="item-column-container item-group" (click)="showTransactionItemPopUp(item)" [ngClass]="{'item-grow-2': item.objects?.length > 1, 'item-grow-3': item.objects?.length>2 }">
                    <dl *ngIf="item.auction">
                      <ng-container *ngFor="let value of item.auction | keys">
                        <ng-container *ngIf="value !== 'term' && value !== 'estimateOnRequest' && value !== 'unsoldHammer'">
                          <dt [ngClass]="'price-'+value">{{ cataloguingItems[ value ] }}:</dt>
                          <dd [ngClass]="'price-'+value">
                            {{ item.auction[ value ] | currencyCustomSymbol:item.event?.currency?.code:item.event?.currency?.symbol }}
                          </dd>
                        </ng-container>
                      </ng-container>
                    </dl>
                    <dl *ngIf="item.privateSale">
                      <ng-container *ngFor="let value of item.privateSale | keys">
                        <dt>{{ cataloguingItems[ value ] }}:</dt>
                        <dd>
                          {{ item.privateSale[ value ] | currencyCustomSymbol:item.event?.currency?.code:item.event?.currency?.symbol }}
                        </dd>
                      </ng-container>
                    </dl>
                  </div>
                </td>
                <td class="associated-events">
                  <div *ngIf="!noClientVersion">
                    <dl class="consigner associated-event" [class.new]="!item.consignmentEvent">
                      <ul class="card" *ngIf="item.consignmentEvent else addConsigner" (click)="editConsignmentPurchase(item.consignmentEvent.id)">
                        <li class="spec">
                          <label>{{ generalDictionary.FORM_LABELS.consigner }}</label>
                          <span id="consignmentMainDetailLink-{{item.id}}" class="spec-text" *ngIf="item.consignmentEvent.mainClient.clientData">
                            {{ item.consignmentEvent.mainClient.clientData.name }} ({{ item.consignmentEvent.mainClient.clientId }})
                          </span>
                          <span class="loading" *ngIf="!item.consignmentEvent.mainClient.clientData"></span>
                        </li>
                        <li>
                          <div *ngIf="item.consignmentEvent.affiliatedClient" class="spec">
                            <label>{{ generalDictionary.FORM_LABELS.affiliated }}</label>
                            <span id="consignmentAffiliatedDetailLink-{{item.id}}" class="spec-text" *ngIf="item.consignmentEvent.affiliatedClient.clientData">
                              {{ item.consignmentEvent.affiliatedClient.clientData.name }} ({{ item.consignmentEvent.affiliatedClient.clientId}})
                            </span>
                            <span class="loading" *ngIf="!item.consignmentEvent.affiliatedClient.clientData"></span>
                          </div>
                        </li>
                      </ul>
                      <ng-template #addConsigner>
                        <button id="addConsigner-{{item.id}}" class="btn btn-default btn-client" type="button" (click)="addPerson(item, generalDictionary.SECTIONS.CONSIGNMENT)">{{ generalDictionary.FORM_LABELS.addConsigner }}</button>
                      </ng-template>
                    </dl>
                    <dl class="purchaser associated-event" [class.new]="!item.purchaseEvent">
                      <ul class="card" *ngIf="item.purchaseEvent else addPurchaser" (click)="editConsignmentPurchase(item.purchaseEvent.id)">
                        <li class="spec">
                          <label>{{ generalDictionary.FORM_LABELS.purchaser}}</label>
                          <span id="purchaseMainDetailLink-{{item.id}}" class="spec-text" *ngIf="item.purchaseEvent.mainClient.clientData">
                            {{ item.purchaseEvent.mainClient.clientData.name }} ({{ item.purchaseEvent.mainClient.clientId }})
                          </span>
                          <span class="loading" *ngIf="!item.purchaseEvent.mainClient.clientData"></span>
                        </li>
                        <li>
                          <div *ngIf="item.purchaseEvent.affiliatedClient" class="spec">
                            <label>{{ generalDictionary.FORM_LABELS.affiliated }}</label>
                            <span id="purchaseAffiliatedDetailLink-{{item.id}}" class="spec-text" *ngIf="item.purchaseEvent.affiliatedClient.clientData">
                              {{ item.purchaseEvent.affiliatedClient.clientData.name }} ({{ item.purchaseEvent.affiliatedClient.clientId}})
                            </span>
                            <span class="loading" *ngIf="!item.purchaseEvent.affiliatedClient.clientData"></span>
                          </div>
                        </li>
                      </ul>
                      <ng-template #addPurchaser>
                        <button id="addPurchaser-{{item.id}}" class="btn btn-default btn-client" type="button" (click)="addPerson(item, generalDictionary.SECTIONS.PURCHASE)">{{ generalDictionary.FORM_LABELS.addPurchaser }}</button>
                      </ng-template>
                    </dl>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="transaction-context-menu">
  <app-context-menu></app-context-menu>
</div>