.event-table-wrapper {
  .transaction-items {
    .lot-column {
      min-width: 70px;
      max-width: 70px;
    }
    .prices-column {
      width: 22%;
    }
    .consigner-column {
      width: 28%;
    }
    .lot-content {
      font-size: 14px;
    }
    .consigner {
      margin-bottom: 20px;
    }
    .item-column-container {
      max-width: 200px;
    }
    &.noClientVersion {
      .prices-column {
        width: 50%;
      }
      tbody {
        td {
          &.item-container {
            .item-group {
              &:hover {
                border: 0;
                cursor: auto;
              }
            }
          }
        }
      }
    }
  }
  .loading {
    width: 130px;
    height: 29px;
    background-size: 15px 15px;
    background-position: top center;
  }
}