:host /deep/ .eventReportComponent {
    border: 1px solid #ddd;
    padding: 5px;
    margin-bottom: 5px;
    .card-event-text {
        color: #999999;
        font-weight: normal;
        padding: 0;
        font-size:11px;
    }   
    .card-event-title-date {
        text-align: right;
        width: 100%;
        height: 100%;
        font-weight: bold;
    }
    .card-event-title {
        font-weight: bold;
    }
    label {
        font-size: 11px;
        font-weight: normal;
        margin-bottom: 0;

    }
   
}

.filter {
    height: 4%
}

.list-of-cards {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    position: relative;
    padding: 5px;
}

.report-title {
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    margin:10px 0 0
}

.report-menu{
    background: #eee;
    margin-bottom: 0;
    padding: 5px;
    
    .form-control {
        height: 18px;
        font-size: 11px;
        width: 100%;
        padding: 2px;
    }
}
