<div class="row">
  <div class="col-sm-12" *ngIf="renderOptions.title">
    <h5 id="mainClientTitle" class="report-title">{{ dictionary.EVENT_REPORT.TITLE }}</h5>
  </div>
  <div class="col-sm-12">
    <div id="eventReportComponent" class="panel-body">
      <div class="panel panel-default report-menu" *ngIf="renderOptions.headline">
        <div class="row form-group">
          <div class="col-sm-4" *ngIf="renderOptions.add">
            <select class="form-control" #addElem (change)="addToEvent(addElem.value)" [disabled]="!currentObjectId" qa-data="addEventSelector">
              <option>{{ dictionary.EVENT_REPORT.LABELS.ADD_EVENT }}</option>
              <option qa-data="addEventPublication" [value]="dictionary.SECTIONS.PUBLICATION">{{ dictionary.SECTIONS.PUBLICATION }}</option>
              <option qa-data="addEventTransaction" [value]="dictionary.SECTIONS.TRANSACTION">{{ dictionary.SECTIONS.TRANSACTION }}</option>
              <option qa-data="addEventPricing" [value]="dictionary.SECTIONS.PRICING">{{ dictionary.SECTIONS.PRICING }}</option>
            </select>
          </div>
          <div class="col-sm-4" *ngIf="renderOptions.filter">
            <select #selectElem (change)="getEventsByObjectId(selectElem.value, currentObjectId)" class="form-control">
              <option *ngFor="let item of filter" [value]="item">
                {{item}}
              </option>
            </select>
          </div>
          <div class="col-sm-4" *ngIf="renderOptions.search">
            <input type="text" id="filterSearch" class="form-control" placeholder="Search" (keyup.enter)="filterItems($event.target.value)">
          </div>
        </div>
      </div>
      <div class="panel panel-default col-sm-12 list-of-cards"
        *ngIf="eventItems.length > 0" infinite-scroll debounce [infiniteScrollDistance]="1"
        [style.height.px]="renderOptions.height"
        [infiniteScrollThrottle]="300" [scrollWindow]="false" (scrolled)="eventScrolled($event)">
        <div class="eventReportComponent" *ngFor="let event of eventItems">
          <app-event-card-transaction-component [eventItems]="event" *ngIf="event.type == 'TRANSACTION'"></app-event-card-transaction-component>
          <app-event-card-publication-component [eventItems]="event" *ngIf="event.type == 'PUBLICATION'"></app-event-card-publication-component>
          <app-event-card-pricing-component [eventItems]="event" *ngIf="event.type == 'PRICING'"></app-event-card-pricing-component>
        </div>
      </div>
    </div>
  </div>
</div>
