/* Home Page - Datatable */
::-webkit-scrollbar {
    display: none;
}
::-webkit-scrollbar-thumb {
    background: #18fd95;
}
::-webkit-scrollbar {
    width: 3px;
}
.saved-search-datatable ngx-datatable {
    font-size: 11px;
}
.saved-search-datatable .ngx-datatable {
    height: calc(100vh - 110px);
    max-height: 515px;
    overflow: scroll;
    padding-left: 10px;
}
ngx-datatable .progress-linear {
    position: fixed !important;
    bottom: 0px;
}
.saved-search-datatable .datatable-body:hover::-webkit-scrollbar, .saved-search-datatable .datatable-body:focus::-webkit-scrollbar {
    display: inline-block;
    width: 2px;
    opacity: 0.5;
}
.saved-search-datatable .datatable-body::-webkit-scrollbar-thumb {
    background: #a3bfde;
}
.saved-search-datatable-filter {
    padding: 8px;
    padding-right: 20px;
    margin: 15px auto;
    width: 100%;
    height: 30px;
    font-size: 11px; 
}
.saved-search-datatable .fa {
    font-size: 11px;
    color: #ccc;
}
.saved-search-datatable .fa:hover {
    color: #5f849a;
}
.saved-search-datatable .form-control-clear {
    z-index: 10;
    pointer-events: auto;
    cursor: pointer;
    position: absolute;
    margin-top: 20px;
    right: 20px;
}
.datatable-header {
    font-weight: bold;
    cursor: pointer;
}
.search-name {
    white-space: normal;
    padding: 5px 10px 5px 0;
}
.search-name:hover {
    color: #68929c;
}
a {
	text-decoration: none;
	cursor: pointer;
}
.fa-sort-asc {
    vertical-align: bottom;
}
.fa-sort-desc {
    vertical-align: text-top;
}