<!-- Save Search Modal -->
<modal #saveSearchModal [hideCloseButton]="true" [closeOnEscape]="false" [closeOnOutsideClick]="false">
    <modal-header (window:keydown)="keyboardShortCutFunct($event)">
        <div class="modal-title">
            <h5 class="pull-left">Save Search</h5>
            <button class="modal-btn secondary pull-right" (click)="saveSearchModal.close(); resetSaveSearchForm(saveSearchForm.value);">CANCEL</button>
            <button id="savesarchList" type="submit" (click)="saveSearch(saveSearchForm.value); saveSearchModal.close();" class="modal-btn primary pull-right" [disabled]="!saveSearchForm.valid">SAVE</button>
        </div>
    </modal-header>
    <modal-content>
        <!-- Save Search Fields -->
        <form [formGroup]="saveSearchForm" class="noModeChange" novalidate (ngSubmit)="saveSearch(saveSearchForm.value)">
            <div class="col-sm-12">
                <span class="row">
                <input type="text" formControlName="name" class="form-control" placeholder="Name" minlength="1" maxlength="80" [(ngModel)]="savedSearchName">
                <div *ngIf="saveSearchForm.controls['name'].hasError('required') && saveSearchForm.controls['name'].touched" class="alert alert-danger">Please enter a name.</div>
                <div *ngIf="saveSearchForm.controls['name'].hasError('maxlength') && saveSearchForm.controls['name'].touched" class="alert alert-danger">Name cannot exceed 80 characters.</div>
            </span>
                <span class="row">
                <textarea style="max-width:100%"  rows="3" formControlName="notes" placeholder="Notes" class="form-control f-11 b-1-ddd save-search-notes" maxlength="200" [(ngModel)]="savedSearchNotes"></textarea>
                <div *ngIf="saveSearchForm.controls['notes'].hasError('maxlength') && saveSearchForm.controls['notes'].touched" class="alert alert-danger">Notes cannot exceed 200 characters.</div>
            </span>
            </div>
        </form>
    </modal-content>
    <modal-footer></modal-footer>
</modal>