<div class="col-sm-12 panel saved-search-datatable">
    <div class="panel-heading">
        <h5 class="panel-title">Saved Searches</h5>
    </div>
    <div class="panel-body row">
        <div class="col-sm-12">
            <input type='search' #savedSearchFilter id='savedSearchFilter' class="saved-search-datatable-filter form-control pull-left" placeholder='Type to filter by Searches...' (keyup)='updateFilter($event)' />
            <span class="form-control-clear pull-left" *ngIf = "savedSearchFilter.value.length > 0" (click)="this.helper.clearInput('savedSearchFilter'); clearFilter();">
                <i class="fa fa-times" aria-hidden="true"></i>
            </span>
            <div>
                <ngx-datatable #savedSearchList
                    class="table" 
                    [rows]="rows"
                    [columnMode]="'standard'"
                    [headerHeight]="headerHeight"
                    [footerHeight]="footerHeight" 
                    [rowHeight]="rowHeight"
                    [loadingIndicator]="isLoading"
                    [scrollbarV]="true"
                    [externalSorting]="true"
                    (scroll)="onScroll($event.offsetY)"
                    (sort)="onSort($event)">>
                    <ngx-datatable-column name="Searches" prop="name" width="104">
                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                            <span (click)="sort()" class="datatable-header">{{column.name}}
                                <span class="m-l-5">
                                    <span *ngIf="sortColumn=='date'"><i class="fa fa-sort" aria-hidden="true"></i></span> 
                                    <span *ngIf="sortColumn=='name' && sortOrder=='asc'"><i class="fa fa-sort-asc" aria-hidden="true"></i></span>
                                    <span *ngIf="sortColumn=='name' && sortOrder=='desc'"><i class="fa fa-sort-desc" aria-hidden="true"></i></span>
                                </span>
                            </span>
                        </ng-template>
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <a class="search-name" (click)="navigateToSearchResults(row)">{{value}}</a>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Date" width="66">
                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                            <span (click)="sort()" class="datatable-header">Date
                                <span class="m-l-5"> 
                                    <span *ngIf="sortColumn=='name'"><i class="fa fa-sort" aria-hidden="true"></i></span>
                                    <span *ngIf="sortColumn=='date' && sortOrder=='asc'"><i class="fa fa-sort-asc" aria-hidden="true"></i></span>
                                    <span *ngIf="sortColumn=='date' && sortOrder=='desc'"><i class="fa fa-sort-desc" aria-hidden="true"></i></span>
                                </span>
                            </span>
                        </ng-template>
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            {{value}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column width="90">
                        <ng-template let-value="value" ngx-datatable-cell-template class="actions" let-row="row">
                            <span class="m-l-10 m-r-15" (click)="this.saveSearchModal.saveSearchModal.open(); populateSaveSearchModal(row);this.saveSearchModal.saveSearchMode = 'EditSaveSearch';">
                                <a alt="Edit">
                                    <i class="fa fa-pencil" title="Edit" aria-hidden="true"></i>
                                </a>
                            </span>
                            <span class="m-r-15" (click)="createMessage(row)">
                                <a alt="Share">
                                    <i class="fa fa-envelope" title="Share" aria-hidden="true"></i>
                                </a>
                            </span>
                            <span class="m-r-15" (click)="deleteSavedSearch(row, rows)">
                                <a alt="Delete">
                                    <i class="fa fa-trash-o" title="Delete" aria-hidden="true"></i>
                                </a>
                            </span>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </div>
</div>
<app-save-search-modal (updatedSavedSearch)="updateSavedSearchRowByID($event)" [savedSearchName]="savedSearchName" [savedSearchNotes]="savedSearchNotes" [savedSearchID]="savedSearchID"></app-save-search-modal>