footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.footer-bottom {
    padding: 8px 15px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
    width: 100%;
    font-size: 12px;
}