<footer class="footer" *ngIf="userName && ((userName.createdBy && userName.createdDate) || (userName.updatedBy && userName.updatedDate))">
  <div class="container footer-bottom col-sm-12">
    <span class="pull-left col-sm-4 t-align-l" *ngIf="userName.createdBy">Created: <span><span *ngIf="userName.createdDate">{{userName.createdDate|date:'d MMM y' }}</span> by {{userName.createdBy}}</span></span>
    <span class="col-sm-4"></span>
    <span class="pull-right col-sm-4 t-align-r" *ngIf="userName.updatedBy">Amended: <span><span *ngIf="userName.updatedDate">{{userName.updatedDate |date:'d MMM y' }}</span> by {{userName.updatedBy}}</span></span>
  </div>
</footer>
