.section-container {
  width: 100%;
  margin: auto;
  .recentLink {
    text-align: right;
    padding-right: 30px;
    margin-bottom: 10px;
  }
  .client {
    justify-content: space-around;
    .event-column {
      flex-basis: 30%;
    }
    .confirmed-lots {
      flex-basis: 70%;
      margin-left: 1%;
    }
    #form-event-transaction {
      flex: 0;
      flex-basis: 31%;
      margin-right: 10px;
    }
    .client-column {
      width: 100%;
      display: inherit;
    }
  }
  #form-event-transaction {
    justify-content: space-around;
    .event-column {
      flex-direction: row;
      flex-basis: 30%;
    }
  }
  .thumbs-wrapper {
    display: block;
    width: 1500px;
    border: 1px solid #ddd;
    margin: 0 auto 20px;
    border-right: 0;
    border-left: 0;
    padding: 30px 0;
    .artists-wrapper {
      margin: 0 120px 20px 0;
      .artist-filter {
        width: 440px;
        margin-left: 1%;
      }
    }
    hr {
      border: 1px solid #ddd;
    }
  }
}

#form-event-transaction {
  justify-content: space-around;
  .event-column {
    flex-direction: row;
    flex-basis: 30%;
  }
}

.thumbs-wrapper {
  display: block;
  width: 1500px;
  border: 1px solid #ddd;
  margin: 0 auto 20px;
  border-right: 0;
  border-left: 0;
  padding: 30px 0;
  .artists-wrapper {
    margin: 0 120px 20px 0;
    .artist-filter {
      width: 440px;
      margin-left: 1%;
    }
  }
  hr {
    border: 1px solid #ddd;
  }
}