<simple-notifications [options]="options" class="client-notifications"></simple-notifications>
<app-navigation-header [totalPages]="pageTotal">
</app-navigation-header>
<div class="section-container" [attr.state]="state">
  <h1 class="section-title">{{ sectionTitle }}</h1>
  <div class="container-fluid">
    <div id="clientContainer" class="client container" state="search">
      <div class="row">
        <div class="col-sm-12">
          <app-external-client-form></app-external-client-form>
        </div>
      </div>
    </div>
    <div class="container recentLink" *ngIf="showTwoLaneThumbs">
      <div class="row">
        <div class="col-sm-12 ">
          <a>Recent Events</a>
        </div>
      </div>
    </div>
    <div *ngIf="showTwoLaneThumbs" class="thumbs-wrapper">
      <div class="artists-wrapper">
        <app-artist-form class="artist-filter pull-right" (artistSelected)="addFilterByArtist($event)" *ngIf="showTwoLaneThumbs"></app-artist-form>
      </div>
      <div class="thumbnail-gallery">
        <app-client-current-collection [artist]="selectedArtist" [client]="current"></app-client-current-collection>
      </div>
      <hr/>
      <!--    <div class="thumbnail-gallery">
      <app-two-lane-thumbs [title]="dynamicTitle.pastCollection({})" [setItems]="pasts" (navigation)="navPasts($event)"></app-two-lane-thumbs>
    </div>
    <hr/>
  -->
    </div>
  </div>
</div>