.two-lane-thumbs {
    width: 1355px;
    display: block;
    margin: auto;
    height: 340px;
    .header-section {
        padding: 30px 59px 18px;
        .panel-title {
            font-size: 12px;
        }
    }
    .thumb-container {
        max-height: 294px;
        .carousel-item-content-wrapper {
            margin: auto;
            width: 1260px;
            .carousel-item-content {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                overflow: hidden;
                .thumbnail {
                    width: 130px;
                    margin: 5px;
                    box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.6);
                    img {
                        max-height: 125px;
                    }
                }
            }
        }
    }
    .carousel-control.left,
    .carousel-control.right {
        width: 2%;
        background: none;
        color: #999;
    }
    .position-top {
        top: 10px;
    }
    .anchor-link {
        vertical-align: top;
        font-size: 13px;
        float: right;
        cursor: pointer;
    }
    .no-results-message {
        text-align: center;
        color: #999999;
        font-size: 13px;
        position: relative;
        top: 40%;
    }
}