<div class="two-lane-thumbs" [ngClass]="loading ? 'loading': ''">
  <div class="header-section">
    <a class="anchor-link" (click)="showAll()" *ngIf="showAllDisplayed">{{showAllText}}</a>
    <h3 class="panel-title pull-left">{{title}}</h3>
  </div>
  <div class="carousel slide position-top" data-ride="carousel" id="{{ name }}" [ngClass]="{'no-results-message': !loading && (!thumbs || thumbs.length === 0)}">
    <div *ngIf="!loading && (!thumbs || thumbs.length === 0)">{{messageNotFound}}</div>
    <div class="carousel-inner thumb-container" role="listbox">
      <div class="carousel-item-content-wrapper">
        <div class="carousel-item-content">
          <a *ngFor="let thumb of thumbs" target="_blank" [routerLink]="[thumb.route]" [queryParams]="{id: thumb.id}" class="thumbnail"
            data-toggle="tooltip" data-placement="right" [title]="thumb.hint">
            <img class="img-responsive" [src]="thumb.imageUrl || placeholder" [alt]="thumb.title" />
          </a>
        </div>
      </div>
      <!-- <a *ngFor="let thumb of thumbs" target="_blank" [routerLink]="[thumb.route]" [queryParams]="{id: thumb.id}" class="thumbnail"
          data-toggle="tooltip" data-placement="right" [title]="thumb.hint">
          <img class="img-responsive" [src]="thumb.imageUrl || placeholder" [alt]="thumb.title" />
        </a>-->
      <a class="left carousel-control" (click)="prevItems()" role="button" data-slide="prev" *ngIf="hasPrev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      </a>
      <a class="right carousel-control" (click)="nextItems()" role="button" data-slide="next" *ngIf="hasNext">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </div>
</div>