.single-item-component {
    width: 33%;
    .modal-title {
        margin-top: 13px;
    }
    .subtitle {
        font-weight: bold;
    }
    .save {
        cursor: pointer;
        background: none;
        border: 0;
        box-shadow: none;
        color: #000;
        &.disabled{
            cursor: default;
            color: #999;
        }
    }
    a.open-item,
    a.open-item:hover {
        cursor: pointer;
        text-decoration: none;
        margin-top: 0;
        font-size: 11px;
    }
    .no-padding-top {
        padding-top: 0;
    }
}