<div class="modal-dialog app-dialog single-item-component">
  <div class="modal-content">
    <div class="modal-header" [ngClass]="{'no-padding-top': isClosable}">
      <div class="row" *ngIf="isClosable">
           <button type="button" class="close" (click)="close()">&times;</button>
      </div>

      <div class="row">
        <div class="col-sm-8">
          <h4 class="modal-title">{{ title }}</h4>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-12">
              <button type="button" [disabled]="!validForm" [ngClass]="{'disabled': !validForm}" class="pull-right save" (click)="save()" qa-data="itemSave">
                <i class="fa fa-floppy-o fa-lg header-icon"></i>
              </button>
            </div>
            <div class="col-sm-12">
              <a class="pull-right open-item" (click)="openItem()">{{item.id}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel-body">
            <div class="panel-heading panel-blue">
              <h6 class="text-center subtitle">{{ dictionary.TRANSACTION_ITEMS.ITEM_DETAILS_TITLE }}</h6>
            </div>
            <div class="panel panel-default">
              <div class="panel-body" *ngIf="itemOptions">
                <app-transaction-item-form-component [parentForm]="form" [options]="itemOptions" [validation]="validateForm" [hideElements]="itemFormHiddenFields"></app-transaction-item-form-component>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h6 class="text-center subtitle">{{ dictionary.PUBLICATION_ITEMS.FURTHER_DETAILS_TITLE }}</h6>
            </div>
            <div class="panel-body" *ngIf="itemOptions">
              <app-item-details-form [parentForm]="form"></app-item-details-form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
