<div id="consignmentPurchaseForm" class="panel">
  <div class="panel-heading">
  </div>
  <div class="panel-body form">
    <form id="formConsignmentPurchase" class="form-horizontal flexbox-container" [formGroup]="consignmentPurchaseAddItemForm" novalidate>
      <fieldset>
        <div class="row form-group">
          <div class="col-sm-12">
            <label for="eventType">{{ dictionary.LABELS.CONSIGMENT_PURCHASE }}</label>
            <input id="eventType" ngui-auto-complete class="form-control arrow-down" [source]="eventList"
            [list-formatter]="listFormatter" display-property-name="name" value-property-name="id" autocomplete="off"
            formControlName="eventType" min-chars="0" />
          </div>
        </div>
        <app-client-form [parentForm]="consignmentPurchaseAddItemForm"></app-client-form>
        <div class="row form-group" class="event-id">
          <div class="col-sm-12">
            <label for="eventId">{{ dictionary.LABELS.EVENT_ID }}</label>
            <input id="eventId" class="form-control" formControlName="eventId" />
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
