@import './../../../shared/styles/forms.scss';

#consignmentPurchaseForm {
  border: 0;
  box-shadow: none;
  height: auto;
  .panel {
    margin-bottom: 0;
  }

  fieldset {
    width: 100%;
  }

  .event-id {
    margin-top: 20px;
    .col-sm-12 {
      padding: 0;
    }
  }
}


