<simple-notifications class="event-notifications" [options]="options"></simple-notifications>
<app-navigation-header [totalPages]="pageTotal">
</app-navigation-header>
<div class="section-container" [attr.state]="state">
  <h1 class="section-title">{{ sectionTitle }}</h1>
  <div class="item-pricing">
    <div class="item-pricing-col item-pricing-col-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row text-center">
            <h2 class="section-subtitle">{{ generalDictionary.FORM_LABELS.valuationDetail }}</h2>
          </div>
        </div>
        <div class="panel-body">
          <div class="form-group row" *ngIf="pricingElement?.id">
            <div class="col-sm-12 event-link-container">
              <a id="eventLink" href="#" class="event-link" (click)="goToEventPage()" title="{{ dictionary.NAVIGATION.eventPage }}">{{ pricingElement.id }}</a>
            </div>
          </div>
          <pricing-form [hideElements]="formEventHiddenFields" hideAffiliatedClient="true" hideSubtitles="true" disableForm="true">
          </pricing-form>
          <div class="panel">
            <h2 class="section-subtitle">{{ dictionary.PRICING_ITEMS.OBJECTS }}</h2>
            <div class="panel-body">
              <app-table-object [objectIds]="current.objects" *ngIf="current && current.objects" [enableContextMenu]="true" (removeObject)="removeObject(current, $event, priItemSvc)"></app-table-object>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item-pricing-col item-pricing-col-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="section-subtitle">{{ dictionary.PRICING_ITEMS.ITEM_DETAILS_TITLE }}</h2>
        </div>
        <div class="panel-body">
          <app-pricing-item-form></app-pricing-item-form>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="segment-title">{{ dictionary.PRICING_ITEMS.FURTHER_DETAILS_TITLE }}</h3>
            </div>
            <div class="panel-body">
              <app-item-details-form [parentForm]="form"></app-item-details-form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item-pricing-col item-pricing-col-3">
      <div class="panel">
        <div class="panel-heading">
          <h2 class="section-subtitle">{{ dictionary.PRICING_ITEMS.ITEM_CATALOGUING }}</h2>
        </div>
        <div class="panel-body">
          <app-item-cataloguing-form [parentForm]="form"></app-item-cataloguing-form>
        </div>
      </div>
    </div>
  </div>
</div>