.item-pricing {
  display: flex;
  padding: 0 20px 20px;
  &-col {
    margin: 0 5px
  }
  &-col-1 {
    flex-basis: 33%;
  }
  &-col-2 {
    flex-basis: 33%;
  }
  &-col-3 {
    flex-basis: 33%;
  }
  .event-link-container {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .subtitle {
    font-size: 16px;
    text-align: center;
  }
  .checkbox-tweak {
    display: inline;
  }
  .form-control[disabled] {
    background-color: #eee;
  }
  .flex-container {
    display: flex;
    align-items: center;
  }
  .dash-separator {
    margin: 0 5px;
  }
}