<div class="modal-header">
    <h5 class="modal-title text-center">Edition Size
        <a data-dismiss="modal" class="modal-btn secondary pull-right">CANCEL</i></a>
        <a data-dismiss="modal" class="modal-btn primary pull-right">SAVE</a>
    </h5>
</div>
<div class="modal-body">
    <div class="row">
        <div>
            <div class="col-sm-12">
                <span class="col-sm-5 modal-label">Type</span>
                <span class="col-sm-7 edition-type-container">
                </span>
            </div>
            <div class="col-sm-12">
                <span class="col-sm-5 modal-label">Series</span>
                <span class="col-sm-7"><input type="text" value='' min="-1" max="99000" class="form-control edition-series" name="edition-series" placeholder="Series"></span>
            </div>
            <div class="col-sm-12">
                <span class="col-sm-5 modal-label">Artist Proof</span>
                <span class="col-sm-7"><input type="text" value='' min="-1" max="99000" class="form-control edition-artist-proof" name="edition-artist-proof" placeholder="Artist Proof"></span>
            </div>
            <div class="col-sm-12">
                <span class="col-sm-5 modal-label">Trial Proof</span>
                <span class="col-sm-7"><input type="text" value='' min="-1" max="99000" class="form-control edition-trial-proof" name="edition-trial-proof" placeholder="Trial Proof"></span>
            </div>
            <div class="col-sm-12">
                <span class="col-sm-5 modal-label">Bon &agrave; Tirer Proof</span>
                <span class="col-sm-7"><input type="text" value='' min="-1" max="99000" class="form-control edition-bonatirer-proof" name="edition-bonatirer-proof" placeholder="Bon à Tirer Proof"></span>
            </div>
            <div class="col-sm-12">
                <span class="col-sm-5 modal-label">Printer's Proof</span>
                <span class="col-sm-7"><input type="text" value='' min="-1" max="99000" class="form-control edition-printers-proof" name="edition-printers-proof" placeholder="Printer's Proof"></span>
            </div>
            <div class="col-sm-12">
                <span class="col-sm-5 modal-label">Hors Commerce Proof</span>
                <span class="col-sm-7"><input type="text" value='' min="-1" max="99000" class="form-control edition-hors-proof" name="edition-hors-proof" placeholder="Hors Commerce Proof"></span>
            </div>
            <div class="col-sm-12">
                <span class="col-sm-5 modal-label">Total</span>
                <span class="col-sm-7"><input type="number" value='' class="form-control edition-size-total" readonly name="edition-total" placeholder="Total"></span>
            </div>
            <div class="col-sm-12 m-t-5">
                <span class="col-sm-5 modal-label">Display</span>
                <span class="col-sm-7"><textarea rows="2" class="b-1-ddd edition-display" readonly name="edition-display"></textarea></span>
            </div>
            <div class="col-sm-12 m-t-5">
                <span class="col-sm-5 modal-label">Notes</span>
                <span class="col-sm-7"><textarea rows="5" class="b-1-ddd edition-notes" maxlength="300"></textarea></span>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer"></div>