<div class="row" (click)="goToEvent(eventCard.id)" *ngIf="eventCard.transactionType == 'AUCTION'">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-6">
        <label class="card-event-title">{{eventCard.typeEvent}}</label>
      </div>
      <div class="col-sm-6">
        <label class="card-event-title-date">{{eventCard.date | date:constant.DATE_FORMAT}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <label class="card-event-subtitle">{{dictionary.EVENT_TRANSACTION.EVENT}}:</label>
      </div>
      <div class="col-sm-10">
        <label class="card-event-text">{{eventCard.venue}}, {{eventCard.saleTitle}}{{eventCard.lotNumber}}</label>
      </div>
    </div>
    <div class="row" *ngIf="eventCard.valuesShow">
      <div class="col-sm-2">
        <label class="card-event-subtitle">{{ dictionary.EVENT_TRANSACTION.VALUES }}:</label>
      </div>
      <div class="col-sm-10">
        <label class="card-event-text">{{eventCard.eor}}{{eventCard.currency}}{{eventCard.lowEstimate}}{{eventCard.highEstimate}}</label>
      </div>
    </div>
    <div class="row" *ngIf="eventCard.resultsShow">
      <div class="col-sm-2">
        <label class="card-event-subtitle">{{ dictionary.EVENT_TRANSACTION.RESULTS }}:</label>
      </div>
      <div class="col-sm-10">
        <label class="card-event-text">{{eventCard.status}}{{eventCard.hammer}}{{eventCard.purchasersPremium}}</label>
      </div>
    </div>
    <div class="row" *ngIf="eventCard.consignorSource">
      <div class="col-sm-2">
        <label class="card-event-subtitle">{{ dictionary.EVENT_TRANSACTION.SOURCE }}:</label>
      </div>
      <div class="col-sm-10">
        <label class="card-event-text">{{eventCard.consignorSource}}</label>
      </div>
    </div>
    <div class="row" *ngIf="eventCard.consignorClient">
      <div class="col-sm-2">
        <label class="card-event-subtitle">{{ dictionary.EVENT_TRANSACTION.CONSIGNOR }}:</label>
      </div>
      <div class="col-sm-10">
        <label class="card-event-text">{{eventCard.consignorClient}}{{eventCard.consignorMainClient}}{{eventCard.consignorAffiliationText}}{{eventCard.consignorAffiliatedClient}}</label>
      </div>
    </div>
    <div class="row" *ngIf="eventCard.purchaserSource">
      <div class="col-sm-2">
        <label class="card-event-subtitle">{{ dictionary.EVENT_TRANSACTION.SOURCE }}:</label>
      </div>
      <div class="col-sm-10">
        <label class="card-event-text">{{eventCard.purchaserSource}}</label>
      </div>
    </div>
    <div class="row" *ngIf="eventCard.purchaserClient">
      <div class="col-sm-2">
        <label class="card-event-subtitle">{{ dictionary.EVENT_TRANSACTION.PURCHASER }}:</label>
      </div>
      <div class="col-sm-10">
        <label class="card-event-text">{{eventCard.purchaserClient}}{{eventCard.purchaserMainClient}}{{eventCard.purchaserAffiliationText}}{{eventCard.purchaserAffiliatedClient}}</label>
      </div>
    </div>
    <div class="row" *ngIf="eventCard.notes">
      <div class="col-sm-2">
        <label class="card-event-subtitle">{{ dictionary.EVENT_TRANSACTION.NOTES }}:</label>
      </div>
      <div class="col-sm-10">
        <label class="card-event-text">{{ eventCard.notes }}</label>
      </div>
    </div>
  </div>
</div>

<div class="row" (click)="goToEvent(eventCard.id)" *ngIf="eventCard.transactionType == 'PRIVATE_SALE'">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-6">
        <label class="card-event-title">{{eventCard.typeEvent}}</label>
      </div>
      <div class="col-sm-6">
        <label class="card-event-title-date">{{eventCard.date | date:constant.DATE_FORMAT}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <label class="card-event-subtitle">{{dictionary.EVENT_TRANSACTION.EVENT}}:</label>
      </div>
      <div class="col-sm-10">
        <label class="card-event-text">{{eventCard.venue}}, {{eventCard.saleTitle}}</label>
      </div>
    </div>
    <div class="row" *ngIf="eventCard.netShow">
      <div class="col-sm-2">
        <label class="card-event-subtitle">{{ dictionary.EVENT_TRANSACTION.VALUES }}:</label>
      </div>
      <div class="col-sm-10">
        <label class="card-event-text">{{eventCard.netVendor}}{{eventCard.currencyNetPurchaser}}{{eventCard.netPurchaser}}</label>
      </div>
    </div>
    <div class="row" *ngIf="eventCard.status">
      <div class="col-sm-2">
        <label class="card-event-subtitle">{{ dictionary.EVENT_TRANSACTION.RESULTS }}:</label>
      </div>
      <div class="col-sm-10">
        <label class="card-event-text">{{eventCard.status}}</label>
      </div>
    </div>
    <div class="row" *ngIf="eventCard.consignorSource">
      <div class="col-sm-2">
        <label class="card-event-subtitle">{{ dictionary.EVENT_TRANSACTION.SOURCE }}:</label>
      </div>
      <div class="col-sm-10">
        <label class="card-event-text">{{eventCard.consignorSource}}</label>
      </div>
    </div>
    <div class="row" *ngIf="eventCard.consignorClient">
      <div class="col-sm-2">
        <label class="card-event-subtitle">{{ dictionary.EVENT_TRANSACTION.CONSIGNOR }}:</label>
      </div>
      <div class="col-sm-10">
        <label class="card-event-text">{{eventCard.consignorClient}}{{eventCard.consignorMainClient}}{{eventCard.consignorAffiliationText}}{{eventCard.consignorAffiliatedClient}}</label>
      </div>
    </div>
    <div class="row" *ngIf="eventCard.purchaserSource">
      <div class="col-sm-2">
        <label class="card-event-subtitle">{{ dictionary.EVENT_TRANSACTION.SOURCE }}:</label>
      </div>
      <div class="col-sm-10">
        <label class="card-event-text">{{eventCard.purchaserSource}}</label>
      </div>
    </div>
    <div class="row" *ngIf="eventCard.purchaserClient">
      <div class="col-sm-2">
        <label class="card-event-subtitle">{{ dictionary.EVENT_TRANSACTION.PURCHASER }}:</label>
      </div>
      <div class="col-sm-10">
        <label class="card-event-text">{{eventCard.purchaserClient}}{{eventCard.purchaserMainClient}}{{eventCard.purchaserAffiliationText}}{{eventCard.purchaserAffiliatedClient}}</label>
      </div>
    </div>
    <div class="row" *ngIf="eventCard.notes">
      <div class="col-sm-2">
        <label class="card-event-subtitle">{{ dictionary.EVENT_TRANSACTION.NOTES }}:</label>
      </div>
      <div class="col-sm-10">
        <label class="card-event-text">{{ eventCard.notes }}</label>
      </div>
    </div>
  </div>
</div>