<!-- Save List Modal -->
<modal #saveListModal [hideCloseButton]="true" [closeOnEscape]="false" [closeOnOutsideClick]="false">
    <modal-header (window:keydown)="keyboardShortCutFun($event)">
        <div class="modal-title">
            <h5 class="pull-left">Save List</h5>
            <button class="modal-btn secondary pull-right" (click)="saveListModal.close(); resetSaveListForm(saveListForm.value);" qa-data="co-savedlist-modal-cancel">CANCEL</button>
            <button id="updateSavedList" type="submit" (click)="saveList();saveListModal.close();" class="modal-btn primary pull-right" 
            [disabled]="(!saveListForm.valid && radioAddToList=='CreateNewList') || 
            (!saveListForm.valid && (saveListMode != 'AddSaveList') || 
            (saveListMode != 'AddSaveList' && userName!=savedListUser) || 
            (radioAddToList=='AddToExistingList' && this.saveListForm.controls['selectExistingList'].value==''))" qa-data="co-savedlist-modal-save">SAVE</button>
        </div>
    </modal-header>
    <modal-content>
        <!-- Save List Fields -->
        <form [formGroup]="saveListForm" class="noModeChange" novalidate (ngSubmit)="saveList(saveListForm.value)">
            <div class="col-sm-12">
                <div class="col-sm-12 row" [hidden]="saveListMode === 'EditSavedList'">
                    <ul class="w-100p p-0">
                        <li class="radio w-100p p-0 d-inline-block v-align-m">
                            <div class="col-sm-4 p-l-0 p-5 pull-left">
                                <input type="radio" id="radioAddToExistingList" formControlName="radioAddToList" name="radioAddToList" 
                                value="AddToExistingList"  (click)="radioAddToList='AddToExistingList'; getExistingSavedLists();radioButtonClicked('exisisting')" >
                                <label class="radio p-l-0 m-t-0" for="radioAddToExistingList">Add to Existing List</label>
                            </div>
                            <div class="col-sm-8 p-0 pull-left">
                                <ng2-completer formControlName='selectExistingList' [openOnFocus]="true"
                                [disableInput]="(radioAddToList=='CreateNewList') || radioAddToList===undefined" 
                                [datasource]='existingListService' (keyup)='getSavedListByName($event)' (selected)="currentListId = (($event)&&($event).originalObject)?($event).originalObject.id:($event); listName = (($event)&&($event).originalObject)?($event).originalObject.name:($event);"  [minSearchLength]='0' placeholder="Select List..." ></ng2-completer>
                            </div>
                        </li>
                        <li class="radio w-100p p-0 d-inline-block v-align-m">
                            <div class="col-sm-4 p-l-0 pull-left">
                                <span class="row">
                                    <input type="radio" id="radioCreateNewList" name="radioAddToList" formControlName="radioAddToList" 
                                    value="CreateNewList"  (click)="radioAddToList='CreateNewList';radioButtonClicked('new');">
                                    <label class="radio p-l-0 m-t-0" for="radioCreateNewList">Create New List</label>
                                </span>
                            </div>
                            <div class="col-sm-8 p-0 pull-left">
                                <span class="row">
                                    <input type="text" formControlName="name" [readonly]="(radioAddToList=='AddToExistingList')  || radioAddToList===undefined" 
                                    class="form-control" placeholder="Name" minlength="1" maxlength="80" [(ngModel)]="savedListName">
                                    <div *ngIf="saveListForm.controls['name'].hasError('required') && saveListForm.controls['name'].touched && radioAddToList=='CreateNewList'" class="alert alert-danger">Please enter a name.</div>
                                    <div *ngIf="saveListForm.controls['name'].hasError('maxlength') && saveListForm.controls['name'].touched && radioAddToList=='CreateNewList'" class="alert alert-danger">Name cannot exceed 80 characters.</div>
                                </span>
                                <span class="row">
                                    <textarea style="max-width:100%" rows="3" formControlName="notes" [readonly]="(radioAddToList=='AddToExistingList')  || radioAddToList===undefined" 
                                    placeholder="Notes" class="form-control f-11 b-1-ddd save-list-notes" maxlength="200" [(ngModel)]="savedListNotes"></textarea>
                                    <div *ngIf="saveListForm.controls['notes'].hasError('maxlength') && saveListForm.controls['notes'].touched && radioAddToList=='CreateNewList'" class="alert alert-danger">Notes cannot exceed 200 characters.</div>
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-12" [hidden]="saveListMode === 'AddSaveList'">
                    <span class="row">
                        <input type="text" formControlName="name"  
                        [readonly]="userName!=savedListUser"
                        class="form-control" placeholder="Name" minlength="1" maxlength="80" [(ngModel)]="savedListName">
                        <div *ngIf="saveListForm.controls['name'].hasError('required') && saveListForm.controls['name'].touched && radioAddToList=='CreateNewList'" 
                        class="alert alert-danger">Please enter a name.</div>
                        <div *ngIf="saveListForm.controls['name'].hasError('maxlength') && saveListForm.controls['name'].touched && radioAddToList=='CreateNewList'" 
                        class="alert alert-danger">Name cannot exceed 80 characters.</div>
                    </span>
                    <span class="row">
                        <textarea style="max-width:100%" rows="3" formControlName="notes"
                        [readonly]="userName!=savedListUser"
                        placeholder="Notes" class="form-control f-11 b-1-ddd save-list-notes" maxlength="200" [(ngModel)]="savedListNotes"></textarea>
                        <div *ngIf="saveListForm.controls['notes'].hasError('maxlength') && saveListForm.controls['notes'].touched && radioAddToList=='CreateNewList'" 
                        class="alert alert-danger">Notes cannot exceed 200 characters.</div>
                    </span>
                </div>
            </div>
        </form>
    </modal-content>
    <modal-footer></modal-footer>
</modal>