<!-- Save List Modal -->
<modal #saveListShareModal [hideCloseButton]="true" [closeOnEscape]="false" [closeOnOutsideClick]="false">
    <modal-header (window:keydown)="keyboardShortCutFunc($event)">
        <div class="modal-title">
            <h5 class="pull-left">Share List: </h5><label class="shared-saved-list-name pull-left">{{savedListName}}</label>
            <button class="modal-btn secondary pull-right cancelShare" (click)="saveListShareModal.close(); resetSaveListShareForm();">CANCEL</button>
            <button id="shareSavedList" type="submit" [disabled]="selectedSavedList && (selectedSavedList.openSaveList==false && userName!=selectedSavedList.user)" (click)="updateSharedSavedList(saveListShareForm.value); saveListShareModal.close();" 
            class="modal-btn primary pull-right">SAVE</button>
        </div>
    </modal-header>
    <modal-content>
        <!-- Share Save List - Fields -->
        <form [formGroup]="saveListShareForm" novalidate (ngSubmit)="updateSharedSavedList(saveListShareForm.value); saveListShareModal.close();">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <span class="col-sm-9">
                                <input type="text" *ngIf="selectedSavedList && (selectedSavedList && userName!=selectedSavedList.user)" formControlName="owner" [readonly]="true"
                                class="form-control">
                                <div *ngIf="selectedSavedList && userName==selectedSavedList.user">
                                    <ng2-completer formControlName="owner" #owner [openOnFocus]="true" 
                                    [datasource]='userNameListService' [minSearchLength]='0' 
                                    (blur)="validateSelectedOwner(owner.value)" placeholder="Select Owner..." 
                                    ></ng2-completer>
                                </div>
                            </span>
                            <span class="col-sm-3" *ngIf="selectedSavedList && (selectedSavedList && userName!=selectedSavedList.user)" >
                                <select class="form-control" formControlName="status"  disabled>
                                    <option value="Open">Open</option>
                                    <option value="Close">Closed</option>
                                </select>
                            </span>
                            <span class="col-sm-3" *ngIf="selectedSavedList && userName==selectedSavedList.user">
                                <select class="form-control" formControlName="status">
                                    <option value="Open">Open</option>
                                    <option value="Close">Closed</option>
                                </select>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-12" *ngIf="selectedSavedList && (selectedSavedList.openSaveList==true || userName==selectedSavedList.user)">
                        <div class="row">
                            <div class="col-sm-12 pull-left">
                                <ng2-completer formControlName='users' [openOnFocus]="true" 
                                [clearSelected]="true" [clearUnselected]="true"
                                [datasource]='usersListService' #users [minSearchLength]='0' 
                                (blur)="validateSelectedUser(users.value)" placeholder="Select Shared User..."                                
                                (selected)="createSharedUserList($event)"></ng2-completer>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-12 shared-users-table">
                            <div *ngFor="let user of existingSharedUserList" class="row shared-users-row">
                                <span class="user">{{user.userName}}</span>
                                <span class="m-r-15 pull-right">
                                    <a alt="Delete" *ngIf="userName==user.userName" (click)="action='deleteBySharedUser';saveListShareModal.close();deleteUser(user)">
                                        <i class="fa fa-trash-o" title="Delete" aria-hidden="true"></i>
                                    </a>
                                    <a alt="Delete" *ngIf="userName!=user.userName && (selectedSavedList && userName==selectedSavedList.user)" (click)="action='deleteByOwner';deleteUser(user)">
                                        <i class="fa fa-trash-o" title="Delete" aria-hidden="true"></i>
                                    </a>
                                </span>
                            </div>
                            <div *ngFor="let user of newSharedUserList" class="row shared-users-row">
                                <span class="user">{{user.userName}}</span>
                                <span class="m-r-15 pull-right">
                                    <a alt="Delete" (click)="removeUser(user)">
                                        <i class="fa fa-trash-o" title="Delete" aria-hidden="true"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </modal-content>
    <modal-footer></modal-footer>
</modal>