/* Home Page - Datatable */
::-webkit-scrollbar {
    display: none;
}
::-webkit-scrollbar-thumb {
    background: #18fd95;
}
::-webkit-scrollbar {
    width: 3px;
}
.saved-list-datatable ngx-datatable {
    font-size: 11px;
}
.saved-list-datatable .ngx-datatable {
    height: calc(100vh - 110px);
    max-height: 515px;
    overflow: scroll;
}
ngx-datatable .progress-linear {
    position: fixed !important;
    bottom: 0px;
}
.saved-list-datatable .datatable-body:hover::-webkit-scrollbar, .saved-list-datatable .datatable-body:focus::-webkit-scrollbar {
    display: inline-block;
    width: 2px;
    opacity: 0.5;
}
.saved-list-datatable .datatable-body::-webkit-scrollbar-thumb {
    background: #a3bfde;
}
.saved-list-datatable-filter {
    padding: 8px;
    padding-right: 20px;
    margin: 15px auto;
    width: 100%;
    height: 30px;
    font-size: 11px; 
}
.saved-list-datatable .fa {
    font-size: 11px;
    color: #ccc;
}
.saved-list-datatable .fa:hover {
    color: #5f849a;
}
.saved-list-datatable .form-control-clear {
    z-index: 10;
    pointer-events: auto;
    cursor: pointer;
    position: absolute;
    margin-top: 20px;
    right: 20px;
}
.datatable-header {
    font-weight: bold;
    cursor: pointer;
}
.saved-list-datatable .row-icons {
    display: inline-block;
}
.list-name {
    white-space: normal;
    padding: 5px 10px 5px 0;
    cursor: pointer;
}
.list-name:hover {
    color: #68929c;
}
.owner-name {
    white-space: normal;
    padding: 5px 5px 5px 0;
}
label.radio:focus::before, label.radio:hover::before, label.radio:active::before, { 
    color: #5cf163;
    font-size: 15px !important;
}
input[type="radio"]:checked+label.radio::before { 
    content: "\f00c";
    color: #5cf163;
    font-size: 15px !important;
}
input[type="radio"]:not(:checked)+label::before, input[type="radio"]:not(:checked)+label::before, label.radio::before { 
    color: #ccc;
    content: "\f067"; 
    font-size: 15px !important;
    vertical-align: middle;
}
.p-l-0 {
    padding-left: 0px !important;
}
.m-t-0 {
    margin-top: 0px !important;
}
.shared-users-table {
    border: 1px solid #e5e5e5;
    height: 200px;
    margin-top: 20px;
    overflow: scroll;
}
.shared-users-row {
    padding: 7px 15px;
}
.shared-users-table a {
    cursor: pointer;
}
.shared-list-icon .fa-users {
    color: #8a8a8a;
    position: absolute;
    top: 2px;
}
a {
	text-decoration: none;
	cursor: pointer;
}
.shared-saved-list-name {
    font-size: 12px;
    font-weight: normal;
    margin: 10px 0 10px 5px;
}
.m-r-15 {
    margin-right: 15px;
}
.m-l-10 {
    margin-left: 10px;
}
.p-r-15 {
    padding-right: 15px;
}
.fa-sort-asc {
    vertical-align: bottom;
}
.fa-sort-desc {
    vertical-align: text-top;
}