<div class="col-sm-12 panel saved-list-datatable">
    <div class="panel-heading">
        <h5 class="panel-title">Saved List</h5>
    </div>
    <div class="panel-body row">
        <div class="col-sm-12">
            <input type='search' #savedListFilter id='savedListFilter' class="saved-list-datatable-filter form-control pull-left" placeholder='Type to filter by Saved List...' (keyup)='updateFilter($event)' />
            <span class="form-control-clear pull-left" *ngIf = "savedListFilter.value.length > 0" (click)="this.helper.clearInput('savedListFilter'); clearFilter();">
                <i class="fa fa-times" aria-hidden="true"></i>
            </span>
            <div [hidden]="scrollIcon" class="text-center">
                <i class="fa fa-spinner fa-spin fa-3x fa-fw" style="font-size:20px;"></i>
            </div>
            <div [hidden]="!scrollIcon">
                <ngx-datatable #savedList
                    class="table" 
                    [rows]="rows"
                    [columnMode]="'standard'"
                    [headerHeight]="headerHeight"
                    [footerHeight]="footerHeight" 
                    [rowHeight]="rowHeight"
                    [loadingIndicator]="isLoading"
                    [scrollbarV]="true"
                    [externalSorting]="true"
                    (scroll)="onScroll($event.offsetY)"
                    (sort)="onSort($event)">
                    <ngx-datatable-column width="20" prop="sharedUsersList.length">
                        <ng-template let-column="column" ngx-datatable-header-template></ng-template>
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template class="list-name">
                            <span *ngIf="value > 0" class="shared-list-icon"><i class="fa fa-users" title="Shared List" aria-hidden="true"></i></span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Lists" prop="name" width="104">
                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template class="list-name">
                            <span (click)="sort()" class="datatable-header">{{column.name}}
                                <span class="m-l-5">
                                    <span *ngIf="sortColumn=='date'"><i class="fa fa-sort" aria-hidden="true"></i></span> 
                                    <span *ngIf="sortColumn=='name' && sortOrder=='asc'"><i class="fa fa-sort-asc" aria-hidden="true"></i></span>
                                    <span *ngIf="sortColumn=='name' && sortOrder=='desc'"><i class="fa fa-sort-desc" aria-hidden="true"></i></span>
                                </span>
                            </span>
                        </ng-template>
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template class="list-name">
                            <a class="list-name p-r-15" (click)="navigateToSavedListResults(row)">{{value}}</a>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Date" width="66">
                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                            <span (click)="sort()" class="datatable-header">Date
                                <span class="m-l-5"> 
                                    <span *ngIf="sortColumn=='name'"><i class="fa fa-sort" aria-hidden="true"></i></span>
                                    <span *ngIf="sortColumn=='date' && sortOrder=='asc'"><i class="fa fa-sort-asc" aria-hidden="true"></i></span>
                                    <span *ngIf="sortColumn=='date' && sortOrder=='desc'"><i class="fa fa-sort-desc" aria-hidden="true"></i></span>
                                </span>
                            </span>
                        </ng-template>
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            {{value}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column width="90">
                        <ng-template let-value="value" ngx-datatable-cell-template class="actions" let-row="row">
                            <span class="m-l-15 m-r-15 row-icons">
                                <a alt="Edit" (click)="this.saveListModal.saveListModal.open(); populateSaveListModal(row);savedListUser = row.user;this.saveListModal.saveListMode = 'EditSavedList';">
                                    <i class="fa fa-pencil" title="Edit" aria-hidden="true"></i>
                                </a>
                            </span>
                            <span class="m-r-15 row-icons">
                                <a alt="Share" *ngIf="userName==row.user || row.openSaveList==true || row.openSaveList==false" (click)="saveListShareModal.resetSaveListShareForm(); savedListName = row.name; saveListShareModal.saveListShareModal.open(); this.savedListID = row.id; 
                                saveListShareModal.populateSaveListShare(row);">
                                    <i id="savedListShare" class="fa fa-share" title="Share" aria-hidden="true"></i>
                                </a>
                            </span>
                            <span class="m-r-15 row-icons">
                                <a alt="Delete" *ngIf="userName==row.user" (click)="deleteSavedList(row, rows)">
                                    <i class="fa fa-trash-o" title="Delete" aria-hidden="true"></i>
                                </a>
                            </span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="row" width="100">
                        <ng-template let-column="column" ngx-datatable-header-template>
                            <span class="datatable-header">Owner</span>
                        </ng-template>
                        <ng-template let-row="row" let-value="row" ngx-datatable-cell-template>
                            <span *ngIf="row.sharedUsersList.length>0" class="owner-name p-r-15">{{row.user}}</span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="row" width="100">
                            <ng-template let-column="column" ngx-datatable-header-template>
                                <span class="datatable-header"></span>
                            </ng-template>
                            <ng-template let-row="row" let-value="row" ngx-datatable-cell-template>
                                <span  *ngIf="showProgressonsavedList && row.name == checkSavedListName"class="owner-name p-r-15">{{progressBarNo}} / {{totalRecords}} loaded</span>
                                <span  *ngIf="savedListProgressCompleted && row.name == checkSavedListName"class="owner-name p-r-15"> {{totalRecords}} objects loaded</span>
                            </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </div>
</div>
<app-save-list-modal (updatedSavedList)="updateSavedListRowByID($event)" [savedListName]="savedListName" [savedListNotes]="savedListNotes" [savedListID]="savedListID" [savedListUser]="savedListUser"></app-save-list-modal>
<app-save-list-share-modal (updateSharedIcon)="updateSavedListRowByID($event)" [savedListName]="savedListName" [savedListUser]="savedListUser" (openSharedSavedList)="onopenSharedSavedList()"></app-save-list-share-modal>