.popup-container {
    font-size: 11px;
    .title {
        font-size: 16px;
        text-align: center;
    }
    .popup-table-container {
        border: 1px solid #ddd;
        .popup-table {
            padding-top: 10px;
            padding-bottom: 10px;
            &-wrapper {
                height: 485px;
                overflow: auto;
            }
            .event-row {
                cursor: pointer;
            }
        }
        .close-btn {
            font-size: 14px;
            margin: 5px 0;
        }
        .filter-btn {
            font-size: 14px;
            margin: 5px 0;
        }
        .add-btn {
            font-size: 14px;
            margin: 0 15px 15px 0;
        }
    }
}