<simple-notifications [options]="options" class="notifications" (onDestroy)="destroyMessage($event)"></simple-notifications>
<div class="container-fluid popup-container">
  <div class="row">
    <div class="col-sm-12">
      <button class="pull-right close-btn" id="btnclose" (click)="close()">
        {{ dictionary.BUTTONS.CLOSE }}
        <i class="fa fa-times-circle-o fa-lg" aria-hidden="true" [title]="dictionary.BUTTONS.CLOSE"></i>
      </button>
    </div>
    <div class="col-sm-12">
      <h3 class="title">{{ title }}</h3>
    </div>
    <div class="col-sm-4">
      <div class="panel">
        <div class="panel-body">
          <app-details></app-details>
          <button id="filter" class="pull-right filter-btn" (click)="filter()">
            {{ dictionary.BUTTONS.FILTER }}
            <i class="fa fa-search-plus" aria-hidden="true" [title]=" dictionary.BUTTONS.FILTER"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-8 popup-table-container">
      <div class="row">
        <div class="col-sm-12">
          <div class="popup-table">
            <div class="row">
              <div class="col-sm-12">
                <button id="btnadd" (click)="addEvent()" class="pull-right add-btn">
                  {{ dictionary.BUTTONS.ADD }}
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              </div>
            </div>
            <div class="popup-table-wrapper" infinite-scroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="800" [scrollWindow]="false"
              (scrolled)="tableScrolled()">
              <table id="results-table" class="table table-hover table-striped table-scroll publication-items">
                <thead class="table-header">
                  <tr>
                    <th>{{ dictionary.FORM_LABELS.date }}</th>
                    <th>{{ dictionary.FORM_LABELS.type }}</th>
                    <th>{{ dictionary.FORM_LABELS.author }}</th>
                    <th>{{ dictionary.FORM_LABELS.establishment }}</th>
                    <th>{{ dictionary.FORM_LABELS.city }}</th>
                    <th>{{ dictionary.FORM_LABELS.title }}</th>
                    <th>{{ dictionary.FORM_LABELS.volume }}</th>
                    <th>{{ dictionary.FORM_LABELS.edition }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let event of events" (click)="addToObject(event)" class="event-row">
                    <td>{{ event.date | date: 'dd/MMM/yyyy' }}</td>
                    <td>{{ event.publicationType?.value }}</td>
                    <td>{{ event.author }}</td>
                    <td>{{ event.establishment?.name }}</td>
                    <td>{{ event.establishment?.cityName }}</td>
                    <td>{{ event.title }}</td>
                    <td>{{ event.volume }}</td>
                    <td>{{ event.edition }}</td>
                  </tr>
                  <tr *ngIf="!events || events.length === 0">
                    <td colspan="8">{{ emptyMessage }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>