<a class="object-component" [ngClass]="{'clickable':isClickable, 'bigImage':bigimage}" href="{{context}}object?id={{object.id}}"
  target="_blank">
  <span class="image-section" [ngClass]="{'bigImage':bigimage}">
    <img [src]="object.imageUrl || defaultImagePlaceholder" [alt]="object.description || defaultDescription" appHoverImage />
  </span>
  <span class="data-section">
    <span class="inner-section">
      <span *ngFor="let artist of object.artists">{{artist.display}}</span>
    </span>
    <span class="inner-section" *ngIf="object.title || object.originalTitle">
      <span>{{object.title}} {{object.originalTitle? '(' + object.originalTitle + ')' : ''}}</span>
    </span>

    <span class="inner-section" *ngIf="object.medium">
      <span>{{object.medium}}</span>
    </span>
    <span class="inner-section" *ngIf="object.heightCm||object.widthCm||object.depthCm">
      <span>{{(object.presizeType && object.presizeType.name)? object.presizeType.name + ':' : ''}}</span>
      <span>{{object.heightCm}}{{(object.heightCm && object.widthCm)? ' x' : ''}} {{object.widthCm}}{{(object.widthCm && object.depthCm)?
        ' x' : ''}} {{object.depthCm}}cm.</span>
    </span>
    <span class="inner-section" *ngIf="object.yearText === null || object.yearText === ''">
      <span *ngIf="object.yearStart || object.yearEnd || object.castYearStart || object.castYearEnd">
        <span *ngIf="(object.yearStart || object.yearEnd) && (object.castYearStart || object.castYearEnd)">
          {{object.yearStart?object.yearStart:''}}{{(object.yearStart && object.yearEnd)? ((object.yearStart === object.yearEnd)? ','
          : '-' + object.yearEnd + ',') : (object.yearEnd? object.yearEnd + ',' : ',')}}
        </span>
        <span *ngIf="(object.yearStart || object.yearEnd) && !(object.castYearStart || object.castYearEnd)">
          {{object.yearStart? object.yearStart : ''}}{{(object.yearStart && object.yearEnd)? ((object.yearStart === object.yearEnd)?
          '' : '-' + object.yearEnd) : (object.yearEnd? object.yearEnd : '')}}
        </span>
      </span>
      <span *ngIf="object.castYearStart || object.castYearEnd">
        Cast: {{object.castYearStart? object.castYearStart : ''}}{{(object.castYearStart && object.castYearEnd)? ((object.castYearStart
        === object.castYearEnd)? '' : '-' + object.castYearEnd) : object.castYearEnd}}
      </span>
      <span *ngIf="object.yearStart || object.yearEnd || object.castYearStart || object.castYearEnd">
        <br/>
      </span>
    </span>
    <span class="inner-section" *ngIf="object.yearText">
      <span>{{object.yearText}}</span>
    </span>
    <span class="inner-section" *ngIf="object.editionSizeTypeName === 'Unspecified' || object.editionSizeTypeName === 'Known'">
      <span *ngIf="object.editionNumber && object.editionSizeTotal">
        <span *ngIf="object.editionName === 'Series'">
          {{object.editionNumber}} of {{(object.seriesTotal?object.seriesTotal:'') + (object.artistProofTotal?' + '+object.artistProofTotal
          + 'AP':'') + (object.trialProofTotal?' + '+object.trialProofTotal + 'TP' : '') + (object.bonATirerTotal?' + '+object.bonATirerTotal+'BAT':'')+(object.printersProofTotal?'
          + '+object.printersProofTotal + 'PP': '') + (object.horsCommerceProofTotal?' + '+object.horsCommerceProofTotal+'HC':'')}}
          <br/>
        </span>
        <span *ngIf="object.editionName === 'AP' || object.editionName === 'TP' || object.editionName === 'BAT' || object.editionName === 'PP' || object.editionName === 'HC'">
          {{object.editionName + object.editionNumber}} of {{(object.seriesTotal? object.seriesTotal : '') + (object.artistProofTotal?
          ' + '+ object.artistProofTotal + 'AP' : '') + (object.trialProofTotal? ' + ' + object.trialProofTotal + 'TP' :
          '') + (object.bonATirerTotal? ' + ' + object.bonATirerTotal + 'BAT' : '') + (object.printersProofTotal? ' + ' +
          object.printersProofTotal + 'PP' : '') + (object.horsCommerceProofTotal? ' + ' + object.horsCommerceProofTotal
          + 'HC' : '')}}
          <br/>
        </span>
      </span>
      <span *ngIf="object.editionNumber&&!object.editionSizeTotal">
        <span *ngIf="object.editionName==='Series'">
          {{object.editionNumber}} of unspecified edition
          <br/>
        </span>
        <span *ngIf="object.editionName==='AP' ||object.editionName==='TP'||object.editionName==='BAT'||object.editionName==='PP'||object.editionName==='HC'">
          {{object.editionName+object.editionNumber}} of unspecified edition
          <br/>
        </span>
      </span>
      <span *ngIf="!object.editionNumber&&object.editionSizeTotal">
        <span *ngIf="object.editionName==='Series'">
          Unknown of {{(object.seriesTotal?object.seriesTotal:'')+(object.artistProofTotal?' + '+object.artistProofTotal+'AP':'')+(object.trialProofTotal?'
          + '+object.trialProofTotal+'TP':'')+(object.bonATirerTotal?' + '+object.bonATirerTotal+'BAT':'')+(object.printersProofTotal?'
          + '+object.printersProofTotal+'PP':'')+(object.horsCommerceProofTotal?' + '+object.horsCommerceProofTotal+'HC':'')}}
          <br/>
        </span>
        <span *ngIf="object.editionName==='AP' ||object.editionName==='TP'||object.editionName==='BAT'||object.editionName==='PP'||object.editionName==='HC'">
          {{"Unknown "+object.editionName}} of {{(object.seriesTotal?object.seriesTotal:'')+(object.artistProofTotal?' + '+object.artistProofTotal+'AP':'')+(object.trialProofTotal?'
          + '+object.trialProofTotal+'TP':'')+(object.bonATirerTotal?' + '+object.bonATirerTotal+'BAT':'')+(object.printersProofTotal?'
          + '+object.printersProofTotal+'PP':'')+(object.horsCommerceProofTotal?' + '+object.horsCommerceProofTotal+'HC':'')}}
          <br/>
        </span>
        <span *ngIf="!object.editionName">
          Unknown of {{(object.seriesTotal?object.seriesTotal:'')+(object.artistProofTotal?' + '+object.artistProofTotal+'AP':'')+(object.trialProofTotal?'
          + '+object.trialProofTotal+'TP':'')+(object.bonATirerTotal?' + '+object.bonATirerTotal+'BAT':'')+(object.printersProofTotal?'
          + '+object.printersProofTotal+'PP':'')+(object.horsCommerceProofTotal?' + '+object.horsCommerceProofTotal+'HC':'')}}
          <br/>
        </span>
      </span>
      <span *ngIf="!object.editionNumber&&!object.editionSizeTotal">
        <span *ngIf="object.editionName==='Series'">
          Unknown of unspecified edition
          <br/>
        </span>
        <span *ngIf="object.editionName==='AP' ||object.editionName==='TP'||object.editionName==='BAT'||object.editionName==='PP'||object.editionName==='HC'">
          {{"Unknown "+object.editionName}} of unspecified edition
          <br/>
        </span>
      </span>
      <span class="inner-section" *ngIf="object.editionSizeTypeName==='Open'||object.editionSizeTypeName==='Unknown'">
        <span *ngIf="object.editionNumber&&object.editionSizeTotal">
          <span *ngIf="object.editionName==='Series'">
            {{object.editionNumber}} of {{object.editionSizeTypeName==='Unknown'?"unknown":"open"}} edition
            <br/>
          </span>
          <span *ngIf="object.editionName==='AP' ||object.editionName==='TP'||object.editionName==='BAT'||object.editionName==='PP'||object.editionName==='HC'">
            {{object.editionName+object.editionNumber}} of {{object.editionSizeTypeName==='Unknown'?"unknown":"open"}} edition
            <br/>
          </span>
        </span>
        <span *ngIf="object.editionNumber&&!object.editionSizeTotal">
          <span *ngIf="object.editionName==='Series'">
            {{object.editionNumber}} of {{object.editionSizeTypeName==='Unknown'?"unknown":"open"}} edition
            <br/>
          </span>
          <span *ngIf="object.editionName==='AP' ||object.editionName==='TP'||object.editionName==='BAT'||object.editionName==='PP'||object.editionName==='HC'">
            {{object.editionName+object.editionNumber}} of {{object.editionSizeTypeName==='Unknown'?"unknown":"open"}} edition
            <br/>
          </span>
        </span>
        <span *ngIf="!object.editionNumber&&object.editionSizeTotal">
          <span *ngIf="object.editionName==='Series'">
            Unknown of {{object.editionSizeTypeName==='Unknown'?"unknown":"open"}} edition
            <br/>
          </span>
          <span *ngIf="object.editionName==='AP' ||object.editionName==='TP'||object.editionName==='BAT'||object.editionName==='PP'||object.editionName==='HC'">
            {{"Unknown "+object.editionName}} of {{object.editionSizeTypeName==='Unknown'?"unknown":"open"}} edition
            <br/>
          </span>
          <span *ngIf="!object.editionName">
            Unknown of {{object.editionSizeTypeName==='Unknown'?"unknown":"open"}} edition
            <br/>
          </span>
        </span>
        <span *ngIf="!object.editionNumber&&!object.editionSizeTotal">
          <span *ngIf="object.editionName==='Series'">
            Unknown of {{object.editionSizeTypeName==='Unknown'?"unknown":"open"}} edition
            <br/>
          </span>
          <span *ngIf="object.editionName==='AP' ||object.editionName==='TP'||object.editionName==='BAT'||object.editionName==='PP'||object.editionName==='HC'">
            {{"Unknown "+object.editionName}} of {{object.editionSizeTypeName==='Unknown'?"unknown":"open"}} edition
          </span>
        </span>
      </span>
    </span>
    <span class="inner-section" *ngIf="object.editionSizeTypeName==='Unique'">
      {{object.editionSizeTypeName}}
    </span>
    <span class="inner-section" *ngIf="object.propertyCatalogueRaisonees.length>0">
      <span *ngFor="let catlogueres of (object.propertyCatalogueRaisonees | CRNumberCheck); let i=index;" class="float-l">
        <span *ngIf="i==0">CR{{i+1}}:{{catlogueres.number}}</span>
        <span *ngIf="i>0">; CR{{i+1}}:{{catlogueres.number}}</span>
      </span>
      <span *ngFor="let catlogueres of (object.propertyCatalogueRaisonees | CRNumberCheck); let i=index ">
        <span *ngIf="i===0">
          <br/>
        </span>
      </span>
    </span>
    <span class="inner-section" *ngIf="object.archiveNumbers.length>0">
      <span *ngFor="let ARNo of (object.archiveNumbers | archiveNumberCheck); let i=index ">
        <span> AR{{i+1}}:{{ARNo.archiveNumber}}
          <span *ngIf="i<object.archiveNumbers.length-1">;</span>
        </span>
      </span>
      <span *ngFor="let ARNo of (object.archiveNumbers | archiveNumberCheck); let i=index ">
        <span *ngIf="i===0">
          <br/>
        </span>
      </span>
    </span>
    <span class="inner-section" *ngIf="object.sortCode">
      <span>S:{{object.sortCode}}</span>
    </span>
  </span>
</a>