a.object-component {
  overflow: hidden;
  margin-bottom: 6px;
  padding: 6px;
  height: 150px;
  display: block;
  text-decoration: none;
  color:#333;
  border: 1px solid transparent;
  display: flex;
  &.clickable {
    cursor: default;
  }
  &:hover:not(:clickable) {
    border: 1px solid #ccc;
  }
  .image-section {
    width: 30%;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    border-right: 1px solid #aaa;
    text-align: center;
    img {
      width: 100%;
      max-width: 125px;
    }
  }
  .data-section {
    width: 70%;
    padding: 6px;
    line-height: 12px;
    span.inner-section {
      display: block;
    }
  }
  &.bigImage {
    height: 180px;
    .image-section {
      width: 36%;
      img {
        max-width: 160px;
        max-height: 100%;
        width: auto;
      }
    }
    .data-section {
      width: 64%;
    }
  }
}