/* CSS used here will be applied after bootstrap.css */

.modal {
  display: block !important;
}

.modal-dialog {
  overflow-y: initial !important
}

.fixed-panel {
  overflow-y: scroll;
  padding-right: 16px;
}

.modal-header {
  padding: 0px;
}

.modal-dialog {
  margin-top: 0px;
}

.mergeIcons a {
  color: #000;
}

.mergeIcons .merge-icon {
  display: inline-block;
  height: 17px;
  width: 17px;
}

a:hover {
  cursor: pointer;
}

#onSubmitMerge,
#onSubmitMergeDrag {
  cursor: pointer;
}

.expand-icon-drop {
  position: absolute;
  top: 89%;
  right: 0;
  color: black;
}

.expand-icon-Drag {
  position: absolute;
  top: 89%;
  right: 0;
  color: black;
}

.expand-image {
  display: block;
  margin: 0 auto;
  z-index: 11111111111;
  position: absolute;
}

.expand-image-Drag {
  display: block;
  margin: 0 auto;
  z-index: 11111111111;
  position: absolute;
  left: 55%;
}

.relative-div {
  position: relative;
}

.expand-image-close {
  position: absolute;
  top: 1px;
  right: 1px;
  font-size: 20px;
  border: 1px solid white;
  cursor: pointer;
}

@media screen and (min-height:650px) and (max-height: 849px) {
  .modalHeightFixed {
    height: 500px !important;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

@media screen and (min-height:850px) {
  .modalHeightFixed {
    height: 700px !important;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.merge-popup-width {
  width: 150%;
}

.merge-popup-depth {
  width: 195%;
  padding: 6px 12px;
}

.list-caret {
  position: absolute;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  text-align: center;
  right: 0px;
  top: 6px;
  cursor: pointer;
}

.thumbnail-image {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  max-height: 115px;
}

.gray-background {
  background: lightgray;
}

.check-30-padding {
  padding-left: 30px;
}

.checkbox-margin {
  margin-right: 0px;
}

.r-complete-check {
  float: right;
  margin-top: -11px;
}

input[type="checkbox"] {
  display: block;
}

input#chk {
  position: absolute;
  width: 1px;
  height: 0;
  margin: 0;
  margin-top: 4px;
  outline: none;
  border: 1px solid transparent;
  background-color: transparent;
}

.outline {
  outline-color: rgb(77, 144, 254);
  /* #4D90FE */
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}