.fixed-panel {
  height: 133px;
  overflow-y: scroll;
}

.panelContainer {
  border-radius: 7px !important;
}

.lineHeight {
  line-height: 12px;
  font-size: 10px;
}

.col-lg-12,
.col-sm-12,
.col-lg-3,
.col-sm-3 {
  padding-right: 2px;
  padding-left: 2px;
}

.panel-body{
  padding-top: 1px;
}

.panel{
  margin-bottom: 2px;
  padding:2px 0px 2px 2px;
  border:none;
}

.list-group {
  margin-bottom: 4px;
}

.imgStyle {}

.checkbox-merge-inline{
  position: absolute;
  z-index: 1;
  top: 0;
  right: 5px;
}

.checkbox-merge-inline input[type="checkbox"] {
  display: block;
  cursor: pointer;
}

.pageDivide {
    overflow: hidden;
    text-align: center;
}

.pageDivide:before{
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
    border-bottom: 2px dotted;
}

.pageDivide:after {
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
    border-bottom: 2px dotted;
}

.pageDivide:before {
    right: 0.5em;
    margin-left: -50%;
}

.pageDivide:after {
    left: 0.5em;
    margin-right: -50%;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: #18fd95;
}

::-webkit-scrollbar {
    width: 3px;
}
.m-l-r-0 {
  margin-left: 0px;
  margin-right: 0px;
}
.object-thumbnail {
  cursor: pointer;
  color: #000;
}

.m-t-5-fix {
  margin-left: 0px;
  margin-right: 0px;
}
.img-style {
  height: 130px;
  width: 130px;
  border-right: 1px solid #ddd;
}
.img-resized {
  display: block;
  position: absolute;
  max-height: 110px;
  max-width: 110px;
  margin-left: auto;
  margin-right: auto;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
div.loading {
  width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: fixed;
   display: block;
   opacity: 0.5;
   background-color: #fff;
   z-index: 99;
   text-align: center;
   background: transparent url('../../assets/images/ajax-loader.gif') no-repeat fixed center;
}
.loading {
  pointer-events: none;
  z-index: 99999;
}
body.positionFixed{
  overflow: hidden;
}

.loading-thumbnail{
  position: fixed;
  z-index: 1000000;
  left: 45%;
  top: 90%
}

.top-nav>li>a {
  cursor: pointer;
}
.top-nav>li>a>.fa-sort-up, .top-nav>li>a>.fa-sort-down {
  font: normal normal normal 23px/1 FontAwesome;
}
.fa-sort-up {
  margin-top: 2px;
}
.object-details-outer-container {
  height: 120px;
  padding: 10px 15px 10px 10px;
  overflow: auto;
}
.object-details-inner-container {
  font-size: 10px;
  line-height: 12px;
  max-height: 120px;
  overflow-y: scroll;
  color: #000;
  text-decoration: none;
}
.list-group-item {
  padding: 0;
  border-radius: 4px;
}
.prg-bkgrd-color-true{
  background-color: #FFC100;
}
.prg-bkgrd-color-false{
  background-color: #FFEFBB;
}