﻿<div class="modal-dialog merge-two-objects-component" style="width: 99%;">
  <div class="modal-content">
    <ng2-toasty></ng2-toasty>
    <div class="modal-header">
      <button type="button" class="close" (click)="modalClose()">&times;</button>
      <h5>Merging Pop-Up Screen</h5>
    </div>
    <div class="modal-body">
      <div *ngIf="draggableFlagDrag" ngDraggable id="expand-image-drag" [inBounds]="true" [bounds]="dragareaBound" class="expand-image-Drag"
        (mouseenter)="showCloseButton('drag')" (mouseleave)="RemoveCloseButton('drag')" style="display:none;">
        <div class="expand-image-close" id="expand-image-close-drag" (click)="closeExpandImage('drag')" style="display:none;">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <img [src]="expandImagePathDrag" id="expand-image-path-drag">
      </div>
      <div *ngIf="draggableFlagDrop" ngDraggable id="expand-image-drop" [inBounds]="true" [bounds]="dropareaBound" class="expand-image"
        (mouseenter)="showCloseButton('drop')" (mouseleave)="RemoveCloseButton('drop')" style="display:none;">
        <div class="expand-image-close" id="expand-image-close-drop" (click)="closeExpandImage('drop')" style="display:none;">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <img [src]="expandImagePathDrop" id="expand-image-path-drop">
      </div>
      <div class="row">
        <div class="col-md-6" id="droparea" style="padding: 1px;" #dropareaBound>
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="col-md-12 text-right mergeIcons p-0">
                <span *ngIf="highlightFlag">
                  <a (click)="dropmerge()" id="dropImagesymbol" class="pull-right m-l-10 p-0" alt="Merge">
                    <img class="merge-icon" alt="Merge" src="assets/images/merge-left.png">
                  </a>
                </span>
                <span id="onSubmitMerge" (click)="SubmitMerged('dropFlag')" class="pull-right">
                  <i class="fa fa-floppy-o" aria-hidden="true"></i>
                </span>
              </div>
            </div>
            <form class="form-horizontal DropForm" [formGroup]="DropDetailsForm">
              <div id="DropPanel" class="panel-body fixed-panel modalHeightFixed">
                <div class="row" style="">
                  <div class="col-md-6">
                    <div class="relative-div" [hidden]="!imageDragImag1" [ngClass]="{'gray-background':DropImage}" id="image-Merge" style="border: dashed 1px;color: darkorange; position:relative;top:0px; width: 100%; height: 121px"
                      dnd-draggable [dragEnabled]="true" (mouseenter)="onImageHover('Drop')" (mouseleave)="onLeave('Drop')"
                      [dragData]="Drop?.id" (onDragSuccess)="orderedProduct($event)" [dropZones]="['demo1']">
                      <img id="DropImageArea" style="max-width: 100%;display:block; margin:0 auto;text-align:center;" [src]="DropImage" dnd-droppable
                        (onDropSuccess)="addToBasket($event,'draggedFlag')" class="thumbnail-image" [dropZones]="['demo1']"
                      />
                      <span *ngIf="DropImage" class="expand-icon-drop" style="display:none;" (click)="expandImageDrop('Drop')">
                        <i class="fa fa-expand" aria-hidden="true"></i>
                      </span>
                    </div>
                    <div class="relative-div" [hidden]="imageDragImag1" id="image-Merge" [ngClass]="{'gray-background':DropImage}" style="border: dashed 1px;color: darkorange;position:relative; top:0px;width: 100%;height: 121px"
                      dnd-droppable (mouseenter)="onImageHover('Drop')" (mouseleave)="onLeave('Drop')" (onDropSuccess)="addToBasket($event,'draggedFlag')"
                      [dropZones]="['demo1']">
                      <img id="DropImageArea" style="max-width: 100%;display:block; margin:0 auto;text-align:center;" [src]="DropImage" dnd-draggable
                        class="thumbnail-image" [dragEnabled]="false" [dragData]="Drop?.id" (onDragSuccess)="orderedProduct($event)"
                        [dropZones]="['demo1']" />
                      <span *ngIf="DropImage" class="expand-icon-drop" style="display:none;" (click)="expandImageDrop('Drop')">
                        <i class="fa fa-expand" aria-hidden="true"></i>
                      </span>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-12" [ngClass]="( this.highlightFlag && checkArtist())?'compare-Artist':''">
                        <span *ngFor="let art of checkedArtist" [ngClass]="highlightFlag?'selected-auto-list':'selected-auto-list-color'">
                          {{art.display}}

                          <i class="fa fa-times" aria-hidden="true" (click)="artistChange('remove',art);"></i>
                        </span>
                      </div>
                      <div class="col-sm-12 object-autocomplete" [ngClass]="((!DropDetailsForm.controls['artistData'].valid && requiredFlag) && !checkedArtist.length)?'has-error bottom-line-error':''">
                        <input ngui-auto-complete formControlName="artistData" [source]="artistName" [list-formatter]="nameListFormatter" no-match-found-text="no records found"
                          display-property-name="firstName" min-chars="2" placeholder="Select Artist" (ngModelChange)="artistChange('add',$event)"
                          (keypress)="artistData=$event.target.value" class="form-control" (blur)="resetArtistNameInput('drop')">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-12">
                        <input formControlName="title" class="form-control" id="titleEn" placeholder="Title (EN)" maxlength="500" [ngStyle]="{'background-color': ( this.highlightFlag && ( DropDetailsForm.value.title != DragDetailsForm.value.title))?'#ecf542':''}"
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-12">
                        <input formControlName="originalTitle" class="form-control" id="titleOrig" placeholder="Title (Orig)" maxlength="500" [ngStyle]="{'background-color': 
                        ( this.highlightFlag && ( DropDetailsForm.value.originalTitle!= DragDetailsForm.value.originalTitle))?'#ecf542':''}"
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-12">
                        <input formControlName="signature" class="form-control" id="signature" placeholder="Signature" maxlength="1000" [ngStyle]="{'background-color': 
                        ( this.highlightFlag && ( DropDetailsForm.value.signature!= DragDetailsForm.value.signature))?'#ecf542':''}"
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-12">
                        <input formControlName="medium" class="form-control" id="medium-drop" placeholder="Medium" maxlength="1000" [ngStyle]="{'background-color': 
                        ( this.highlightFlag && ( DropDetailsForm.value.medium!= DragDetailsForm.value.medium))?'#ecf542':''}"
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-12">
                        <div class="col-sm-6 p-0 pull-left">
                          <div class="col-sm-11 p-0" style="position: relative;" (mouseleave)="closeList(dropDetailsCategoryList, 'dropcategory')">
                            <ng2-completer formControlName='category' #dropDetailsCategoryList (keydown)="dropCategoryListOpen=!dropCategoryListOpen"
                              (blur)="validateSelectedItem(dropDetailsCategoryList.value, 'category')" [datasource]='categoryService'
                              [minSearchLength]='0' placeholder="Category" [ngClass]=" ( this.highlightFlag && ( DropDetailsForm.value.category!= DragDetailsForm.value.category))?'compare-field':'' "
                              (change)="changeDropFunction($event)" (selected)="changeDropFunction($event)"></ng2-completer>
                            <div class="list-caret" (click)="openList(dropDetailsCategoryList, 'dropcategory')">
                              <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6 p-0 pull-right">
                          <div class="col-sm-11 p-0 pull-right" style="position: relative;" (mouseleave)="closeList(dropDetailsSubCategoryList, 'dropsubcategory')">
                            <ng2-completer formControlName='subCategory' #dropDetailsSubCategoryList (keydown)="dropSubCategoryListOpen=!dropSubCategoryListOpen"
                              (blur)="validateSelectedItem(dropDetailsSubCategoryList.value, 'subCategory')" [datasource]='subCategoryService'
                              [minSearchLength]='0' placeholder="Sub-category" (change)="changeDropFunction($event)" (selected)="changeDropFunction($event)"></ng2-completer>
                            <div class="list-caret" (click)="openList(dropDetailsSubCategoryList, 'dropsubcategory')">
                              <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-12">
                        <div class="col-sm-6 p-0 pull-left">
                          <div class="col-sm-11 p-0" style="position: relative;" (mouseleave)="closeList(dropDetailsPresizeNameList, 'droppresizename')">
                            <ng2-completer formControlName='presizeName' #dropDetailsPresizeNameList (keydown)="dropPresizeNameListOpen=!dropPresizeNameListOpen"
                              (blur)="validateSelectedItem(dropDetailsPresizeNameList.value, 'presizeName')" [datasource]='presizeTypesService'
                              [minSearchLength]='0' placeholder="Pre-size Type" [ngClass]=" ( this.highlightFlag && ( DropDetailsForm.value.presizeName!= DragDetailsForm.value.presizeName))?'compare-field':'' "
                              (change)="changeDropFunction($event)" (selected)="changeDropFunction($event)"></ng2-completer>
                            <div class="list-caret" (click)="openList(dropDetailsPresizeNameList, 'droppresizename')">
                              <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6 p-0 pull-right">
                          <div class="col-sm-11 p-0 pull-right">
                            <input type="number" name="parts" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 110 || event.keyCode == 190 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true"
                              min="0" class="form-control" formControlName="parts" id="parts" placeholder="Parts" [ngStyle]="{'background-color': (this.highlightFlag && ( DropDetailsForm.value.parts!= DragDetailsForm.value.parts))?'#ecf542':''}"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-3">
                        <input type="number" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true"
                          min="0" (paste)="onPaste($event)" name="heightCm" class="form-control merge-popup-width" formControlName="heightCm"
                          id="heightCm" placeholder="Height" (ngModelChange)="CmToInViceVersaChange('heightIn', 'CmToIn', $event)"
                          [ngStyle]="{'background-color': (this.highlightFlag && ( DropDetailsForm.value.heightCm!= DragDetailsForm.value.heightCm))?'#ecf542':''}"
                        />
                      </div>
                      <label class="col-sm-1 p-0 m-0 p-t-6 f-10 t-align-c">x</label>
                      <div class="col-sm-3">
                        <input type="number" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true"
                          min="0" (paste)="onPaste($event)" name="widthCm" class="form-control merge-popup-width" formControlName="widthCm"
                          id="widthCm" placeholder="Width" (ngModelChange)="CmToInViceVersaChange('widthIn', 'CmToIn', $event)"
                          [ngStyle]="{'background-color': 
                        ( this.highlightFlag && ( DropDetailsForm.value.widthCm!= DragDetailsForm.value.widthCm))?'#ecf542':''}"
                        />
                      </div>
                      <label class="col-sm-1 p-0 m-0 p-t-6 f-10 t-align-c">x</label>
                      <div class="col-sm-3 pull-right">
                        <span class="col-sm-9 p-0 row b-b-1-ddd">
                          <input type="number" name="depthCm" min="0" (paste)="onPaste($event)" class="form-control merge-popup-depth col-sm-12 p-0 row pull-right"
                            formControlName="depthCm" min="0" (paste)="onPaste($event)" id="depthCm" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true"
                            placeholder="Depth" (ngModelChange)="CmToInViceVersaChange('depthIn', 'CmToIn', $event)" [ngStyle]="{'background-color': ( this.highlightFlag && ( DropDetailsForm.value.depthCm != DragDetailsForm.value.depthCm))?'#ecf542':''}"
                          />
                        </span>
                        <span class="col-sm-1 pull-right d-inline-block row p-0 m-0 p-t-11 f-10 t-align-r">cm</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-3">
                        <input type="text" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true"
                          name="heightIn" min="0" (paste)="onPaste($event)" class="form-control merge-popup-width" placeholder="Height"
                          formControlName="heightIn" id="heightIn" (change)="CmToInViceVersaChange('heightCm', 'InToCm', $event.target.value);"
                          [ngStyle]="{'background-color': (this.highlightFlag && ( DropDetailsForm.value.heightIn != DragDetailsForm.value.heightIn))?'#ecf542':''}"
                        />
                      </div>
                      <label class="col-sm-1 p-0 m-0 p-t-6 f-10 t-align-c">x</label>
                      <div class="col-sm-3">
                        <input type="text" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true"
                          name="widthIn" min="0" (paste)="onPaste($event)" class="form-control merge-popup-width" placeholder="Width"
                          formControlName="widthIn" id="widthIn" (change)="CmToInViceVersaChange('widthCm', 'InToCm', $event.target.value);"
                          [ngStyle]="{'background-color': (this.highlightFlag && ( DropDetailsForm.value.widthIn != DragDetailsForm.value.widthIn))?'#ecf542':''}"
                        />
                      </div>
                      <label class="col-sm-1 p-0 m-0 p-t-6 f-10 t-align-c">x</label>
                      <div class="col-sm-3 pull-right">
                        <span class="col-sm-9 p-0 row b-b-1-ddd">
                          <input type="text" name="depthIn" class="form-control merge-popup-depth col-sm-12 p-0 row pull-right" placeholder="Depth"
                            min="0" (paste)="onPaste($event)" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true"
                            formControlName="depthIn" min="0" (paste)="onPaste($event)" id="depthIn" (change)="CmToInViceVersaChange('depthCm', 'InToCm', $event.target.value);"
                            [ngStyle]="{'background-color': (this.highlightFlag && ( DropDetailsForm.value.depthIn != DragDetailsForm.value.depthIn))?'#ecf542':''}"
                          />
                        </span>
                        <span class="col-sm-1 pull-right d-inline-block row p-0 m-0 p-t-11 f-10 t-align-r">in</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-12">
                        <input type="text" name="sizeText" class="form-control" placeholder="Size Text" formControlName="sizeText" id="sizeText"
                          placeholder="Size Text" maxlength="500" [ngStyle]="{'background-color': ( this.highlightFlag && ( DropDetailsForm.value.sizeText != DragDetailsForm.value.sizeText))?'#ecf542':''}">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-4">
                        <input type="number" min="0" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 110 || event.keyCode == 190 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true"
                          name="yearStart" class="form-control" formControlName="yearStart" id="yearStart" placeholder="Year - From"
                          [ngStyle]="{'background-color': (this.highlightFlag && ( DropDetailsForm.value.yearStart != DragDetailsForm.value.yearStart))?'#ecf542':''}"
                        />
                        <div *ngIf="DropDetailsForm.controls['yearStart'].hasError('pattern')" class="alert alert-danger">
                          Please enter 4 digit number
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <input type="number" min="0" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 110 || event.keyCode == 190 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true"
                          name="yearEnd" class="form-control" formControlName="yearEnd" id="yearEnd" placeholder="Year - To"
                          [ngStyle]="{'background-color': 
                        (this.highlightFlag && ( DropDetailsForm.value.yearEnd != DragDetailsForm.value.yearEnd))?'#ecf542':''}"
                        />
                        <div *ngIf="DropDetailsForm.controls['yearEnd'].hasError('pattern')" class="alert alert-danger">
                          Please enter 4 digit number
                        </div>
                      </div>
                      <div class="col-sm-4 pull-right p-0">
                        <label class="checkbox-inline check f-11 p-0" [ngStyle]="{'background-color': 
                        (this.highlightFlag && ( DropDetailsForm.value.yearCirca != DragDetailsForm.value.yearCirca))?'#ecf542':''}">
                          Circa
                          <input type="checkbox" class="checkboxEvent" name="yearCirca" value="yearCirca" formControlName="yearCirca" id="chk" (focus)="addOutline($event)"
                            (blur)="removeOutline($event)">
                          <div>
                            <i class="fa fa-check"></i>
                          </div>
                        </label>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-4">
                        <input type="number" min="0" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 110 || event.keyCode == 190 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true"
                          name="castYearStart" class="form-control" formControlName="castYearStart" id="castYearStart" placeholder="Cast Year - From"
                          [ngStyle]="{'background-color': (this.highlightFlag && ( DropDetailsForm.value.castYearStart != DragDetailsForm.value.castYearStart))?'#ecf542':''}"
                        />
                        <div *ngIf="DropDetailsForm.controls['castYearStart'].hasError('pattern')" class="alert alert-danger">
                          Please enter 4 digit number
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <input type="number" min="0" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 110 || event.keyCode == 190 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true"
                          name="castYearEnd" class="form-control" formControlName="castYearEnd" id="castYearEnd" placeholder="Cast Year - To"
                          [ngStyle]="{'background-color': 
                        (this.highlightFlag && ( DropDetailsForm.value.castYearEnd != DragDetailsForm.value.castYearEnd))?'#ecf542':''}"
                        />
                        <div *ngIf="DropDetailsForm.controls['castYearEnd'].hasError('pattern')" class="alert alert-danger">
                          Please enter 4 digit number
                        </div>
                      </div>
                      <div class="col-sm-4 pull-right p-0">
                        <div class="row">
                          <div class="col-sm-12">
                            <label class="checkbox-inline check f-11 p-0" [ngStyle]="{'background-color': 
                            (this.highlightFlag && ( DropDetailsForm.value.castYearCirca != DragDetailsForm.value.castYearCirca))?'#ecf542':''}">
                              Circa
                              <input type="checkbox" class="checkboxEvent" name="castYearCirca" value="castYearCirca" formControlName="castYearCirca" id="chk"
                                (focus)="addOutline($event)" (blur)="removeOutline($event)">
                              <div>
                                <i class="fa fa-check"></i>
                              </div>
                            </label>
                          </div>
                          <div class="col-sm-12">
                            <label class="checkbox-inline check f-11 p-0" [ngStyle]="{'background-color': (this.highlightFlag && ( DropDetailsForm.value.posthumous != DragDetailsForm.value.posthumous))?'#ecf542':''}">
                              PH&nbsp;&nbsp;&nbsp;
                              <input type="checkbox" class="checkboxEvent" name="posthumous" value="posthumous" formControlName="posthumous" id="chk" (focus)="addOutline($event)"
                                (blur)="removeOutline($event)">
                              <div>
                                <i class="fa fa-check"></i>
                              </div>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-12">
                        <input type="text" name="yearText" class="form-control" placeholder="Year Text" formControlName="yearText" id="yearTxt" [ngStyle]="{'background-color': (this.highlightFlag && ( DropDetailsForm.value.yearText != DragDetailsForm.value.yearText))?'#ecf542':''}">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-4 pull-left p-0">
                        <div class="col-sm-12">
                          <input type="text" name="editionNumber" class="form-control" formControlName="editionNumber" id="editionNumber" placeholder="Edition No."
                            [ngStyle]="{'background-color': (this.highlightFlag && ( DropDetailsForm.value.editionNumber != DragDetailsForm.value.editionNumber))?'#ecf542':''}"
                          />
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="col-sm-12" style="padding-left: 3px; padding-right: 3px;position: relative;" (mouseleave)="closeList(editionDropNameList, 'dropeditionname')">
                          <ng2-completer formControlName='editionName' #editionDropNameList [datasource]='editionTypeService' (keydown)="dropEditionNameListOpen=!dropEditionNameListOpen"
                            (blur)="validateSelectedItem(editionDropNameList.value, 'editionName')" [minSearchLength]='0' placeholder="Edition Type"
                            [ngClass]=" ( this.highlightFlag && ( DropDetailsForm.value.editionName!= DragDetailsForm.value.editionName))?'compare-field':'' "
                            (change)="changeDropFunction($event)" (selected)="changeDropFunction($event)"></ng2-completer>
                          <div class="list-caret" (click)="openList(editionDropNameList, 'dropeditionname')">
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4 p-0 pull-right">
                        <div class="col-sm-12">
                          <input type="text" name="editionSizeTotal" class="form-control mousePointer" formControlName="editionSizeTotal" id="editionSizeTotal"
                            (click)="EditionModalPrompt()" placeholder="Edition Size Total" [ngStyle]="{'background-color': (this.highlightFlag && ( DropDetailsForm.value.editionSizeTotal != DragDetailsForm.value.editionSizeTotal))?'#ecf542':''}"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-4 pull-left">
                        <div class="col-sm-11 p-0 d-inline-block">
                          <input type="number" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true"
                            name="weight" formControlName="weight" min="0" (paste)="onPaste($event)" class="form-control" id="weight"
                            placeholder="Weight" [ngStyle]="{'background-color': (this.highlightFlag && ( DropDetailsForm.value.weight != DragDetailsForm.value.weight))?'#ecf542':''}"
                          />
                        </div>
                        <span class="col-sm-1 pull-left d-inline-block row p-0 m-0 p-t-11 f-10 t-align-r">kg</span>
                      </div>
                      <div class="col-sm-8 pull-right">
                        <div class="col-sm-11 p-0 d-inline-block pull-right">
                          <input type="text" name="foundry" class="form-control" formControlName="foundry" placeholder="Foundry" id="foundry" [ngStyle]="{'background-color': (this.highlightFlag && ( DropDetailsForm.value.foundry != DragDetailsForm.value.foundry))?'#ecf542':''}"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="form-group m-t-10">
                      <div class="row check-30-padding">
                        <div class="col-sm-3 p-0">
                          <label class="control-label f-11 p-0 checkbox-inline check pull-left" [ngStyle]="{'background-color': 
                        (this.highlightFlag && ( DropDetailsForm.value.certificate != DragDetailsForm.value.certificate))?'#ecf542':''}">
                            Certificate
                            <input type="checkbox" name="certificate" class="form-control checkboxEvent" formControlName="certificate" value="certificate"
                              id="chk" (focus)="addOutline($event)" (blur)="removeOutline($event)" />
                            <div class="checkbox-margin">
                              <i class="fa fa-check"></i>
                            </div>
                          </label>
                        </div>
                        <div class="col-sm-2 p-0">
                          <label class="control-label f-11 p-0 checkbox-inline check" [ngStyle]="{'background-color': (this.highlightFlag && ( DropDetailsForm.value.signed != DragDetailsForm.value.signed))?'#ecf542':''}">
                            Signed
                            <input type="checkbox" name="signed" class="form-control checkboxEvent" formControlName="signed" value="signed" id="chk"
                              (focus)="addOutline($event)" (blur)="removeOutline($event)" />
                            <div class="checkbox-margin">
                              <i class="fa fa-check"></i>
                            </div>
                          </label>
                        </div>
                        <div class="col-sm-3 p-0">
                          <label class="control-label f-11 p-0 checkbox-inline check" [ngStyle]="{'background-color': (this.highlightFlag && ( DropDetailsForm.value.stamped != DragDetailsForm.value.stamped))?'#ecf542':''}">
                            Stamped
                            <input type="checkbox" name="stamped" class="form-control checkboxEvent" formControlName="stamped" value="stamped" id="chk"
                              (focus)="addOutline($event)" (blur)="removeOutline($event)" />
                            <div class="checkbox-margin">
                              <i class="fa fa-check"></i>
                            </div>
                          </label>
                        </div>
                        <div class="col-sm-4 p-0">
                          <label class="control-label f-11 p-0 checkbox-inline check" [ngStyle]="{'background-color': 
                        ( this.highlightFlag && ( DropDetailsForm.value.authentication != DragDetailsForm.value.authentication))?'#ecf542':''}">
                            Authentication
                            <input type="checkbox" name="authentication" class="form-control checkboxEvent" formControlName="authentication" value="authentication"
                              id="chk" (focus)="addOutline($event)" (blur)="removeOutline($event)" />
                            <div class="checkbox-margin">
                              <i class="fa fa-check"></i>
                            </div>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group m-t-10">
                      <div class="col-sm-6 p-0 pull-left">
                        <div class="col-sm-12" *ngIf="highlightFlag">
                          <tag-input formControlName="archiveNumbers" id="archiveNumbers" [ngClass]="compareArchive()?'compare-archived':'' " [editable]='true'
                            [addOnPaste]='true' [trimTags]='true' secondaryPlaceholder="Archive No." placeholder="" blinkIfDupe="true"
                            addOnBlur="true" [(ngModel)]="archiveNoTags" (onAdd)="getArchiveNumbers();" (onRemove)="getArchiveNumbers()"
                            (onFocus)="getArchiveNumbers()" (onBlur)="getArchiveNumbers()" (onTextChange)="getArchiveNumbers()"></tag-input>
                        </div>
                        <div class="col-sm-12 archiveNumbers-color" *ngIf="!highlightFlag">
                          <tag-input formControlName="archiveNumbers" id="archiveNumbers" [editable]='true' [addOnPaste]='true' [trimTags]='true' secondaryPlaceholder="Archive No."
                            placeholder="" blinkIfDupe="true" addOnBlur="true" [(ngModel)]="archiveNoTags" (onAdd)="getArchiveNumbers();"
                            (onRemove)="getArchiveNumbers()" (onFocus)="getArchiveNumbers()" (onBlur)="getArchiveNumbers()"
                            (onTextChange)="getArchiveNumbers()"></tag-input>
                        </div>
                      </div>
                      <div class="col-sm-6 p-0 pull-right">
                        <div class="col-sm-12">
                          <input formControlName="sortCode" class="form-control" placeholder="Sort Code" id="sortCode" [ngStyle]="{'background-color': (this.highlightFlag && ( DropDetailsForm.value.sortCode != DragDetailsForm.value.sortCode))?'#ecf542':''}"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6" style="padding: 1px;">
                    <div class="panel m-t-10">
                      <div class="panel-heading">
                        <h5 class="panel-title">Flags</h5>
                      </div>
                      <div class="panel-body" formGroupName="flags">
                        <div class="row">
                          <div class="col-sm-8 pull-left">
                            <div class="row p-0">
                              <span class="col-sm-5 p-0">
                                <span class="pull-right row">
                                  <label class="checkbox-inline check" [ngStyle]="{'background-color': ( this.highlightFlag && ( DropDetailsForm.value.flags.flagAuthenticity != DragDetailsForm.value.flags.flagAuthenticity) )?'#ecf542':''}">
                                    Authenticity
                                    <input type="checkbox" formControlName="flagAuthenticity" class="check-flags-authenticity checkboxEvent" value="" id="chk"
                                      (focus)="addOutline($event)" (blur)="removeOutline($event)" />
                                    <div>
                                      <i class="fa fa-check"></i>
                                    </div>
                                  </label>
                                </span>
                              </span>
                              <span class="col-sm-5 p-0">
                                <span class="pull-right row">
                                  <label class="checkbox-inline check " [ngStyle]="{'background-color': ( this.highlightFlag && ( DropDetailsForm.value.flags.flagRestitution != DragDetailsForm.value.flags.flagRestitution))?'#ecf542':''}">
                                    Restitution
                                    <input type="checkbox" formControlName="flagRestitution" class="check-flags-restitution checkboxEvent" value="" id="chk"
                                      (focus)="addOutline($event)" (blur)="removeOutline($event)" />
                                    <div>
                                      <i class="fa fa-check"></i>
                                    </div>
                                  </label>
                                </span>
                              </span>
                              <span class="col-sm-5 p-0">
                                <span class="pull-right row">
                                  <label class="checkbox-inline check" [ngStyle]="{'background-color':( this.highlightFlag && ( DropDetailsForm.value.flags.flagSfs != DragDetailsForm.value.flags.flagSfs))?'#ecf542':''}">
                                    SFS
                                    <input type="checkbox" formControlName="flagSfs" class="check-flags-sfs checkboxEvent" value="" id="chk" (focus)="addOutline($event)"
                                      (blur)="removeOutline($event)" />
                                    <div>
                                      <i class="fa fa-check"></i>
                                    </div>
                                  </label>
                                </span>
                              </span>
                              <span class="col-sm-5 p-0">
                                <span class="pull-right row">
                                  <label class="checkbox-inline check" [ngStyle]="{'background-color': ( this.highlightFlag && ( DropDetailsForm.value.flags.flagCondition != DragDetailsForm.value.flags.flagCondition))?'#ecf542':''}">
                                    Condition
                                    <input type="checkbox" formControlName="flagCondition" class="check-flags-condition checkboxEvent" value="" id="chk" (focus)="addOutline($event)"
                                      (blur)="removeOutline($event)" />
                                    <div>
                                      <i class="fa fa-check"></i>
                                    </div>
                                  </label>
                                </span>
                              </span>
                              <span class="col-sm-5 p-0">
                                <span class="pull-right row">
                                  <label class="checkbox-inline check" [ngStyle]="{'background-color': (this.highlightFlag && ( DropDetailsForm.value.flags.flagMedium != DragDetailsForm.value.flags.flagMedium))?'#ecf542':''}">
                                    Medium
                                    <input type="checkbox" formControlName="flagMedium" class="check-flags-medium checkboxEvent" value="" id="chk" (focus)="addOutline($event)"
                                      (blur)="removeOutline($event)" />
                                    <div>
                                      <i class="fa fa-check"></i>
                                    </div>
                                  </label>
                                </span>
                              </span>
                            </div>
                          </div>
                          <div class="col-sm-4 pull-right" style="padding:0;padding-right:5px">
                            <span class="col-sm-12 p-0" style="position: relative;" (mouseleave)="closeList(dropDetailsFlagsCountryList, 'dropflagscountry')">
                              <ng2-completer formControlName='flagsCountry' #dropDetailsFlagsCountryList [(ngModel)]="dropDetailsFlagsCountryValue" (keydown)="dropflagsCountryListOpen=!dropflagsCountryListOpen"
                                (blur)="validateSelectedItem(dropDetailsFlagsCountryList.value, 'flagsCountry')" [datasource]='countryService'
                                [minSearchLength]='0' placeholder="Country" [ngClass]=" ( this.highlightFlag && ( DropDetailsForm.value.flags.flagsCountry!= DragDetailsForm.value.flags.flagsCountry))?'compare-field':'' "
                                (change)="changeDropFunction($event)" (selected)="changeDropFunction($event)"></ng2-completer>
                              <div class="list-caret" (click)="openList(dropDetailsFlagsCountryList, 'dropflagscountry')">
                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                              </div>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="panel">
                      <div class="panel-heading">
                        <h3 class="panel-title">Researcher Notes
                          <span class="r-complete-check">
                            <label class="control-label f-11 p-0 checkbox-inline check" [ngStyle]="{'background-color': ( this.highlightFlag && ( DropDetailsForm.value.researchCompleteCheck != DragDetailsForm.value.researchCompleteCheck))?'#ecf542':''}">
                              Complete
                              <input type="checkbox" name="complete" value="complete" class="form-control checkboxEvent" formControlName="researchCompleteCheck"
                                id="chk" (focus)="addOutline($event)" (blur)="removeOutline($event)" />
                              <div>
                                <i class="fa fa-check"></i>
                              </div>
                            </label>
                          </span>
                        </h3>
                        <div class="panel-body">
                          <div class="row">
                            <div class="col-sm-12 p-0">
                              <div class="col-sm-6 p-0">
                                <div class="col-sm-12 pull-left">
                                  <input type="text" value='' [readonly]="true" class="form-control" name="researcherName" formControlName='researcherName'
                                    placeholder="Researcher Name" [ngStyle]="{'background-color': (this.highlightFlag && ( dragDisplayName != dropDisplayName))?'#ecf542':''}"
                                  />
                                </div>
                              </div>
                              <div class="col-sm-6 p-0">
                                <div class="col-sm-12 pull-right">
                                  <input class="form-control" [readonly]="true" name="researcherNotesDate" formControlName='researcherNotesDate' placeholder="DD MMM YYYY"
                                    [ngStyle]="{'background-color': 
                                  (this.highlightFlag && ( dropResearcherDate != dragResearcherDate))?'#ecf542':''}" />
                                </div>
                                <div *ngIf="DropDetailsForm.controls['researcherNotesDate'].hasError('pattern')" class="alert alert-danger">
                                  Date should be in the format 'dd mmm yyyy.'
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-12 p-0 p-t-20">
                              <div class="col-sm-12">
                                <textarea rows="3" [readonly]="false" (keyup)="setResearcherInfo('drop')" class="b-1-ddd col-sm-12 researcher-notes" formControlName='researcherNotesText'
                                  maxlength="1000" [ngStyle]="{'background-color': (this.highlightFlag && ( DropDetailsForm.value.researcherNotesText != DragDetailsForm.value.researcherNotesText))?'#ecf542':''}"></textarea>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="panel h-400">
                      <div class="panel-body">
                        <table class="table table-sm table-striped table-scroll">
                          <thead>
                            <tr>
                              <th>CR</th>
                              <th>Type</th>
                              <th>Author</th>
                              <th>Volume</th>
                              <th>Number</th>
                            </tr>
                          </thead>
                          <tbody class="scrollable row" id='tblCatalogRaisonnees'>
                            <tr *ngFor="let raisonnes of propertyCatalogRaisonnee; let i=index;">
                              <td *ngIf="!Drop?.id" class="f-12">{{i+1 }}</td>
                              <td *ngIf="!Drop?.id" class="f-12">{{raisonnes.type}}</td>
                              <td *ngIf="!Drop?.id" class="f-12">{{raisonnes.author}}</td>
                              <td *ngIf="!Drop?.id">
                                <input type='text' [value]="raisonnes.volumeCR?raisonnes.volumeCR:null" (input)="raisonnes.volumeCR = $event.target.value;checkCR();"
                                  class='form-control volumes w-75' placeholder="Volume" />
                              </td>
                              <td *ngIf="!Drop?.id">
                                <input type='text' [value]="raisonnes.numberCR?raisonnes.numberCR:null" (input)="raisonnes.numberCR = $event.target.value;checkCR();"
                                  class='form-control number w-75' placeholder="Number" />
                              </td>
                            </tr>
                            <tr *ngFor="let raisonnes of propertyCatalogRaisonnee; let i=index;" [ngClass]="( this.highlightFlag && raisonnes.color)?'colorYellow':''">
                              <td *ngIf="Drop?.id" class="f-12">{{i+1 }}</td>
                              <td *ngIf="Drop?.id" class="f-12">{{raisonnes.artistCatalogueRaisoneeType}}</td>
                              <td *ngIf="Drop?.id" class="f-12">{{raisonnes.artistCatalogueRaisoneeAuthor}}</td>
                              <td *ngIf="Drop?.id">
                                <input type='text' [value]="raisonnes.volume?raisonnes.volume:null" (input)="raisonnes.volume = $event.target.value;checkCR();"
                                  class='form-control volumes w-75' placeholder="Volume" />
                              </td>
                              <td *ngIf="Drop?.id">
                                <input type='text' [value]="raisonnes.number?raisonnes.number:null" (input)="raisonnes.number = $event.target.value;checkCR();"
                                  class='form-control number w-75' placeholder="Number" />
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <app-event-report-component [objectId]="Drop?.id" class="app-event-report-component" [setOptions]="eventHistoryOptions"></app-event-report-component>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6" id="dragarea" style="padding: 1px;" #dragareaBound>
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="col-md-12 text-right mergeIcons p-0">
                <span id="onSubmitMergeDrag" (click)="SubmitMerged('dragFlag')">
                  <i class="fa fa-floppy-o p-0" aria-hidden="true"></i>
                </span>
                <span *ngIf="highlightFlag" class="m-l-5 p-0">
                  <a (click)="dragmerge()" id="dragImagesymbol" class="pull-right p-0" alt="Merge">
                    <img class="merge-icon" alt="Merge" src="assets/images/merge-right.png">
                  </a>
                </span>
              </div>
            </div>
            <form class="form-horizontal DragForm" [formGroup]="DragDetailsForm">
              <div id="DragPanel" class="panel-body fixed-panel modalHeightFixed">
                <div class="row" style="">
                  <div class="col-md-6">
                    <div class="relative-div" [hidden]="!imageDragImag2" id="image-Merge" [ngClass]="{'gray-background':DragImage}" style="border: dashed 1px;color: darkorange; position:relative; top:0px;width: 100%;height: 121px"
                      dnd-draggable [dragEnabled]="true" [dragData]="Dragged?.id" (mouseenter)="onImageHover('Drag')" (mouseleave)="onLeave('Drag')"
                      (onDragSuccess)="orderedProduct($event)" [dropZones]="['demo1']">
                      <img id="DragImageArea" style="max-width: 100%;display:block; margin:0 auto;text-align:center;" [src]="DragImage" dnd-droppable
                        (onDropSuccess)="addToBasket($event,'dropFlag')" class="thumbnail-image" [dropZones]="['demo1']" />
                      <span *ngIf="DragImage" class="expand-icon-Drag" style="display:none;" (click)="expandImageDrag('Drag')">
                        <i class="fa fa-expand" aria-hidden="true"></i>
                      </span>
                    </div>
                    <div class="relative-div" [hidden]="imageDragImag2" id="image-Merge" [ngClass]="{'gray-background':DragImage}" style="border: dashed 1px;color: darkorange; position:relative; top:0px;width: 100%;height: 121px"
                      dnd-droppable (mouseenter)="onImageHover('Drag')" (mouseleave)="onLeave('Drag')" (onDropSuccess)="addToBasket($event,'dropFlag')"
                      [dropZones]="['demo1']">
                      <img id="DragImageArea" style="max-width: 100%;display:block; margin:0 auto;text-align:center;" [src]="DragImage" dnd-draggable
                        [dragEnabled]="false" [dragData]="Dragged?.id" class="thumbnail-image" (onDragSuccess)="orderedProduct($event)"
                        [dropZones]="['demo1']" />
                      <span *ngIf="DragImage" class="expand-icon-Drag" style="display:none;" (click)="expandImageDrag('Drag')">
                        <i class="fa fa-expand" aria-hidden="true"></i>
                      </span>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-12" [ngClass]="( this.highlightFlag && checkArtist())?'compare-Artist':''">
                        <span *ngFor="let art of checkedArtistDrag" [ngClass]="highlightFlag?'selected-auto-list':'selected-auto-list-color'">
                          {{art.display}}

                          <i class="fa fa-times" aria-hidden="true" (click)="artistChangeDrag('remove',art);"></i>
                        </span>
                      </div>
                      <div class="col-sm-12 object-autocomplete" [ngClass]="((!DragDetailsForm.controls['artistDataDrag'].valid && requiredFlag) && !checkedArtistDrag.length)?'has-error bottom-line-error':''">
                        <input ngui-auto-complete formControlName="artistDataDrag" [source]="artistNameDrag" [list-formatter]="nameListFormatter"
                          no-match-found-text="no records found" display-property-name="firstName" min-chars="2" placeholder="Select Artist"
                          (ngModelChange)="artistChangeDrag('add',$event)" (keypress)="artistDataDrag=$event.target.value"
                          class="form-control" (blur)="resetArtistNameInput('drag')">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-12">
                        <input formControlName="title" class="form-control" id="titleEn" placeholder="Title (EN)" maxlength="500" [ngStyle]="{'background-color': ( this.highlightFlag && ( DropDetailsForm.value.title != DragDetailsForm.value.title))? '#ecf542' :''}"
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-12">
                        <input formControlName="originalTitle" class="form-control" id="titleOrig" placeholder="Title (Orig)" maxlength="500" [ngStyle]="{'background-color': ( this.highlightFlag && ( DropDetailsForm.value.originalTitle!= DragDetailsForm.value.originalTitle))?'#ecf542':''}"
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-12">
                        <input formControlName="signature" class="form-control" id="signature" placeholder="Signature" maxlength="1000" [ngStyle]="{'background-color': ( this.highlightFlag && ( DropDetailsForm.value.signature!= DragDetailsForm.value.signature))?'#ecf542':''}"
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-12">
                        <input formControlName="medium" class="form-control" id="medium-drop" placeholder="Medium" maxlength="1000" [ngStyle]="{'background-color': ( this.highlightFlag && ( DropDetailsForm.value.medium!= DragDetailsForm.value.medium))?'#ecf542':''}"
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-12">
                        <div class="col-sm-6 p-0 pull-left">
                          <div class="col-sm-11 p-0" style="position: relative;" (mouseleave)="closeList(dragDetailsCategoryList, 'dragcategory')">
                            <ng2-completer formControlName='category' #dragDetailsCategoryList (keydown)="dragCategoryListOpen=!dragCategoryListOpen"
                              (blur)="validateSelectedItemDrag(dragDetailsCategoryList.value, 'category')" [datasource]='categoryService'
                              [minSearchLength]='0' placeholder="Category" [ngClass]=" ( this.highlightFlag && ( DropDetailsForm.value.category!= DragDetailsForm.value.category))?'compare-field':'' "
                              (change)="changeDragFunction($event)" (selected)="changeDragFunction($event)"></ng2-completer>
                            <div class="list-caret" (click)="openList(dragDetailsCategoryList, 'dragcategory')">
                              <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6 p-0 pull-right">
                          <div class="col-sm-11 p-0 pull-right" style="position: relative;" (mouseleave)="closeList(dragDetailsSubCategoryList, 'dragsubcategory')">
                            <ng2-completer formControlName='subCategory' #dragDetailsSubCategoryList (keydown)="dragSubCategoryListOpen=!dragSubCategoryListOpen"
                              (blur)="validateSelectedItemDrag(dragDetailsSubCategoryList.value, 'subCategory')" [datasource]='subCategoryService'
                              [minSearchLength]='0' placeholder="Sub-category" (change)="changeDragFunction($event)" (selected)="changeDragFunction($event)"></ng2-completer>
                            <div class="list-caret" (click)="openList(dragDetailsSubCategoryList, 'dragsubcategory')">
                              <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-12">
                        <div class="col-sm-6 p-0 pull-left">
                          <div class="col-sm-11 p-0" style="position: relative;" (mouseleave)="closeList(dragDetailsPresizeNameList, 'dragpresizename')">
                            <ng2-completer formControlName='presizeName' #dragDetailsPresizeNameList (keydown)="dragPresizeNameListOpen=!dragPresizeNameListOpen"
                              (blur)="validateSelectedItemDrag(dragDetailsPresizeNameList.value, 'presizeName')" [datasource]='presizeTypesService'
                              [minSearchLength]='0' placeholder="Pre-size Type" [ngClass]=" ( this.highlightFlag && ( DropDetailsForm.value.presizeName!= DragDetailsForm.value.presizeName))?'compare-field':'' "
                              (change)="changeDragFunction($event)" (selected)="changeDragFunction($event)"></ng2-completer>
                            <div class="list-caret" (click)="openList(dragDetailsPresizeNameList, 'dragpresizename')">
                              <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6 p-0 pull-right">
                          <div class="col-sm-11 p-0 pull-right">
                            <input type="number" name="parts" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 110 || event.keyCode == 190 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true"
                              min="0" class="form-control" formControlName="parts" id="parts" placeholder="Parts" [ngStyle]="{'background-color': (this.highlightFlag && ( DropDetailsForm.value.parts!= DragDetailsForm.value.parts))?'#ecf542':''}"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-3">
                        <input type="number" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true"
                          min="0" (paste)="onPaste($event)" name="heightCm" class="form-control merge-popup-width" formControlName="heightCm"
                          id="heightCm" placeholder="Height" (ngModelChange)="CmToInViceVersaChangedDrag('heightIn', 'CmToIn', $event)"
                          [ngStyle]="{'background-color': (this.highlightFlag && ( DropDetailsForm.value.heightCm!= DragDetailsForm.value.heightCm))?'#ecf542':''}"
                        />
                      </div>
                      <label class="col-sm-1 p-0 m-0 p-t-6 f-10 t-align-c">x</label>
                      <div class="col-sm-3">
                        <input type="number" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true"
                          min="0" (paste)="onPaste($event)" name="widthCm" class="form-control merge-popup-width" formControlName="widthCm"
                          id="widthCm" placeholder="Width" (ngModelChange)="CmToInViceVersaChangedDrag('widthIn', 'CmToIn', $event)"
                          [ngStyle]="{'background-color': ( this.highlightFlag && ( DropDetailsForm.value.widthCm!= DragDetailsForm.value.widthCm))?'#ecf542':''}"
                        />
                      </div>
                      <label class="col-sm-1 p-0 m-0 p-t-6 f-10 t-align-c">x</label>
                      <div class="col-sm-3 pull-right">
                        <span class="col-sm-9 p-0 row b-b-1-ddd">
                          <input type="number" name="depthCm" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true"
                            class="form-control merge-popup-depth col-sm-12 p-0 row pull-right" formControlName="depthCm" (paste)="onPaste($event)"
                            min="0" id="depthCm" placeholder="Depth" (ngModelChange)="CmToInViceVersaChangedDrag('depthIn', 'CmToIn', $event)"
                            [ngStyle]="{'background-color': ( this.highlightFlag && ( DropDetailsForm.value.depthCm != DragDetailsForm.value.depthCm))?'#ecf542':''}"
                          />
                        </span>
                        <span class="col-sm-1 pull-right d-inline-block row p-0 m-0 p-t-11 f-10 t-align-r">cm</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-3">
                        <input type="text" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true"
                          min="0" (paste)="onPaste($event)" name="heightIn" class="form-control merge-popup-width" placeholder="Height"
                          formControlName="heightIn" id="heightIn" (change)="CmToInViceVersaChangedDrag('heightCm', 'InToCm', $event.target.value);"
                          [ngStyle]="{'background-color': ( this.highlightFlag && ( DropDetailsForm.value.heightIn != DragDetailsForm.value.heightIn))?'#ecf542':''}"
                        />
                      </div>
                      <label class="col-sm-1 p-0 m-0 p-t-6 f-10 t-align-c">x</label>
                      <div class="col-sm-3">
                        <input type="text" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true"
                          min="0" (paste)="onPaste($event)" name="widthIn" class="form-control merge-popup-width" placeholder="Width"
                          formControlName="widthIn" id="widthIn" (change)="CmToInViceVersaChangedDrag('widthCm', 'InToCm', $event.target.value);"
                          [ngStyle]="{'background-color': 
                        (this.highlightFlag && ( DropDetailsForm.value.widthIn != DragDetailsForm.value.widthIn))?'#ecf542':''}"
                        />
                      </div>
                      <label class="col-sm-1 p-0 m-0 p-t-6 f-10 t-align-c">x</label>
                      <div class="col-sm-3 pull-right">
                        <span class="col-sm-9 p-0 row b-b-1-ddd">
                          <input type="text" name="depthIn" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true"
                            class="form-control merge-popup-depth col-sm-12 p-0 row pull-right" placeholder="Depth" (paste)="onPaste($event)"
                            min="0" formControlName="depthIn" id="depthIn" (change)="CmToInViceVersaChangedDrag('depthCm', 'InToCm', $event.target.value);"
                            [ngStyle]="{'background-color': ( this.highlightFlag && ( DropDetailsForm.value.depthIn != DragDetailsForm.value.depthIn))?'#ecf542':''}"
                          />
                        </span>
                        <span class="col-sm-1 pull-right d-inline-block row p-0 m-0 p-t-11 f-10 t-align-r">in</span>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-12">
                        <input type="text" name="sizeText" class="form-control" placeholder="Size Text" formControlName="sizeText" id="sizeText"
                          placeholder="Size Text" maxlength="500" [ngStyle]="{'background-color': ( this.highlightFlag && ( DropDetailsForm.value.sizeText != DragDetailsForm.value.sizeText))?'#ecf542':''}">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-4">
                        <input type="number" min="0" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 110 || event.keyCode == 190 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true"
                          name="yearStart" class="form-control" formControlName="yearStart" id="yearStart" placeholder="Year - From"
                          [ngStyle]="{'background-color': (this.highlightFlag && ( DropDetailsForm.value.yearStart != DragDetailsForm.value.yearStart))?'#ecf542':''}"
                        />
                        <div *ngIf="DragDetailsForm.controls['yearStart'].hasError('pattern')" class="alert alert-danger">
                          Please enter 4 digit number
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <input type="number" min="0" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 110 || event.keyCode == 190 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true"
                          name="yearEnd" class="form-control" formControlName="yearEnd" id="yearEnd" placeholder="Year - To"
                          [ngStyle]="{'background-color': 
                        ( this.highlightFlag && ( DropDetailsForm.value.yearEnd != DragDetailsForm.value.yearEnd))?'#ecf542':''}"
                        />
                        <div *ngIf="DragDetailsForm.controls['yearEnd'].hasError('pattern')" class="alert alert-danger">
                          Please enter 4 digit number
                        </div>
                      </div>
                      <div class="col-sm-4 pull-right p-0" [ngStyle]="{'background-color': 
                      ( this.highlightFlag && ( DropDetailsForm.value.yearCirca != DragDetailsForm.value.yearCirca))?'#ecf542':''}">
                        <label class="checkbox-inline check f-11 p-0">
                          Circa
                          <input type="checkbox" class="checkboxEvent" name="yearCirca" value="yearCirca" formControlName="yearCirca" id="chk" (focus)="addOutline($event)"
                            (blur)="removeOutline($event)">
                          <div>
                            <i class="fa fa-check"></i>
                          </div>
                        </label>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-4">
                        <input type="number" min="0" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 110 || event.keyCode == 190 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true"
                          name="castYearStart" class="form-control" formControlName="castYearStart" id="castYearStart" placeholder="Cast Year - From"
                          [ngStyle]="{'background-color': 
                        ( this.highlightFlag && ( DropDetailsForm.value.castYearStart != DragDetailsForm.value.castYearStart))?'#ecf542':''}"
                        />
                        <div *ngIf="DragDetailsForm.controls['castYearStart'].hasError('pattern')" class="alert alert-danger">
                          Please enter 4 digit number
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <input type="number" min="0" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 110 || event.keyCode == 190 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true"
                          name="castYearEnd" class="form-control" formControlName="castYearEnd" id="castYearEnd" placeholder="Cast Year - To"
                          [ngStyle]="{'background-color': 
                        ( this.highlightFlag && ( DropDetailsForm.value.castYearEnd != DragDetailsForm.value.castYearEnd))?'#ecf542':''}"
                        />
                        <div *ngIf="DragDetailsForm.controls['castYearEnd'].hasError('pattern')" class="alert alert-danger">
                          Please enter 4 digit number
                        </div>
                      </div>
                      <div class="col-sm-4 pull-right p-0">
                        <div class="row">
                          <div class="col-sm-12">
                            <label class="checkbox-inline check f-11 p-0" [ngStyle]="{'background-color': 
                            ( this.highlightFlag && ( DropDetailsForm.value.castYearCirca != DragDetailsForm.value.castYearCirca))?'#ecf542':''}">
                              Circa
                              <input type="checkbox" class="checkboxEvent" name="castYearCirca" value="castYearCirca" formControlName="castYearCirca" id="chk"
                                (focus)="addOutline($event)" (blur)="removeOutline($event)">
                              <div>
                                <i class="fa fa-check"></i>
                              </div>
                            </label>
                          </div>
                          <div class="col-sm-12">
                            <label class="checkbox-inline check f-11 p-0" [ngStyle]="{'background-color': 
                            (this.highlightFlag && ( DropDetailsForm.value.posthumous != DragDetailsForm.value.posthumous))?'#ecf542':''}">
                              PH&nbsp;&nbsp;&nbsp;
                              <input type="checkbox" class="checkboxEvent" name="posthumous" value="posthumous" formControlName="posthumous" id="chk" (focus)="addOutline($event)"
                                (blur)="removeOutline($event)">
                              <div>
                                <i class="fa fa-check"></i>
                              </div>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-12">
                        <input type="text" name="yearText" class="form-control" placeholder="Year Text" formControlName="yearText" id="yearTxt" [ngStyle]="{'background-color': 
                        ( this.highlightFlag && ( DropDetailsForm.value.yearText != DragDetailsForm.value.yearText))?'#ecf542':''}">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-4 pull-left p-0">
                        <div class="col-sm-12">
                          <input type="text" name="editionNumber" class="form-control" formControlName="editionNumber" id="editionNumber" placeholder="Edition No."
                            [ngStyle]="{'background-color': (this.highlightFlag && ( DropDetailsForm.value.editionNumber != DragDetailsForm.value.editionNumber))?'#ecf542':''}"
                          />
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="col-sm-12" style="padding-left: 3px; padding-right: 3px;position: relative;" (mouseleave)="closeList(editionDragNameList, 'drageditionname')">
                          <ng2-completer formControlName='editionName' #editionDragNameList [datasource]='editionTypeService' (keydown)="dragEditionNameListOpen=!dragEditionNameListOpen"
                            (blur)="validateSelectedItemDrag(editionDragNameList.value, 'editionName')" [minSearchLength]='0'
                            placeholder="Edition Type" [ngClass]=" ( this.highlightFlag && ( DropDetailsForm.value.editionName!= DragDetailsForm.value.editionName))?'compare-field':'' "
                            (change)="changeDragFunction($event)" (selected)="changeDragFunction($event)"></ng2-completer>
                          <div class="list-caret" (click)="openList(editionDragNameList, 'drageditionname')">
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4 p-0 pull-right">
                        <div class="col-sm-12">
                          <input type="text" name="editionSizeTotal" class="form-control mousePointer" formControlName="editionSizeTotal" id="editionSizeTotal"
                            (click)="EditionModalPromptDrag()" placeholder="Edition Size Total" [ngStyle]="{'background-color': 
                          ( this.highlightFlag && ( DropDetailsForm.value.editionSizeTotal != DragDetailsForm.value.editionSizeTotal))?'#ecf542':''}"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-4 pull-left">
                        <div class="col-sm-11 p-0 d-inline-block">
                          <input type="number" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true"
                            name="weight" min="0" (paste)="onPaste($event)" formControlName="weight" class="form-control" id="weight"
                            placeholder="Weight" [ngStyle]="{'background-color': 
                          ( this.highlightFlag && ( DropDetailsForm.value.weight != DragDetailsForm.value.weight))?'#ecf542':''}"
                          />
                        </div>
                        <span class="col-sm-1 pull-left d-inline-block row p-0 m-0 p-t-11 f-10 t-align-r">kg</span>
                      </div>
                      <div class="col-sm-8 pull-right">
                        <div class="col-sm-11 p-0 d-inline-block pull-right">
                          <input type="text" name="foundry" class="form-control" formControlName="foundry" placeholder="Foundry" id="foundry" [ngStyle]="{'background-color': 
                          ( this.highlightFlag && ( DropDetailsForm.value.foundry != DragDetailsForm.value.foundry))?'#ecf542':''}"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="form-group m-t-10">
                      <div class="row check-30-padding">
                        <div class="col-sm-3 p-0">
                          <label class="control-label f-11 p-0 checkbox-inline check pull-left" [ngStyle]="{'background-color': ( this.highlightFlag && ( DropDetailsForm.value.certificate != DragDetailsForm.value.certificate))?'#ecf542':''}">
                            Certificate
                            <input type="checkbox" name="certificate" class="form-control checkboxEvent" formControlName="certificate" value="certificate"
                              id="chk" (focus)="addOutline($event)" (blur)="removeOutline($event)" />
                            <div class="checkbox-margin">
                              <i class="fa fa-check"></i>
                            </div>
                          </label>
                        </div>
                        <div class="col-sm-2 p-0">
                          <label class="control-label f-11 p-0 checkbox-inline check" [ngStyle]="{'background-color': (this.highlightFlag && ( DropDetailsForm.value.signed != DragDetailsForm.value.signed))?'#ecf542':''}">
                            Signed
                            <input type="checkbox" name="signed" class="form-control checkboxEvent" formControlName="signed" value="signed" id="chk"
                              (focus)="addOutline($event)" (blur)="removeOutline($event)" />
                            <div class="checkbox-margin">
                              <i class="fa fa-check"></i>
                            </div>
                          </label>
                        </div>
                        <div class="col-sm-3 p-0">
                          <label class="control-label f-11 p-0 checkbox-inline check" [ngStyle]="{'background-color': (this.highlightFlag && ( DropDetailsForm.value.stamped != DragDetailsForm.value.stamped))?'#ecf542':''}">
                            Stamped
                            <input type="checkbox" name="stamped" class="form-control checkboxEvent" formControlName="stamped" value="stamped" id="chk"
                              (focus)="addOutline($event)" (blur)="removeOutline($event)" />
                            <div class="checkbox-margin">
                              <i class="fa fa-check"></i>
                            </div>
                          </label>
                        </div>
                        <div class="col-sm-4 p-0">
                          <label class="control-label f-11 p-0 checkbox-inline check" [ngStyle]="{'background-color': ( this.highlightFlag && ( DropDetailsForm.value.authentication != DragDetailsForm.value.authentication))?'#ecf542':''}">
                            Authentication
                            <input type="checkbox" name="authentication" class="form-control checkboxEvent" formControlName="authentication" value="authentication"
                              id="chk" (focus)="addOutline($event)" (blur)="removeOutline($event)" />
                            <div class="checkbox-margin">
                              <i class="fa fa-check"></i>
                            </div>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group m-t-10">
                      <div class="col-sm-6 p-0 pull-left">
                        <div class="col-sm-12" *ngIf="highlightFlag">
                          <tag-input formControlName="archiveNumber" [ngClass]="compareArchive()?'compare-archived':'' " id="archiveNumber" [editable]='true'
                            [addOnPaste]='true' [trimTags]='true' secondaryPlaceholder="Archive No." placeholder="" blinkIfDupe="true"
                            addOnBlur="true" [(ngModel)]="archiveNoTagsDrag" (onAdd)="getArchiveNumbersDrag();" (onRemove)="getArchiveNumbersDrag()"
                            (onFocus)="getArchiveNumbersDrag()" (onBlur)="getArchiveNumbersDrag()" (onTextChange)="getArchiveNumbersDrag()"></tag-input>
                        </div>
                        <div class="col-sm-12 archiveNumbers-color" *ngIf="!highlightFlag">
                          <tag-input formControlName="archiveNumber" id="archiveNumber" [editable]='true' [addOnPaste]='true' [trimTags]='true' secondaryPlaceholder="Archive No."
                            placeholder="" blinkIfDupe="true" addOnBlur="true" [(ngModel)]="archiveNoTagsDrag" (onAdd)="getArchiveNumbersDrag();"
                            (onRemove)="getArchiveNumbersDrag()" (onFocus)="getArchiveNumbersDrag()" (onBlur)="getArchiveNumbersDrag()"
                            (onTextChange)="getArchiveNumbersDrag()"></tag-input>
                        </div>
                      </div>
                      <div class="col-sm-6 p-0 pull-right">
                        <div class="col-sm-12">
                          <input formControlName="sortCode" class="form-control" placeholder="Sort Code" id="sortCode" [ngStyle]="{'background-color': (this.highlightFlag && ( DropDetailsForm.value.sortCode != DragDetailsForm.value.sortCode))?'#ecf542':''}"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6" style="padding: 1px;">
                    <div class="panel m-t-10">
                      <div class="panel-heading">
                        <h5 class="panel-title">Flags</h5>
                      </div>
                      <div class="panel-body" formGroupName="flags">
                        <div class="row">
                          <div class="col-sm-8 pull-left">
                            <div class="row p-0">
                              <span class="col-sm-5 p-0">
                                <span class="pull-right row">
                                  <label class="checkbox-inline check" [ngStyle]="{'background-color': ( this.highlightFlag && ( DropDetailsForm.value.flags.flagAuthenticity != DragDetailsForm.value.flags.flagAuthenticity) )?'#ecf542':''}">
                                    Authenticity
                                    <input type="checkbox" formControlName="flagAuthenticity" class="check-flags-authenticity checkboxEvent" value="" id="chk"
                                      (focus)="addOutline($event)" (blur)="removeOutline($event)" />
                                    <div>
                                      <i class="fa fa-check"></i>
                                    </div>
                                  </label>
                                </span>
                              </span>
                              <span class="col-sm-5 p-0">
                                <span class="pull-right row">
                                  <label class="checkbox-inline check " [ngStyle]="{'background-color': ( this.highlightFlag && ( DropDetailsForm.value.flags.flagRestitution != DragDetailsForm.value.flags.flagRestitution))?'#ecf542':''}">
                                    Restitution
                                    <input type="checkbox" formControlName="flagRestitution" class="check-flags-restitution checkboxEvent" value="" id="chk"
                                      (focus)="addOutline($event)" (blur)="removeOutline($event)" />
                                    <div>
                                      <i class="fa fa-check"></i>
                                    </div>
                                  </label>
                                </span>
                              </span>
                              <span class="col-sm-5 p-0">
                                <span class="pull-right row">
                                  <label class="checkbox-inline check" [ngStyle]="{'background-color': ( this.highlightFlag && ( DropDetailsForm.value.flags.flagSfs != DragDetailsForm.value.flags.flagSfs))?'#ecf542':''}">
                                    SFS
                                    <input type="checkbox" formControlName="flagSfs" class="check-flags-sfs checkboxEvent" value="" id="chk" (focus)="addOutline($event)"
                                      (blur)="removeOutline($event)" />
                                    <div>
                                      <i class="fa fa-check"></i>
                                    </div>
                                  </label>
                                </span>
                              </span>
                              <span class="col-sm-5 p-0">
                                <span class="pull-right row">
                                  <label class="checkbox-inline check" [ngStyle]="{'background-color': ( this.highlightFlag && ( DropDetailsForm.value.flags.flagCondition != DragDetailsForm.value.flags.flagCondition))?'#ecf542':''}">
                                    Condition
                                    <input type="checkbox" formControlName="flagCondition" class="check-flags-condition checkboxEvent" value="" id="chk" (focus)="addOutline($event)"
                                      (blur)="removeOutline($event)" />
                                    <div>
                                      <i class="fa fa-check"></i>
                                    </div>
                                  </label>
                                </span>
                              </span>
                              <span class="col-sm-5 p-0">
                                <span class="pull-right row">
                                  <label class="checkbox-inline check" [ngStyle]="{'background-color': (this.highlightFlag && ( DropDetailsForm.value.flags.flagMedium != DragDetailsForm.value.flags.flagMedium))?'#ecf542':''}">
                                    Medium
                                    <input type="checkbox" formControlName="flagMedium" class="check-flags-medium checkboxEvent" value="" id="chk" (focus)="addOutline($event)"
                                      (blur)="removeOutline($event)" />
                                    <div>
                                      <i class="fa fa-check"></i>
                                    </div>
                                  </label>
                                </span>
                              </span>
                            </div>
                          </div>
                          <div class="col-sm-4 pull-right" style="padding:0;padding-right:5px">
                            <span class="col-sm-12 p-0" style="position: relative;" (mouseleave)="closeList(dragDetailsFlagsCountryList, 'dragflagscountry')">
                              <ng2-completer formControlName='flagsCountry' #dragDetailsFlagsCountryList [(ngModel)]="dragDetailsFlagsCountryValue" (keydown)="dragFlagsCountryListOpen=!dragFlagsCountryListOpen"
                                (blur)="validateSelectedItemDrag(dragDetailsFlagsCountryList.value, 'flagsCountry')" [datasource]='countryService'
                                [minSearchLength]='0' placeholder="Country" [ngClass]=" ( this.highlightFlag && ( DropDetailsForm.value.flags.flagsCountry!= DragDetailsForm.value.flags.flagsCountry))?'compare-field':'' "
                                (change)="changeDragFunction($event)" (selected)="changeDragFunction($event)"></ng2-completer>
                              <div class="list-caret" (click)="openList(dragDetailsFlagsCountryList, 'dragflagscountry')">
                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                              </div>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="panel">
                      <div class="panel-heading">
                        <h3 class="panel-title">Researcher Notes
                          <span class="r-complete-check">
                            <label class="control-label f-11 p-0 checkbox-inline check" [ngStyle]="{'background-color': ( this.highlightFlag && ( DropDetailsForm.value.researchCompleteCheck != DragDetailsForm.value.researchCompleteCheck))?'#ecf542':''}">
                              Complete
                              <input type="checkbox" name="complete" value="complete" class="form-control checkboxEvent" formControlName="researchCompleteCheck"
                                id="chk" (focus)="addOutline($event)" (blur)="removeOutline($event)" />
                              <div>
                                <i class="fa fa-check"></i>
                              </div>
                            </label>
                          </span>
                        </h3>
                        <div class="panel-body">
                          <div class="row">
                            <div class="col-sm-12 p-0">
                              <div class="col-sm-6 p-0">
                                <div class="col-sm-12 pull-left">
                                  <input type="text" value='' [readonly]="true" class="form-control" name="researcherName" formControlName='researcherName'
                                    placeholder="Researcher Name" [ngStyle]="{'background-color': (this.highlightFlag && ( dragDisplayName != dropDisplayName))?'#ecf542':''}"
                                  />
                                </div>
                              </div>
                              <div class="col-sm-6 p-0">
                                <div class="col-sm-12 pull-right">
                                  <input class="form-control" [readonly]="true" name="researcherNotesDate" formControlName='researcherNotesDate' placeholder="DD MMM YYYY"
                                    [ngStyle]="{'background-color': ( this.highlightFlag && ( dropResearcherDate != dragResearcherDate))?'#ecf542':''}"
                                  />
                                </div>
                                <div *ngIf="DragDetailsForm.controls['researcherNotesDate'].hasError('pattern')" class="alert alert-danger">
                                  Date should be in the format 'dd mmm yyyy.'
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-12 p-0 p-t-20">
                              <div class="col-sm-12">
                                <textarea rows="3" [readonly]="false" (keyup)="setResearcherInfo('drag')" class="b-1-ddd col-sm-12 researcher-notes" formControlName='researcherNotesText'
                                  maxlength="1000" [ngStyle]="{'background-color': (this.highlightFlag && ( DropDetailsForm.value.researcherNotesText != DragDetailsForm.value.researcherNotesText))?'#ecf542':''}"></textarea>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="panel h-400">
                      <div class="panel-body">
                        <table class="table table-sm table-striped table-scroll">
                          <thead>
                            <tr>
                              <th>CR</th>
                              <th>Type</th>
                              <th>Author</th>
                              <th>Volume</th>
                              <th>Number</th>
                            </tr>
                          </thead>
                          <tbody class="scrollable row" id='tblCatalogRaisonnees'>
                            <tr *ngFor="let raisonnes of propertyCatalogRaisonneeDrag; let i=index;">
                              <td *ngIf="!Dragged?.id" class="f-12">{{i+1 }}</td>
                              <td *ngIf="!Dragged?.id" class="f-12">{{raisonnes.type}}</td>
                              <td *ngIf="!Dragged?.id" class="f-12">{{raisonnes.author}}</td>
                              <td *ngIf="!Dragged?.id">
                                <input type='text' [value]="raisonnes.volumeCR?raisonnes.volumeCR:null" (input)="raisonnes.volumeCR = $event.target.value;checkCR()"
                                  class='form-control volumes w-75' placeholder="Volume" />
                              </td>
                              <td *ngIf="!Dragged?.id">
                                <input type='text' [value]="raisonnes.numberCR?raisonnes.numberCR:null" (input)="raisonnes.numberCR = $event.target.value;checkCR()"
                                  class='form-control number w-75' placeholder="Number" />
                              </td>
                            </tr>
                            <tr *ngFor="let raisonnes of propertyCatalogRaisonneeDrag; let i=index;" [ngClass]="( this.highlightFlag && raisonnes.color)?'colorYellow':''">
                              <td *ngIf="Dragged?.id" class="f-12">{{i+1 }}</td>
                              <td *ngIf="Dragged?.id" class="f-12">{{raisonnes.artistCatalogueRaisoneeType}}</td>
                              <td *ngIf="Dragged?.id" class="f-12">{{raisonnes.artistCatalogueRaisoneeAuthor}}</td>
                              <td *ngIf="Dragged?.id">
                                <input type='text' [value]="raisonnes.volume?raisonnes.volume:null" (input)="raisonnes.volume = $event.target.value;checkCR()"
                                  class='form-control volumes w-75' placeholder="Volume" />
                              </td>
                              <td *ngIf="Dragged?.id">
                                <input type='text' [value]="raisonnes.number?raisonnes.number:null" (input)="raisonnes.number = $event.target.value;checkCR()"
                                  class='form-control number w-75' placeholder="Number" />
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <app-event-report-component [objectId]="Dragged?.id" class="app-event-report-component" [setOptions]="eventHistoryOptions"></app-event-report-component>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <style type="text/css">
        .selected-auto-list-color {
          background-color: #E0E0E0 !important;
          font-size: 11px !important;
          border-radius: 25px !important;
          padding: 2px 9px !important;
          color: #555 !important;
          float: left !important;
          margin: 5px 0 0 6px !important;
        }

        .colorYellow {
          background-color: #ecf542 !important;
        }
      </style>