﻿<div *ngIf="loading===true" class="loading-thumbnail">
  <img src="assets/images/ajax-loader-thumbnail.gif" alt="">
</div>
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" (wheel)="mouseHeaderFunction()">
  <!-- Brand and toggle get grouped for better mobile display -->
  <app-header (click)="redirectPage();"></app-header>
  <!-- Top Menu Items -->
  <ul class="nav top-nav">
    <li>
      <ul class="nav top-nav">
        <li>
          <a style="padding-right: 7px" (click)="(total_pages>0) && (curPageValue>1) && pageFunction('prevPage');toggleFlag=0;">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <input *ngIf="total_pages>0" type="text" #paginationInput style="width:85px" value="{{paginationInput.value}}" [(ngModel)]='curPageValue'
            (keypress)="getCurrValueThumnails(paginationInput.value,$event)" [disabled]="total_pages>0?false:true">
          <b style="color:#FFF;" *ngIf="total_pages>0">/ {{total_pages}}</b>
          <input *ngIf="total_pages<=0" [style.width.px]="widthStyle" value="{{emptyPagination}}" type="text" [disabled]="true">
          <b style="color:#FFF;" *ngIf="total_pages<=0">/</b>
        </li>
        <li>
          <a style="padding-left: 5px" (click)="(total_pages>0) && (total_pages>curPageValue)&& pageFunction('nextPage');toggleFlag=0;">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
    <li>
      <select (change)="onNavigate($event.target.value)" class="form-control">
        <option value="mainView">Main View</option>
        <option selected="thumbnail" value="thumbnail">Thumbnail View</option>
        <option value="presentation">Presentation View</option>
      </select>
    </li>
    <li>
      <sort #sortComponent (sorting)="onSort($event)"></sort>
    </li>
    <li>
      <ul class="top-nav p-0 p-l-10 p-r-10">
        <li [class]="!sorted?'noPointerEvents':''">
          <a (click)="sortAscending()">
            <i class="fa fa-sort-up v-align-baseline-middle" id="sort-asc" title="Ascending"></i>
          </a>
        </li>
        <li [class]="!sorted?'noPointerEvents':''">
          <a (click)="sortDescending()">
            <i class="fa fa-sort-down" id="sort-desc" title="Descending"></i>
          </a>
        </li>
      </ul>
    </li>
    <li>
      <select #selectView (change)="onSelect($event.target.value)" class="form-control">
        <option value="selected" selected="selected">Select Thumbnail</option>
        <option value="selectAll">Select All</option>
        <option value="deselectAll">Deselect All</option>
      </select>
    </li>
    <template #target>
    </template>
  </ul>
</nav>
<div id="dragabbleProgressbarDelete">
  <p-dialog header="{{deletedObjectsCount}} / {{totalobjectstobedeleted}} deleted" [(visible)]="showDeleteProgressbar" width="300"
    [responsive]="true" [closable]="false" [positionTop]="100" [positionLeft]="1030"></p-dialog>
</div>
<div id="page-wrapper" (window:keydown)="keyboardShortCutFunction($event)">
  <div class="container-fluid">
    <div class="col-lg-12 col-sm-12">
      <div class="panel">
        <div class="panel-body">
          <div class="row" *ngIf="allDetails && allDetails.content && allDetails.content.length" infinite-scroll [infiniteScrollDistance]="2"
            [infiniteScrollUpDistance]="1.5" [infiniteScrollThrottle]="500" (scrolled)="onScrollDown($event)" (scrolledUp)="onScrollUp($event)">
            <div *ngFor="let event of allDetails.content; let i= index; " (wheel)="mouseDomFunction(i)" (mouseenter)="mouseDomFunction(i)"
              (auxclick)="mouseDomFunction(i)">
              <div class="col-lg-12 col-sm-12 text-center" *ngIf="i%16===0">
                <h4 class="pageDivide">
                  <span>Page {{(i/16)+1+enterP}}</span>
                </h4>
              </div>
              <div class="col-lg-3 col-sm-3">
                <div class="list-group m-b-10 col-sm-12" dnd-draggable [dragEnabled]="true" [dragData]="event" (onDragSuccess)="orderedProduct($event)"
                  [dropZones]="['demo1']">
                  <!-- Checkbox -->
                  <label class="checkbox-merge-inline check f-11">
                    <input type="checkbox" [checked]="isChecked" (click)="getSelectedObjects($event, event)" id="chk{{i}}" class="pull-right"
                      name="checkThumb" />
                  </label>
                  <a id="{{i==16?'jumpSPage':''}}" [class]="event.researchCompleteCheck?'list-group-item thumb-link':'list-group-item thumb-link prg-bkgrd-color-false'"
                    dnd-droppable (onDropSuccess)="addToBasket($event,event)" [dropZones]="['demo1']">
                    <div class="row p-0 m-0">
                      <!-- image DIV -->
                      <div class="col-sm-5 img-style">
                        <div *ngIf="event.imagePath">
                          <img id="thumbnail_{{i}}" class="img-resized" src="{{this.URL+'/properties/'+event.id+'/images/default?'}}{{timeStamp}}"
                            (error)="highlightThumbnail(i,event.id)" onError="this.style.display='none'" alt="" />
                        </div>
                      </div>
                      <!-- Object Details DIV -->
                      <div class="col-sm-7 object-details-outer-container">
                        <div class="row m-l-r-0">
                          <a target="_blank" [routerLink]="['../object']" [queryParams]="{id: event.id}" (click)="viewObject(event)" class="object-thumbnail">
                            <div class="col-sm-12 lineHeight">
                              <div class="object-details-inner-container">
                                <span *ngFor="let subItem of event['artists']">
                                  {{subItem.display}}
                                </span>
                                <br/>
                                <span *ngIf="event.originalTitle">
                                  <span>
                                    {{event.originalTitle}}
                                  </span>
                                  <br/>
                                </span>
                                <span *ngIf="event.medium">
                                  <span>{{event.medium}}</span>
                                  <br/>
                                </span>
                                <span *ngIf="event.sizeText">
                                  <span>{{event.sizeText}}</span>
                                  <br/>
                                </span>
                                <span *ngIf="!event.sizeText && (event.heightCm||event.widthCm||event.depthCm)">
                                  <span *ngIf="(event.heightCm&&event.widthCm&&event.depthCm) || (event.heightCm&&event.widthCm) else PresizeTypeNameWithComma">{{(event.presizeType&&event.presizeType.name)?event.presizeType.name+': ':''}}</span>
                                  <ng-template #PresizeTypeNameWithComma>
                                    <span>{{(event.presizeType&&event.presizeType.name)?event.presizeType.name+', ':''}}</span>
                                  </ng-template>
                                  <span *ngIf="event.heightCm && (!event.widthCm && !event.depthCm)">height: </span>
                                  <span *ngIf="event.widthCm && (!event.heightCm && !event.depthCm)">width: </span>
                                  <span *ngIf="event.depthCm && (!event.heightCm && !event.widthCm)">depth: </span>
                                  <span>
                                    {{event.heightCm}}{{(event.heightCm&&event.widthCm)?' x':''}} {{event.widthCm}}{{ (event.widthCm&&event.depthCm)?' x':''
                                    }} {{event.depthCm}}cm.
                                  </span>
                                  <span>
                                    ({{(event.heightCm?(((event.heightCm * 0.393701).toFixed(1))%1 == 0? (((event.heightCm * 0.393701).toFixed(1)+'').split('.')[0])
                                    : ((event.heightCm * 0.393701).toFixed(1))):'')}} {{(event.heightCm&&event.widthCm)?'
                                    x':''}} {{(event.widthCm?(((event.widthCm * 0.393701).toFixed(1))%1 == 0? (((event.widthCm
                                    * 0.393701).toFixed(1)+'').split('.')[0]) : ((event.widthCm * 0.393701).toFixed(1))):'')}}
                                    {{(event.widthCm&&event.depthCm)?' x':''}} {{(event.depthCm?(((event.depthCm * 0.393701).toFixed(1))%1
                                    == 0? (((event.depthCm * 0.393701).toFixed(1)+'').split('.')[0]) : ((event.depthCm *
                                    0.393701).toFixed(1))):'')}} in.)
                                  </span>
                                  <br/>
                                </span>
                                <span *ngIf="event.yearText else noYearText">
                                  {{event.yearText}}
                                  <br/>
                                </span>
                                <ng-template #noYearText>
                                  <span *ngIf="event.castYearCirca == true && event.yearCirca == true">
                                    <span *ngIf="(event.yearStart != event.yearEnd) && (event.castYearStart != event.castYearEnd)">
                                      {{((event.yearStart && event.yearEnd && event.castYearStart && event.castYearEnd)?('Executed c.' + event.yearStart + '-'
                                      + event.yearEnd + ', Cast c. ' +event.castYearStart + '-' + event.castYearEnd):"")}}
                                      <span *ngIf="(event.yearStart && event.yearEnd && event.castYearStart && event.castYearEnd)">
                                        <br/>
                                      </span>
                                    </span>
                                    <span *ngIf="(event.yearStart == event.yearEnd) && (event.castYearStart == event.castYearEnd)">
                                      {{((event.yearStart && event.yearEnd && event.castYearStart && event.castYearEnd)?('Executed c.' + event.yearStart + ', Cast
                                      c. ' +event.castYearStart):"")}}
                                      <span *ngIf="(event.yearStart && event.yearEnd && event.castYearStart && event.castYearEnd)">
                                        <br/>
                                      </span>
                                    </span>
                                    <span *ngIf="(event.yearStart == event.yearEnd) && (event.castYearStart != event.castYearEnd)">
                                      {{((event.yearStart && event.yearEnd && event.castYearStart && event.castYearEnd)?('Executed c.' + event.yearStart + ', Cast
                                      c. ' +event.castYearStart + '-' + event.castYearEnd):"")}}
                                      <span *ngIf="(event.yearStart && event.yearEnd && event.castYearStart && event.castYearEnd)">
                                        <br/>
                                      </span>
                                    </span>
                                    <span *ngIf="(event.yearStart != event.yearEnd) && (event.castYearStart == event.castYearEnd)">
                                      {{((event.yearStart && event.yearEnd && event.castYearStart && event.castYearEnd)?('Executed c.' + event.yearStart + '-'
                                      + event.yearEnd + ', Cast c. ' +event.castYearStart):"")}}
                                      <span *ngIf="(event.yearStart && event.yearEnd && event.castYearStart && event.castYearEnd)">
                                        <br/>
                                      </span>
                                    </span>
                                  </span>
                                  <span *ngIf="event.castYearCirca != true && event.yearCirca == true">
                                    <span *ngIf="(event.yearStart != event.yearEnd) && (event.castYearStart != event.castYearEnd)">
                                      {{((event.yearStart && event.yearEnd && event.castYearStart && event.castYearEnd)?('Executed c.' + event.yearStart + '-'
                                      + event.yearEnd + ', Cast in ' +event.castYearStart + '-' + event.castYearEnd):"")}}
                                      <span *ngIf="(event.yearStart && event.yearEnd && event.castYearStart && event.castYearEnd)">
                                        <br/>
                                      </span>
                                    </span>
                                    <span *ngIf="(event.yearStart == event.yearEnd) && (event.castYearStart == event.castYearEnd)">
                                      {{((event.yearStart && event.yearEnd && event.castYearStart && event.castYearEnd)?('Executed c.' + event.yearStart + ', Cast
                                      in ' +event.castYearStart):"")}}
                                      <span *ngIf="(event.yearStart && event.yearEnd && event.castYearStart && event.castYearEnd)">
                                        <br/>
                                      </span>
                                    </span>
                                    <span *ngIf="(event.yearStart == event.yearEnd) && (event.castYearStart != event.castYearEnd)">
                                      {{((event.yearStart && event.yearEnd && event.castYearStart && event.castYearEnd)?('Executed c.' + event.yearStart + ', Cast
                                      in ' +event.castYearStart + '-' + event.castYearEnd):"")}}
                                      <span *ngIf="(event.yearStart && event.yearEnd && event.castYearStart && event.castYearEnd)">
                                        <br/>
                                      </span>
                                    </span>
                                    <span *ngIf="(event.yearStart != event.yearEnd) && (event.castYearStart == event.castYearEnd)">
                                      {{((event.yearStart && event.yearEnd && event.castYearStart && event.castYearEnd)?('Executed c.' + event.yearStart + '-'
                                      + event.yearEnd + ', Cast in ' +event.castYearStart):"")}}
                                      <span *ngIf="(event.yearStart && event.yearEnd && event.castYearStart && event.castYearEnd)">
                                        <br/>
                                      </span>
                                    </span>
                                    <span *ngIf="(event.yearStart != event.yearEnd) && (event.castYearStart == null) && (event.castYearEnd == null)">
                                      {{((event.yearStart && event.yearEnd)?('Executed c.' + event.yearStart + '-' + event.yearEnd):"")}}
                                      <span *ngIf="(event.yearStart && event.yearEnd)">
                                        <br/>
                                      </span>
                                    </span>
                                    <span *ngIf="(event.yearStart == event.yearEnd) && (event.castYearStart == null) && (event.castYearEnd == null)">
                                      {{((event.yearStart && event.yearEnd)?('Executed c.' + event.yearStart):"")}}
                                      <span *ngIf="(event.yearStart && event.yearEnd)">
                                        <br/>
                                      </span>
                                    </span>
                                  </span>
                                  <span *ngIf="event.castYearCirca == true && event.yearCirca != true">
                                    <span *ngIf="(event.yearStart != event.yearEnd) && (event.castYearStart != event.castYearEnd)">
                                      {{((event.yearStart && event.yearEnd && event.castYearStart && event.castYearEnd)?('Executed in ' + event.yearStart + '-'
                                      + event.yearEnd + ', Cast c. ' +event.castYearStart + '-' + event.castYearEnd):"")}}
                                      <span *ngIf="(event.yearStart && event.yearEnd && event.castYearStart && event.castYearEnd)">
                                        <br/>
                                      </span>
                                    </span>
                                    <span *ngIf="(event.yearStart == event.yearEnd) && (event.castYearStart == event.castYearEnd)">
                                      {{((event.yearStart && event.yearEnd && event.castYearStart && event.castYearEnd)?('Executed in ' + event.yearStart + ',
                                      Cast c. ' +event.castYearStart):"")}}
                                      <span *ngIf="(event.yearStart && event.yearEnd && event.castYearStart && event.castYearEnd)">
                                        <br/>
                                      </span>
                                    </span>
                                    <span *ngIf="(event.yearStart == event.yearEnd) && (event.castYearStart != event.castYearEnd)">
                                      {{((event.yearStart && event.yearEnd && event.castYearStart && event.castYearEnd)?('Executed in ' + event.yearStart + ',
                                      Cast c. ' +event.castYearStart + '-' + event.castYearEnd):"")}}
                                      <span *ngIf="(event.yearStart && event.yearEnd && event.castYearStart && event.castYearEnd)">
                                        <br/>
                                      </span>
                                    </span>
                                    <span *ngIf="(event.yearStart != event.yearEnd) && (event.castYearStart == event.castYearEnd)">
                                      {{((event.yearStart && event.yearEnd && event.castYearStart && event.castYearEnd)?('Executed in ' + event.yearStart + '-'
                                      + event.yearEnd + ', Cast c. ' +event.castYearStart):"")}}
                                      <span *ngIf="(event.yearStart && event.yearEnd && event.castYearStart && event.castYearEnd)">
                                        <br/>
                                      </span>
                                    </span>
                                    <span *ngIf="(event.yearStart == null) && (event.yearEnd == null) && (event.castYearStart != event.castYearEnd)">
                                      {{((event.castYearStart && event.castYearEnd)?('Cast c. ' +event.castYearStart + '-' + event.castYearEnd):"")}}
                                      <span *ngIf="(event.castYearStart && event.castYearEnd)">
                                        <br/>
                                      </span>
                                    </span>
                                    <span *ngIf="(event.yearStart ==  null) && (event.yearEnd == null) && (event.castYearStart == event.castYearEnd)">
                                      {{((event.castYearStart && event.castYearEnd)?('Cast c. ' +event.castYearStart):"")}}
                                      <span *ngIf="(event.castYearStart && event.castYearEnd)">
                                        <br/>
                                      </span>
                                    </span>
                                  </span>
                                  <span *ngIf="event.castYearCirca != true && event.yearCirca != true">
                                    <span *ngIf="(event.yearStart != event.yearEnd) && (event.castYearStart != event.castYearEnd)">
                                      {{((event.yearStart && event.yearEnd && event.castYearStart && event.castYearEnd)?('Executed in ' + event.yearStart + '-'
                                      + event.yearEnd + ', Cast in ' +event.castYearStart + '-' + event.castYearEnd):"")}}
                                      <span *ngIf="(event.yearStart && event.yearEnd && event.castYearStart && event.castYearEnd)">
                                        <br/>
                                      </span>
                                    </span>
                                    <span *ngIf="(event.yearStart == event.yearEnd) && (event.castYearStart == event.castYearEnd)">
                                      {{((event.yearStart && event.castYearStart && event.yearEnd && event.castYearEnd)?('Executed in '+ event.yearStart + ', Cast
                                      in '+event.castYearStart):'')}}
                                      <span *ngIf="(event.yearStart && event.yearEnd && event.castYearStart && event.castYearEnd)">
                                        <br/>
                                      </span>
                                    </span>
                                    <span *ngIf="(event.yearStart == event.yearEnd) && (event.castYearStart != event.castYearEnd)">
                                      {{((event.yearStart && event.castYearStart && event.yearEnd && event.castYearEnd)?('Executed in '+ event.yearStart + ', Cast
                                      in '+event.castYearStart+'-'+event.castYearEnd):'')}}
                                      <span *ngIf="(event.yearStart && event.yearEnd && event.castYearStart && event.castYearEnd)">
                                        <br/>
                                      </span>
                                    </span>
                                    <span *ngIf="(event.yearStart != event.yearEnd) && (event.castYearStart == event.castYearEnd)">
                                      {{((event.yearStart && event.castYearStart && event.yearEnd && event.castYearEnd)?('Executed in '+ event.yearStart + '-'+event.yearEnd+',
                                      Cast in '+event.castYearStart):'')}}
                                      <span *ngIf="(event.yearStart && event.yearEnd && event.castYearStart && event.castYearEnd)">
                                        <br/>
                                      </span>
                                    </span>
                                    <span *ngIf="(event.yearStart == null) && (event.yearEnd == null) && (event.castYearStart != event.castYearEnd)">
                                      {{((event.castYearStart&& event.castYearEnd)?('Cast in '+event.castYearStart+'-'+event.castYearEnd):'')}}
                                      <span *ngIf="(event.castYearStart && event.castYearEnd)">
                                        <br/>
                                      </span>
                                    </span>
                                    <span *ngIf="(event.yearStart != event.yearEnd) && (event.castYearStart == null) && (event.castYearEnd == null)">
                                      {{((event.yearStart && event.yearEnd)?('Executed in '+ event.yearStart + '-' +event.yearEnd):'')}}
                                      <span *ngIf="(event.yearStart && event.yearEnd)">
                                        <br/>
                                      </span>
                                    </span>
                                    <span *ngIf="(event.yearStart == event.yearEnd) && (event.castYearStart == null) && (event.castYearEnd == null)">
                                      {{((event.yearStart && event.yearEnd)?('Executed in '+ event.yearStart):'')}}
                                      <span *ngIf="(event.yearStart && event.yearEnd)">
                                        <br/>
                                      </span>
                                    </span>
                                    <span *ngIf="(event.yearStart == null) && (event.yearEnd == null) && (event.castYearStart == event.castYearEnd)">
                                      {{((event.castYearStart && event.castYearEnd)?('Cast in '+ event.castYearStart):'')}}
                                      <span *ngIf="(event.castYearStart && event.castYearEnd)">
                                        <br/>
                                      </span>
                                    </span>
                                  </span>
                                </ng-template>
                                <span *ngIf="!event.editionOverride">
                                  <span *ngIf="event.editionSizeTypeName==='Unspecified'||event.editionSizeTypeName==='Known'">
                                    <span *ngIf="event.editionNumber&&event.editionSizeTotal">
                                      <span *ngIf="event.editionName==='Series'">
                                        <span *ngIf="event.seriesTotal == -1 ">
                                          {{event.editionNumber}} of unknown
                                        </span>
                                        <span *ngIf="event.seriesTotal != -1 && (event.artistProofTotal == -1||event.trialProofTotal == -1||event.bonATirerTotal == -1||event.printersProofTotal == -1||event.horsCommerceProofTotal == -1 ||event.dedicatedProofTotal == -1||event.museumProofTotal == -1)">
                                          {{event.editionNumber}} of {{(event.seriesTotal?(event.seriesTotal == -1?'unknown':event.seriesTotal):'')+(event.artistProofTotal?'
                                          + '+(event.artistProofTotal == -1?'unknown':event.artistProofTotal)+'AP':'')+(event.trialProofTotal?'
                                          + '+(event.trialProofTotal == -1?'unknown':event.trialProofTotal)+'TP':'')+(event.bonATirerTotal?'
                                          + '+(event.bonATirerTotal == -1?'unknown':event.bonATirerTotal)+'BAT':'')+(event.printersProofTotal?'
                                          + '+(event.printersProofTotal == -1?'unknown':event.printersProofTotal)+'PP':'')+(event.horsCommerceProofTotal?'
                                          + '+(event.horsCommerceProofTotal == -1?'unknown':event.horsCommerceProofTotal)+'HC':'')+(event.dedicatedProofTotal?'
                                          + '+(event.dedicatedProofTotal == -1?'unknown':event.dedicatedProofTotal)+'DP':'')+(event.museumProofTotal?'
                                          + '+(event.museumProofTotal == -1?'unknown':event.museumProofTotal)+'MP':'')}}
                                        </span>
                                        <span *ngIf="event.seriesTotal != -1 && event.artistProofTotal != -1 && event.trialProofTotal != -1 && event.bonATirerTotal != -1 && event.printersProofTotal != -1 && event.horsCommerceProofTotal != -1 && event.dedicatedProofTotal != -1 && event.museumProofTotal != -1">
                                          {{event.editionNumber}} of {{(event.seriesTotal?(event.seriesTotal == -1?1:event.seriesTotal):'')+(event.artistProofTotal?'
                                          + '+(event.artistProofTotal == -1?'':event.artistProofTotal)+'AP':'')+(event.trialProofTotal?'
                                          + '+(event.trialProofTotal == -1?'':event.trialProofTotal)+'TP':'')+(event.bonATirerTotal?'
                                          + '+(event.bonATirerTotal == -1?'':event.bonATirerTotal)+'BAT':'')+(event.printersProofTotal?'
                                          + '+(event.printersProofTotal == -1?'':event.printersProofTotal)+'PP':'')+(event.horsCommerceProofTotal?'
                                          + '+(event.horsCommerceProofTotal == -1?'':event.horsCommerceProofTotal)+'HC':'')+(event.dedicatedProofTotal?'
                                          + '+(event.dedicatedProofTotal == -1?'':event.dedicatedProofTotal)+'DP':'')+(event.museumProofTotal?'
                                          + '+(event.museumProofTotal == -1?'':event.museumProofTotal)+'MP':'')}}
                                        </span>
                                        <br/>
                                      </span>
                                      <span *ngIf="event.editionName==='AP' ||event.editionName==='TP'||event.editionName==='BAT'||event.editionName==='PP'||event.editionName==='HC'||event.editionName==='DP'||event.editionName==='MP'||event.editionName ==='BTP'||event.editionName ==='CP'||event.editionName ==='CTP'||event.editionName ==='PRP'||event.editionName ==='RTP'||event.editionName ==='WP'||event.editionName ==='FP/PP'||event.editionName ==='HCP'">
                                        <span *ngIf="event.seriesTotal == -1 && (!event.artistProofTotal && !event.trialProofTotal && !event.bonATirerTotal && !event.printersProofTotal && !event.horsCommerceProofTotal  && !event.dedicatedProofTotal && !event.museumProofTotal) ">
                                          {{event.editionNumber}} of unknown
                                        </span>
                                        <span *ngIf="event.seriesTotal  && (event.artistProofTotal == -1||event.trialProofTotal == -1||event.bonATirerTotal == -1||event.printersProofTotal == -1||event.horsCommerceProofTotal == -1 ||event.dedicatedProofTotal == -1||event.museumProofTotal == -1)">
                                          {{event.editionNumber}} of {{(event.seriesTotal?(event.seriesTotal == -1?'unknown':event.seriesTotal):'')+(event.artistProofTotal?'
                                          + '+(event.artistProofTotal == -1?'unknown':event.artistProofTotal)+'AP':'')+(event.trialProofTotal?'
                                          + '+(event.trialProofTotal == -1?'unknown':event.trialProofTotal)+'TP':'')+(event.bonATirerTotal?'
                                          + '+(event.bonATirerTotal == -1?'unknown':event.bonATirerTotal)+'BAT':'')+(event.printersProofTotal?'
                                          + '+(event.printersProofTotal == -1?'unknown':event.printersProofTotal)+'PP':'')+(event.horsCommerceProofTotal?'
                                          + '+(event.horsCommerceProofTotal == -1?'unknown':event.horsCommerceProofTotal)+'HC':'')+(event.dedicatedProofTotal?'
                                          + '+(event.dedicatedProofTotal == -1?'unknown':event.dedicatedProofTotal)+'DP':'')+(event.museumProofTotal?'
                                          + '+(event.museumProofTotal == -1?'unknown':event.museumProofTotal)+'MP':'')}}
                                        </span>
                                        <span *ngIf="event.seriesTotal != -1 && event.artistProofTotal != -1 && event.trialProofTotal != -1 && event.bonATirerTotal != -1 && event.printersProofTotal != -1 && event.horsCommerceProofTotal != -1 && event.dedicatedProofTotal != -1 && event.museumProofTotal != -1">
                                          {{event.editionName+event.editionNumber}} of {{(event.seriesTotal?(event.seriesTotal == -1?1:event.seriesTotal):'')+(event.artistProofTotal?'
                                          + '+(event.artistProofTotal == -1?'':event.artistProofTotal)+'AP':'')+(event.trialProofTotal?'
                                          + '+(event.trialProofTotal == -1?'':event.trialProofTotal)+'TP':'')+(event.bonATirerTotal?'
                                          + '+(event.bonATirerTotal == -1?'':event.bonATirerTotal)+'BAT':'')+(event.printersProofTotal?'
                                          + '+(event.printersProofTotal == -1?'':event.printersProofTotal)+'PP':'')+(event.horsCommerceProofTotal?'
                                          + '+(event.horsCommerceProofTotal == -1?'':event.horsCommerceProofTotal)+'HC':'')+(event.dedicatedProofTotal?'
                                          + '+(event.dedicatedProofTotal == -1?'':event.dedicatedProofTotal)+'DP':'')+(event.museumProofTotal?'
                                          + '+(event.museumProofTotal == -1?'':event.museumProofTotal)+'MP':'')}}
                                        </span>
                                        <br/>
                                      </span>
                                      <span *ngIf="!event.editionName">
                                        <span *ngIf="event.seriesTotal != -1 && (event.artistProofTotal || event.trialProofTotal || event.bonATirerTotal || event.printersProofTotal || event.horsCommerceProofTotal || event.dedicatedProofTotal || event.museumProofTotal) && ((event.artistProofTotal != -1) && (event.trialProofTotal != -1) && (event.bonATirerTotal != -1) && (event.printersProofTotal != -1) && (event.horsCommerceProofTotal != -1) && (event.dedicatedProofTotal != -1) && (event.museumProofTotal != -1))">
                                          ed.{{event.editionNumber}}
                                        </span>
                                        <span *ngIf="event.seriesTotal == -1 && (event.artistProofTotal || event.trialProofTotal || event.bonATirerTotal || event.printersProofTotal || event.horsCommerceProofTotal || event.dedicatedProofTotal || event.museumProofTotal) && ((event.artistProofTotal != -1) && (event.trialProofTotal != -1) && (event.bonATirerTotal != -1) && (event.printersProofTotal != -1) && (event.horsCommerceProofTotal != -1) && (event.dedicatedProofTotal != -1) && (event.museumProofTotal != -1))">
                                          {{event.editionNumber}} of unknown {{event.artistProofTotal?'+ '+event.artistProofTotal+'AP':''}} {{event.trialProofTotal?'+
                                          '+event.trialProofTotal+'TP':''}} {{event.bonATirerTotal?'+ '+event.bonATirerTotal+'BAT':''}}
                                          {{event.printersProofTotal?'+ '+event.printersProofTotal+'PP':''}} {{event.horsCommerceProofTotal?'+
                                          '+event.horsCommerceProofTotal+'HC':''}} {{event.dedicatedProofTotal?'+ '+event.dedicatedProofTotal+'DP':''}}
                                          {{event.museumProofTotal?'+ '+event.museumProofTotal+'MP':''}}
                                        </span>
                                        <span *ngIf="event.seriesTotal && (event.artistProofTotal == -1 || event.trialProofTotal == -1 || event.bonATirerTotal == -1|| event.printersProofTotal == -1|| event.horsCommerceProofTotal == -1|| event.dedicatedProofTotal == -1||event.museumProofTotal == -1)">
                                          {{event.editionNumber}} of {{(event.seriesTotal?(event.seriesTotal == -1?'unknown':event.seriesTotal):'')+(event.artistProofTotal?'
                                          + '+(event.artistProofTotal == -1?'unknown':event.artistProofTotal)+' AP':'')+(event.trialProofTotal?'
                                          + '+(event.trialProofTotal == -1?'unknown':event.trialProofTotal)+' TP':'')+(event.bonATirerTotal?'
                                          + '+(event.bonATirerTotal == -1?'unknown':event.bonATirerTotal)+' BAT':'')+(event.printersProofTotal?'
                                          + '+(event.printersProofTotal == -1?'unknown':event.printersProofTotal)+' PP':'')+(event.horsCommerceProofTotal?'
                                          + '+(event.horsCommerceProofTotal == -1?'unknown':event.horsCommerceProofTotal)+'
                                          HC':'')+(event.dedicatedProofTotal?' + '+(event.dedicatedProofTotal == -1?'unknown':event.dedicatedProofTotal)+'
                                          DP':'')+(event.museumProofTotal?' + '+(event.museumProofTotal == -1?'unknown':event.museumProofTotal)+'
                                          MP':'')}}
                                        </span>
                                        <span *ngIf="event.seriesTotal == -1 && (!event.artistProofTotal && !event.trialProofTotal && !event.bonATirerTotal && !event.printersProofTotal && !event.horsCommerceProofTotal  && !event.dedicatedProofTotal && !event.museumProofTotal)">
                                          {{event.editionNumber}} of unknown
                                        </span>
                                        <span *ngIf="!event.seriesTotal && (event.artistProofTotal == -1 || event.trialProofTotal == -1 || event.bonATirerTotal == -1|| event.printersProofTotal == -1|| event.horsCommerceProofTotal == -1|| event.dedicatedProofTotal == -1||event.museumProofTotal == -1)">
                                          {{event.editionNumber}} of {{(event.artistProofTotal?(event.artistProofTotal == -1?'unknown':event.artistProofTotal)+' AP':'')+(event.trialProofTotal?'
                                          + '+(event.trialProofTotal == -1?'unknown':event.trialProofTotal)+' TP':'')+(event.bonATirerTotal?'
                                          + '+(event.bonATirerTotal == -1?'unknown':event.bonATirerTotal)+' BAT':'')+(event.printersProofTotal?'
                                          + '+(event.printersProofTotal == -1?'unknown':event.printersProofTotal)+' PP':'')+(event.horsCommerceProofTotal?'
                                          + '+(event.horsCommerceProofTotal == -1?'unknown':event.horsCommerceProofTotal)+'
                                          HC':'')+(event.dedicatedProofTotal?' + '+(event.dedicatedProofTotal == -1?'unknown':event.dedicatedProofTotal)+'
                                          DP':'')+(event.museumProofTotal?' + '+(event.museumProofTotal == -1?'unknown':event.museumProofTotal)+'
                                          MP':'')}}
                                        </span>
                                        <br/>
                                      </span>
                                    </span>
                                    <span *ngIf="event.editionNumber&&!event.editionSizeTotal">
                                      <span *ngIf="event.editionName==='Series'">
                                        {{event.editionNumber}} of Unspecified edition
                                        <br/>
                                      </span>
                                      <span *ngIf="event.editionName==='AP' ||event.editionName==='TP'||event.editionName==='BAT'||event.editionName==='PP'||event.editionName==='HC'||event.editionName==='DP'||event.editionName==='MP'||event.editionName ==='BTP'||event.editionName ==='CP'||event.editionName ==='CTP'||event.editionName ==='PRP'||event.editionName ==='RTP'||event.editionName ==='WP'||event.editionName ==='FP/PP'||event.editionName ==='HCP'">
                                        {{event.editionName+event.editionNumber}} of Unspecified edition
                                        <br/>
                                      </span>
                                      <span *ngIf="!event.editionName">
                                        ed.{{event.editionNumber}}
                                        <br/>
                                      </span>
                                    </span>
                                    <span *ngIf="!event.editionNumber&&event.editionSizeTotal">
                                      <span *ngIf="event.editionName==='Series'">
                                        <span *ngIf="event.seriesTotal == -1 ">
                                          unknown of unknown
                                        </span>
                                        <span *ngIf="event.seriesTotal != -1 && (event.artistProofTotal == -1||event.trialProofTotal == -1||event.bonATirerTotal == -1||event.printersProofTotal == -1||event.horsCommerceProofTotal == -1 ||event.dedicatedProofTotal == -1||event.museumProofTotal == -1)">
                                          {{"Unknown "+event.editionName}} of {{(event.seriesTotal?(event.seriesTotal == -1?'unknown':event.seriesTotal):'')+(event.artistProofTotal?'
                                          + '+(event.artistProofTotal == -1?'unknown':event.artistProofTotal)+'AP':'')+(event.trialProofTotal?'
                                          + '+(event.trialProofTotal == -1?'unknown':event.trialProofTotal)+'TP':'')+(event.bonATirerTotal?'
                                          + '+(event.bonATirerTotal == -1?'unknown':event.bonATirerTotal)+'BAT':'')+(event.printersProofTotal?'
                                          + '+(event.printersProofTotal == -1?'unknown':event.printersProofTotal)+'PP':'')+(event.horsCommerceProofTotal?'
                                          + '+(event.horsCommerceProofTotal == -1?'unknown':event.horsCommerceProofTotal)+'HC':'')+(event.dedicatedProofTotal?'
                                          + '+(event.dedicatedProofTotal == -1?'unknown':event.dedicatedProofTotal)+'DP':'')+(event.museumProofTotal?'
                                          + '+(event.museumProofTotal == -1?'unknown':event.museumProofTotal)+'MP':'')}}
                                        </span>
                                        <span *ngIf="event.seriesTotal != -1 && event.artistProofTotal != -1 && event.trialProofTotal != -1 && event.bonATirerTotal != -1 && event.printersProofTotal != -1 && event.horsCommerceProofTotal != -1 && event.dedicatedProofTotal != -1 && event.museumProofTotal != -1">
                                          Unknown of {{(event.seriesTotal?(event.seriesTotal == -1?1:event.seriesTotal):'')+(event.artistProofTotal?' + '+(event.artistProofTotal
                                          == -1?'':event.artistProofTotal)+'AP':'')+(event.trialProofTotal?' + '+(event.trialProofTotal
                                          == -1?'':event.trialProofTotal)+'TP':'')+(event.bonATirerTotal?' + '+(event.bonATirerTotal
                                          == -1?'':event.bonATirerTotal)+'BAT':'')+(event.printersProofTotal?' + '+(event.printersProofTotal
                                          == -1?'':event.printersProofTotal)+'PP':'')+(event.horsCommerceProofTotal?' + '+(event.horsCommerceProofTotal
                                          == -1?'':event.horsCommerceProofTotal)+'HC':'')+(event.dedicatedProofTotal?' +
                                          '+(event.dedicatedProofTotal == -1?'':event.dedicatedProofTotal)+'DP':'')+(event.museumProofTotal?'
                                          + '+(event.museumProofTotal == -1?'':event.museumProofTotal)+'MP':'')}}
                                        </span>
                                        <br/>
                                      </span>
                                      <span *ngIf="event.editionName==='AP' ||event.editionName==='TP'||event.editionName==='BAT'||event.editionName==='PP'||event.editionName==='HC'||event.editionName==='DP'||event.editionName==='MP'||event.editionName ==='BTP'||event.editionName ==='CP'||event.editionName ==='CTP'||event.editionName ==='PRP'||event.editionName ==='RTP'||event.editionName ==='WP'||event.editionName ==='FP/PP'||event.editionName ==='HCP'">
                                        <span *ngIf="event.seriesTotal == -1 && (!event.artistProofTotal && !event.trialProofTotal && !event.bonATirerTotal && !event.printersProofTotal && !event.horsCommerceProofTotal  && !event.dedicatedProofTotal && !event.museumProofTotal) ">
                                          unknown of unknown
                                        </span>
                                        <span *ngIf="event.seriesTotal && (event.artistProofTotal == -1||event.trialProofTotal == -1||event.bonATirerTotal == -1||event.printersProofTotal == -1||event.horsCommerceProofTotal == -1 ||event.dedicatedProofTotal == -1||event.museumProofTotal == -1)">
                                          {{"Unknown "+event.editionName}} of {{(event.seriesTotal?(event.seriesTotal == -1?'unknown':event.seriesTotal):'')+(event.artistProofTotal?'
                                          + '+(event.artistProofTotal == -1?'unknown':event.artistProofTotal)+'AP':'')+(event.trialProofTotal?'
                                          + '+(event.trialProofTotal == -1?'unknown':event.trialProofTotal)+'TP':'')+(event.bonATirerTotal?'
                                          + '+(event.bonATirerTotal == -1?'unknown':event.bonATirerTotal)+'BAT':'')+(event.printersProofTotal?'
                                          + '+(event.printersProofTotal == -1?'unknown':event.printersProofTotal)+'PP':'')+(event.horsCommerceProofTotal?'
                                          + '+(event.horsCommerceProofTotal == -1?'unknown':event.horsCommerceProofTotal)+'HC':'')+(event.dedicatedProofTotal?'
                                          + '+(event.dedicatedProofTotal == -1?'unknown':event.dedicatedProofTotal)+'DP':'')+(event.museumProofTotal?'
                                          + '+(event.museumProofTotal == -1?'unknown':event.museumProofTotal)+'MP':'')}}
                                        </span>
                                        <span *ngIf="event.seriesTotal != -1 && event.artistProofTotal != -1 && event.trialProofTotal != -1 && event.bonATirerTotal != -1 && event.printersProofTotal != -1 && event.horsCommerceProofTotal != -1 && event.dedicatedProofTotal != -1 && event.museumProofTotal != -1">
                                          {{"Unknown "+event.editionName}} of {{(event.seriesTotal?(event.seriesTotal == -1?1:event.seriesTotal):'')+(event.artistProofTotal?'
                                          + '+(event.artistProofTotal == -1?'':event.artistProofTotal)+'AP':'')+(event.trialProofTotal?'
                                          + '+(event.trialProofTotal == -1?'':event.trialProofTotal)+'TP':'')+(event.bonATirerTotal?'
                                          + '+(event.bonATirerTotal == -1?'':event.bonATirerTotal)+'BAT':'')+(event.printersProofTotal?'
                                          + '+(event.printersProofTotal == -1?'':event.printersProofTotal)+'PP':'')+(event.horsCommerceProofTotal?'
                                          + '+(event.horsCommerceProofTotal == -1?'':event.horsCommerceProofTotal)+'HC':'')+(event.dedicatedProofTotal?'
                                          + '+(event.dedicatedProofTotal == -1?'':event.dedicatedProofTotal)+'DP':'')+(event.museumProofTotal?'
                                          + '+(event.museumProofTotal == -1?'':event.museumProofTotal)+'MP':'')}}
                                        </span>
                                        <br/>
                                      </span>
                                      <span *ngIf="!event.editionName">
                                        <span *ngIf="event.seriesTotal == -1 && (!event.artistProofTotal && !event.trialProofTotal && !event.bonATirerTotal && !event.printersProofTotal && !event.horsCommerceProofTotal  && !event.dedicatedProofTotal && !event.museumProofTotal)">
                                          unknown of unknown
                                        </span>
                                        <span *ngIf="event.seriesTotal != -1 && event.artistProofTotal != -1 && event.trialProofTotal != -1 && event.bonATirerTotal != -1 && event.printersProofTotal != -1 && event.horsCommerceProofTotal != -1 && event.dedicatedProofTotal != -1 && event.museumProofTotal != -1; then editionSizeNonNegative else editionSizeSeriesWithOtherTotals">
                                        </span>
                                        <ng-template #editionSizeNonNegative>
                                          <span>Unknown of {{(event.seriesTotal?(event.seriesTotal == -1?1:event.seriesTotal):'')+(event.artistProofTotal?'
                                            + '+(event.artistProofTotal == -1?'':event.artistProofTotal)+'AP':'')+(event.trialProofTotal?'
                                            + '+(event.trialProofTotal == -1?'':event.trialProofTotal)+'TP':'')+(event.bonATirerTotal?'
                                            + '+(event.bonATirerTotal == -1?'':event.bonATirerTotal)+'BAT':'')+(event.printersProofTotal?'
                                            + '+(event.printersProofTotal == -1?'':event.printersProofTotal)+'PP':'')+(event.horsCommerceProofTotal?'
                                            + '+(event.horsCommerceProofTotal == -1?'':event.horsCommerceProofTotal)+'HC':'')+(event.dedicatedProofTotal?'
                                            + '+(event.dedicatedProofTotal == -1?'':event.dedicatedProofTotal)+'DP':'')+(event.museumProofTotal?'
                                            + '+(event.museumProofTotal == -1?'':event.museumProofTotal)+'MP':'')}}</span>
                                        </ng-template>
                                        <ng-template #editionSizeSeriesWithOtherTotals>
                                          <span *ngIf="event.seriesTotal  && (event.artistProofTotal || event.trialProofTotal ||event.bonATirerTotal ||event.printersProofTotal ||event.horsCommerceProofTotal  ||event.dedicatedProofTotal ||event.museumProofTotal)">
                                            {{"Unknown"}} of {{(event.seriesTotal?(event.seriesTotal == -1?'unknown':event.seriesTotal):'')+(event.artistProofTotal?'
                                            + '+(event.artistProofTotal == -1?'unknown':event.artistProofTotal)+'AP':'')+(event.trialProofTotal?'
                                            + '+(event.trialProofTotal == -1?'unknown':event.trialProofTotal)+'TP':'')+(event.bonATirerTotal?'
                                            + '+(event.bonATirerTotal == -1?'unknown':event.bonATirerTotal)+'BAT':'')+(event.printersProofTotal?'
                                            + '+(event.printersProofTotal == -1?'unknown':event.printersProofTotal)+'PP':'')+(event.horsCommerceProofTotal?'
                                            + '+(event.horsCommerceProofTotal == -1?'unknown':event.horsCommerceProofTotal)+'HC':'')+(event.dedicatedProofTotal?'
                                            + '+(event.dedicatedProofTotal == -1?'unknown':event.dedicatedProofTotal)+'DP':'')+(event.museumProofTotal?'
                                            + '+(event.museumProofTotal == -1?'unknown':event.museumProofTotal)+'MP':'')}}
                                          </span>
                                        </ng-template>
                                        <br/>
                                      </span>
                                    </span>
                                    <span *ngIf="!event.editionNumber&&!event.editionSizeTotal">
                                      <span *ngIf="event.editionName==='Series'">
                                        Unknown of Unspecified edition
                                        <br/>
                                      </span>
                                      <span *ngIf="event.editionName==='AP' ||event.editionName==='TP'||event.editionName==='BAT'||event.editionName==='PP'||event.editionName==='HC'||event.editionName==='DP'||event.editionName==='MP'||event.editionName ==='BTP'||event.editionName ==='CP'||event.editionName ==='CTP'||event.editionName ==='PRP'||event.editionName ==='RTP'||event.editionName ==='WP'||event.editionName ==='FP/PP'||event.editionName ==='HCP'">
                                        {{"Unknown "+event.editionName}} of Unspecified edition
                                        <br/>
                                      </span>
                                    </span>
                                  </span>
                                  <span *ngIf="event.editionSizeTypeName==='Open'||event.editionSizeTypeName==='Unknown'">
                                    <span *ngIf="event.editionNumber&&event.editionSizeTotal">
                                      <span *ngIf="event.editionName==='Series'">
                                        {{event.editionNumber}} of {{event.editionSizeTypeName==='Unknown'?"Unknown":"Open"}} edition
                                        <br/>
                                      </span>
                                      <span *ngIf="event.editionName==='AP' ||event.editionName==='TP'||event.editionName==='BAT'||event.editionName==='PP'||event.editionName==='HC'||event.editionName==='DP'||event.editionName==='MP'||event.editionName ==='BTP'||event.editionName ==='CP'||event.editionName ==='CTP'||event.editionName ==='PRP'||event.editionName ==='RTP'||event.editionName ==='WP'||event.editionName ==='FP/PP'||event.editionName ==='HCP'">
                                        {{event.editionName+event.editionNumber}} of {{event.editionSizeTypeName==='Unknown'?"Unknown":"Open"}} edition
                                        <br/>
                                      </span>
                                      <span *ngIf="!event.editionName">
                                        ed.{{event.editionNumber}}
                                        <br/>
                                      </span>
                                    </span>
                                    <span *ngIf="event.editionNumber&&!event.editionSizeTotal">
                                      <span *ngIf="event.editionName==='Series'">
                                        {{event.editionNumber}} of {{event.editionSizeTypeName==='Unknown'?"Unknown":"Open"}} edition
                                        <br/>
                                      </span>
                                      <span *ngIf="event.editionName==='AP' ||event.editionName==='TP'||event.editionName==='BAT'||event.editionName==='PP'||event.editionName==='HC'||event.editionName==='DP'||event.editionName==='MP'||event.editionName ==='BTP'||event.editionName ==='CP'||event.editionName ==='CTP'||event.editionName ==='PRP'||event.editionName ==='RTP'||event.editionName ==='WP'||event.editionName ==='FP/PP'||event.editionName ==='HCP'">
                                        {{event.editionName+event.editionNumber}} of {{event.editionSizeTypeName==='Unknown'?"Unknown":"Open"}} edition
                                        <br/>
                                      </span>
                                      <span *ngIf="!event.editionName">
                                        ed.{{event.editionNumber}}
                                        <br/>
                                      </span>
                                    </span>
                                    <span *ngIf="!event.editionNumber&&event.editionSizeTotal">
                                      <span *ngIf="event.editionName==='Series'">
                                        Unknown of {{event.editionSizeTypeName==='Unknown'?"Unknown":"Open"}} edition
                                        <br/>
                                      </span>
                                      <span *ngIf="event.editionName==='AP' ||event.editionName==='TP'||event.editionName==='BAT'||event.editionName==='PP'||event.editionName==='HC'||event.editionName==='DP'||event.editionName==='MP'||event.editionName ==='BTP'||event.editionName ==='CP'||event.editionName ==='CTP'||event.editionName ==='PRP'||event.editionName ==='RTP'||event.editionName ==='WP'||event.editionName ==='FP/PP'||event.editionName ==='HCP'">
                                        {{"Unknown "+event.editionName}} of {{event.editionSizeTypeName==='Unknown'?"Unknown":"Open"}} edition
                                        <br/>
                                      </span>
                                      <span *ngIf="!event.editionName">
                                        Unknown of {{event.editionSizeTypeName==='Unknown'?"Unknown":"Open"}} edition
                                        <br/>
                                      </span>
                                    </span>
                                    <span *ngIf="!event.editionNumber&&!event.editionSizeTotal">
                                      <span *ngIf="event.editionName==='Series'">
                                        Unknown of {{event.editionSizeTypeName==='Unknown'?"Unknown":"Open"}} edition
                                        <br/>
                                      </span>
                                      <span *ngIf="event.editionName==='AP' ||event.editionName==='TP'||event.editionName==='BAT'||event.editionName==='PP'||event.editionName==='HC'||event.editionName==='DP'||event.editionName==='MP'||event.editionName ==='BTP'||event.editionName ==='CP'||event.editionName ==='CTP'||event.editionName ==='PRP'||event.editionName ==='RTP'||event.editionName ==='WP'||event.editionName ==='FP/PP'||event.editionName ==='HCP'">
                                        {{"Unknown "+event.editionName}} of {{event.editionSizeTypeName==='Unknown'?"Unknown":"Open"}} edition
                                        <br/>
                                      </span>
                                    </span>
                                  </span>
                                  <span *ngIf="event.editionSizeTypeName==='Unique'">
                                    {{event.editionSizeTypeName}}
                                    <br/>
                                  </span>
                                </span>
                                <span *ngIf="event.editionOverride">
                                  {{event.editionOverride}}
                                  <br>
                                </span>
                                <span *ngIf="event.propertyCatalogueRaisonees.length>0">
                                  <span *ngFor="let catlogueres of (event.propertyCatalogueRaisonees); let i=index;">
                                    <span *ngIf="event.propertyCatalogueRaisonees.length>0">{{(catlogueres.number)?('CR'.concat(i+1)+':'+catlogueres.number):''}}
                                      <span *ngIf="catlogueres.number && i<event.propertyCatalogueRaisonees.length-1">,</span>
                                    </span>
                                  </span>
                                  <!--<span *ngIf="i>0" style="word-wrap:break-word;word-break:break-word;">
                                      CR{{i+1}}:{{cr.artistCatalogueRaisoneeAuthor}}:{{cr.volume}}:{{cr.number}}
                                    </span>-->
                                </span>
                                <span *ngFor="let catalogueres of (event.propertyCatalogueRaisonees); let i=index ">
                                  <span *ngIf="i===0">
                                    <br />
                                  </span>
                                </span>
                                <!--</span>-->
                                <span *ngIf="event.sortCode">
                                  <span>S:{{event.sortCode}}</span>
                                  <br/>
                                </span>
                                <span *ngIf="event.archiveNumbers.length>0">
                                  <span>
                                    A:
                                    <span *ngFor="let ARNo of (event.archiveNumbers | archiveNumberCheck); let i=index ">
                                      {{ARNo.archiveNumber}}
                                      <span *ngIf="i<event.archiveNumbers.length-1">,</span>
                                    </span>
                                  </span>
                                  <span *ngFor="let ARNo of (event.archiveNumbers | archiveNumberCheck); let i=index ">
                                    <span *ngIf="i===0">
                                      <br />
                                    </span>
                                  </span>
                                </span>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>