<div [formGroup]="form" class="form">
  <div class="row form-group">
    <div class="col-sm-12">
      <label for="icDescription">{{ dictionary.LABELS.DESCRIPTION }}</label>
      <textarea id="icDescription" class="form-control" rows="3" formControlName="description"></textarea>
      <span *ngIf="formErrors.description" class="help-block require">{{ formErrors.description }}</span>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-sm-12">
      <label for="icProvenance">{{ dictionary.LABELS.PROVENANCE }}</label>
      <textarea id="icProvenance" class="form-control" rows="4" formControlName="provenance"></textarea>
      <span *ngIf="formErrors.provenance" class="help-block require">{{ formErrors.provenance }}</span>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-sm-12">
      <label for="icExhibition">{{ dictionary.LABELS.EXHIBITION }}</label>
      <textarea id="icExhibition" class="form-control" rows="4" formControlName="exhibition"></textarea>
      <span *ngIf="formErrors.exhibition" class="help-block require">{{ formErrors.exhibition }}</span>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-sm-12">
      <label for="icLiterature">{{ dictionary.LABELS.LITERATURE }}</label>
      <textarea id="icLiterature" class="form-control" rows="4" formControlName="literature"></textarea>
      <span *ngIf="formErrors.literature" class="help-block require">{{ formErrors.literature }}</span>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-sm-6">
      <label for="icCondition">{{ dictionary.LABELS.CONDITION }}</label>
      <textarea id="icCondition" class="form-control" rows="3" formControlName="condition"></textarea>
      <span *ngIf="formErrors.condition" class="help-block require">{{ formErrors.condition }}</span>
    </div>
    <div class="col-sm-6">
      <label for="icNotes">{{ dictionary.LABELS.NOTES }}</label>
      <textarea id="icNotes" class="form-control" rows="3" formControlName="notes"></textarea>
      <span *ngIf="formErrors.notes" class="help-block require">{{ formErrors.notes }}</span>
    </div>
  </div>
</div>
