<div [formGroup]="listInputForm" class="form list-input-control">
  <div class="row form-group">
    <div class="col-sm-12">
      <label for="inputControl">{{ label }} </label>
      <div class="row">
        <div class="col-sm-10">
          <input id="inputControl" class="form-control" formControlName="inputControl" autocomplete="off" />
        </div>
        <div class="col-sm-2">
          <button id="addElement" class="btn btn-default" (click)="addElement();">
              <i class="fa fa-plus fa-lg addElement" aria-hidden="true" [title]="dictionary.ADD_BUTTON"></i>
            </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <ul class="elements">
        <li *ngFor="let item of data">
          <span class='name'>{{ item.establishment.name }}</span>
          <span class='city'>{{ item.establishment.cityName }}</span>
          <span class='date'>{{ item.date1 }}</span>
          <span class='date'>{{ item.date2 }}</span>
        </li>
      </ul>
    </div>
  </div>
</div>
