.list-input-control {

  border: 1px solid #ddd;
  padding: 10px 15px;
  margin: 10px 0;
  .elements {
    padding: 0;
    margin: 15px 0;
    list-style: none;
    li {
      margin: 2px 20px 0;
      padding: 5px;
      display: block;
    
      font-size: 10px;
      .name{
        font-weight:bold;
        display: block;
      }

      .city{
        padding-left:5px;
      }
      .city::after{
        content:"-";
        margin-left: 5px;
        display:inline-block;
      }
      .date {
        padding-left:5px;
      }
    }

    li:not(:last-child){
      border-bottom: 1px solid #ccc;
    }
  }
}