<div class="container-fluid removePadding">
  <h3 class="segment-title">{{ dictionary.OBJECTS.CURRENT_OWNERSHIP }}</h3>
  <app-external-client-form hideElements="['filter', 'notEditableWarning']" [disabled]="true">
  </app-external-client-form>
</div>