label.radio.male:focus:before, label.radio.male:hover:before, label.radio.male:active:before, input:checked + label.radio.male:before { 
    color: #4e7fca;;
}
label.radio.female:focus:before, label.radio.female:hover:before, label.radio.female:active:before, input:checked + label.radio.female:before { 
    color: #ff6838;;
} 
label.radio.female::before { 
   content: "\f182"; 
} 
label.radio.male::before { 
   content: "\f183"; 
}
input[type="radio"]:checked+label.male::before { 
    color: #4e7fca;
}
input[type="radio"]:checked+label.female::before { 
    color: #ff6838;
}
input[type="radio"]:not(:checked)+label.male::before, input[type="radio"]:not(:checked)+label.female::before { 
    color: #ccc;
}
input[type="radio"] {
    display: block;
    opacity: 0;
}
.notes-font{
	font-size:12px;
}
.artist-project-locked {
    margin-left: 10px;
    margin-top: 3px;
    padding: 4px 7px;
    font-size: 9px;
    color: #828181;
    background: #f7f8f9 !important;
    border: 1px solid rgba(176, 181, 214, 0.33) !important;
}
.nationality{
	font-size: 11px;
	background: #ebff50;
	padding: 0 7px !important;
	border-radius: 25px;
}
.table-striped > tbody {
    /*border-top: 1px solid rgba(0,0,0,.04);*/
    border-top: none;
    font-size: 12px;
}
.table-striped > tbody + tbody {
    border-top: 1px solid rgba(0,0,0,.04);
}
.table-striped > thead .fa-plus, .table-striped > tbody .fa-times {
    font-size: 8px;
}
.table-striped > tbody > tr:first-child > td {
    border-top: none;
}
.table-striped thead+tbody tr:first-child td {
    padding-top: 20px !important;
}
/* .nationality[_ngcontent-c1]{
    font-size: 11px;
    background: #ebff50;
    padding: 3px 8px !important;
    border-radius: 25px;
    float: left;
    margin: 3px;
    color: #333333;
    cursor: pointer;
}
.nationality[_ngcontent-c1] i {
    font-size: 7px;
    padding: 4px 2px 0 0;
    float: left;
} */
.country-list{
  margin-left: -15px;
}
.panel-230{
  height: 230px;
  overflow-y: auto;
}
.panel-280{
  height: 280px;
}
.panel-280-px{
  height: 280px;
}
.artist-title{
  font-size: 18px;
  font-weight: normal;  
}
.label-default{
  background-color:#777 ! important; 	
  color: #fff;
}
.table-striped thead tr th,
.table-striped thead tr th i.fa,
i.fa.fa-times {
    font-size: 12px !important;
}
.bottom-line-error .form-control{
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0,0);
}

#CRtable table tbody tr {
    width: 100%;
}
#CRtable table thead,
#CRtable table tbody tr {
    display: table;
    table-layout: fixed;
}

#CRtable table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}

#CRtable thead {
    flex: 0 0 auto;
    width: 97%;
}

#CRtable tbody {
    max-height: 240px;
    width: 100%;
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}

.CR-width{
    width:8%;
}

.Author-width{
    width: 22.3%;
}

ul li a {
    cursor: pointer;
}
input[type="checkbox"]{
  display: block;
}
input#chk {
  position: absolute;
  width: 1px; height: 0;
  margin: 0; margin-top: 4px; outline: none;
  border: 1px solid transparent; 
  background-color: transparent;
}
.outline {
  outline-color: rgb(77, 144, 254); /* #4D90FE */
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}