﻿	<!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <app-header (click)="redirectPage();"></app-header>
    <apps-footer [userName]="footerName"></apps-footer>
    <!-- Top Menu Items -->
    <ul class="nav top-nav">
      <li>
        <ul class="nav top-nav">
          <li>
          <a style="padding-left: 0px;padding-right: 0px;" (click)="redirectFLPage('firstPage');toggleFlag=0;">
            <i class="fa fa-step-backward" aria-hidden="true"></i>
          </a>
          </li>
          <li>
          <a style="padding-left: 5px;padding-right: 5px;" (click)="(total_pages>0) && (curPageValue>1) && pageFunction('prevPage');toggleFlag=0;">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </a>
          </li>
          <li>
          <input *ngIf="total_pages>0" type="text" #paginationInput style="width:85px" value="{{paginationInput.value}}" [(ngModel)]='curPageValue'
            (keypress)="getCurrValue(paginationInput.value,$event)" [disabled]="total_pages>0?false:true" class="currentValueMode">
          <b style="color:#FFF;" *ngIf="total_pages>0">/ {{total_pages}}</b>
          <input *ngIf="total_pages<=0" [style.width.px]="widthStyle" type="text" [disabled]="true" value="{{emptyPagination}}">
          <b style="color:#FFF;" *ngIf="total_pages<=0">/</b>
          </li>
          <li>
          <a style="padding-left: 4px;padding-right: 5px;" (click)="(total_pages>0) && (total_pages>curPageValue)&& pageFunction('nextPage');toggleFlag=0;">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </a>
          </li>
          <li>
          <a style="padding-left: 0px;padding-right: 0px;" (click)="redirectFLPage('lastPage');toggleFlag=0;">
            <i class="fa fa-step-forward" aria-hidden="true"></i>
          </a>
          </li>
        </ul>
      </li>
      <li class="pull-right">
        <ul class="nav top-nav">
          <li [class]="(headerFlag==='search' || headerFlag==='result'||headerFlag==='edit')?'mousePointer searchIconColor':'disabled'">
          <a (click)="(headerFlag==='search')?(onSubmit('searchMode',artistDetailsForm.value)):((headerFlag==='result'||headerFlag==='edit')?defaultMode():false);toggleFlag=0;"
            alt="Find Property (CTRL+SHIFT+F)">
            <i class="fa fa-search fa-lg" aria-hidden="true" title="Find Property (CTRL+SHIFT+F)"></i>
          </a>
          </li>
          <li *ngIf="(headerFlag==='search')" [class]="headerFlag==='search'?'mousePointer eraserIconColor':'disabled'">
          <a (click)="(headerFlag==='search') && defaultMode();toggleFlag=0;">
            <i class="fa fa-eraser fa-lg" aria-hidden="true" title="Clear Search"></i>
          </a>
          </li>
          <li *ngIf="(headerFlag==='result'||headerFlag==='edit' || headerFlag==='create')" [class]="(headerFlag==='result'||headerFlag==='edit'|| headerFlag==='create')?'mousePointer replyIconColor':'disabled'">
            <a (click)="(headerFlag==='result'||headerFlag==='edit' || headerFlag==='create') && backMode();toggleFlag=0;"><i class="fa fa fa-reply" aria-hidden="true" title="Back To Previous Search"></i></a>
          </li>
          <li [class]="(headerFlag==='search'||headerFlag==='result'||headerFlag==='edit')?'mousePointer plusIconColor':'disabled'">
          <a (click)="(headerFlag==='search'||headerFlag==='result'||headerFlag==='edit') && flagMode('addMode');toggleFlag=0;">
            <i class="fa fa-plus fa-lg" aria-hidden="true" title="Add Artist (ALT+SHIFT+N)"></i>
          </a>
          </li>
          <li [class]="(headerFlag==='result'||headerFlag==='edit'||headerFlag==='create')?'mousePointer floopyIconColor':'disabled'">
          <a (click)="(headerFlag==='result'||headerFlag==='edit'||headerFlag==='create') && onSubmit( ((searchMode ||editModeFlag) && activeArtist!=null)?'updateMode':'saveMode',artistDetailsForm.value);toggleFlag=0;">
            <i class="fa fa-floppy-o fa-lg" aria-hidden="true" title="Update Property (CTRL+SHIFT+S)"></i>
          </a>
          </li>
          <li class="dropdown" (click)="toggleFunction(1);" [ngClass]="{'open': toggleFlag === 1}">
            <a class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-ellipsis-h fa-lg"></i>
                          <!-- John Smith  -->
                        <b class="caret"></b>
                      </a>
            <ul class="dropdown-menu dropdown-padding-right">
              <li>
                <a (click)="this.saveSearchModal.saveSearchModal.open(); this.saveSearchModal.saveSearchParam = saveSearchParam;"><i id="saveSearch-Artist" class="fa fa-floppy-o" aria-hidden="true"></i> Save Search </a>
              </li>
              <li [class.disabled]="(activeArtist)?'':'disabled'">
              <a (click)="activeArtist && deleteConfirm(artistDetailsForm.value);">
                <i class="fa fa-trash" aria-hidden="true"></i> Delete </a>
              </li>
              <li class="divider"></li>
              <li>
              <a (click)="this.keycloak.logout()">
                <i class="fa fa-fw fa-power-off"></i> Log Out</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <div class="header-titles">
      <span class="header-text" *ngIf="headerFlag=='search'">Search Mode</span>
      <span class="header-text" *ngIf="headerFlag=='result'">Results Mode</span>
      <span class="header-text" *ngIf="headerFlag=='edit'">Edit Mode</span>
      <span class="header-text" *ngIf="headerFlag=='create'">Create Mode</span>
    </div>
  </nav>
  <ng2-toasty></ng2-toasty>
  <div class="container-fluid page-content flexbox-container" (window:keydown)="keyboardShortCutFunction($event)" (click)="toggleFlag=0;">
    <form class="form-horizontal" [formGroup]="artistDetailsForm">
      <div class="row horizontal-center">
        <div class="col-sm-4 col-sm-height column">
          <div class="panel">
            <div class="panel-heading">
              <h5 class="panel-title artist-title">Artist Details</h5>
            </div>
            <div class="panel-body panel-280-px">
              <div class="col-sm-12">
                <div class="form-group">
                  <div *ngIf="(!searchMode && this.headerFlag!=='create')" class="col-sm-6 autoFirstHightlight" [ngClass]="(!artistDetailsForm.controls['firstName'].valid && requiredFlag)?'has-error bottom-line-error':''" [class.selected]="nameFList">
                    <input #firstNameList ngui-auto-complete formControlName="firstName" [source]="fName" [list-formatter]="nameListFormatter" no-match-found-text="No records found" loading-text="Loading.."  min-chars="2" placeholder="First Name" (ngModelChange)="nameChange('firstName',$event)" class="form-control" (blur)="resetArtistNameInput('firstname')">
                  </div>
                  <div *ngIf="searchMode || this.headerFlag==='create'" class="col-sm-6" [ngClass]="(!artistDetailsForm.controls['firstName'].valid && requiredFlag)?'has-error bottom-line-error':''">
                  <input *ngIf="searchMode" (keyup)="onChangeFunction($event)" formControlName="firstName" placeholder="First Name" class="form-control"
                    (ngModelChange)="displayName('displayFName',$event)" [(ngModel)]="firstName">
                  <input *ngIf="this.headerFlag==='create'" (keyup)="onChangeFunction($event)" formControlName="firstName" placeholder="First Name"
                    class="form-control" (ngModelChange)="displayName('displayFName',$event)">
                  </div>
                  <div *ngIf="!searchMode && this.headerFlag!=='create'" class="col-sm-6 autoFirstHightlight" [ngClass]="(!artistDetailsForm.controls['lastName'].valid && requiredFlag)?'has-error bottom-line-error':''" [class.selected]="nameLList">
                    <input #lastNameList ngui-auto-complete formControlName="lastName" [source]="lName" [list-formatter]="nameListFormatter" no-match-found-text="No records found" loading-text="Loading.."  min-chars="2" placeholder="Last Name" (ngModelChange)="nameChange('lastName', $event)" class="form-control" (blur)="resetArtistNameInput('lastname')">
                  </div>
                  <div *ngIf="searchMode || this.headerFlag==='create'" class="col-sm-6" [ngClass]="(!artistDetailsForm.controls['lastName'].valid && requiredFlag)?'has-error bottom-line-error':''">
                  <input *ngIf="searchMode" (keyup)="onChangeFunction($event)" formControlName="lastName" placeholder="Last Name" class="form-control"
                    (ngModelChange)="displayName('displayLName',$event)" [(ngModel)]="lastName">
                  <input *ngIf="this.headerFlag==='create'" (keyup)="onChangeFunction($event)" formControlName="lastName" placeholder="Last Name"
                    class="form-control" (ngModelChange)="displayName('displayLName',$event)">
                  </div>
                </div>
                  <div class="form-group">
                    <div class="col-sm-6">
                      <input (keyup)="onChangeFunction($event)" type="number" min="0" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 110 || event.keyCode == 190 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true" name="birth" class="form-control" placeholder="Birth Year" formControlName="birthYear" (ngModelChange)="displayName('displayBYear', $event)" ngModel>
                      <div *ngIf="artistDetailsForm.controls['birthYear'].hasError('pattern')" class="alert alert-danger">
                        Please enter a 4 digit number
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <input (keyup)="onChangeFunction($event)" type="number" min="0" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 110 || event.keyCode == 190 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true" name="death" class="form-control" placeholder="Death Year" formControlName="deathYear" (ngModelChange)="displayName('displayDYear', $event)" ngModel>
                      <div *ngIf="artistDetailsForm.controls['deathYear'].hasError('pattern')" class="alert alert-danger">
                        Please enter a 4 digit number
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                  <input (keyup)="onChangeFunction($event)" type="text" name="display" placeholder="Display" formControlName="display" class="form-control"
                    ngModel>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-6 pull-left">
                      <div class="col-md-12 col-sm-12 country-list">
                    <span *ngFor="let item of selected" (click)="removeCountry(item); this.headerFlag = this.activeArtist?'edit':this.headerFlag;"
                      class="selected-auto-list coloryellow">
                      {{item.countryName}}
                      <i class="fa fa-times" aria-hidden="true"></i>
                                          </span>
                      </div>
                      <div class="col-md-12 col-sm-12 country-list autoFirstHightlight">
              <input ngui-auto-complete formControlName="countries" [source]="nCountry" [list-formatter]="nameListFormatter" no-match-found-text="No records found" loading-text="Loading.."  placeholder="Country" open-on-focus="false" min-chars="2" (valueChanged)="onChangeFunction($event);countryValChange($event);" (blur)="removeNationality($event)" class="form-control">
                      </div>
                    </div>
                    <div class="col-sm-6 pull-right">
                      <span class="radio d-inline-block">
                    <input type="radio" id="genderMale" name="gender" role="radio" (focus)="focusElement($event)" (blur)="removeFocusOnBlur($event)"
                      (click)="toggleGenderSelection($event);onChangeFunction($event);" formControlName="gender" value="Male"
                      ngModel>
                          <label class="radio male" for="genderMale">Male</label>
                      </span>
                      <span class="radio d-inline-block">
                    <input type="radio" id="genderFemale" role="radio" (focus)="focusElement($event)" (blur)="removeFocusOnBlur($event)" (click)="toggleGenderSelection($event);onChangeFunction($event);"
                      name="gender" value="Female" formControlName="gender" ngModel>
                          <label class="radio female" for="genderFemale">Female</label>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-sm-height column">
            <div class="panel">
              <div class="panel-heading">
                <h5 class="panel-title artist-title">Artist Projects</h5>
              </div>
              <div class="panel-body notes-font">
                <ul class="nav nav-tabs" role="tablist" *ngIf="this.showProjects==true">
                  <li class="active" (click)="this.showProjects=true"><a>Main</a></li>
                  <li (click)="this.showProjects=false"><a>Notes</a></li>
                </ul>
                <ul class="nav nav-tabs" role="tablist" *ngIf="this.showProjects==false">
                  <li (click)="this.showProjects=true"><a>Main</a></li>
                  <li class="active" (click)="this.showProjects=false"><a>Notes</a></li>
                </ul>
                <div class="table-responsive panel-230 tab-pane fade active in" *ngIf="this.showProjects==true">
                  <table class="table table-hover table-striped">
                    <thead>
                      <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let cat of categoryAll">
                        <td class="p-l-20">{{cat.name}}</td>
                        <td>
                          <label class="checkbox-inline check p-0">
                            <input type="checkbox" (change)="categoryChange(cat,$event);onChangeFunction($event);" [checked]="cat.status" id="chk" (focus)="addOutline($event)" (blur)="removeOutline($event)">
                        <div>
                          <i class="fa fa-check"></i>
                        </div>
                          </label>
                        </td>
                    <td>
                      <span class="label-default badge artist-project-locked">Locked</span>
                    </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="table-responsive panel-230 tab-pane fade active in" *ngIf="this.showProjects==false">
                  <div class="col-sm-12 m-t-10">
                    <textarea formControlName="notes" (keyup)="onChangeFunction($event)" rows="13" class="b-1-ddd col-sm-12 p-10" maxlength="250"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
      <div class="col-sm-5 col-sm-height column">
        <div class="panel">
          <div class="panel-heading">
            <h5 class="panel-title artist-title">Catalogue Raisonnes</h5>
          </div>
          <div class="panel-body panel-280" id="CRtable">
            <div class="table-responsive">
              <table class="table table-hover table-striped table-fixed" formArrayName="artistCatalogueRaisonees">
                <thead id="CRHead">
                  <tr>
                    <th class="CR-width">CR</th>
                    <th class="Author-width">Author</th>
                    <th class="Author-width">Year</th>
                    <th class="Author-width">Volumes</th>
                    <th class="Author-width">Type</th>
                    <th class="CR-width" *ngIf="!(headerFlag==='search') && activeArtist" (click)="addArtistCatalogueRaisonees();this.headerFlag = this.activeArtist?'edit':this.headerFlag;"><i class="fa fa-plus" aria-hidden="true"></i></th>
                  </tr>
                </thead>
                <tbody id="CRbody">
                 <ng-container *ngFor="let artistDet of artistDetailsForm.controls.artistCatalogueRaisonees.controls; let i=index">
                      <tr [formGroupName]="i" *ngIf="i<artistDetailsForm.controls.artistCatalogueRaisonees.controls.length-1">
                        <td class="CR-width">{{i+1}}
                        </td>
                        <td class="Author-width"> 
                      <input type="text" name="author" class="form-control" (ngModelChange)="indexCRArray(i)" formControlName="author" placeholder="Author"
                        style="padding: 0;">
                        </td>
                        <td class="Author-width"> 
                            <input type="number" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 110 || event.keyCode == 190 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true" name="year" class="form-control" (ngModelChange)="indexCRArray(i)" formControlName="year" placeholder="Year" style="padding: 0;">
                            <div *ngIf="artistDetailsForm.controls.artistCatalogueRaisonees.controls[i].controls['year'].hasError('pattern')" class="alert alert-danger">Please enter a 4 digit number</div>
                        </td>
                        <td class="Author-width"> 
                      <input type="text" name="volumes" (ngModelChange)="indexCRArray(i)" formControlName="volumes" class="form-control" placeholder="Volumes"
                        style="padding: 0;">
                        </td>
                        <td class="Author-width"> 
                      <input type="text" name="type" class="form-control" (ngModelChange)="indexCRArray(i)" formControlName="type" placeholder="Type"
                        style="padding: 0;">
                        </td>
                        <td class="CR-width" (click)="removeArtistCatalogueRaisonee(i,artistDetailsForm.value.artistCatalogueRaisonees[i]);onChangeFunctionCR();">
                          <i class="fa fa-times" aria-hidden="true"></i>
                        </td>
                      </tr>
                      <tr [formGroupName]="i" *ngIf="artistDetailsForm.value.artistCatalogueRaisonees[i].id && i==artistDetailsForm.controls.artistCatalogueRaisonees.controls.length-1">
                        <td class="CR-width">{{i+1}}
                        </td>
                        <td class="Author-width"> 
                      <input type="text" name="author" class="form-control" (ngModelChange)="indexCRArray(i)" formControlName="author" placeholder="Author"
                        style="padding: 0;">
                        </td>
                        <td class="Author-width"> 
                            <input type="number" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 110 || event.keyCode == 190 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true" name="year" class="form-control" (ngModelChange)="indexCRArray(i)" formControlName="year" placeholder="Year" style="padding: 0;">
                            <div *ngIf="artistDetailsForm.controls.artistCatalogueRaisonees.controls[i].controls['year'].hasError('pattern')" class="alert alert-danger">Please enter a 4 digit number</div>
                        </td>
                        <td class="Author-width"> 
                      <input type="text" name="volumes" (ngModelChange)="indexCRArray(i)" formControlName="volumes" class="form-control" placeholder="Volumes"
                        style="padding: 0;">
                        </td>
                        <td class="Author-width"> 
                      <input type="text" name="type" class="form-control" (ngModelChange)="indexCRArray(i)" formControlName="type" placeholder="Type"
                        style="padding: 0;">
                        </td>
                        <td class="CR-width" (click)="removeArtistCatalogueRaisonee(i,artistDetailsForm.value.artistCatalogueRaisonees[i]);onChangeFunctionCR();">
                          <i class="fa fa-times" aria-hidden="true"></i>
                        </td>
                      </tr>
                      <tr [formGroupName]="i" *ngIf="!(artistDetailsForm.value.artistCatalogueRaisonees[i].id) && i==artistDetailsForm.controls.artistCatalogueRaisonees.controls.length-1">
                        <td class="CR-width">{{i+1}}</td>
                        <td class="Author-width">
                          <input type="text" name="author" class="form-control" formControlName="author" placeholder="Author" style="padding: 0;">
                        </td>
                        <td class="Author-width">
                            <input type="number" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 110 || event.keyCode == 190 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true" name="year" class="form-control" formControlName="year" placeholder="Year" style="padding: 0;">
                            <div *ngIf="artistDetailsForm.controls.artistCatalogueRaisonees.controls[i].controls['year'].hasError('pattern')" class="alert alert-danger">Please enter a 4 digit number</div>
                        </td>
                        <td class="Author-width">
                          <input type="text" name="volumes" formControlName="volumes" class="form-control" placeholder="Volumes" style="padding: 0;">
                        </td>
                        <td class="Author-width">
                          <input type="text" name="type" class="form-control" formControlName="type" placeholder="Type" style="padding: 0;">
                        </td>
                        <td class="CR-width" (click)="removeArtistCatalogueRaisonee(i,artistDetailsForm.value.artistCatalogueRaisonees[i])">
                          <i class="fa fa-times" aria-hidden="true"></i>
                        </td>
                      </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
     </div>
    </form>
  </div>
  <app-save-search-modal (openSaveSearchPopup)="onOpenSaveSearch()"></app-save-search-modal>
  
