.horizontal-aligned-inputs{
  .auto-complete-wrapper{
    width: 100%;
  }
  display: flex;
  align-items: center;
  label{
    width: 46%;
  }
  input{
    width: 100%;
    display: inline-block;
  }
  input[type=checkbox]{
    width: 14px;
  }
}