<ng-container *ngIf="form">
  <div [formGroup]="form" class="form" [ngSwitch]="transactionType">
    <ng-container *ngSwitchCase="types.AUCTION">
      <div class="row form-group">
        <div class="col-sm-6" *ngIf="hideElements.indexOf('lot')===-1">
          <div class="horizontal-aligned-inputs">
            <label for="lotNumber">{{ dictionary.TRANSACTION_ITEMS.LABELS.LOT }}</label>
            <input id="lotNumber" class="form-control" type="text" formControlName="lotNumber" />
          </div>
          <span *ngIf="formErrors.lotNumber" class="help-block require">{{ formErrors.lotNumber }}</span>
        </div>

        <div class="col-sm-6 " *ngIf="hideElements.indexOf('EoRDropdown')===-1">
          <div class="horizontal-aligned-inputs">
            <label for="verifiedDropDown">{{ dictionary.TRANSACTION_ITEMS.LABELS.EOR }}</label>
            <input id="verifiedDropDown" ngui-auto-complete class="form-control" [source]="EoRValues" [list-formatter]="EoRListFormatter"
              display-property-name="value" value-property-name="realValue" formControlName="estimateOnRequestDropdown" match-formatted="true"
              min-chars="0" [disabled]="disabled" />
          </div>
        </div>
        <div class="col-sm-6 " *ngIf="hideElements.indexOf('EoR')===-1">
          <div class="horizontal-aligned-inputs">
            <label for="estimateOnRequest">{{ dictionary.TRANSACTION_ITEMS.LABELS.EOR }}</label>
            <input id="estimateOnRequest" class="form-control" type="checkbox" formControlName="estimateOnRequest" />
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-6" *ngIf="hideElements.indexOf('low')===-1">
          <div class="horizontal-aligned-inputs">
            <label for="lowEstimate">{{ dictionary.TRANSACTION_ITEMS.LABELS.LOW }}</label>
            <input id="lowEstimate" type="text" class="form-control" formControlName="lowEstimate" maxlength="10" currencyFormatted [options]="currency"
            />
          </div>
          <span *ngIf="formErrors.low" class="help-block require">{{ formErrors.low }}</span>
        </div>
        <div class="col-sm-6 " *ngIf="hideElements.indexOf('high')===-1">
          <div class="horizontal-aligned-inputs">
            <label for="highEstimate">{{ dictionary.TRANSACTION_ITEMS.LABELS.HIGH }}</label>
            <input id="highEstimate" type="text" class="form-control" formControlName="highEstimate" maxlength="10" currencyFormatted
              [options]="currency" />
          </div>
          <span *ngIf="formErrors.high" class="help-block require">{{ formErrors.high }}</span>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-6" *ngIf="hideElements.indexOf('term')===-1" [class.has-error]="form.get('term').errors">
          <div class="horizontal-aligned-inputs">
            <label for="term">{{ dictionary.TRANSACTION_ITEMS.LABELS.TERM }}</label>
            <div class="auto-complete-wrapper">
              <input id="term" ngui-auto-complete [source]="termList" no-match-found-text="{{ dictionary.TRANSACTION_ITEMS.MESSAGES.EMPTY_TERM}}"
                [list-formatter]="listFormatter" display-property-name="name" value-property-name="termId" class="form-control"
                formControlName="term" loading-text="" max-num-list="20"
                min-chars="0" />
            </div>
          </div>
          <span *ngIf="formErrors.term" class="help-block require">{{ formErrors.term }}</span>
        </div>
        <div class="col-sm-6" [class.has-error]="form.get('status').errors" *ngIf="hideElements.indexOf('status')===-1">
          <div class="horizontal-aligned-inputs">
            <label for="status">{{ dictionary.TRANSACTION_ITEMS.LABELS.STATUS }}
              <span *ngIf="isTermRequired" class="require">*</span>
            </label>
            <div class="auto-complete-wrapper">
              <input id="status" ngui-auto-complete [source]="statusList" no-match-found-text="{{ dictionary.TRANSACTION_ITEMS.MESSAGES.EMPTY_STATUS}}"
                [list-formatter]="listFormatter" display-property-name="name" value-property-name="statusId" class="form-control"
                formControlName="status" loading-text="" max-num-list="20"
                min-chars="0" />
            </div>
          </div>
          <span *ngIf="formErrors.status" class="help-block require">{{ formErrors.status }}</span>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-6" *ngIf="hideElements.indexOf('hammer')===-1">
          <div class="horizontal-aligned-inputs">
            <label for="hammer">{{ dictionary.TRANSACTION_ITEMS.LABELS.HAMMER }}</label>
            <input type="text" class="form-control" id="hammer" formControlName="hammer" maxlength="10" currencyFormatted [options]="currency"
            />
          </div>
          <span *ngIf="formErrors.hammer" class="help-block require">{{ formErrors.hammer }}</span>
        </div>
        <div class="col-sm-6 " *ngIf="hideElements.indexOf('premium')===-1">
          <div class="horizontal-aligned-inputs">
            <label for="premium">{{ dictionary.TRANSACTION_ITEMS.LABELS.PREMIUM }}</label>
            <input type="text" id="premium" class="form-control" formControlName="premium" maxlength="10" currencyFormatted [options]="currency"
            />
          </div>
          <span *ngIf="formErrors.premium" class="help-block require">{{ formErrors.premium }}</span>
        </div>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="types.PRIVATE_SALE">
      <div class="row form-group">
        <div class="col-sm-6" *ngIf="hideElements.indexOf('lot')===-1">
          <div class="horizontal-aligned-inputs">
            <label for="lotNumber">{{ dictionary.TRANSACTION_ITEMS.LABELS.LOT }}</label>
            <input id="lotNumber" class="form-control" type="text" formControlName="lotNumber" maxlength="9" />
          </div>
          <span *ngIf="formErrors.lot" class="help-block require">{{ formErrors.lot}}</span>
        </div>
        <div class="col-sm-6" [class.has-error]="formErrors.status" *ngIf="hideElements.indexOf('status')===-1">
          <div class="horizontal-aligned-inputs">
            <label for="status">{{ dictionary.TRANSACTION_ITEMS.LABELS.STATUS }}
              <span *ngIf="isTermRequired" class="require">*</span>
            </label>
            <div class="auto-complete-wrapper">
              <input id="status" ngui-auto-complete [source]="statusList" no-match-found-text="{{ dictionary.TRANSACTION_ITEMS.MESSAGES.EMPTY_STATUS}}"
                [list-formatter]="listFormatter" display-property-name="name" value-property-name="statusId" class="form-control"
                formControlName="status" loading-text="" max-num-list="20"
                min-chars="0" />
              <span *ngIf="formErrors.term" class="help-block require">{{ formErrors.term }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-6" *ngIf="hideElements.indexOf('netBuyer')===-1">
          <div class="horizontal-aligned-inputs">
            <label for="netBuyer">{{ dictionary.TRANSACTION_ITEMS.LABELS.NET_BUYER }}</label>
            <input id="netBuyer" class="form-control" type="text" formControlName="netBuyer" maxlength="10" currencyFormatted [options]="currency"
            />
          </div>
          <span *ngIf="formErrors.netVendor" class="help-block required">{{ formErrors.netVendor}}</span>
        </div>
        <div class="col-sm-6" *ngIf="hideElements.indexOf('netVendor')===-1">
          <div class="horizontal-aligned-inputs">
            <label for="netVendor">{{ dictionary.TRANSACTION_ITEMS.LABELS.NET_VENDOR }}</label>
            <input id="netVendor" class="form-control" type="text" formControlName="netVendor" maxlength="10" pattern="[0-9]*" currencyFormatted
              [options]="currency" />
          </div>
          <span *ngIf="formErrors.netVendor" class="help-block require">{{ formErrors.netVendor}}</span>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>