<simple-notifications [options]="options" class="transaction-notifications"></simple-notifications>
<app-navigation-header [totalPages]="pageTotal"></app-navigation-header>
<div class="section-container" [attr.state]="state">
  <h1 class="section-title">{{ sectionTitle }}</h1>
  <div id="transactionContainer" class="event-container transaction-container">
    <div class=" form-container ">
      <div class="panel ">
        <div class="panel-heading ">
          <div class="text-center ">
            <h2 class="section-subtitle">{{ formLabels.detailFormTitle }}</h2>
          </div>
        </div>
        <div class="panel-body ">
          <app-details [hideElements]="hiddenFormFields "></app-details>
          <app-statistics *ngIf="showTable " [transactionDetail]="transactionDetail "></app-statistics>
        </div>
      </div>
    </div>
    <div class="table-container " *ngIf="showTable ">
      <app-table (showTransactionItemPopup)="loadItemPopup($event, true) " [transactionItems]="transactionItems "
        [transactionCurrencies]="transactionCurrencies " (moreItems)="loadMoreItems() " (removeItem)="removeItem($event) "></app-table>
    </div>
  </div>
</div>