<div class="form publication-item-form" [formGroup]="form">
  <div class="flexFields">
    <div class="flexField">
      <label for="pipdCataloguingPage" class="notWrapped">{{ dictionary.PUBLICATION_ITEMS.LABELS.CATALOGUING_PAGE }} </label>
      <input id="pipdCataloguingPage" maxlength="5" type="text" class="form-control smallCase" formControlName="cataloguingPage"
      />
    </div>
    <div class="flexField">
      <label for="pipdNumber" class="notWrapped">{{ dictionary.PUBLICATION_ITEMS.LABELS.NUMBER }} </label>
      <input id="pipdNumber" type="text" maxlength="50" class="form-control smallCase" formControlName="number" />
    </div>
    <div class="flexField">
      <label for="pipdPlate" class="notWrapped">{{ dictionary.PUBLICATION_ITEMS.LABELS.PLATE }} </label>
      <input id="pipdPlate" type="text" maxlength="50" class="form-control smallCase" formControlName="plate" />
    </div>
    <div class="flexField">
      <label for="pipdFigure" class="notWrapped">{{ dictionary.PUBLICATION_ITEMS.LABELS.FIGURE }} </label>
      <input id="pipdFigure" type="text" maxlength="50" class="form-control smallCase" formControlName="figure" />
    </div>
    <div class="flexField">
      <label for="pipdIllustration" class="notWrapped">{{ dictionary.PUBLICATION_ITEMS.LABELS.ILLUSTRATION_PAGE }} </label>
      <input id="pipdIllustration" maxlength="5" type="text" class="form-control smallCase" formControlName="illustrationPage"
      />
    </div>
  </div>
  <div class="flexFields">
    <div class="flexField">
      <label for="pipdColour">{{ dictionary.PUBLICATION_ITEMS.LABELS.COLOUR }} </label>
      <input id="pipdColour" ngui-auto-complete type="text" class="form-control" formControlName="colour" [source]="colourTypes"
        [list-formatter]="listFormatter" value-property-name="colourTypeId" display-property-name="name" [loading-text]="dictionary.PUBLICATION_ITEMS.MESSAGES.LOADING_DATA"
        [no-match-found-text]="dictionary.PUBLICATION_ITEMS.MESSAGES.EMPTY_COLOURS" in-chars="0" />
    </div>
    <div class="flexField">
      <label for="pipdType">{{ dictionary.LABELS.TYPE }} </label>
      <input id="pipdType" ngui-auto-complete type="text" class="form-control" formControlName="type" [source]="itemTypes" [list-formatter]="listFortmatterByValue"
        value-property-name="publicationItemTypeId" display-property-name="value" [loading-text]="dictionary.PUBLICATION_ITEMS.MESSAGES.LOADING_DATA"
        [no-match-found-text]="dictionary.PUBLICATION_ITEMS.MESSAGES.EMPTY_ITEM_TYPES" in-chars="0" />
    </div>
  </div>
</div>