<div class="container-fluid clients">
  <div class="row">
    <div class="col-sm-3">
      <div class="clients-form">
        <div>
          <app-external-client-form (submit)="submitForm($event)" hideElements="[]" mode="compact"></app-external-client-form>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="panel">
        <div class="panel-body">
          <div class="clients-table" infinite-scroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="800" [scrollWindow]="false"
            (scrolled)="loadMore()">
            <table id="clientsTable" class="table table-hover table-striped table-scroll clients-table-table">
              <tbody *ngIf="clients.length > 0">
                <tr *ngFor=" let client of clients " (click)="addClient(client)" class="clients-table-table-row">
                  <td class="clients-table-table-col clients-table-table-col-names">
                    <div class="clients-table-table-col-row-1">{{ client.name }}</div>
                    <div class="clients-table-table-col-row-2">{{ client.mainClient?.name }}</div>
                  </td>
                  <td class="clients-table-table-col clients-table-table-col-location">
                    <div class="clients-table-table-col-row-1">{{ client.segment?.name }}</div>
                    <div class="clients-table-table-col-row-2">
                      <span *ngIf="client.city" class="clients-comma-separated">{{ client.city }}</span>
                      <span *ngIf="client.state" class="clients-comma-separated"> {{ client.state }}</span>
                      <span *ngIf="client.country" class="clients-comma-separated"> {{ client.country }} </span>
                      <span *ngIf="client.region" class="clients-comma-separated"> {{ client.region }}</span>
                    </div>
                  </td>
                  <td class="clients-table-table-col clients-table-table-col-level">
                    <div class="clients-table-table-col-row-1">{{ formsDictionary.EXTERNAL_CLIENT.LABELS.LEVEL }} {{ client.level }}</div>
                    <div class="clients-table-table-col-row-2">
                      <span *ngIf="client.individual?.gender" class="clients-comma-separated">{{ client.individual?.gender?.name }}</span>
                      <span *ngIf="client.individual?.birthDate" class="clients-comma-separated">
                        {{ getAge(client.individual?.birthDate) }}</span>
                    </div>
                  </td>
                  <td class="clients-table-table-col clients-table-table-col-status">
                    <div class="clients-table-table-col-row-1">{{ client.status?.name }}</div>
                    <div class="clients-table-table-col-row-2">{{ client.individual?.deceased ? formsDictionary.EXTERNAL_CLIENT.LABELS.DECEASED : '' }}</div>
                  </td>
                  <td class="clients-table-table-col clients-table-table-col-kcm">
                    <div class="clients-table-table-col-row-1">{{ client.kcm?.name }}</div>
                    <div class="clients-table-table-col-row-2"> {{ client.events }} {{ events }}</div>
                  </td>
                </tr>
              </tbody>

              <tbody *ngIf="!loading && clients.length === 0">
                <tr>
                  <td colspan="5">{{ formsDictionary.EXTERNAL_CLIENT.MESSAGES.EMPTY_RESPONSE }}</td>
                </tr>
              </tbody>
              <tbody *ngIf="loading">
                <tr>
                  <td class="loading" colspan="5"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>