<div class="modal-dialog client-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">{{ dictionary.DIALOG.ADD_CLIENT_TO_EVENT_TITLE }}</h4>
    </div>
    <div class="modal-body">
      <app-client-component (selectedClient)="setSelectedClient($event)"></app-client-component>
    </div>
  </div>
</div>