.clients {
    width: 100%;
    .loading {
        height: 370px;
    }
    &-comma-separated {
        &:not(:last-child) {
            &:after {
                content: ',';
                display: inline-block;
            }
        }
    }
    &-form {
        height: 500px;
    }
    &-table {
        height: 500px;
        overflow-x: hidden;
        overflow-y: auto;
        &-table {
            &-row {
                cursor: pointer
            }
            &-col {
                &>* {
                    color: #666;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                &-row-1 {
                    font-size: 12px;
                    font-weight: bold;
                }
                &-row-2 {
                    font-size: 11px;
                }
            }
            &-col-names {
                width: 268px;
            }
            &-col-location {
                width: 320px;
            }
            &-col-level {
                width: 80px;
            }
            &-col-status {
                width: 80px;
            }
            &-col-kcm {
                width: 200px;
            }
        }
    }
}