@mixin icon-style($color) {
    i {
        color: $color;
        &:hover {
            color: #fff;
        }
    }
}

button {
    background: none;
    border: 0;
    box-shadow: none;
    &.disabled {
        opacity: .5;
    }
    &#search {
        @include icon-style(#337ab7);
    }
    &#new {
        @include icon-style(#aaa);
    }
    &#save {
        @include icon-style(#288671);
    }
    &#remove {
        @include icon-style(#d41c1c);
    }
    &#clearSearch {
        @include icon-style(#aaa);
    }
    &#restore {
        @include icon-style(#663399);
    }
}

.header-icon {
    padding: 15px 3px;
}

.header-logo {
    height: 50px;
    cursor: pointer;
    img {
        margin-top: 11px;
        height: 29px;
        width: 129px;
    }
}

.paginationInput {
    width: 50px;
}

.dropdown-menu .fa {
    margin-right: 10px;
}

.top-nav>li {
    vertical-align: middle;
}

.top-nav {
    .collapse {
        margin-top: 20px;
    }
}

.navbar-inverse {
    .dropdown {
        cursor: pointer;
        &:hover,
        &.active,
        &.focus {
            background: none !important;
            color: #aaa;
        }
    }
}

.navbar-brand>img {
    margin-top: -10px;
    height: 45px;
}

.nav-sorting {
    li {
        a {
            padding: 15px 2px;
            i {
                cursor: pointer;
                color: #fff;
                &.disabled {
                    cursor: default;
                    color: #999;
                }
            }
        }
    }
}

.nav-paginator {
    width: 220px;
    height: 50px;
    .totalPagesLabel {
        color: #fff;
    }
    .arrow {
        a {
            color: #aaa;
            cursor: pointer;
            &.disabled {
                color: #333;
                cursor: default;
            }
        }
    }
}