<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" (mouseleave)="hideMenu()" [formGroup]="form">
  <div class="container-fluid">
    <div class="navbar-header header-logo" (click)="goToHome()">
      <img id="goHome" src="assets/images/slogo.png" />
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left nav-paginator">
        <li id="liPaginator" *ngIf="totalPages>0" class="pages">
          <ul class="nav top-nav">
            <li class="arrow">
              <a (click)="prevPage()" [ngClass]="{'disabled': currentPage <= 0 }">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <input type="text" class="paginationInput" [disabled]="totalPages>0" formControlName="page" />
              <b class="totalPagesLabel">/ {{totalPages}}</b>
            </li>
            <li class="arrow">
              <a (click)="nextPage()" [ngClass]="{'disabled': currentPage >= totalPages - 1 }">
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-left nav-sorting" *ngIf="status.sort === buttonStatusValues.SHOWN">
        <li>
          <a (click)="sortAscending()">
            <i class="fa fa-sort-asc" [ngClass]="{'disabled': !ascendingEnabled }"></i>
          </a>
        </li>
        <li>
          <a (click)="sortDescending()">
            <i class="fa fa-sort-desc" [ngClass]="{'disabled': !descendingEnabled }"></i>
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="status.search !== buttonStatusValues.HIDDEN">
          <button id="search" (click)="selectedNavItem('search');" [ngClass]="{ 'disabled': status.search === buttonStatusValues.DISABLED }"
            [disabled]="status.search === buttonStatusValues.DISABLED" [attr.alt]="dictionary.SEARCH">
            <i id="btnSearch" class="fa fa-search fa-lg header-icon" aria-hidden="true" [title]="dictionary.SEARCH"></i>
          </button>
        </li>
        <li *ngIf="status.clear !== buttonStatusValues.HIDDEN">
          <button id="clearSearch" (click)="selectedNavItem('clearSearch');" [ngClass]="{ 'disabled': status.clear === buttonStatusValues.DISABLED }"
            [disabled]="status.clear === buttonStatusValues.DISABLED" [attr.alt]="dictionary.CLEAR">
            <i id="btnClearSearch" class="fa fa-eraser fa-lg header-icon" aria-hidden="true" [title]="dictionary.CLEAR"></i>
          </button>
        </li>
        <li *ngIf="status.restore !== buttonStatusValues.HIDDEN">
          {{status.restoreSearch}}
          <button id="restore" (click)="selectedNavItem('restore');" [ngClass]="{ 'disabled': status.restoreSearch === buttonStatusValues.DISABLED }"
            [disabled]="status.restoreSearch === buttonStatusValues.DISABLED" [attr.alt]="dictionary.RESTORE">
            <i id="btnRestoreSearch" class="fa fa-reply fa-lg header-icon" aria-hidden="true" [title]="dictionary.RESTORE"></i>
          </button>
        </li>
        <li *ngIf="status.new !== buttonStatusValues.HIDDEN">
          <button id="new" (click)="selectedNavItem('new');" [ngClass]="{ 'disabled': status.new === buttonStatusValues.DISABLED }"
            [disabled]="status.new === buttonStatusValues.DISABLED" [attr.alt]="dictionary.ADD">
            <i class="fa fa-plus fa-lg header-icon" aria-hidden="true" [title]="dictionary.ADD"></i>
          </button>
        </li>
        <li *ngIf="status.save !== buttonStatusValues.HIDDEN">
          <button id="save" (click)="selectedNavItem('save')" [ngClass]="{ 'disabled': status.save === buttonStatusValues.DISABLED }"
            [disabled]="status.save === buttonStatusValues.DISABLED" [attr.alt]="dictionary.SAVE">
            <i class="fa fa-floppy-o fa-lg header-icon" aria-hidden="true" [title]="dictionary.SAVE"></i>
          </button>
        </li>
        <li *ngIf="status.remove !== buttonStatusValues.HIDDEN">
          <button id="remove" (click)="selectedNavItem('remove');" [ngClass]="{ 'disabled': status.remove === buttonStatusValues.DISABLED }"
            [disabled]="status.remove === buttonStatusValues.DISABLED" [attr.alt]="dictionary.DELETE">
            <i class="fa fa-trash fa-lg header-icon" aria-hidden="true" [title]="dictionary.DELETE"></i>
          </button>
        </li>
        <li class="dropdown" [ngClass]="{'open': expandedMenu}" *ngIf="status.export !== buttonStatusValues.HIDDEN || status.import !== buttonStatusValues.HIDDEN">
          <a id="more" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" (click)="displayHiddenMenu()">
            <i class="fa fa-ellipsis-h fa-lg"></i>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li *ngIf="status.export !== buttonStatusValues.HIDDEN">
              <a id="export" (click)="selectedNavItem('export');">
                <i class="fa cloud-upload glyphicon glyphicon-download" aria-hidden="true"></i>{{ dictionary.EXPORT }}
              </a>
            </li>
            <li *ngIf="status.import !== buttonStatusValues.HIDDEN">
              <a id="import" (click)="selectedNavItem('import');">
                <i class="fa glyphicon glyphicon-upload" aria-hidden="true"></i>{{ dictionary.IMPORT }}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>