#tbl-property-catalog-raisonnes .scrollable {
  left: 15px;
  right: 0px;
}

#tbl-property-catalog-raisonnes thead tr th:first-child,
#tbl-property-catalog-raisonnes tbody tr td:first-child {
  width: 40px;
  text-align: center;
}

#tbl-property-catalog-raisonnes thead tr th {
  font-size: 11px;
}

#tbl-property-catalog-raisonnes tbody tr td {
  font-size: 12px;
  word-wrap: break-word;
  vertical-align: middle;
  padding: 0px 8px 2px;
}

#tbl-property-catalog-raisonnes input {
  width: 60px;
  padding: 5px;
  text-align: center;
  border: none;
  border-bottom: 1px solid #ddd;
  outline: 0;
  background: #fffafa;
}

#tbl-property-catalog-raisonnes.table-scroll tbody {
  margin-top: 5px;
  height: 145px;
}

.dropzone-disabled {
  border: 1px dashed rgba(0, 0, 0, 0.3);
  min-height: 150px;
  /*padding: 60px 20px;*/
  cursor: not-allowed;
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  width: 35%;
}

.dropzone {
  border: 1px solid #000;
  background: #fffafa;
  width: 35%;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.dropzone .dz-message {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #b2b2b2;
}

.dropzone .dz-preview {
  margin: 0;
}

.dropzone .dz-preview .dz-image {
  border-radius: 2px;
  width: 100%;
  height: auto;
}

.dropzone .dz-preview.dz-error .dz-error-message {
  display: none;
}

.dropzone .dz-preview .dz-remove {
  color: #dab7d4;
  z-index: 11;
  position: absolute;
  top: -7px;
  right: -8px;
  font-size: 14px;
  font-weight: bold;
  display: none;
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
  height: 22px;
  width: 22px;
  border-radius: 11px;
  background-color: #000;
  cursor: pointer;
}

.dropzone .dz-preview .dz-remove:hover {
  text-decoration: none;
  cursor: pointer;
  color: #960f7f;
}

.dropzone .dz-preview.dz-image-preview {
  width: 100%;
  background: #fffafa;
}

.dropzone .dz-preview .dz-image img {
  width: 100%;
  height: auto;
}

.dropzone .dz-preview:hover .dz-image img {
  filter: none;
}

.property-image {
  display: block;
  margin: 0 auto;
  z-index: 1;
  position: absolute;
  top: 48%;
  left: 52%;
  transform: translate(-50%, -50%);
  max-height: 550px !important;
  max-width: 550px !important;
  background: #fffafa;
}

.property-image img {
  /* width: 100%;
  height: 100%; */
  max-height: 500px;
  max-width:  500px;
}

.select2-container--bootstrap .select2-selection {
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #ddd;
  box-shadow: none;
}

.select2-container--bootstrap .select2-dropdown {
  border-radius: 0;
  border-top: 1px solid #ddd;
  box-shadow: none;
  padding: 10px 0 10px;
}

.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice {
  background-color: #ecf542 !important;
  font-size: 11px;
  border-radius: 25px;
  padding: 2px 5px;
}

.select2-dropdown.select2-dropdown--below {
  border-left: transparent;
  border-right: transparent;
}

.select2-results__option {
  background: #fffafa;
  border: 1px solid #eee;
  border-top: none;
}

.select2-results__options {
  font-size: 11px;
}

.select2-result-repository__statistics {
  font-size: 10px;
}

.select2-result-repository__statistics div {
  color: #aaa;
  display: inline;
}

.select2-results__option i {
  margin-right: 3px;
  font-size: 13px;
}

.select2-results__option i.fa.fa-birthday-cake {
  margin-right: 3px;
  font-size: 13px;
}

.select2-results__option i.fa.fa-bed {
  margin-right: 3px;
  font-size: 13px;
}

.select2-results__option i.fa.fa-flag {
  margin-right: 3px;
  font-size: 13px;
}

.select2-result-repository__title {
  color: #4d5965;
}

.select2-results__option--highlighted[aria-selected] {
  background: #fffafa !important;
}

.select2-results__option--highlighted .select2-result-repository__title {
  color: #397dff !important;
}

.select2-results__option--highlighted .select2-result-repository__statistics div {
  color: #397dff;
}

.select2-result-repository__forks,
.select2-result-repository__stargazers,
.select2-result-repository__watchers {
  font-size: 10px;
}

.select2-result-repository__statistics div {
  margin-right: 20px;
}

li.select2-results__option.select2-results__message {
  display: none;
}

.select2-container--bootstrap .select2-selection {
  background: transparent;
}

.select2-results__option[aria-selected=true] {
  background-color: #eee !important
}

.select2-dropdown--below {
  padding: 0 !important;
}

.archive-no .item {
  background-color: #c5d3d6 !important;
  color: #555;
  float: left;
  font-size: 11px;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  padding: 0 5px !important;
}

span.removeSelectizeItem {
  display: none;
}

.archive-no .item .removeSelectizeItem {
  padding: 0px 3px 0px 0px;
  color: #999;
  display: inline-block;
  font-size: 8px;
}

.archive-no .item .removeSelectizeItem:hover {
  color: #333333;
}

.archive-no .selectize-input {
  height: auto;
  line-height: 17px;
}

#fileUpload {
  display: none;
}

.file-upload-status-message {
  width: auto;
  height: auto;
  margin: 0 auto;
  position: fixed;
  top: 18%;
  right: 0%;
  z-index: 10000;
  border-radius: 0;
  color: #333;
  background: #e4d400;
  font-size: 15px;
  padding: 15px;
  font-family: "colaborate-thin";
  font-weight: bold;
  cursor: pointer;
  display: none;
}

.file-upload-status-message i {
  font-size: 18px;
}

.file-upload-status-message .emphasize {
  font-style: italic;
}

.size-cm input:focus,
.size-in input:focus,
input.weight:focus {
  border-bottom: 0px;
}

.edition-total:focus {
  border: none;
}

.edition-total {
  cursor: pointer;
}

.track-edits {
  position: fixed;
  bottom: 0;
  background-color: #d0d7e0;
  height: 25px;
  width: 100%;
  padding: 5px 2px;
}

.duplicateItems {
  width: 45px;
}

#duplicateProperty {
  pointer-events: none;
  opacity: 0.5;
}

#form-property-details {
  font-size: 12px;
}

.object-details .col-sm-12 {
  padding-left: 6px;
  padding-right: 6px;
}

.object-checkbox {
  display: block;
  width: 15px;
}


/* Edition Size Modal */

.edition-size-notes:hover::-webkit-scrollbar,
.edition-size-notes:focus::-webkit-scrollbar {
  display: inline-block;
}


/* Researcher Notes */

.researcher-notes {
  font-size: 11px;
}

.researcher-notes:hover::-webkit-scrollbar,
.researcher-notes:focus::-webkit-scrollbar {
  display: inline-block;
}


.researcher-notes:hover::-webkit-scrollbar-thumb,
.researcher-notes:focus::-webkit-scrollbar-thumb {
  background: #aaa;
}

#ImgFetch:hover [title="property-image"] {
  display: block !important;
}

.bottom-line-error .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
}


/* Modal Styles */

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 50%;
  top: 60%;
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.modal-header h5 {
  font-size: 15px;
}

.modal-header .close {
  float: none;
}

.modal-content {
  border-radius: 0;
  color: #000;
  padding: 1em;
  position: relative;
  margin: 0 auto;
  width: auto;
  font-size: 12px;
  line-height: 1.5em;
  box-shadow: none;
}

.modal-content .modal-label {
  line-height: 2.2em;
}

.modal-btn {
  margin-top: 3px;
  margin-left: 3px;
  cursor: pointer;
  color: #000;
  font-size: 10px;
  border-radius: 3px;
  padding: 1px 5px;
}

.modal-btn.primary {
  color: #3ed079;
  border: 1px solid #3ed079;
  background: #fff;
  padding: 5px;
}

.modal-btn.secondary {
  color: #b7bbb8;
  border: 1px solid #b7bbb8;
  background: #fff;
  padding: 5px;
}

.modal-btn:hover {
  text-decoration: none;
  color: #000;
}

.modal-btn.primary:hover,
.modal-btn.secondary:hover {
  border: 1px solid #000;
  color: #000;
}

.modal-footer {
  border: none;
}

.header-titles .header-text {
  background: #4682B4;
  padding: 14px;
  padding-left: 20px;
  padding-right: 20px;
  color: #FFF;
  margin-left: 100px;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: #18fd95;
}

::-webkit-scrollbar {
  width: 3px;
}

.merge-popup-width {
  width: 150%;
}

.merge-popup-depth {
  width: 195%;
  padding: 6px 12px;
}

.noPointerEvents{
  pointer-events: none;
}

.list-caret {
  position: absolute;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  text-align: center;
  right: 0px;
  top: 6px;
  cursor: pointer;
}
.CR-padding{
  padding: 1px;
}

.parent-cards {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.check-30-padding{
  padding-left: 30px;
}
.top-nav>li>a {
  cursor: pointer;
}

.top-nav>li>a>.fa-sort-up, .top-nav>li>a>.fa-sort-down {
  font: normal normal normal 23px/1 FontAwesome;
}
.fa-sort-up {
  margin-top: 2px;
}
.r-complete-check{
  float: right;
  margin-top: -11px;
}
/*Progress bar*/
.progress {
  height: 20px;
  margin-bottom: 0px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
.prg-bkgrd-color-true{
  background-color: #FFEFBB;
}
.prg-bkgrd-color-false{
  background-color: #FFC100;
}
.navbar{
  border: none;
}
#thumbnailheader{
  margin-top: 10px;
}
input[type="checkbox"]{
  display: block;
}
input#chk {
  position: absolute;
  width: 1px; height: 0;
  margin: 0; margin-top: 4px; outline: none;
  border: 1px solid transparent; 
  background-color: transparent;
}
.outline {
  outline-color: rgb(77, 144, 254); /* #4D90FE */
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}
/* Image Text */

.image-text {
  font-size: 11px;
}

.image-text:hover::-webkit-scrollbar,
.image-text:focus::-webkit-scrollbar {
  display: inline-block;
}


.image-text:hover::-webkit-scrollbar-thumb,
.image-text:focus::-webkit-scrollbar-thumb {
  background: #aaa;
}

.auto-tag-div {
  margin-top: 3px;
  background: #eee;
  font-size: 10px;
}

.subject-dropdown{
  position: absolute;
  left: 92%;
  top:17%;
  cursor: pointer;
}

.gender-dropdown{
  position: absolute;
  left: 92%;
  top:29%;
  cursor: pointer;
}

.gender-selected-width{
  width: 101%;
}

.p-t-20 {
  padding-top:20px;
}
.p-t-10 {
  padding-top:10px;
}