﻿<!-- Navigation -->
<nav id="navHeaderValue" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <app-header (click)="redirectPage();"></app-header>
  <apps-footer [userName]="footerName"></apps-footer>
  <!-- Top Menu Items -->
  <ul class="nav top-nav">
    <li>
      <ul class="nav top-nav">
        <li>
          <a style="padding-left: 0px;padding-right: 0px;" (click)="redirectFLPage('firstPage');toggleFlag=0;">
            <i class="fa fa-step-backward" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a style="padding-left: 5px;padding-right: 5px;" (click)="(total_pages>0) && (curPageValue>1) && pageFunction('prevPage');toggleFlag=0;">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <input *ngIf="total_pages>0" type="text" #paginationInput style="width:85px" class="currentValueMode" value="{{paginationInput.value}}"
            [(ngModel)]='curPageValue' (keypress)="getCurrValue(paginationInput.value,$event)" [disabled]="total_pages>0?false:true">
          <b style="color:#FFF;" *ngIf="total_pages>0">/ {{total_pages}}</b>
          <input *ngIf="total_pages<=0" [style.width.px]="widthStyle" type="text" [disabled]="true" value="{{emptyPagination}}">
          <b style="color:#FFF;" *ngIf="total_pages<=0">/</b>
        </li>
        <li>
          <a style="padding-left: 4px;padding-right: 5px;" (click)="(total_pages>0) && (total_pages>curPageValue)&& pageFunction('nextPage');toggleFlag=0;">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a style="padding-left: 0px;padding-right: 7px;" (click)="redirectFLPage('lastPage');toggleFlag=0;">
            <i class="fa fa-step-forward" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </li>
    <li>
      <select (change)="onNavigate($event.target.value)" class="form-control" id="dropDownView" [ngModel]="dropdownView">
        <option value="mainView" selected>Main View</option>
        <option value="thumbnail" id="thumbViewSelect">Thumbnail View</option>
        <option value="presentation">Presentation View</option>
      </select>
    </li>
    <li [class]="headerFlag==='search'?'noPointerEvents':''">
      <sort #sortComponent *ngIf="sortFlag" (sorting)="onSort($event)"></sort>
    </li>
    <li [class]="headerFlag==='search'?'noPointerEvents':''">
      <sort #sortComponent *ngIf="!sortFlag" (sorting)="onSort($event)"></sort>
    </li>
    <li>
      <ul class="top-nav p-0 p-l-10 p-r-10">
        <li [class]="!sorted?'noPointerEvents':''">
          <a (click)="sortAscending()">
            <i class="fa fa-sort-up v-align-baseline-middle" id="sort-asc" title="Ascending"></i>
          </a>
        </li>
        <li [class]="!sorted?'noPointerEvents':''">
          <a (click)="sortDescending()">
            <i class="fa fa-sort-down" id="sort-desc" title="Descending"></i>
          </a>
        </li>
      </ul>
    </li>
    <li>
      <div class="header-titles" [hidden]="presentationView">
        <span class="header-text" style="margin-left: 10px;" *ngIf="headerFlag=='search'">Search Mode</span>
        <span class="header-text" style="margin-left: 10px;" *ngIf="headerFlag=='result'">Results Mode</span>
        <span class="header-text" style="margin-left: 10px;" *ngIf="headerFlag=='edit'">Edit Mode</span>
        <span class="header-text" style="margin-left: 10px;" *ngIf="headerFlag=='create'">Create Mode</span>
      </div>
    </li>
    <li class="pull-right" *ngIf="!presentationView">
      <ul class="nav top-nav">
        <li [class]="(headerFlag==='search' || headerFlag==='result'||headerFlag==='edit')?'mousePointer searchIconColor':'disabled'">
          <a *ngIf="headerFlag==='search'" (click)="onSubmit('editMode',objectDetailsForm.value); reset=false;toggleFlag=0;" alt="Find Property (CTRL+SHIFT+F)">
            <i id="btnSearch" class="fa fa-search fa-lg" aria-hidden="true" title="Find Property (CTRL+SHIFT+F)"></i>
          </a>
          <a *ngIf="(headerFlag==='result'||headerFlag==='edit')" (click)="resetFullForm(); reset=true; editModeFlag=true; toggleFlag=0;"
            alt="Find Property (CTRL+SHIFT+F)">
            <i class="fa fa-search fa-lg" aria-hidden="true" title="Find Property (CTRL+SHIFT+F)"></i>
          </a>
        </li>
        <li *ngIf="(headerFlag==='search' || headerFlag==='create')" [class]="headerFlag==='search'?'mousePointer eraserIconColor':'disabled'">
          <a (click)="(headerFlag==='search') && resetFullForm();reset=true;editModeFlag=true;toggleFlag=0;">
            <i class="fa fa-eraser fa-lg" aria-hidden="true" title="Clear Search"></i>
          </a>
        </li>
        <li *ngIf="(headerFlag==='result'||headerFlag==='edit')" [class]="(headerFlag==='result'||headerFlag==='edit')?'mousePointer replyIconColor':'disabled'">
          <a (click)="(headerFlag==='result'||headerFlag==='edit') && backMode();toggleFlag=0;">
            <i class="fa fa fa-reply" aria-hidden="true" title="Back To Previous Search"></i>
          </a>
        </li>
        <li [class]="(headerFlag==='search'||headerFlag==='result'||headerFlag==='edit')?'mousePointer plusIconColor':'disabled'">
          <a id="new" (click)="(headerFlag==='search'||headerFlag==='result'||headerFlag==='edit') && NewObjectModalPrompt();reset=false;toggleFlag=0;">
            <i class="fa fa-plus fa-lg" aria-hidden="true" title="Add Property (ALT+SHIFT+N)"></i>
          </a>
        </li>
        <li [class]="(headerFlag==='result'||headerFlag==='edit'||headerFlag==='create')?'mousePointer floopyIconColor':'disabled'">
          <a (click)="(headerFlag==='result'||headerFlag==='edit'||headerFlag==='create') && onSubmit(externalId?'updateMode':'saveMode',objectDetailsForm.value);reset=false;toggleFlag=0;">
            <i id="save" class="fa fa-floppy-o fa-lg" aria-hidden="true" title="Update Property (CTRL+SHIFT+S)"></i>
          </a>
        </li>
        <li class="dropdown" (click)="toggleFunction(1);" [ngClass]="{'open': toggleFlag === 1}">
          <a id="more" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-ellipsis-h fa-lg"></i>
            <!-- John Smith  -->
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu dropdown-menu-position">
            <li>
              <a (click)="this.saveSearchModal.saveSearchModal.open(); this.saveSearchModal.saveSearchParam = saveSearchParam;">
                <i id="saveSearch" class="fa fa-floppy-o" aria-hidden="true"></i> Save Search </a>
            </li>
            <li>
              <a id="addObjectList" (click)="this.saveListModal.saveListModal.open(); this.saveListModal.saveListMode = 'AddSaveList'; this.saveListModal.saveListAddType = 'single';">
                <i id="savedlistpopupsingle" class="fa fa-plus" aria-hidden="true"></i> Add Object to List
              </a>
            </li>
            <li>
              <a id="addAllObject" (click)="this.savedListSize('all')===true?alertLargeSizedSavedList('all'):this.saveListModal.saveListModal.open();this.saveListModal.saveListParam=saveListParam;this.saveListModal.saveListMode='AddSaveList';this.saveListModal.saveListAddType='all';">
                <i id="savedlistpopup" class="fa fa-plus" aria-hidden="true"></i> Add All Objects to List
              </a>
            </li>
            <li>
              <a (click)="modalAddObjectToItem('single')">
                <i class="fa fa-plus" aria-hidden="true"></i> {{ dictionary.NOTIFICATIONS.ADD_OBJECTS_TO_EXISTING_ITEM }}
              </a>
            </li>
            <li>
              <a (click)="duplicateModal.open()">
                <i class="fa fa-files-o" aria-hidden="true"></i> Duplicate </a>
            </li>
            <li>
              <a id="remove" (click)="(headerFlag==='result'||headerFlag==='edit') && deleteConfirm('deleteMode',objectDetailsForm.value);">
                <i class="fa fa-trash" aria-hidden="true"></i> Delete </a>
            </li>
            <li *ngIf="openedSaveList">
              <a (click)="removeFromList()">
                <i class="fa fa-trash" aria-hidden="true"></i> Remove Object from List </a>
            </li>
            <li class="divider"></li>
            <li>
              <a (click)="this.keycloak.logout()">
                <i class="fa fa-fw fa-power-off"></i> Log Out</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
  <div class="progress">
    <div [class]="objectDetailsForm.value.researchCompleteCheck?'':'progress-bar prg-bkgrd-color-false'" role="progressbar" aria-valuenow="70"
      aria-valuemin="0" aria-valuemax="100" style="width:100%">
    </div>
  </div>
</nav>
<li id="navRightDropdown" class="pull-right" style="display: none;">
  <ul class="nav top-nav">
    <li class="mousePointer searchIconColor">
      <a (click)="onSearch('clearSearch')" alt="Find Property (CTRL+SHIFT+F)">
        <i class="fa fa-search fa-lg" aria-hidden="true" title="Find Property (CTRL+SHIFT+F)"></i>
      </a>
    </li>
    <li class="mousePointer replyIconColor">
      <a id="back-button" (click)="onSearch('backSearch')" title="Back To Previous Search">
        <i class="fa fa fa-reply" aria-hidden="true" title="Back To Previous Search"></i>
      </a>
    </li>
    <li class="mousePointer plusIconColor">
      <a (click)="onSearch('createSearch')" alt="Add Property (ALT+SHIFT+N)">
        <i class="fa fa-plus fa-lg" aria-hidden="true" title="Add Property (ALT+SHIFT+N)"></i>
      </a>
    </li>
    <li class="dropdown" (click)="toggleFunction(1);" [ngClass]="{'open': toggleFlag === 1}">
      <a class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-ellipsis-h fa-lg"></i>
        <!-- John Smith  -->
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu dropdown-menu-position">
        <li>
          <a (click)="this.saveSearchModal.saveSearchModal.open(); this.saveSearchModal.saveSearchParam = saveSearchParam;">
            <i class="fa fa-floppy-o" aria-hidden="true"></i> Save Search </a>
        </li>
        <li>
          <a id="addThumbObjectList" (click)="this.savedListSize('selected')===true?alertLargeSizedSavedList('selected'):getSelectedPropertyIds();this.openSaveListModal==true && this.savedListSize('selected')===false?this.saveListModal.saveListModal.open():this.openSaveListModal=false;">
            <i class="fa fa-plus" aria-hidden="true"></i> Add Selected Object(s) to List
          </a>
        </li>
        <li>
          <a id="addThumbAllObject" (click)="this.savedListSize('all')===true?alertLargeSizedSavedList('all'):addAllToSavedList()?this.saveListModal.saveListModal.open():false">
            <i class="fa fa-plus" aria-hidden="true"></i> Add All Objects to List
          </a>
        </li>
        <li>
          <a (click)="modalAddObjectToItem('multiple')">
            <i class="fa fa-plus" aria-hidden="true"></i> {{ dictionary.NOTIFICATIONS.ADD_OBJECTS_TO_EXISTING_ITEM }}
          </a>
        </li>
        <li>
          <a class="deleteThumbnails">
            <i class="fa fa-trash" aria-hidden="true"></i> Delete </a>
        </li>
        <li id="removeSavedListButton" style="display:none">
          <a class="removeFromList">
            <i class="fa fa-trash" aria-hidden="true"></i> Remove Selected Object from List </a>
        </li>
        <li class="divider"></li>
        <li>
          <a (click)="this.keycloak?this.keycloak.logout():null">
            <i class="fa fa-fw fa-power-off"></i> Log Out</a>
        </li>
      </ul>
    </li>
  </ul>
</li>
<div id="dragabbleProgressbar">
  <p-dialog header="{{progressBarNo}} / {{totalRecords}} added" [(visible)]="displayProgressBar" width="300" [responsive]="true"
    [closable]="false" [positionTop]="100" [positionLeft]="1030"></p-dialog>
</div>
<ng2-toasty></ng2-toasty>
<div id="thumbnailheader" [hidden]="presentationView">
  <!-- Image Object Property Modal -->
  <div id="property-image" title="property-image" class="property-image" style="display: none;" #propertyImage>
    <img *ngIf="externalId" [src]="fullPath" (error)="errorHandler($event)" />
  </div>
  <!-- Duplicate Property Modal -->
  <modal #duplicateModal [closeOnEscape]="false" [closeOnOutsideClick]="false" [hideCloseButton]="true">
    <modal-header>
      <div class="modal-title">
        <h4 class="pull-left">Duplicate Object</h4>
        <button class="modal-btn secondary pull-right" (click)="duplicateModal.close();">CANCEL</button>
      </div>
    </modal-header>
    <modal-content>
      <form class="noModeChange">
        <div class="col-sm-7">
          <span> Add &nbsp;
            <input type="number" class="duplicateItems" value="1" (keypress)="isNumberKey($event)" min="1" max="30" minlength="2" #duplicateItems/>&nbsp; Duplicates </span>
        </div>
        <div class="col-sm-5">
          <input type="submit" value="Create" class="btn btn-primary duplicate-property pull-right" (click)="duplicateProperty(duplicateItems.value);duplicateModal.close();"
          />
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-12" *ngIf="alertMsg">
          <span class="text-danger" #dvError ng-if="(test > 0 && test < 31)">Please enter values from 1 to 30</span>
        </div>
      </form>
    </modal-content>
    <modal-footer>
      <!-- <button class="btn btn-primary" (click)="duplicateModal.close()">close</button> -->
    </modal-footer>
  </modal>
  <div class="container-fluid page-content flexbox-container" (window:keydown)="keyboardShortCutFunction($event)" (click)="toggleFlag=0;">
    <form class="form-horizontal" [formGroup]="objectDetailsForm">
      <div class="row horizontal-center">
        <div class="col-sm-4 col-sm-height column" [style.height.px]="columnHeight">
          <div class="panel">
            <div class="col-sm-12 pull-left">
              <div class="panel-body row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <div class="col-sm-12">
                      <app-dropupload (FullPathChange)="onFullPathChange($event)" [externalId]="externalId" (success)="handleFileSuccess($event,'image')"
                        (error)="handleFileFailure($event,'image')">
                      </app-dropupload>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <span *ngFor="let art of checkedArtist" class="selected-auto-list coloryellow">
                        {{art.display}}
                        <i class="fa fa-times" aria-hidden="true" (click)="artistChange('remove',art);onChangeFunction($event);"></i>
                      </span>
                    </div>
                    <div class="col-sm-12 object-autocomplete autoFirstHightlight" [ngClass]="((!objectDetailsForm.controls['artistData'].valid && requiredFlag) && !checkedArtist.length)?'has-error bottom-line-error':''">
                      <input ngui-auto-complete formControlName="artistData" (keyup)="onChangeFunction($event)" [source]="artistName" [list-formatter]="nameListFormatter"
                        loading-text="Loading.." no-match-found-text="No records found" display-property-name="firstName" min-chars="2"
                        placeholder="Select Artist" (valueChanged)="onChangeFunction(null)" (ngModelChange)="artistChange('add',$event)"
                        (keypress)="artistData=$event.target.value" class="form-control" [ngModel]="artistData" (blur)="resetArtistNameInput()">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <input (keyup)="onChangeFunction($event)" formControlName="title" no-match-found-text=" " class="form-control" id="titleEn"
                        placeholder="Title (EN)" maxlength="500" qa-data="titleEngSearch" />
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <input (keyup)="onChangeFunction($event)" formControlName="originalTitle" no-match-found-text=" " class="form-control" id="titleOrig"
                        placeholder="Title (Orig)" maxlength="500" />
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <input (keyup)="onChangeFunction($event)" (paste)="onSignaturePaste($event)" formControlName="signature" no-match-found-text=" "
                        class="form-control" id="signature" maxlength="1000" placeholder="Signature" ngModel/>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <input (keyup)="onChangeFunction($event)" formControlName="medium" no-match-found-text=" " class="form-control" id="medium"
                        placeholder="Medium" maxlength="1000" ngModel/>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <div class="col-sm-6 p-0 pull-left">
                        <div class="col-sm-11 p-0" style="position: relative;" (mouseleave)="closeList(categoryList, 'category')">
                          <ng2-completer formControlName='category' #categoryList (keydown)="categoryListOpen=!categoryListOpen" (blur)="validateSelectedItem(categoryList.value, 'category')"
                            [datasource]='categoryService' [minSearchLength]='0' placeholder="Category" (change)="onChangeFunction($event)"
                            (selected)="onChangeFunction($event)" (keyup)="onEnterFigure($event)"></ng2-completer>
                          <div class="list-caret" (click)="openList(categoryList, 'category')">
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 p-0 pull-right">
                        <div class="col-sm-11 p-0 pull-right" style="position: relative;" (mouseleave)="closeList(subCategoryList, 'subcategory')">
                          <ng2-completer formControlName='subCategory' #subCategoryList (keydown)="subCategoryListOpen=!subCategoryListOpen" (blur)="validateSelectedItem(subCategoryList.value, 'subCategory')"
                            [datasource]='subCategoryService' [minSearchLength]='0' placeholder="Sub-category" (change)="onChangeFunction($event)"
                            (selected)="onChangeFunction($event)" (keyup)="onEnterFigure($event)"></ng2-completer>
                          <div class="list-caret" (click)="openList(subCategoryList, 'subcategory')">
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <div class="col-sm-6 p-0 pull-left">
                        <div class="col-sm-11 p-0" style="position: relative;" (mouseleave)="closeList(presizeNameList, 'presizename')">
                          <ng2-completer formControlName='presizeName' #presizeNameList (keydown)="presizeNameListOpen=!presizeNameListOpen" (blur)="validateSelectedItem(presizeNameList.value, 'presizeName')"
                            [datasource]='presizeTypesService' [minSearchLength]='0' placeholder="Pre-size Type" (change)="onChangeFunction($event)"
                            (selected)="onChangeFunction($event)" (keyup)="onEnterFigure($event)"></ng2-completer>
                          <div class="list-caret" (click)="openList(presizeNameList, 'presizename')">
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 p-0 pull-right">
                        <div class="col-sm-11 p-0 pull-right" [hidden]="!(headerFlag=='result'||headerFlag=='edit')">
                          <input (keyup)="onChangeFunction($event)" type="number" min="0" name="parts" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 110 ||  event.keyCode == 190 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true"
                            class="form-control" formControlName="parts" id="parts" placeholder="Parts" ngModel />
                        </div>
                        <div class="col-sm-11 p-0 pull-right" [hidden]="!(headerFlag=='search')">
                          <input type="text" name="parts" class="form-control" formControlName="parts" id="parts" placeholder="Parts" (paste)="onPasteSearchMode($event)"
                            (keydown)="validateEnteredTextForSearch($event)" ngModel />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-3" [hidden]="!(headerFlag=='result'||headerFlag=='edit')">
                      <input (keyup)="onChangeFunction($event)" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true"
                        type="number" (paste)="onPaste($event)" min="0" name="heightCm" class="form-control merge-popup-width"
                        formControlName="heightCm" id="heightCm" placeholder="Height" (ngModelChange)="CmToInViceVersaChange('heightIn', 'CmToIn', $event)"
                        ngModel />
                    </div>
                    <div class="col-sm-3" [hidden]="!(headerFlag=='search')">
                      <input type="text" formControlName="heightCm" id="heightCm" placeholder="Height" (paste)="onPasteSearchMode($event)" (keydown)="validateEnteredTextForSearch($event)"
                        class="form-control merge-popup-width" (ngModelChange)="CmToInViceVersaChange('heightIn', 'CmToIn', $event)"
                        ngModel />
                    </div>
                    <label class="col-sm-1 p-0 m-0 p-t-6 f-10 t-align-c">x</label>
                    <div class="col-sm-3" [hidden]="!(headerFlag=='result'||headerFlag=='edit')">
                      <input (keyup)="onChangeFunction($event)" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true"
                        type="number" (paste)="onPaste($event)" min="0" name="widthCm" class="form-control merge-popup-width"
                        formControlName="widthCm" id="widthCm" placeholder="Width" (ngModelChange)="CmToInViceVersaChange('widthIn', 'CmToIn', $event)"
                        ngModel />
                    </div>
                    <div class="col-sm-3" [hidden]="!(headerFlag=='search')">
                      <input type="text" formControlName="widthCm" id="widthCm" placeholder="Width" (paste)="onPasteSearchMode($event)" (keydown)="validateEnteredTextForSearch($event)"
                        (ngModelChange)="CmToInViceVersaChange('widthIn', 'CmToIn', $event)" min="0" class="form-control merge-popup-width"
                        ngModel />
                    </div>
                    <label class="col-sm-1 p-0 m-0 p-t-6 f-10 t-align-c">x</label>
                    <div class="col-sm-3 pull-right">
                      <div [hidden]="!(headerFlag=='result'||headerFlag=='edit')">
                        <span class="col-sm-9 p-0 row b-b-1-ddd">
                          <input (keyup)="onChangeFunction($event)" type="number" name="depthCm" class="form-control merge-popup-depth col-sm-12 p-0 row pull-right"
                            (paste)="onPaste($event)" min="0" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true"
                            formControlName="depthCm" id="depthCm" placeholder="Depth" (ngModelChange)="CmToInViceVersaChange('depthIn', 'CmToIn', $event)"
                            ngModel />
                        </span>
                      </div>
                      <div [hidden]="!(headerFlag=='search')">
                        <span class="col-sm-9 p-0 row b-b-1-ddd">
                          <input type="text" name="depthCm" class="form-control merge-popup-depth col-sm-12 p-0 row pull-right" (paste)="onPasteSearchMode($event)"
                            formControlName="depthCm" id="depthCm" placeholder="Depth" (keydown)="validateEnteredTextForSearch($event)"
                            (ngModelChange)="CmToInViceVersaChange('depthIn', 'CmToIn', $event)" ngModel />
                        </span>
                      </div>
                      <span class="col-sm-1 pull-right d-inline-block row p-0 m-0 p-t-11 f-10 t-align-r">cm</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-3" [hidden]="!(headerFlag=='result'||headerFlag=='edit')">
                      <input (keyup)="onChangeFunction($event)" type="text" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true"
                        (paste)="onPaste($event)" min="0" name="heightIn" class="form-control merge-popup-width" placeholder="Height"
                        formControlName="heightIn" id="heightIn" (change)="CmToInViceVersaChange('heightCm', 'InToCm', $event.target.value);"
                        ngModel />
                    </div>
                    <div class="col-sm-3" [hidden]="!(headerFlag=='search')">
                      <input type="text" min="0" name="heightIn" class="form-control merge-popup-width" placeholder="Height" formControlName="heightIn"
                        id="heightIn" (paste)="onPasteSearchMode($event)" (keydown)="validateEnteredTextForSearch($event)"
                        (change)="CmToInViceVersaChange('heightCm', 'InToCm', $event.target.value);" ngModel />
                    </div>
                    <label class="col-sm-1 p-0 m-0 p-t-6 f-10 t-align-c">x</label>
                    <div class="col-sm-3" [hidden]="!(headerFlag=='result'||headerFlag=='edit')">
                      <input (keyup)="onChangeFunction($event)" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true"
                        type="text" (paste)="onPaste($event)" min="0" name="widthIn" class="form-control merge-popup-width"
                        placeholder="Width" formControlName="widthIn" id="widthIn" (change)="CmToInViceVersaChange('widthCm', 'InToCm', $event.target.value);"
                        ngModel />
                    </div>
                    <div class="col-sm-3" [hidden]="!(headerFlag=='search')">
                      <input type="text" name="widthIn" class="form-control merge-popup-width" placeholder="Width" formControlName="widthIn" id="widthIn"
                        (paste)="onPasteSearchMode($event)" (keydown)="validateEnteredTextForSearch($event)" (change)="CmToInViceVersaChange('widthCm', 'InToCm', $event.target.value);"
                        ngModel />
                    </div>
                    <label class="col-sm-1 p-0 m-0 p-t-6 f-10 t-align-c">x</label>
                    <div class="col-sm-3 pull-right">
                      <span class="col-sm-9 p-0 row b-b-1-ddd" [hidden]="!(headerFlag=='result'||headerFlag=='edit')">
                        <input (keyup)="onChangeFunction($event)" type="text" name="depthIn" class="form-control merge-popup-depth col-sm-12 p-0 row pull-right"
                          (paste)="onPaste($event)" min="0" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true"
                          placeholder="Depth" formControlName="depthIn" id="depthIn" (change)="CmToInViceVersaChange('depthCm', 'InToCm', $event.target.value);"
                          ngModel />
                      </span>
                      <span class="col-sm-9 p-0 row b-b-1-ddd" [hidden]="!(headerFlag=='search')">
                        <input (keyup)="onChangeFunction($event)" type="text" name="depthIn" class="form-control merge-popup-depth col-sm-12 p-0 row pull-right"
                          (paste)="onPasteSearchMode($event)" placeholder="Depth" formControlName="depthIn" id="depthIn" (keydown)="validateEnteredTextForSearch($event)"
                          (change)="CmToInViceVersaChange('depthCm', 'InToCm', $event.target.value);" ngModel />
                      </span>
                      <span class="col-sm-1 pull-right d-inline-block row p-0 m-0 p-t-11 f-10 t-align-r">in</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <input (keyup)="onChangeFunction($event)" type="text" name="sizeText" class="form-control" placeholder="Size Text" formControlName="sizeText"
                        id="sizeText" placeholder="Size Text" maxlength="500" ngModel>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-4" [hidden]="!(headerFlag=='search')">
                      <input type="text" name="yearStart" class="form-control" formControlName="yearStart1" id="yearStart1" placeholder="YearFrom ... YearTo"
                        ngModel />
                      <div *ngIf="objectDetailsForm.controls['yearStart1'].hasError('pattern')" class="alert alert-danger">
                        {{validateDataOnSearch('yearStart1')}} Please enter valid input.
                      </div>
                    </div>
                    <div class="col-sm-4" [hidden]="!(headerFlag=='result'||headerFlag=='edit')">
                      <input (keyup)="onChangeFunction($event)" type="number" min="0" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 110 || event.keyCode == 190 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true"
                        name="yearStart" class="form-control" formControlName="yearStart" id="yearStart" placeholder="Year - From"
                        ngModel />
                      <div *ngIf="objectDetailsForm.controls['yearStart'].hasError('pattern')" class="alert alert-danger">
                        Please enter 4 digit number.
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div [hidden]="!(headerFlag=='result'||headerFlag=='edit')">
                        <input (keyup)="onChangeFunction($event)" type="number" min="0" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 110 || event.keyCode == 190 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true"
                          name="yearEnd" class="form-control" formControlName="yearEnd" id="yearEnd" placeholder="Year - To"
                          ngModel />

                      </div>
                      <div [hidden]="!(headerFlag=='search')">
                        <input type="text" name="yearEnd" class="form-control" formControlName="yearEnd" id="yearEnd" (paste)="onPasteSearchMode($event)"
                          (keydown)="validateEnteredTextForSearch($event)" placeholder="Year - To" ngModel />
                      </div>
                      <div *ngIf="objectDetailsForm.controls['yearEnd'].hasError('pattern')" class="alert alert-danger">
                        {{validateDataOnSearch('yearEnd')}} Please enter 4 digit number.
                      </div>
                    </div>
                    <div class="col-sm-4 pull-left p-0">
                      <label class="checkbox-inline check f-11 p-0">
                        Circa
                        <input (change)="onChangeFunction($event)" type="checkbox" name="yearCirca" value="yearCirca" formControlName="yearCirca"
                          ngModel id="chk" (focus)="addOutline($event)" (blur)="removeOutline($event)">
                        <div>
                          <i class="fa fa-check"></i>
                        </div>
                      </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-4">
                      <div [hidden]="!(headerFlag=='result'||headerFlag=='edit')">
                        <input (keyup)="onChangeFunction($event)" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 110 || event.keyCode == 190 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true"
                          type="number" min="0" name="castYearStart" class="form-control" formControlName="castYearStart" id="castYearStart"
                          placeholder="Cast Year - From" ngModel />
                      </div>
                      <div [hidden]="!(headerFlag=='search')">
                        <input (paste)="onPasteSearchMode($event)" (keydown)="validateEnteredTextForSearch($event)" type="text" name="castYearStart"
                          class="form-control" formControlName="castYearStart" id="castYearStart" placeholder="Cast Year - From"
                          ngModel />
                      </div>
                      <div *ngIf="objectDetailsForm.controls['castYearStart'].hasError('pattern')" class="alert alert-danger">
                        {{validateDataOnSearch('castYearStart')}} Please enter 4 digit number.
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div [hidden]="!(headerFlag=='result'||headerFlag=='edit')">
                        <input (keyup)="onChangeFunction($event)" type="number" min="0" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 110 || event.keyCode == 190 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true"
                          name="castYearEnd" class="form-control" formControlName="castYearEnd" id="castYearEnd" placeholder="Cast Year - To"
                          ngModel />
                      </div>
                      <div [hidden]="!(headerFlag=='search')">
                        <input (paste)="onPasteSearchMode($event)" (keydown)="validateEnteredTextForSearch($event)" type="text" name="castYearEnd"
                          class="form-control" formControlName="castYearEnd" id="castYearEnd" placeholder="Cast Year - To"
                          ngModel />
                      </div>
                      <div *ngIf="objectDetailsForm.controls['castYearEnd'].hasError('pattern')" class="alert alert-danger">
                        {{validateDataOnSearch('castYearEnd')}} Please enter 4 digit number.
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-2 p-0">
                        <label class="checkbox-inline check f-11 p-0">
                          Circa
                          <input (click)="onChangeFunction($event)" type="checkbox" name="castYearCirca" value="castYearCirca" formControlName="castYearCirca"
                            ngModel id="chk" (focus)="addOutline($event)" (blur)="removeOutline($event)">
                          <div>
                            <i class="fa fa-check"></i>
                          </div>
                        </label>
                      </div>
                      <div class="col-sm-2 p-0 pull-left">
                        <label class="checkbox-inline check f-11">
                          PH
                          <input (click)="onChangeFunction($event)" type="checkbox" name="posthumous" value="posthumous" formControlName="posthumous"
                            ngModel id="chk" (focus)="addOutline($event)" (blur)="removeOutline($event)">
                          <div>
                            <i class="fa fa-check"></i>
                          </div>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <input (keyup)="onChangeFunction($event)" type="text" name="yearText" class="form-control" placeholder="Year Text" formControlName="yearText"
                        id="yearTxt" ngModel>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-4 pull-left p-0">
                      <div class="col-sm-12">
                        <input [readonly]="(objectDetailsForm.value.editionSizeTotal==='Unique')" (keyup)="onChangeFunction($event)" type="text"
                          name="editionNumber" class="form-control" formControlName="editionNumber" id="editionNumber" placeholder="Edition No."
                          ngModel />
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="col-sm-12" style="padding-left: 3px; padding-right: 3px;position: relative;" (mouseleave)="closeList(editionNameList, 'editionname')">
                        <ng2-completer [disableInput]="(objectDetailsForm.value.editionSizeTotal==='Unique')" formControlName='editionName' #editionNameList
                          (keydown)="editionNameListOpen=!editionNameListOpen" [datasource]='editionTypeService' (blur)="validateSelectedItem(editionNameList.value, 'editionName')"
                          [minSearchLength]='0' placeholder="Edition Type" (change)="onChangeFunction($event)" (selected)="onChangeFunction($event)"
                          (keyup)="onEnterFigure($event)"></ng2-completer>
                        <div class="list-caret" (click)="openList(editionNameList, 'editionname')">
                          <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-4 p-0 pull-right">
                      <div class="col-sm-12" style="padding-left: 10px; padding-right: 10px;">
                        <input type="text" name="editionSizeTotal" [class]="(headerFlag==='result'||headerFlag==='edit')?'form-control mousePointer':'form-control'"
                          formControlName="editionSizeTotal" id="editionSizeTotal" value="{{reset==false?editionSizeDisplayTotal.display:objectDetailsForm.value.editionSizeTotal}}"
                          (click)="((headerFlag=='result') ||(headerFlag=='edit'))?EditionModalPrompt($event):''" placeholder="Edition Size Total"
                          ngModel />
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-4 pull-left">
                      <div class="col-sm-11 p-0" [hidden]="!(headerFlag=='result'||headerFlag=='edit')">
                        <input (keyup)="onChangeFunction($event)" type="number" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true"
                          (paste)="onPaste($event)" min="0" name="weight" formControlName="weight" class="form-control" id="weight"
                          placeholder="Weight" ngModel />
                      </div>
                      <div class="col-sm-11 p-0" [hidden]="!(headerFlag=='search')">
                        <input type="text" name="weight" formControlName="weight" (keydown)="validateEnteredTextForSearch($event)" (paste)="onPasteSearchMode($event)"
                          class="form-control" id="weight" placeholder="Weight" ngModel />
                      </div>
                      <span class="col-sm-1 pull-left d-inline-block row p-0 m-0 p-t-11 f-10 t-align-r">kg</span>
                    </div>
                    <div class="col-sm-8 pull-right">
                      <div class="col-sm-11 p-0 d-inline-block pull-right">
                        <input (keyup)="onChangeFunction($event)" type="text" name="foundry" class="form-control" formControlName="foundry" placeholder="Foundry"
                          id="foundry" ngModel />
                      </div>
                    </div>
                  </div>
                  <div class="form-group m-t-10">
                    <div class="row check-30-padding">
                      <div class="col-sm-3 p-0">
                        <label class="control-label f-11 p-0 checkbox-inline check">
                          Certificate
                          <input (change)="onChangeFunction($event)" type="checkbox" name="certificate" class="form-control" formControlName="certificate"
                            value="certificate" ngModel id="chk" (focus)="addOutline($event)" (blur)="removeOutline($event)"
                          />
                          <div>
                            <i class="fa fa-check"></i>
                          </div>
                        </label>
                      </div>
                      <div class="col-sm-2 p-0">
                        <label class="control-label f-11 p-0 checkbox-inline check">
                          Signed
                          <input (change)="onChangeFunction($event)" type="checkbox" name="signed" class="form-control" formControlName="signed" value="signed"
                            ngModel id="chk" (focus)="addOutline($event)" (blur)="removeOutline($event)" />
                          <div>
                            <i class="fa fa-check"></i>
                          </div>
                        </label>
                      </div>
                      <div class="col-sm-3 p-0">
                        <label class="control-label f-11 p-0 checkbox-inline check">
                          &nbsp;&nbsp;Stamped
                          <input (change)="onChangeFunction($event)" type="checkbox" name="stamped" class="form-control" formControlName="stamped"
                            value="stamped" ngModel id="chk" (focus)="addOutline($event)" (blur)="removeOutline($event)" />
                          <div>
                            <i class="fa fa-check"></i>
                          </div>
                        </label>
                      </div>
                      <div class="col-sm-4 p-0">
                        <label class="control-label f-11 p-0 checkbox-inline check">
                          Authentication
                          <input (change)="onChangeFunction($event)" type="checkbox" name="authentication" class="form-control" formControlName="authentication"
                            value="authentication" ngModel id="chk" (focus)="addOutline($event)" (blur)="removeOutline($event)"
                          />
                          <div>
                            <i class="fa fa-check"></i>
                          </div>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group m-t-10">
                    <div class="col-sm-6 p-0 pull-left">
                      <div class="col-sm-12">
                        <tag-input formControlName="archiveNumbers" id="archiveNumbers" [editable]='true' [addOnPaste]='true' [trimTags]='true' secondaryPlaceholder="Archive No."
                          placeholder="" blinkIfDupe="true" addOnBlur="true" [(ngModel)]="archiveNoTags" (onAdd)="getArchiveNumbers($event); this.headerFlag = this.externalId?'edit':this.headerFlag;"
                          (onRemove)="getArchiveNumbers($event); this.headerFlag = this.externalId?'edit':this.headerFlag;"
                          (onFocus)="getArchiveNumbers($event)" (onBlur)="getArchiveNumbers($event)" (onTextChange)="getArchiveNumbers($event)"
                          style="font-size:12px;"></tag-input>
                      </div>
                    </div>
                    <div class="col-sm-6 p-0 pull-right">
                      <div class="col-sm-12">
                        <input formControlName="sortCode" (keyup)="onChangeFunction($event)" no-match-found-text=" " class="form-control" placeholder="Sort Code"
                          id="sortCode" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-sm-height column" [style.height.px]="columnHeight">
          <div class="panel panel-default parent-cards">
            <app-event-report-component [objectId]="objectId" class="app-event-report-component"></app-event-report-component>
          </div>
        </div>
        <div class="col-sm-5 col-sm-height column" [style.height.px]="columnHeight">
          <div class="panel">

            <app-object-current-client [object]="currentProperty" (errorEvent)="showMessage($event, 'ERROR')"></app-object-current-client>

            <div class="col-sm-12 pull-left">
              <div class="row">
                <div class="panel-heading">
                </div>
                <ul class="nav nav-tabs" role="tablist" *ngIf="this.showProjects=='main'">
                  <li class="active" (click)="this.showProjects='main'">
                    <a href="javascript:void(0)" class="tagsEnter">Main</a>
                  </li>
                  <li (click)="this.showProjects='tags'">
                    <a href="javascript:void(0)" class="tagsEnter">Tags</a>
                  </li>
                </ul>
                <ul class="nav nav-tabs" role="tablist" *ngIf="this.showProjects=='tags'">
                  <li (click)="this.showProjects='main'">
                    <a href="javascript:void(0)" class="tagsEnter">Main</a>
                  </li>
                  <li class="active" (click)="this.showProjects='tags'">
                    <a href="javascript:void(0)" class="tagsEnter">Tags</a>
                  </li>
                </ul>
                <div class="table-responsive panel-230 tab-pane fade active in" *ngIf="this.showProjects=='main'">
                  <div class="panel m-t-10">
                    <div class="panel-heading">
                      <h3 class="panel-title">Flags
                      </h3>
                    </div>
                    <div class="panel-body" formGroupName="flags">
                      <div class="row">
                        <div class="col-sm-8 pull-left">
                          <div class="row p-0">
                            <span class="col-sm-5">
                              <span class="pull-right row">
                                <label class="checkbox-inline check">
                                  Authenticity
                                  <input (change)="onChangeFunction($event)" type="checkbox" formControlName="flagAuthenticity" class="check-flags-authenticity"
                                    value="" id="chk" (focus)="addOutline($event)" (blur)="removeOutline($event)">
                                  <div>
                                    <i class="fa fa-check"></i>
                                  </div>
                                </label>
                              </span>
                            </span>
                            <span class="col-sm-5">
                              <span class="pull-right row">
                                <label class="checkbox-inline check">
                                  Restitution
                                  <input (change)="onChangeFunction($event)" type="checkbox" formControlName="flagRestitution" class="check-flags-restitution"
                                    value="" id="chk" (focus)="addOutline($event)" (blur)="removeOutline($event)">
                                  <div>
                                    <i class="fa fa-check"></i>
                                  </div>
                                </label>
                              </span>
                            </span>
                            <span class="col-sm-5">
                              <span class="pull-right row">
                                <label class="checkbox-inline check">
                                  SFS
                                  <input (change)="onChangeFunction($event)" type="checkbox" formControlName="flagSfs" class="check-flags-sfs" value="" id="chk"
                                    (focus)="addOutline($event)" (blur)="removeOutline($event)">
                                  <div>
                                    <i class="fa fa-check"></i>
                                  </div>
                                </label>
                              </span>
                            </span>
                            <span class="col-sm-5">
                              <span class="pull-right row">
                                <label class="checkbox-inline check">
                                  Condition
                                  <input (change)="onChangeFunction($event)" type="checkbox" formControlName="flagCondition" class="check-flags-condition"
                                    value="" id="chk" (focus)="addOutline($event)" (blur)="removeOutline($event)">
                                  <div>
                                    <i class="fa fa-check"></i>
                                  </div>
                                </label>
                              </span>
                            </span>
                            <span class="col-sm-5">
                              <span class="pull-right row">
                                <label class="checkbox-inline check">
                                  Medium
                                  <input (change)="onChangeFunction($event)" type="checkbox" formControlName="flagMedium" class="check-flags-medium" value=""
                                    id="chk" (focus)="addOutline($event)" (blur)="removeOutline($event)">
                                  <div>
                                    <i class="fa fa-check"></i>
                                  </div>
                                </label>
                              </span>
                            </span>
                          </div>
                        </div>
                        <div class="col-sm-4 pull-right">
                          <span class="col-sm-12 p-0" style="position: relative;" (mouseleave)="closeList(flagsCountryList, 'flagscountry')">
                            <ng2-completer formControlName='flagsCountry' [(ngModel)]="flagsCountryValue" #flagsCountryList (keydown)="flagsCountryListOpen=!flagsCountryListOpen"
                              (blur)="validateSelectedItem(flagsCountryList.value, 'flagsCountry')" [datasource]='countryService'
                              [minSearchLength]='0' placeholder="Country" (change)="onChangeFunction($event)" (keyup)="onEnterFigure($event)"
                              (selected)="onChangeFunction($event)"></ng2-completer>
                            <div class="list-caret" (click)="openList(flagsCountryList, 'flagscountry')">
                              <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </div>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel">
                    <div class="panel-heading">
                      <h3 class="panel-title">Researcher Notes
                        <span class="r-complete-check">
                          <label class="control-label f-11 p-0 checkbox-inline check">
                            Complete
                            <input (change)="onChangeFunction($event)" type="checkbox" name="complete" value="complete" class="form-control checkboxEvent"
                              formControlName="researchCompleteCheck" id="chk" (focus)="addOutline($event)" (blur)="removeOutline($event)"
                            />
                            <div>
                              <i class="fa fa-check"></i>
                            </div>
                          </label>
                        </span>
                      </h3>
                    </div>
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-sm-12 p-0">
                          <div class="col-sm-6 p-0">
                            <div class="col-sm-12 pull-left">
                              <input (keyup)="onChangeFunction($event)" type="text" value='' [readonly]="reset==false" class="form-control" name="researcherName"
                                formControlName='researcherName' placeholder="Researcher Name" />
                            </div>
                          </div>
                          <div class="col-sm-6 p-0">
                            <div class="col-sm-12 pull-right">
                              <input (keyup)="onChangeFunction($event)" class="form-control" [readonly]="reset==false" name="researcherNotesDate" formControlName='researcherNotesDate'
                                value="{{reset==true?null:researchNotesDate}}" placeholder="DD MMM YYYY" />
                            </div>
                            <div *ngIf="objectDetailsForm.controls['researcherNotesDate'].hasError('pattern')" class="alert alert-danger">
                              {{validateDataOnSearch('researcherNotesDate')}} Date should be in the format 'dd mmm yyyy.'
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-12 p-0 p-t-20">
                          <div class="col-sm-12">
                            <textarea (keyup)="onChangeFunction($event)" rows="3" [readonly]="((headerFlag==='search') ||(headerFlag==='create'))" (keyup)="setResearcherInfo()"
                              class="b-1-ddd col-sm-12 researcher-notes" formControlName='researcherNotesText' maxlength="1000"
                              ngModel></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel h-400">
                    <div class="panel-body">
                      <table class="table table-sm table-striped table-scroll">
                        <thead>
                          <tr>
                            <th>CR</th>
                            <th>Type</th>
                            <th>Author</th>
                            <th>Volume</th>
                            <th>Number</th>
                          </tr>
                        </thead>
                        <tbody class="scrollable row" id='tblCatalogRaisonnees'>
                          <tr *ngIf="!externalId">
                            <td></td>
                            <td></td>
                            <td>
                              <input type='text' formControlName="artistCatalogueRaisoneeAuthor" class='form-control author CR-padding' placeholder="Author"
                                value='' />
                            </td>
                            <td>
                              <input type='text' formControlName="volume" class='form-control volumes CR-padding' placeholder="Volume" value='' />
                            </td>
                            <td>
                              <input type='text' formControlName="number" class='form-control number CR-padding' placeholder="Number" value='' />
                            </td>
                          </tr>
                          <tr *ngFor="let raisonnes of propertyCatalogRaisonnee; let i=index;">
                            <td *ngIf="!externalId" class="f-12">{{i+1 }}</td>
                            <td *ngIf="!externalId" class="f-12">{{raisonnes.type}}</td>
                            <td *ngIf="!externalId" class="f-12">{{raisonnes.author}}</td>
                            <td *ngIf="!externalId">
                              <input type='text' [value]="raisonnes.volumeCR?raisonnes.volumeCR:null" (input)="raisonnes.volumeCR = $event.target.value;"
                                class='form-control volumes w-75' placeholder="Volume" />
                            </td>
                            <td *ngIf="!externalId">
                              <input type='text' [value]="raisonnes.numberCR?raisonnes.numberCR:null" (input)="raisonnes.numberCR = $event.target.value;"
                                class='form-control number w-75' placeholder="Number" />
                            </td>
                          </tr>
                          <tr *ngFor="let raisonnes of propertyCatalogRaisonnee; let i=index;">
                            <td *ngIf="externalId" class="f-12">{{i+1 }}</td>
                            <td *ngIf="externalId" class="f-12">{{raisonnes.artistCatalogueRaisoneeType}}</td>
                            <td *ngIf="externalId" class="f-12">{{raisonnes.artistCatalogueRaisoneeAuthor}}</td>
                            <td *ngIf="externalId">
                              <input (keypress)="onChangeFunction($event)" type='text' [value]="raisonnes.volume?raisonnes.volume:null" (input)="raisonnes.volume = $event.target.value;"
                                class='form-control volumes w-75' placeholder="Volume" />
                            </td>
                            <td *ngIf="externalId">
                              <input (keypress)="onChangeFunction($event)" type='text' [value]="raisonnes.number?raisonnes.number:null" (input)="raisonnes.number = $event.target.value;"
                                class='form-control number w-75' placeholder="Number" />
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <!-- Main Tab Ends Here -->
                <!-- Tag Tab Starts Here -->
                <div class="table-responsive panel-230 tab-pane fade active in" *ngIf="this.showProjects=='tags'">
                  <div formGroupName="tags">
                    <div class="col-sm-12 m-t-10 panel">
                      <div class="panel-heading">
                        <h5 class="panel-title artist-title">Image</h5>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-12">
                          <div class="col-md-12 col-sm-12 subject-list">
                            <span *ngFor="let item of selectedSubject" class="selected-auto-list coloryellow"> {{item.name}}
                              <i class="fa fa-times" aria-hidden="true" (click)="removeSubject(item);"></i>
                            </span>
                          </div>
                          <div class="col-md-12 col-sm-12 subject-list autoFirstHightlight imageSubjectAutoComplete">
                            <input ngui-auto-complete formControlName="imageSubjects" [source]="nSubject" no-match-found-text="No records found" loading-text="Loading.."
                              placeholder="Subject" open-on-focus="false" (valueChanged)="subjectValChange($event); valueChanged();"
                              (blur)="removeAllSubjects($event)" class="form-control" [ngModel]="imageSubjects" id="subject-Data"
                            />
                            <i class="fa fa-caret-down subject-dropdown" (click)="subjectClicked()" aria-hidden="true"></i>
                          </div>
                        </div>

                      </div>
                      <div class="form-group">
                        <div class="col-sm-4 pull-left p-1">
                          <div class="col-sm-11" style="position: relative;" (mouseleave)="closeList(imageFigureList, 'imageFigure')">
                            <ng2-completer formControlName='imageFigure' #imageFigureList (keydown)="imageFigureListOpen=!imageFigureListOpen" (keyup)="onEnterFigure($event)"
                              (blur)="validateSelectedItem(imageFigureList.value, 'imageFigure')" [datasource]='imageFigureService'
                              [minSearchLength]='0' (change)="onChangeFunction($event)" placeholder="Figure" (selected)="onChangeFunction($event)"></ng2-completer>
                            <div class="list-caret" (click)="openList(imageFigureList, 'imageFigure')">
                              <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="col-md-12 col-sm-12 gender-list gender-selected-width">
                            <span *ngFor="let item of selectedGender" class="selected-auto-list coloryellow">
                              {{item.name}}
                              <i class="fa fa-times" aria-hidden="true" (click)="removeGender(item);onChangeFunction($event);"></i>
                            </span>
                          </div>
                          <div class="col-md-12 col-sm-12 gender-list autoFirstHightlight">
                            <input id="gender-input" ngui-auto-complete formControlName="imageGenders" [source]="nGender" no-match-found-text="No records found"
                              loading-text="Loading.." placeholder="Gender" open-on-focus="false" (valueChanged)="genderValChange($event); valueChanged();"
                              (blur)="removeAllGenders($event)" class="form-control" (keyup)="onChangeFunction($event)">
                            <i class="fa fa-caret-down gender-dropdown" (click)="gendersClicked()" aria-hidden="true"></i>
                          </div>
                        </div>

                        <div class="col-sm-4 ">
                          <div class="col-md-12 col-sm-12 position-list">
                            <span *ngFor="let item of selectedPosition" class="selected-auto-list coloryellow"> {{item.name}}
                              <i class="fa fa-times" aria-hidden="true" (click)="removePosition(item);onChangeFunction($event);"></i>
                            </span>
                          </div>
                          <div class="col-md-12 col-sm-12 position-list autoFirstHightlight">
                            <input id="position-input" ngui-auto-complete formControlName="imagePositions" [source]="nPosition" no-match-found-text="No records found"
                              loading-text="Loading.." placeholder="Position" open-on-focus="false" (valueChanged)="positionValChange($event); valueChanged();"
                              (blur)="removeAllPositions($event)" class="form-control" (keyup)="onChangeFunction($event)">
                            <i class="fa fa-caret-down gender-dropdown" (click)="positionsClicked()" aria-hidden="true"></i>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-12">
                          <div class="col-md-12 col-sm-12 animal-list">
                            <span *ngFor="let item of selectedAnimal" class="selected-auto-list coloryellow"> {{item.name}}
                              <i class="fa fa-times" aria-hidden="true" (click)="animalChange('remove', item);"></i>
                            </span>
                          </div>
                          <div class="col-md-12 col-sm-12 animal-list autoFirstHightlight">
                            <input ngui-auto-complete formControlName="imageAnimals" (keyup)="onChangeFunction($event)" [source]="observableAnimalSource.bind(this)"
                              loading-text="Loading.." no-match-found-text="No records found" [list-formatter]="animalListFormatter"
                              display-property-name="name" min-chars="1" placeholder="Animal" (valueChanged)="onChangeFunction(null)"
                              (ngModelChange)="animalChange('add',$event)" (keypress)="imageAnimals=$event.target.value" class="form-control"
                              [ngModel]="imageAnimals" (blur)="resetAnimalNameInput()">
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-12">
                          <div class="col-md-12 col-sm-12 color-list">
                            <span *ngFor="let item of selectedMainColor" class="selected-auto-list coloryellow"> {{item.name}}
                              <i class="fa fa-times" aria-hidden="true" (click)="removeMainColor(item);"></i>
                            </span>
                          </div>
                          <div class="col-md-12 col-sm-12 color-list autoFirstHightlight">
                            <input ngui-auto-complete min-chars="1" formControlName="imageMainColours" [source]="nMainColor" no-match-found-text="No records found"
                              loading-text="Loading.." placeholder="Main Colors" open-on-focus="false" (valueChanged)="mainColorsValChange($event);"
                              (blur)="removeAllMainColors($event)" class="form-control">
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-12 check-30-padding p-t-20">
                          <textarea rows="3" class="b-1-ddd col-sm-12 image-text" style="max-height:100px;" (keyup)="onChangeFunction($event);imageTextNextline($event)"
                            formControlName="imageText" id="imageText" maxlength="300" placeholder="Text" style="max-width:96% !important"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12 m-t-10 panel">
                      <div class="panel-heading">
                        <h5 class="panel-title artist-title">Expertise</h5>
                      </div>
                      <div class="form-group panel-body">
                        <div class="col-sm-12 check-30-padding">
                          <textarea rows="1" (keyup)="onChangeFunction($event)" formControlName="expertiseLocation" maxlength="250" no-match-found-text=" "
                            class="form-control" id="expertiseLocation" placeholder="Location"></textarea>
                        </div>

                        <div class="col-sm-12">
                          <div class="col-md-12 col-sm-12 sitter-list">
                            <span *ngFor="let sit of selectedSitter" class="selected-auto-list coloryellow">
                              {{sit.name}}
                              <i class="fa fa-times" aria-hidden="true" (click)="sitterChange('remove',sit);onChangeFunction($event);"></i>
                            </span>
                          </div>
                          <div class="col-sm-12">

                            <input placeholder="Display Name" readonly class="form-control">

                          </div>
                        </div>

                        <div class="col-sm-12">

                          <div class="col-sm-12 autoFirstHightlight">
                            <div class="col-sm-6 sitter-autocomplete-fname">
                              <input ngui-auto-complete formControlName="expertiseSitterFName" (keyup)="onChangeFunction($event)" id="expertiseFName" [source]="observableSource.bind(this)"
                                loading-text="Loading.." no-match-found-text="No records found" [list-formatter]="sitterListFormatter"
                                display-property-name="name" min-chars="2" placeholder="First Name" (valueChanged)="onChangeFunction(null)"
                                (ngModelChange)="sitterChangefirstName('add',$event)" (keypress)="expertiseSitterFName=$event.target.value"
                                class="form-control" [ngModel]="expertiseSitterFName" (blur)="removeSitterOnBlur($event);">
                            </div>
                            <div class="col-sm-6 sitter-autocomplete-lname">
                              <input ngui-auto-complete formControlName="expertiseSitterLName" (keyup)="onChangeFunction($event)" id="expertiseLName" [source]="observableSource.bind(this)"
                                loading-text="Loading.." no-match-found-text="No records found" [list-formatter]="sitterListFormatter"
                                display-property-name="name" min-chars="2" placeholder="Last Name" (valueChanged)="onChangeFunction(null)"
                                (ngModelChange)="sitterChangelastName('add',$event)" (keypress)="expertiseSitterLName=$event.target.value"
                                class="form-control" [ngModel]="expertiseSitterLName" (blur)="removeSitterOnBlur($event);">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12 m-t-10 panel">
                      <div class="panel-heading">
                        <h5 class="panel-title artist-title">Other</h5>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-12">
                          <div class="col-md-12 col-sm-12 othertags-list">
                            <span *ngFor="let item of selectedOtherTag" class="selected-auto-list coloryellow"> {{item.name}}
                              <i class="fa fa-times" aria-hidden="true" (click)="otherTagChange('remove',item);"></i>
                            </span>
                          </div>
                          <div class="col-md-12 col-sm-12 othertags-list autoFirstHightlight">
                            <input ngui-auto-complete formControlName="otherTags" (keyup)="onChangeFunction($event)" [source]="observableOtherTagSource.bind(this)"
                              loading-text="Loading.." no-match-found-text="No records found" [list-formatter]="otherTagListFormatter"
                              display-property-name="name" min-chars="1" placeholder="Other Tags" (valueChanged)="onChangeFunction(null)"
                              (ngModelChange)="otherTagChange('add',$event)" (keypress)="otherTags=$event.target.value" class="form-control"
                              [ngModel]="otherTags" (blur)="resetOtherTagNameInput()" maxlength="100">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12 m-t-10 panel">
                      <div class="panel-heading">
                        <h5 class="panel-title artist-title">Automated</h5>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-4 pull-left">
                          <div *ngIf="headerFlag!='search'" class="col-sm-10 p-0">
                            <label class="col-sm-1 p-0 m-0 p-t-6 f-10 t-align-c">Orientation</label>
                            <input type="text" readonly name="autoOrientation" class="form-control auto-tag-div" id="autoOrientation" formControlName="autoOrientation"
                              placeholder="Orientation" formControlName="autoOrientation" />
                          </div>
                          <div *ngIf="headerFlag=='search'">
                            <label class="p-0 m-0 p-t-6 f-10 t-align-c">Orientation</label>
                            <div class="col-sm-10 p-0" (mouseleave)="closeList(autoOrientationList, 'autoOrientation')">
                              <ng2-completer formControlName='autoOrientation' #autoOrientationList (keydown)="autoOrientationListOpen=!autoOrientationListOpen"
                                (blur)="validateSelectedItem(autoOrientationList.value, 'autoOrientation')" [datasource]='autoOrientationService'
                                [minSearchLength]='0' (change)="onChangeFunction($event)" placeholder="Orientation" (selected)="onChangeFunction($event)"
                                (keyup)="onEnterFigure($event)"></ng2-completer>
                              <div class="list-caret" (click)="openList(autoOrientationList, 'autoOrientation')">
                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4 pull-left">
                          <div class="col-sm-10 p-0" *ngIf="headerFlag!='search'">
                            <label class="col-sm-1 p-0 m-0 p-t-6 f-10 t-align-c">Image</label>
                            <input type="text" readonly name="autoImage" class="form-control auto-tag-div" id="autoImage" formControlName="autoImage"
                              placeholder="Image" />
                          </div>
                          <div *ngIf="headerFlag=='search'">
                            <label class="p-0 m-0 p-t-6 f-10 t-align-c">Image</label>
                            <div class="col-sm-10 p-0" (mouseleave)="closeList(autoImageList, 'autoImage')">
                              <ng2-completer formControlName='autoImage' #autoImageList (keydown)="autoImageListOpen=!autoImageListOpen" (blur)="validateSelectedItem(autoImageList.value, 'autoImage')"
                                [datasource]='autoImageService' [minSearchLength]='0' (change)="onChangeFunction($event)" placeholder="Image"
                                (selected)="onChangeFunction($event)" (keyup)="onEnterFigure($event)"></ng2-completer>
                              <div class="list-caret" (click)="openList(autoImageList, 'autoImage')">
                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-sm-4 pull-left">

                          <div class="col-sm-10 p-0" *ngIf="headerFlag!='search'">
                            <label class="col-sm-1 p-0 m-0 p-t-6 f-10 t-align-c">Scale</label>
                            <input type="text" readonly name="autoScale" class="form-control auto-tag-div" id="autoScale" formControlName="autoScale"
                              placeholder="Scale" />
                          </div>
                          <div *ngIf="headerFlag=='search'">
                            <label class="-0 m-0 p-t-6 f-10 t-align-c">Scale</label>
                            <div class="col-sm-10 p-0" (mouseleave)="closeList(autoScaleList, 'autoScale')">
                              <ng2-completer formControlName='autoScale' #autoScaleList (keydown)="autoScaleListOpen=!autoScaleListOpen" (blur)="validateSelectedItem(autoScaleList.value, 'autoScale')"
                                [datasource]='autoScaleService' [minSearchLength]='0' (change)="onChangeFunction($event)" placeholder="Scale"
                                (selected)="onChangeFunction($event)" (keyup)="onEnterFigure($event)"></ng2-completer>
                              <div class="list-caret" (click)="openList(autoScaleList, 'autoScale')">
                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6 pull-left p-t-10">

                          <div class="col-sm-10 p-0">
                            <label class="p-0 m-0 p-t-6 f-10 t-align-c">Area/volume in cm</label>
                            <div *ngIf="headerFlag!='search'">
                              <input type="text" readonly name="autoAreaCm" class="form-control auto-tag-div" id="autoAreaCm" formControlName="autoAreaCm"
                                placeholder="Area/volume in cm" />
                            </div>
                            <div *ngIf="headerFlag=='search'">
                              <input (paste)="onPasteSearchMode($event)" (keydown)="validateEnteredTextForSearch($event)" formControlName="autoAreaCm"
                                (change)="onChangeFunction($event);" (keyup)="resetAreaVolume('autoAreaCm');" class="form-control"
                                placeholder="Area/volume in cm" />
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6 pull-left p-t-10">

                          <div class="col-sm-10 p-0">
                            <label class=" p-0 m-0 p-t-6 f-10 t-align-c">Area/volume in in</label>
                            <div *ngIf="headerFlag!='search'">
                              <input type="text" readonly name="autoAreaIn" class="form-control auto-tag-div" id="autoAreaIn" formControlName="autoAreaIn"
                                placeholder="Area/volume in in" />
                            </div>
                            <div *ngIf="headerFlag=='search'">
                              <input (paste)="onPasteSearchMode($event)" (keydown)="validateEnteredTextForSearch($event)" formControlName="autoAreaIn"
                                (change)="onChangeFunction($event);" (keyup)="resetAreaVolume('autoAreaIn');" class="form-control"
                                placeholder="Area/volume in in" />
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
                <!-- Tag Ends Here -->
              </div>
              <!-- Row Tab Ends Here -->
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<app-presentation-view [hidden]="!presentationView" [setObject]="currentProperty"></app-presentation-view>
<app-save-search-modal (openSaveSearchPopup)="onOpenSaveSearch()"></app-save-search-modal>
<app-save-list-modal (progressnumber)="onprogressnumber($event)"></app-save-list-modal>