.event-table-wrapper {
  height: 600px;
  .event-table {
    th.pricing-column {
      width: 280px;
    }
    tbody {
      td {
        &.item-container {
          height: 100%;
          .item-group {
            display:flex;
            .single-item{
              padding: 0 10px;
            }
            .pricing-column{
              flex-grow: 1;
            }
            .pipeline-column{
              flex-grow:1;
            }
          }
        }
      }
    }
    .pricing-column{
      width: 30%;
      max-width: 280px;
    }
    .pipeline-column{
      width: 30%;
    }
    .plus-one {
      margin-left: 5px;
    }
  }
}
