<div class="panel panel-with-search pricing-table">
  <div class="panel-heading">
    <h5 class="panel-title segment-title">Currently Owned</h5>
    <div class="row">
      <div class="col-sm-6">
        <a id="itemsLink" routerLink="items" class="panel-show-all">Items Page</a>
      </div>
      <div class="col-sm-6">
        <table-filter class="panel-search pull-right" [(itemsSetter)]="pricingItemsResponse" (onFilter)="onFilter($event)"></table-filter>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="event-table-wrapper">
      <table class="table event-table event-table-header">
        <thead>
          <tr>
            <th class="object-column">{{pricingTableHeaders[0]}}</th>
            <th class="pricing-column">{{pricingTableHeaders[1]}}</th>
            <th class="pipeline-column">{{pricingTableHeaders[2]}}</th>
          </tr>
        </thead>
      </table>
      <div class="scroll-table-wrapper" infinite-scroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="800" [scrollWindow]="false"
        (scrolled)="lotTableScrolled()">
        <table class="table event-table">
          <thead>
            <tr>
              <th class="object-column"></th>
              <th class="pricing-column"></th>
              <th class="pipeline-column"></th>
            </tr>
          </thead>
          <tbody *ngIf="pricingItems">
            <tr id="itemDetail-{{item.id}}" *ngFor="let item of pricingItems" [appContextMenu]="{ options: menuOptions, item: item }">
              <td>
                <app-table-object [showTitles]="false " [objectIds]="item.objects " [tableOptions]="objectTableOptions "></app-table-object>
              </td>
              <td class="item-container " (click)="showPricingItemPopUp(item)" colspan="2">
                <div class="item-group" [ngClass]="{'item-grow-2': item.objects?.length > 1, 'item-grow-3': item.objects?.length>2 }">
                  <div class="pricing-column">
                    <ul class="item-group-enum ">
                      <li *ngIf="item.auctionCurrency " class="single-item">
                        <label>{{ labels.auction }}:</label>
                        <span> {{ item.auctionCurrency.code }} {{ item.auctionLowValue | number }} - {{ item.auctionHighValue |
                          number }}
                          <span class="plus-one" *ngIf="item.auctionPlusOne">{{labels.plusOne }}</span>
                        </span>
                      </li>
                      <li *ngIf="item.privateSaleCurrency " class="single-item">
                        <label>{{ labels.ps }}:</label>
                        <span>{{ item.privateSaleCurrency.code }} {{ item.privateSaleNetSeller | number }}</span>
                      </li>
                      <li *ngIf="item.insuranceCurrency " class="single-item">
                        <label>{{ labels.insurance }}:</label>
                        <span>{{ item.insuranceCurrency.code }} {{ item.insurancePrice | number }}</span>
                      </li>
                      <li *ngIf="item.fairMarketValueCurrency " class="single-item">
                        <label>{{ labels.fmv }}:</label>
                        <span>{{ item.fairMarketValueCurrency.code }} {{ item.fairMarketValuePrice | number }}
                        </span>
                      </li>
                    </ul>

                  </div>
                  <div class="pipeline-column">
                    <ul>
                      <li *ngIf="item.pipelineAuction " class="single-item">
                        <label>{{ labels.auction }}:</label>
                        <span class="pipelineAuctionName">{{ item.pipelineAuction.establishment.name }} {{ item.pipelineAuction.establishment.cityName }},
                          {{ item.pipelineAuction.title }}, {{ item.pipelineAuction.date | date }}</span>
                      </li>
                      <li *ngIf="item.pipelinePrivateSale " class="single-item">
                        <label>{{ labels.ps }}:</label>
                        <span class="pipelinePrivateSaleName">{{ item.pipelinePrivateSale.establishment.name }}, {{ item.pipelinePrivateSale.establishment.cityName
                          }} {{ item.pipelinePrivateSale.title }}, {{ item.pipelinePrivateSale.date | date }}</span>
                      </li>
                      <li *ngIf="item.pipelineExhibition " class="single-item">
                        <label>{{ labels.exhibition }}:</label>
                        <span class="pipelineExhibitionName">{{ item.pipelineExhibition.establishment.name }}, {{ item.pipelineExhibition.establishment.cityName
                          }} {{ item.pipelineExhibition.title }}, {{ item.pipelineExhibition.date | date }}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="pricing-context-menu ">
  <app-context-menu></app-context-menu>
</div>
