<simple-notifications [options]="options" class="publication-notifications"></simple-notifications>
<app-navigation-header [totalPages]="pageTotal"></app-navigation-header>
<div class="section-container" [attr.state]="state">
  <h1 class="section-title">{{ sectionTitle }}</h1>
  <div id="publicationContainer" class="event-container publication-container">
    <div class="form-container">
      <div class="panel form-container-panel">
        <div class="panel-heading">
          <div class="text-center">
            <h2 class="section-subtitle">{{ generalDictionary.SECTIONS.TITLES.SUBTITLE(generalDictionary.SECTIONS.PUBLICATION) }}</h2>
          </div>
        </div>
        <app-publication-form [hideElements]="hiddenFields" (messageEmitted)="handleFormMessages($event)"></app-publication-form>
      </div>
    </div>
    <div class="table-container" [style.display]="showTable>0  ? 'block' : 'none'">
      <app-publication-table [eventItems]="eventItems" (moreItems)="loadMoreItems()" (removeItem)="removeItem($event)"
        (showPublicationItemPopup)="loadItemPopup($event, true)"></app-publication-table>
    </div>
  </div>
</div>