:host /deep/ .artist-wrapper .ngui-auto-complete-wrapper {
  display: inline-block;
  width: 404px;
}

.artist-wrapper {
  .fa-search {
    position: relative;
    left: 14px;
    z-index: 100;
  }
  .close-button {
    position: relative;
    right: 20px;
    display: inline-block;
    background: #ffffff;
    border: 0;
    box-shadow: 0;
    padding: 0;
    font-size: 17px;
  }
  .form-control {
    &::placeholder {
      font-style: italic;
    }
    &::-webkit-input-placeholder {
      font-style: italic;
    }
    &:-moz-placeholder {
      font-style: italic;
    }
    &::-moz-placeholder {
      font-style: italic;
    }
    &:-ms-input-placeholder {
      font-style: italic;
    }
  }
}