<div [formGroup]="artistForm">
  <div class="artist-wrapper">
    <i class="fa fa-fw fa-search"></i>
    <input class="form-control" ngui-auto-complete formControlName="artistData" [source]="observableSource.bind(this)" [list-formatter]="nameListFormatter"
      display-property-name="firstName" min-chars="2" placeholder="Select Artist" no-match-found-text="No records found" />
    <button type="button" class="close-button" (click)="resetSelectedValue()" *ngIf="!emptyValue">&times;</button>
  </div>
</div>