<simple-notifications [options]="options" class="notifications"></simple-notifications>
<app-navigation-header [totalPages]="pageTotal"></app-navigation-header>
<div class="section-container" [attr.state]="state">
  <h1 class="section-title">{{ sectionTitle }}</h1>
  <div class="item-publication">
    <div class="item-publication-col item-publication-col-1">
      <div class="panel panel-default">
        <div class="panel-heading panel-blue">
          <h2 class="section-subtitle">{{ dictionary.PUBLICATION_ITEMS.MAIN_TITLE }}</h2>
        </div>
        <div class="panel-body">
          <app-publication-form disableForm="true" [hideElements]="hideElements" [hidden]="!publicationElement"></app-publication-form>
          <div *ngIf="!publicationElement">{{ dictionary.PUBLICATION_ITEMS.MESSAGES.PUBLICATION_NOT_FOUND }}</div>
        </div>
        <div class="panel-default">
          <div class="panel-heading panel-blue">
            <h3 class="segment-title">{{ dictionary.PUBLICATION_ITEMS.OBJECTS }}</h3>
          </div>
          <div class="panel-body">
            <app-table-object [objectIds]="current.objects" *ngIf="current && current.objects" [enableContextMenu]="true" (removeObject)="removeObject(current, $event, pubItemSvc)"></app-table-object>
          </div>
        </div>
      </div>
    </div>
    <div class="item-publication-col item-publication-col-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="section-subtitle">{{ dictionary.PUBLICATION_ITEMS.ITEM_DETAILS_TITLE }}</h2>
        </div>
        <div class="panel-body">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="segment-title">{{ dictionary.PUBLICATION_ITEMS.REFERENCE_DETAILS_TITLE }}</h3>
            </div>
            <div class="panel-body">
              <app-publication-item-form></app-publication-item-form>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="segment-title">{{ dictionary.PUBLICATION_ITEMS.FURTHER_DETAILS_TITLE }}</h3>
            </div>
            <div class="panel-body">
              <app-item-details-form [parentForm]="form" [hideElements]="hideDetailElements"></app-item-details-form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="item-publication-col item-publication-col-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="section-subtitle">{{ dictionary.PUBLICATION_ITEMS.ITEM_CATALOGUING }}</h3>
        </div>
        <div class="panel-body">
          <div class="panel panel-default">
            <div class="panel-body">
              <app-item-cataloguing-form [parentForm]="form"></app-item-cataloguing-form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>