<div class="row" (click)="goToEvent(eventCard.id)">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-6">
        <label class="card-event-title">{{eventCard.typeEvent}}</label>
      </div>
      <div class="col-sm-6">
        <label class="card-event-title-date">{{eventCard.date | date:constant.DATE_FORMAT}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <label class="card-event-subtitle">{{dictionary.EVENT_PUBLICATION.EVENT}}:</label>
      </div>
      <div class="col-sm-10">
        <label class="card-event-text">{{eventCard.author}}{{eventCard.publisher}}{{eventCard.bookTitle}}</label>
      </div>
    </div>
    <div class="row" *ngIf="eventCard.source">
      <div class="col-sm-2">
        <label class="card-event-subtitle">{{ dictionary.EVENT_PUBLICATION.SOURCE }}:</label>
      </div>
      <div class="col-sm-10">
        <label class="card-event-text">{{eventCard.source}}</label>
      </div>
    </div>
    <div class="row" *ngIf="eventCard.client">
      <div class="col-sm-2">
        <label class="card-event-subtitle">{{ dictionary.EVENT_PUBLICATION.CLIENT }}:</label>
      </div>
      <div class="col-sm-10">
        <label class="card-event-text">{{eventCard.client}}{{eventCard.mainClient}}</label>
      </div>
    </div>
    <div class="row" *ngIf="eventCard.notes">
      <div class="col-sm-2">
        <label class="card-event-subtitle">{{ dictionary.EVENT_PUBLICATION.NOTES }}:</label>
      </div>
      <div class="col-sm-10">
        <label class="card-event-text">{{ eventCard.notes }}</label>
      </div>
    </div>
  </div>
</div>