<div id="consignmentPurchaseForm" class="panel">
  <div class="panel-heading">
    <div class="row text-center">
      <h2 id="mainClientTitle" class="section-subtitle">{{ dictionary.TITLE }}</h2>
    </div>
  </div>
  <div class="panel-body form">
    <form id="formConsignmentPurchase" class="form-horizontal flexbox-container" [formGroup]="consignmentPurchaseForm" novalidate>
      <fieldset>
        <div class="row form-group">
          <div class="col-sm-12" [class.has-error]="formEventError['eventType']">
            <label for="eventType">{{ dictionary.LABELS.CONSIGMENT_PURCHASE }}
              <span class="require" *ngIf="requiredType">*</span>
            </label>
            <input id="eventType" ngui-auto-complete class="form-control arrow-down" [source]="eventList" [list-formatter]="listFormatter"
              display-property-name="name" value-property-name="id" autocomplete="off" formControlName="eventType" min-chars="0"
            />
            <span *ngIf="formEventError['eventType']" class="help-block require">{{ formEventError['eventType'] }}</span>
          </div>
        </div>
        <div class="panel-heading">
          <div class="row text-center">
            <h3 id="affiliatedClientTitle" class="segment-title">{{ dictionary.OWNERSHIP_TITLE }}</h3>
          </div>
        </div>
        <app-client-form [parentForm]="consignmentPurchaseForm" [validate]="validate" [required]="validate">
        </app-client-form>

        <div class="row form-group" *ngIf="hideElements.indexOf('notes') === -1">
          <div class="col-sm-12">
            <label for="notes">{{ dictionary.LABELS.NOTES }}</label>
            <textarea id="notes" class="form-control" rows="2" formControlName="notes"></textarea>
          </div>
        </div>
        <div class="panel-heading">
          <div class="row text-center">
            <h3 id="affiliatedClientTitle" class="segment-title">{{ dictionary.AFFILIATED_TITLE }}</h3>
          </div>
        </div>
        <app-affiliated-client [validate]="validate" [parentForm]="consignmentPurchaseForm">
        </app-affiliated-client>
        <div class="form-group row" *ngIf="validate">
          <div class="col-sm-12">
            <p>&nbsp;</p>
            <p class="require-fields">
              <span class="require">*</span>{{ validationMessages.INVALID_FORM_MESSAGE }}</p>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>