<div class="table-filter btn-group">
  <i class="fa fa-fw fa-search input-group-addon"></i>
  <input type="text" id="filterSearch" class="form-control" placeholder="Search" (keyup.enter)="filterItems($event.target.value)">
</div>
