<div class="panel" *ngIf="statistics">
    <div class="panel-heading">
        <div class="col-sm-4"><label>Confirmed Lots</label></div>
        <div class="col-sm-4"><label>Targeted Lots</label></div>
    </div>
    <div>
        <div class="lots">
            <div class="row">
                <div class="col-sm-4 labels">
                    <label>{{labels['lots>10']}}</label>
                </div>
                <div class="col-sm-4 confirmed-lots">
                    <div class="inputs">
                        <input class="form-control medium" [attr.disabled]=" disabled ? '' :null" [value]="statistics.confirmedLotsOfMoreThan10Mil"
                        />
                    </div>
                </div>
                <div class="col-sm-4 targeted-lots">
                    <div class="inputs">
                        <input class="form-control medium" [attr.disabled]=" disabled ? '' :null" [value]="statistics.targetedLotsOfMoreThan10Mil"
                        />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 labels">
                    <label>{{labels["lots<1<10"]}}</label>
                </div>
                <div class="col-sm-4 confirmed-lots">
                    <div class="inputs">
                        <input class="form-control medium" [attr.disabled]=" disabled ? '' :null" [value]="statistics.confirmedLotsOfMoreThan10Mil"
                        />
                    </div>
                </div>
                <div class="col-sm-4 targeted-lots">
                    <div class="inputs">
                        <input class="form-control medium" [attr.disabled]=" disabled ? '' :null" [value]="statistics.targetedLotsOfMoreThan10Mil"
                        />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 labels">
                    <label>{{labels["lots<1"]}}</label>
                </div>
                <div class="col-sm-4 confirmed-lots">
                    <div class="inputs">
                        <input class="form-control medium" [attr.disabled]=" disabled ? '' :null" [value]="statistics.confirmedLotsLessThan1Mil"
                        />
                    </div>
                </div>
                <div class="col-sm-4 targeted-lots">
                    <div class="inputs">
                        <input class="form-control medium" [attr.disabled]=" disabled ? '' :null" [value]="statistics.targetedLotsLessThan1Mil" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 labels">
                    <label>{{labels['lotsTotal']}}</label>
                </div>
                <div class="col-sm-4 confirmed-lots">
                    <div class="inputs">
                        <input class="form-control medium" [attr.disabled]=" disabled ? '' :null" [value]="statistics.confirmedLotsTotal" />
                    </div>
                </div>
                <div class="col-sm-4 targeted-lots">
                    <div class="inputs">
                        <input class="form-control medium" [attr.disabled]=" disabled ? '' :null" [value]="statistics.targetedLotsTotal" />
                    </div>
                </div>
            </div>
        </div>
        <div class="calculation">
            <div class="row">
                <div class="col-sm-4 labels">
                    <label>{{labels['totalLow']}}</label>
                </div>
                <div class="col-sm-4 confirmed-lots">
                    <div class="inputs">
                        <input class="form-control" [attr.disabled]=" disabled ? '' :null" [value]="statistics.confirmedLotsTotalLow | currencyCustomSymbol:currencyCode:currencySymbol" />
                    </div>
                </div>
                <div class="col-sm-4 targeted-lots">
                    <div class="inputs">
                        <input class="form-control" [attr.disabled]=" disabled ? '' :null" [value]="statistics.targetedLotsTotalLow | currencyCustomSymbol:currencyCode:currencySymbol" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4 labels">
                    <label>{{labels['totalHigh']}}</label>
                </div>
                <div class="col-sm-4 confirmed-lots">
                    <div class="inputs">
                        <input class="form-control" [attr.disabled]=" disabled ? '' :null" [value]="statistics.targetedLotsTotalLow | currencyCustomSymbol:currencyCode:currencySymbol" />
                    </div>
                </div>
                <div class="col-sm-4 targeted-lots">
                    <div class="inputs">
                        <input class="form-control" [attr.disabled]=" disabled ? '' :null" [value]="statistics.targetedLotsTotalHigh | currencyCustomSymbol:currencyCode:currencySymbol" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>