$font-size : 11px;
.col-md-6 {
  flex-basis: 50%;
}
label {
    font-size: $font-size;
    color:#999999;
}

.lots, .calculation {
  .targeted-lots, .confirmed-lots {
    display: flex;
    padding: 0 10px;
    .inputs input{
      margin-left: auto;
      padding: 0 10px;
      text-align: right;
    }
    input.medium{
      width: 60%;
    }
    input[disabled] {
      opacity:.6;
    }
  }
}

.panel{
  display: flex;
  height: auto;
  flex-direction: column;
  .row{
    margin: 0;
  }
  .panel-heading{
    display: flex;
    justify-content: flex-end;
    text-align: right;
    font-weight: bold;
    font-size: $font-size;
  }
}
