<simple-notifications [options]="options" class="notifications" (onDestroy)="destroyMessage($event)"></simple-notifications>
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <ng2-slim-loading-bar class="slim-loader-bar" height="5px"></ng2-slim-loading-bar>
  <!-- Brand and toggle get grouped for better mobile display -->
  <app-header (click)="redirect('home')"></app-header>
  <ng2-toasty></ng2-toasty>
  <!-- Top Menu Items -->
  <ul class="nav top-nav pull-right">
    <li>
      <a (click)="redirect(prevPage)">
        <i class="fa fa fa-reply" aria-hidden="true" title="Back to Admin Page"></i>
      </a>
    </li>
    <li class="dropdown" (click)="toggleFunction(1);" [ngClass]="{'open': toggleFlag === 1}">
      <a class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-ellipsis-h"></i>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu dropdown-padding-right">
        <li class="divider"></li>
        <li>
          <a (click)="this.keycloak.logout()">
            <i class="fa fa-fw fa-power-off"></i> Log Out</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
<div class="cancelExport" *ngIf="cancelFlag">
  <h4 (click)="cancelExport()">Cancel Export</h4>
</div>
<!-- File Upload Error -->
<div id="page-wrapper" (window:keydown)="keyboardShortCutFunction($event)">
  <div class="container-fluid" (click)="toggleFlag=0;">
    <div class="row ">
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <form (ngSubmit)="upload()" [formGroup]="csvImportExportForm">
              <div class="form-group">
                <label>Select Type</label>
                <select class="form-control" (change)="onChangeFileType($event.target.value)">
                  <option value="export">Export</option>
                  <option value="import">Import</option>
                  <option *ngIf="isAdmin" value="Delete">Delete</option>
                </select>
              </div>

              <div class="form-group">
                <label>Select Table</label>
                <select class="form-control" (change)="onChangeFileEvent($event.target.value)">
                  <option *ngFor="let i of eventArray" [value]="i.name">{{i.name}}</option>
                </select>
              </div>

              <div class="form-group" *ngIf="!fileType && fileEvent==='SavedList' && buttonName != 'Delete'">
                <label>Select Saved List</label>
                <span *ngIf="!userSaveList.length">
                  <i class="fa fa-spinner fa-spin fa-1x fa-fw"></i>
                </span>
                <select *ngIf="userSaveList.length" size="10" id="savedListData" class="form-control" formControlName="savelist" (change)="onChangeSaveList($event.target.value)"
                  (scroll)="scrolledSavedList()">
                  <option *ngFor="let i of userSaveList" [value]="i.id">{{i.name}}</option>
                </select>
              </div>

              <div class="form-group" *ngIf="fileType">
                <label>File</label>
                <input id="uploadFile" type="file" />
              </div>
              <br/>
              <button type="submit" *ngIf="buttonName != 'Delete'" class="btn btn-primary import-button">{{buttonName}}</button>
              <div *ngIf="!fileType && fileEvent==='SavedList' && buttonName == 'Delete'">
                <div class="filter-margin">
                  <input type="text" placeholder="Filter" (input)="textboxValue($event)">
                </div>
                <div class="">
                  <div class="containerScroll" id="AdminSavedListContainer">
                    <table>
                      <thead>
                        <tr class="header">
                          <th>Lists Name</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let list of savedListData; let i=index">
                          <td class="wid90">{{list}}</td>
                          <td class="text-center" style="cursor:pointer">
                            <i class="fa fa-trash" (click)="deleteSavedList(i)" aria-hidden="true"></i>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>