.import-button{
	background-color: #000000;
	border-color: #000000;
}
.file-upload-status-message {
    width: auto;
    height: auto;
    margin: 0 auto;
    position: fixed;
    top: 18%;
    right: 0%;
    z-index: 10000;
    border-radius: 0;
    color: #333;
    background: #e4d400;
    font-size: 15px;
    padding: 15px;
    font-family: "colaborate-thin";
    font-weight: bold;
    cursor: pointer;
}
.file-upload-status-message i {
    font-size: 18px;
}
.file-upload-status-message .emphasize {
    font-style: italic;
}
.cancelExport{
    position:  fixed;
    float: left;
    pointer-events: auto;
    z-index:  999;
    top: 60%;
    cursor:  pointer;
    left: 46%;
}
i.fa.fa.fa-reply {
    cursor: pointer;
}

.containerScroll {
    overflow-y: auto;
    height: 400px;
  }

  .wid90{
      width: 98%;
  }

  .filter-margin{
      margin-left: 71%;
  }