<div [formGroup]="clientForm" class="form">
  <div class="row form-group">
    <div class="col-sm-4" [class.has-error]="formEventError['clientSourceType']">
      <label for="clientSourceType">{{ dictionary.LABELS.CLIENT_SOURCE_TYPE }}
        <span class="require" *ngIf="requiredClient">*</span>
      </label>
      <input id="clientSourceType" ngui-auto-complete class="form-control arrow-down" [source]="sourceTypes" [list-formatter]="listFormatter"
        display-property-name="name" value-property-name="id" autocomplete="off" formControlName="clientSourceType" min-chars="0"
      />
      <span *ngIf="formEventError['clientSourceType']" class="help-block require">{{ formEventError['clientSourceType'] }}</span>
    </div>
    <div class="col-sm-4" [class.has-error]="formEventError['clientSource']">
      <label for="clientSource">{{ dictionary.LABELS.CLIENT_SOURCE }}
        <span class="require" *ngIf="requiredClient">*</span>
      </label>
      <input id="clientSource" ngui-auto-complete class="form-control" (eventScroll)="eventScroll($event, null)" [source]="observableSource.bind(this)"
        no-match-found-text="{{ dictionary.MESSAGES.EMPTY_CLIENT_SOURCE_NAMES }}" [list-formatter]="listFormatter" display-property-name="name"
        value-property-name="id" autocomplete="off" formControlName="clientSource" loading-text=""
      />
      <span *ngIf="formEventError['clientSource']" class="help-block require">{{ formEventError['clientSource'] }}</span>
    </div>
    <div class="col-sm-4" [class.has-error]="formEventError['clientStatus']">
      <label for="clientStatus">{{ dictionary.LABELS.CLIENT_STATUS }}
        <span class="require" *ngIf="requiredClient">*</span>
      </label>
      <input id="clientStatus" ngui-auto-complete class="form-control arrow-down" [source]="statusList" autocomplete="off" [list-formatter]="listFormatter"
        display-property-name="name" value-property-name="id" formControlName="clientStatus" min-chars="0" />

      <span *ngIf="formEventError['clientStatus']" class="help-block require">{{ formEventError['clientStatus'] }}</span>
    </div>
  </div>
  <div class="row form-group client-form">
    <div class="col-sm-8">
      <label for="clientClientName">{{ dictionary.LABELS.CLIENT_NAME }}</label>
      <input id="clientClientName" type="text" class="form-control" formControlName="clientName" disabled />
    </div>
    <div class="col-sm-4" [class.has-error]="formEventError['clientId']">
      <div class="row">
        <div class="col-sm-9">
          <label for="clientId">{{ dictionary.LABELS.CLIENT_ID }}
            <span class="require" *ngIf="clientFieldRequired">*</span>
          </label>
          <input id="clientId" type="text" class="form-control" formControlName="clientId" disabled />
          <span *ngIf="formEventError['clientId']" class="help-block require">{{ formEventError['clientId'] }}</span>
        </div>
        <div class="col-sm-3" *ngIf="!disabled">
          <a id="addMainClientId" class="client-form-add-client" (click)="addClient()">+</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-sm-8">
      <label for="affiliatedClientKCM">{{ dictionary.LABELS.CLIENT_KCM }}</label>
      <input id="affiliatedClientKCM" type="text" class="form-control" formControlName="clientKcm" disabled autocomplete="off"
      />
    </div>
  </div>
  <div class="row form-group">
    <div class="col-sm-8">
      <label for="affiliatedMainClient">{{ dictionary.LABELS.MAIN_CLIENT }}</label>
      <input id="affiliatedMainClient" type="text" class="form-control" formControlName="mainClient" disabled autocomplete="off"
      />
    </div>
    <div class="col-sm-4" [class.has-error]="formEventError['clientId']">
      <label for="mainClientId">{{ dictionary.LABELS.MAIN_CLIENT_ID }}</label>
      <input id="mainClientId" type="text" class="form-control" formControlName="mainClientId" disabled autocomplete="off" />
    </div>
  </div>
  <div class="row form-group">
    <div class="col-sm-12">
      <label for="display">{{ dictionary.LABELS.DISPLAY }}</label>
      <input id="display" type="text" class="form-control" formControlName="display" autocomplete="off" />
    </div>
  </div>
</div>