<div class="table-object">
  <div *ngIf="showTitles" class="table-header">
    <div class="image-header">
      <span>{{dictionary.IMAGE}}</span>
    </div>
    <div class="data-header">
      <span>{{dictionary.CATALOGUING}}</span>
    </div>
  </div>
  <div *ngIf="objects.length" class="table-content">
    <div *ngFor="let object of objects" [appContextMenu]="{ options: menuOptions, item: object }">
      <app-object *ngIf="object" [object]="object"></app-object>
    </div>
  </div>
</div>
<app-context-menu></app-context-menu>