.table-object {
  .table-header {
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 10px;

    .image-header {
      float:left;
      width: 30%;
      padding: 4px;
    }

    .data-header {
      float: left;
      width: 70%;
      padding: 4px;
    }
  }

  .table-content {
    max-height: 468px;
    overflow-y: auto;
  }


  .table {
    img {
      max-width: 180px;
    }
    p {
      white-space: pre-line;
    }

    &.embedded {
      td {
        border-top: none;
      }
    }
  }
}