<nav id="navHeaderValue" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <app-header (click)="redirect('home');"></app-header>
  <!-- Top Menu Items -->
  <ul class="nav top-nav pull-right">
    <li>
      <a (click)="redirect('admin')">
        <i class="fa fa fa-reply" aria-hidden="true" title="Back to Admin Page"></i>
      </a>
    </li>
    <li class="dropdown" (click)="toggleFunction(1);" [ngClass]="{'open': toggleFlag === 1}">
      <a class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-ellipsis-h fa-lg"></i>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu dropdown-padding-right">
        <li class="divider"></li>
        <li>
          <a (click)="this.keycloak.logout()">
            <i class="fa fa-fw fa-power-off"></i> Log Out</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>

<div>

</div>
<diV class="admin-saved-list-border" (window:keydown)="keyboardShortCutSavedListFunction($event)">
  <div class="filterIcon">
    <span class="text-left homeIcon">
      <i class="fa fa-home admin-savedList-home-icon" aria-hidden="true" (click)="goToAdmin()"></i>
    </span>
    <span class="pull-right">
      <input type="text" placeholder="Filter" id="savelist-admin-filter">
      <i class="fa fa-search" style="font-size:22px" (click)="textboxValue($event)"></i>
    </span>
  </div>
  <section class="">
    <div class="containerScroll" id="AdminSavedListContainer" (scroll)="scrolled()">
      <table>
        <thead>
          <tr class="header">
            <th class="wid30" (click)="onSort('name')">Lists Name
              <div>Lists Name
                <span class="m-l-5">
                  <span *ngIf="sortColumn=='date'">
                    <i class="fa fa-sort" aria-hidden="true"></i>
                  </span>
                  <span *ngIf="sortColumn=='name' && sortOrder=='asc'">
                    <i class="fa fa-sort-asc" aria-hidden="true"></i>
                  </span>
                  <span *ngIf="sortColumn=='name' && sortOrder=='desc'">
                    <i class="fa fa-sort-desc" aria-hidden="true"></i>
                  </span>
                </span>
              </div>
            </th>
            <th class="wid20">Notes
              <div>Notes</div>
            </th>
            <th class="wid20">Owner
              <div>Owner</div>
            </th>
            <th class="wid20" (click)="onSort('date')">Creation Date
              <div>Creation Date
                <span class="m-l-5">
                  <span *ngIf="sortColumn=='name'">
                    <i class="fa fa-sort" aria-hidden="true"></i>
                  </span>
                  <span *ngIf="sortColumn=='date' && sortOrder=='asc'">
                    <i class="fa fa-sort-asc" aria-hidden="true"></i>
                  </span>
                  <span *ngIf="sortColumn=='date' && sortOrder=='desc'">
                    <i class="fa fa-sort-desc" aria-hidden="true"></i>
                  </span>
                </span>
              </div>
            </th>
            <th class="wid10">Action
              <div>Action</div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let list of savedListData; let i=index">
            <td>{{list.name}}</td>
            <td>{{list.notes?list.notes:'-'}}</td>
            <td>{{list.user}}</td>
            <td>{{getRequiredDate(list.date)}}</td>
            <td class="text-center" style="position:relative;">
              <input type="checkbox" [(ngModel)]="list.saveListResearchCompleteStatus" (change)="checkboxChanged($event,i)">
              <i class="fa fa-save" style="position:absolute;top:37%" (click)="saveListSaveButton(i)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</diV>