   section {
    position: relative;
    border: 1px solid #000;
    padding-top: 37px;
    background: dimgray;
    width: 940px;
  }
  section.positioned {
    position: absolute;
    top:100px;
    left:100px;
    width:800px;
    box-shadow: 0 0 15px #333;
  }
  .containerScroll {
    overflow-y: auto;
    height: 400px;
  }
  table {
    border-spacing: 0;
    width:100%;
    table-layout:fixed;
    border: 1px solid #000
  }
  td + td {
    border-left:1px solid #eee;
  }
  td, th {
    border-bottom:1px solid #eee;
    background: #ddd;
    color: #000;
    padding: 10px 25px;
  }
  th {
    height: 0;
    line-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: transparent;
    border: none;
    white-space: nowrap;
  }
  th div{
    position: absolute;
    background: transparent;
    color: #FFF;
    padding: 9px 25px;
    top: 0;
    margin-left: -25px;
    line-height: normal;
    border-left: 1px solid gray;
  }
  th:first-child div{
    border: none;
  }
  thead .wid10{
    width: 10%;
  }
  thead .wid20{
    width: 20%;
  }
  thead .wid30{
    width: 30%;
  }
  section.container{
      padding-left: 0px;
      width:970px!important;
  }
  input[type="checkbox"]{
      display: block;
  }
  .filterIcon{
      padding: 10px;
      width: 940px;
  }
  .admin-saved-list-border{
    margin-left: 10px;
  }
  .homeIcon{
      font-size: 18px;
  }