@import './_variables.scss';
@mixin font-format {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
}

@mixin label-format {
  color: $color-labels;
  font-family: "Helvetica Neue", Helvetica, Arial, cursive;
  font-size: 10px;
  font-weight: 600;
}

@mixin flex-container($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-content: $align;
}