/**
@author: Sothebys EOS
@subject: styling variables
**/

$table-border-color: #ddd;
$details-table-image-width: 150px;
$border-color: #ddd;
$font-size: 12px;
$default-font-color: #333;
$default-flex-grow: 0;
$default-item-row: 1 15%;
$image-calculation:calc(100% - #{$details-table-image-width});
$default-image-and-description-row:46%;
$transaction-item-lot-row: $default-flex-grow 3%;
$transaction-item-image-row: $default-flex-grow $details-table-image-width;
$transaction-item-cataloguing-row: $image-calculation;
$transaction-item-price-row: $default-flex-grow 26%;
$transaction-item-associated-event-row: $default-flex-grow 35%;
$transaction-item-consigner-row: $default-item-row;
$transaction-item-purchaser-row: $default-item-row;
$associated-event: $transaction-item-associated-event-row;
$color-title: #666;
$color-labels: #666;
$section-title-size: 14px;
$section-sutbtitle-size: 12px;
$segment-title-size: 11px;
// flex utilities
.flex-container {
    @extend .full-width;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.standar-label-width {
    width: 40%;
}

.standar-field-width {
    width: 60%;
}

.full-width {
    width: 100%;
}