@import './_mixins.scss';
.flex-container {
    @extend .full-width;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.standar-label-width {
    width: 40%;
}

.standar-field-width {
    width: 60%;
}

.full-width {
    width: 100%;
}

.form {
    @include font-format;
    .col-md-6 {
        flex-basis: 50%;
    }
    .form-group {
        position: relative;
        .require {
            color: #a94442;
        }
        .help-block {
            color: #a94442;
            margin: 2px 0;
            font-size: 10px;
        }
        .arrow-down {
            background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, transparent, transparent);
            background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
            background-size: 5px 5px, 5px 5px, 1px 1.5em;
            background-repeat: no-repeat;
        }
    }
    .require-fields {
        color: #a94442;
    }
    .field-readonly {
        color: #cacaca;
    }
    .has-error {
        .form-control {
            box-shadow: inset 1px 1px 5px rgba(255, 104, 104, 0.075);
        }
        label {
            color: #a94442;
        }
    }
    textarea {
        @include font-format;
        max-height: auto;
        overflow: visible;
        resize: none;
    }
    label {
        @include label-format;
        margin: 0;
    }
    input {
        @include font-format;
        min-height: 28px;
    }
    .form-control[disabled] {
        background: #eee
    }
    .flexFields {
        display: flex;
        .flexField {
            margin: 0 5px;
            .notWrapped {
                word-spacing: 2px;
                white-space: nowrap;
                word-break: keep-all;
            }
            .smallCase {
                padding: 2px;
                font-size: 10px;
            }
        }
    }
    &-inline {
        height: 100%;
        .form-group {
            @extend .full-width;
            padding: 0;
            margin: 0;
        }
        .compact {
            &-clear-button {
                align-self: baseline;
            }
            &-row {
                &-holder {
                    @extend .flex-container;
                    padding: 0 15px;
                    margin: 10px 0;
                }
                display: flex;
                padding-left: 15px;
                @extend .flex-container;
            }
            &-fields {
                &-title {
                    @extend .flex-container;
                    height: 20px;
                    align-items: flex-end;
                    &-label {
                        font-size: 12px;
                        margin-right: 15px;
                    }
                }
                &-label {
                    @extend .standar-label-width;
                    font-weight: normal;
                    margin-top: auto;
                    &-list {
                        @extend .standar-label-width;
                        align-self: flex-start;
                    }
                    &-checkbox {
                        display: flex;
                        @extend .full-width;
                        font-weight: normal;
                    }
                }
                &-input {
                    @extend .standar-field-width;
                    padding: 0;
                    display: block;
                    &.full-width {
                        @extend .full-width;
                    }
                }
                &-span {
                    @extend .full-width;
                }
                &-list {
                    @extend .standar-field-width;
                    list-style-type: none;
                    padding: 0;
                    margin-bottom: 0px;
                    margin-left: auto;
                    &-item {
                        display: flex;
                        margin-bottom: 10px;
                        input[type=checkbox] {
                            display: inline-block;
                            margin-top: -5px;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
}

.form-control:focus,
.completer-input:focus,
.ng2-tag-input.ng2-tag-input--focused {
    border-color: rgba(85, 85, 85, .5) !important;
}

:host /deep/ .has-error {
    .completer-input {
        border-color: #a94442;
    }
}

:host /deep/ .btn-default,
:host /deep/ .dropdown,
:host /deep/ .ui-select-match {
    &:hover,
    &:active,
    &:focus {
        background-color: #fff;
        outline: none;
    }
}

:host /deep/ .form-horizontal .ngui-auto-complete {
    height: auto !important;
}

h2 {
    text-align: center;
    font-size: 16px;
    margin: 10px 0;
}

h3 {
    text-align: center;
    font-size: 12px;
    margin: 10px 0;
}