@import './_mixins.scss';
@import './_variables.scss';
.section-container {
  .event-container {
    padding: 0 20px 20px;
    display: flex;
    justify-content: center;
    .form-container {
      flex-basis: 30%;
      transition: all 0.8s;
      &-panel {
        height: auto;
      }
    }
    .table-container {
      flex-basis: 70%;
      margin-left: 1%;
      flex-grow: 0.1;
      flex-shrink: 1;
      transition: all 0.8s;
    }
  }
}

.event-link-container {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  .event-link {
    font-size: 11px;
  }
}

.section-title {
  color: $color-title;
  text-align: center;
  font-size: $section-title-size;
  margin: 20px 0 15px;
  font-weight: bold;
}

.section-subtitle {
  color: $color-title;
  font-size: $section-sutbtitle-size;
  font-weight: bold;
  text-align: center;
}

.segment-title {
  color: $color-title;
  text-align: center;
  font-weight: bold;
  font-size: $segment-title-size;
}

.panel-with-search {
  .panel-heading {
    display: block;
    .panel-title {
      display: block;
    }
    .panel-show-all {
      font-size: $segment-title-size;
    }
  }
}

:host /deep/ .simple-notification-wrapper {
  z-index: 1040 !important;
}

.notifications {
  .simple-notification {
    top: 42px;
  }
}