@import './_mixins.scss';
@import './_variables.scss';

/*
  common event table component
*/

.event-table-wrapper {
  height: 600px;
  .scroll-table-wrapper {
    overflow-y: auto;
    max-height: 96%;
  }
  .event-table {
    width: 100%;
    height: 100%;
    &.event-table-header {
      height: auto;
      overflow: hidden;
      margin-bottom: 0;
    }
    * {
      @include font-format;
    }
    ul {
      list-style: none;
      padding: 0;
    }
    thead {
      tr {
        th {
          &.object-column {
            width: 40%;
          }
          padding: 4px;
          text-transform: capitalize;
          color: $color-title;
        }
      }
    }
    dl {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      dt {
        word-break: break-word;
        flex-basis: 38%;
      }
      dd {
        flex-basis: 60%;
        text-align: right;
      }
    }
    tbody {
      td {
        &.item-container {
          height: 100%;
          .item-group {
            border: 1px solid transparent;
            cursor: pointer;
            padding: 5px;
            height: 144px;
            &.item-grow-2 {
              height: 300px;
              &.item-grow-3 {
                height: 467px;
              }
            }
            &:hover {
              border: 1px solid #ccc;
            }
          }
        }
        .single-text {
          label {
            text-align: left;
            font-weight: lighter;
          }
        }
        .single-item {
          display: flex;
          label {
            text-align: left;
            flex-grow: 1;
          }
          span {
            flex-grow: 2;
            text-align: right;
          }
        }
        .btn-client {
          margin-left: 5px;
        }
        .card {
          padding: 5px;
          cursor: pointer;
          border: 1px solid transparent;
          list-style: none;
          min-height: 60px;
          display: block;
          width: 90%;
          &:hover {
            border-color: $border-color;
          }
          .spec {
            @include flex-container(space-between, flex-start);
            padding: 0;
          }
          .spec-text {
            text-align: right;
            margin-left: 5px;
            line-height: 1;
            padding-top: 2px;
          }
        }
      }
    }
  }
}


/*
  scrollable event table
*/

.event-table-scrollable {
  width: 100%;
  thead {
    &>tr {
      border-bottom: 1px solid $table-border-color;
      justify-content: flex-start;
      width: 100%;
    }
  }
  tbody {
    overflow-y: auto;
    &>tr {
      border-top: 1px solid $table-border-color;
      &:first-child {
        border-top: none;
      }
      &>td {
        border-top: none;
      }
    }
  }
  tbody {
    min-height: 150px;
    max-height: 600px;
  }
}

.table-scroll {
  tbody {
    margin: 0;
    padding: 0;
  }
  div,
  tr td ul li {
    &.image-description-holder {
      padding: 8px;
      .image {
        padding: 0 8px;
      }
    }
  }
  .lot {
    max-width: 100px;
    &.lot-content {
      font-size: 10px;
      word-wrap: break-word;
    }
  }
  .lot-content {
    font-size: 10px;
    word-wrap: break-word;
  }
  .price-highEstimate {
    margin-bottom: 16px;
  }
  .associated-event {
    margin-bottom: 0;
    &.new {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    a {
      cursor: pointer;
    }
    button {
      margin-bottom: 5px;
    }
  }
}