<div class="dropzone-container" id="my_dropzone">
  <div #previewImageButton id="deletebutton" class="buttoncontainer" style="position:absolute;z-index:2;top: 0;right: 0;display: none;">
    <button type="button" id="deletePreview" class="close-delete-button" aria-label="Close" (click)="delete()">
      <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
    </button>
  </div>
  <div class="buttoncontainer" id="deleteimagebutton" style="position:absolute;z-index:2;top: 0;right: 0;display: none;">
    <button type="button" class="close-button" aria-label="Close" (click)="deleteImage()">
      <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
    </button>
  </div>
  <div #previewImg id="dropzone-drop-area" (click)="maxFiles()" class="dropzone-drop-area" style="z-index:1;width:100%;padding:0;">
    <div id="uploadtext" class="dz-clickable" style="position:absolute;top:40%;left:40%;">
      <span class="horizontal-center text-center">UPLOAD IMAGE</span>
    </div>
    <div #fetch id="fetch" on-mouseover='over()' on-mouseout='out()' class="fetch" class="dz-preview dz-file-preview" style="position:absolute;top:0;height:170px;z-index:2;width:100%;">
      <div class="dz-details" style="position:absolute;top:0;width:100%;height:170px;">
        <div *ngIf="fullPath">
          <img *ngIf="srcFlag" id="imageFetch" class="img-center" data-dz-thumbnail="" [src]="fullPath" style="max-width:100%;max-height:167px;">
        </div>
      </div>
    </div>
    <div *ngIf="fileDropped()">
      <div class="centered noselect clickthrough">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>