.dropzone-container {
  width: 100%;
}

.dropzone-drop-area {
  border: 1px groove rgba(0, 0, 0, 0.3);
  width: 36%;
  margin: 0 auto;
  min-height: 170px;
  box-sizing: border-box;
  padding: 60px 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  cursor: pointer;
  position: relative;
  max-height: 170px;
}

.dropzone-drop-area:hover {
  color: darkorange;
  border-color: darkorange;
}

.new-object-dropzone-drop-area {
  border: 1px groove rgba(0, 0, 0, 0.3);
  width: 36%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 60px 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  cursor: pointer;
  position: relative;
  height: auto;
}

.new-object-dropzone-drop-area:hover {
  color: darkorange;
  border-color: darkorange;
}

#fetch .buttoncontainer {
  visibility: hidden;
}

#fetch:hover .buttoncontainer {
  visibility: visible;
  width: 10px;
}

.dz-img {
  margin-left: -15px !important;
  margin-top: -40px !important;
}

.wrap {
  position: relative;
  display: inline-block;
}

.wrap .buttoncontainer {
  position: absolute;
  top: 0;
  right: 0;
}


.img-center{
  position: absolute;
  top: 49%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.gray-background{
  background: lightgray;
}
