<div class="dropzone-container" id="new_object_dropzone">
    <div #previewImageButton id="newObjectDeleteButton" class="buttoncontainer" style="position:absolute;z-index:2;top: 0;right: 0;display: none;">
        <button type="button" id="deletePreview" class="close-delete-button" aria-label="Close" (click)="delete()">
        <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
        </button>
    </div>
    <div class="buttoncontainer" id="newObjectDeleteImageButton" style="position:absolute;z-index:3;top: 0;right: 0;display: none;">
        <button type="button" class="close-button" aria-label="Close" (click)="deleteImage()">
        <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
        </button>
    </div>
    <div #previewImg id="new-object-dropzone-drop-area" class="new-object-dropzone-drop-area" style="z-index:1;width:100%;padding:0;height:500px;">
        <div id="uploadtext" class="dz-clickable" style="position:absolute;top:40%;left:40%;">
        <span class="horizontal-center text-center">UPLOAD IMAGE</span>
        </div>
        <div *ngIf="fileDropped()">
        <div class="centered noselect clickthrough">
            <ng-content></ng-content>
        </div>
        </div>
    </div>
</div>      