  #dragabbleProgressbar .ui-dialog.ui-widget .ui-dialog-content {
    padding: 0;
  }
  
  #dragabbleProgressbar .ui-dialog .ui-dialog-content {
    padding: 0;
  }

  #dragabbleProgressbar .ui-dialog{
    z-index: 1150 !important;
  }

  #dragabbleProgressbar .ui-widget- {
    background: #f6f7f9 0 0 repeat-x;    
  }

  #dragabbleProgressbarDelete .ui-dialog.ui-widget .ui-dialog-content {
    padding: 0;
  }
  
  #dragabbleProgressbarDelete .ui-dialog .ui-dialog-content {
    padding: 0;
  }

  #dragabbleProgressbarDelete .ui-widget- {
    background: #f6f7f9 0 0 repeat-x;    
  }

  #reset-timer-button{
    position: absolute;
    top: -100px;
  }