.screen-block {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.50) url('../assets/images/ajax-loader.gif') no-repeat center center;
    z-index: 1040;
    display: none;
    &.lock {
        display: block;
    }
}