<div class="screen-block" [ngClass]="{'lock':isLocked}"></div>
<router-outlet></router-outlet>
<div>
   <button id="reset-timer-button" (click)="callResetTimer()"></button>
</div>
<ng2-toasty></ng2-toasty>
<div id="dragabbleProgressbar">
  <p-dialog header="{{progressBarNo}} / {{totalRecords}} added" [(visible)]="showProgressBar" width="300" [responsive]="true" [closable]="false" [positionTop]="100" [positionLeft]="1030"></p-dialog>
</div>