<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <app-header></app-header>
    <!-- Top Menu Items -->
    <ul class="nav top-nav pull-right">
      <li class="dropdown" (click)="toggleFunction(1);" [ngClass]="{'open': toggleFlag === 1}">
        <a  id="more" class="dropdown-toggle" data-toggle="dropdown">
           <i class="fa fa-ellipsis-h"></i>
           <b class="caret"></b>
         </a>
         <ul class="dropdown-menu dropdown-padding-right">
             <li class="divider"></li>
             <li>
              <a (click)="this.keycloak.logout()" id="logOutBtn">
              <i class="fa fa-fw fa-power-off"></i> Log Out</a>
             </li>
         </ul>
       </li>
    </ul>
  </nav>
  <br/>
  <br/>
  <div (window:keydown)="keyboardShortCutFunction($event)">
    <div class="container-fluid home-menu" (click)="toggleFlag=0;">
      <div class="row">
      <div class="col-sm-6" id="divHomeOptions">
  
              <div class="row">
          <div class="col-md-4">
            <div class="bordered-button artist" (click)="onArtist()">
              <span class="bordered-button-text">{{generalDictionary.ARTIST}}</span>
                                      </div>
                                  </div>
  
          <div class="col-md-4">
            <div  id="divHomeObjects" class="bordered-button object" (click)="onObject()">
              <span class="bordered-button-text">{{generalDictionary.OBJECT}}</span>
                              </div>
                          </div>
  
          <div class="col-lg-4 col-md-4">
            <div id="divHomeOptionsCli" class="bordered-button client" routerLink="/client/search">
              <span class="bordered-button-text">{{generalDictionary.CLIENT}}</span>
                      </div>
          </div>
  
                      <div class="col-lg-4 col-md-4">
            <div id="divHomeOptionsTra" class="bordered-button transaction" routerLink="/transaction/search">
              <span class="bordered-button-text">{{generalDictionary.TRANSACTION}}</span>
                                      </div>
                                  </div>
  
          <div class="col-lg-4 col-md-4">
            <div class="bordered-button publications" routerLink="/publication/search" id="divHomeOptionsPub">
              <span class="bordered-button-text">{{generalDictionary.PUBLICATION}}</span>
                              </div>
                          </div>
  
                      <div class="col-lg-4 col-md-4">
            <div id="divHomeOptionsPri" class="bordered-button pricing" routerLink="/pricing/search">
              <span class="bordered-button-text">{{generalDictionary.PRICING}}</span>
                                      </div>
                                  </div>
  
          <div class="col-lg-4 col-md-4">
            <div id="divHomeOptionsPurc" class="bordered-button consignment-purchase" routerLink="/consignment-purchase/search">
              <span class="bordered-button-text">{{generalDictionary.CONSIGNMENT_PURCHASE}}</span>
                              </div>
                          </div>
  
          <div class="col-md-4">
            <div class="bordered-button import-export" (click)="onImportExport()">
              <span class="bordered-button-text">{{generalDictionary.IMPORT_EXPORT}}</span>
            </div>
          </div>
          
          <div class="col-md-4" *ngIf="isAdmin">
            <div class="bordered-button pricing" (click)="onAdmin()">
                    <span class="bordered-button-text">ADMIN</span>
            </div>
          </div>
        </div>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-6 pull-left">
                <app-saved-search></app-saved-search>
            </div>
            <div class="col-sm-6 pull-left">
                <app-saved-list></app-saved-list>
            </div>
        </div>
        </div>
      </div>