.home-menu {
    margin-top: 10px;
    .bordered-button {
        box-shadow: none;
        cursor: pointer;
        border: 1px solid #a7a7a7;
        height: 120px;
        overflow: hidden;
        text-align: center;
        margin: 10px 0;
        display: flex;
        align-items: center;
        &.object {
            border-color: #ffa9ee;
        }
        &.artist {
            border-color: #ffc169;
        }
        &.import-export {
            border-color: #ffa9ee;
        }
        &.transaction {
            border-color: #ffc169;
        }
        &.consignment-purchase {
            border-color: #ffc169;
        }
        &.publications {
            border-color: #ffa9ee;
        }
        &.pricing {
            border-color: #a4ff5c;
        }
        &.client {
            border-color: #a4ff5c;
        }
        &-text {
            display: block;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 17px;
            color: #a7a7a7;
            text-align: center;
            width: 100%;
        }
    }
}