<div class="modal-dialog app-dialog single-item-component">
  <div class="modal-content">
    <div class="modal-header">
      <div class="row">
        <div class="col-sm-8">
          <h5 class="modal-title">{{ title }}</h5>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-12">
              <button class="modal-btn secondary pull-right" (click)="close()">
                  {{ dictionary.DIALOG.ADD_OBJECTS_TO_ITEM.BUTTON.CANCEL }}
              </button>
              <button class="modal-btn primary pull-right" (click)="save()">
                  {{ dictionary.DIALOG.ADD_OBJECTS_TO_ITEM.BUTTON.SAVE }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div [formGroup]="addObjectsItemForm" class="form">
      <div class="modal-body modal-add-item">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group row">
              <div class="col-sm-2 ">
                <span class="item-id" for="inpCountryName">{{ dictionary.DIALOG.ADD_OBJECTS_TO_ITEM.LABEL.ITEM_ID }}</span>
              </div>
              <div class="col-sm-9">
                  <input id="inpCountryName" maxlength="14" class="form-control" type="text" formControlName="itemId"/>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>