.single-item-component {
    width: 33%;
    .modal-title{
      margin-top: 13px;
    }
    .subtitle {
      font-weight: bold;
    }
    .save {
      cursor: pointer;
      background: none;
      border: 0;
      box-shadow: none;
      color: #288671;
    }

    .cancel {
      cursor: pointer;
      background: none;
      border: 0;
      box-shadow: none;
      color: #288671;
      font-size: 24px;
    }

    a.open-item,
    a.open-item:hover {
      cursor: pointer;
      text-decoration: none;
      margin-top: 0px;
      font-size: 11px;
    }

    .item-id{
      display: block;
      margin-top: 5px;
      text-align: right;
    }

    .modal-add-item{
      padding-top: 30px;
      padding-bottom: 30px;
    }
}