<!-- Navigation -->
<nav id="navHeaderValue" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <app-header (click)="redirect('home');"></app-header>
  <!-- Top Menu Items -->
  <ul class="nav top-nav pull-right">
       <li class="dropdown" (click)="toggleFunction(1);" [ngClass]="{'open': toggleFlag === 1}">
            <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-h fa-lg"></i>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu dropdown-padding-right">
                <li class="divider"></li>
                <li><a (click)="this.keycloak.logout()"><i class="fa fa-fw fa-power-off"></i> Log Out</a></li>
            </ul>
        </li>
    </ul>
</nav>
<br/>
<br/>
<div>
  <div class="container-fluid" (click)="toggleFlag=0;" (window:keydown)="keyboardShortCutAdminFunction($event)">
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-lg-4 col-md-4">
                        <div class="panel object-border">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-12 text-center home-title" (click)="redirect('importexport')">
                                        <br/><div><h4>IMPORT/EXPORT</h4></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="panel artist-border">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-12 text-center home-title" (click)="redirect('lists')">
                                        <br/><div><h4>LISTS</h4></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="panel import-export-border">
                            <div class="panel-heading m-b-1">
                                <div class="row">
                                    <div class="col-xs-12 text-center home-title" (click)="redirect('amend')">
                                        <br/><div><h4 class="m-0-auto">AMEND DROPDOWN VALUES</h4></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6"></div>
      </div>
    </div>
</div>