.item-transaction{
  height: {
    font-size:14px;
  };
  display: flex;
    &-col{
      margin: 0 5px
    }
    &-col-1 {
      flex-basis: 33%;
    }
    &-col-2 {
      flex-basis: 33%;
    }
    &-col-3 {
      flex-basis: 33%;
    }
    .subtitle{
      font-size: 14px;
      text-align: center;
    }
}


:host /deep/ .simple-notification-wrapper {
  z-index: 1040 !important;
}
