<simple-notifications [options]="options" class="transaction-notifications"></simple-notifications>
<app-navigation-header [totalPages]="pageTotal"></app-navigation-header>
<div class="section-container" [attr.state]="state">
  <h1 class="section-title">{{ sectionTitle }}</h1>
  <div class="item-transaction" [attr.state]="state">
    <div class="item-transaction-col item-transaction-col-1">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="panel-heading panel-blue">
            <h2 class="subtitle">{{ dictionary.TRANSACTION_ITEMS.MAIN_TITLE }}</h2>
          </div>
          <div class="panel-body">
            <app-details disableForm="true" [hideElements]="hideElements"></app-details>
          </div>
        </div>
        <div class="panel-default">
          <div class="panel-heading panel-blue">
            <h2 class="subtitle">{{ dictionary.PUBLICATION_ITEMS.OBJECTS }}</h2>
          </div>
          <div class="panel-body">
            <app-table-object [objectIds]="currentItem.objects" *ngIf="currentItem && currentItem.objects" [enableContextMenu]="true"
              (removeObject)="removeObject(currentItem, $event, transactionItemService)"></app-table-object>
          </div>
        </div>
      </div>
    </div>
    <div class="item-transaction-col item-transaction-col-2">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="panel-heading panel-blue">
            <h2 class="subtitle">{{ dictionary.TRANSACTION_ITEMS.ITEM_DETAILS_TITLE }}</h2>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h5 class="subtitle">{{ dictionary.TRANSACTION_ITEMS.LOT_DETAILS_TITLE }}</h5>
            </div>
            <div class="panel-body" *ngIf="itemOptions">
              <app-transaction-item-form-component [parentForm]="form" [options]="itemOptions" [validation]="validate" [hideElements]="itemFormHiddenFields"></app-transaction-item-form-component>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h5 class="subtitle">{{ dictionary.TRANSACTION_ITEMS.FURTHER_DETAILS_TITLE }}</h5>
            </div>

            <div class="panel-body">
              <app-item-details-form [parentForm]="form"></app-item-details-form>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="item-transaction-col item-transaction-col-3">
      <div class="panel panel-default">
        <div class="panel-heading panel-blue">
          <h2 class="subtitle">{{ dictionary.TRANSACTION_ITEMS.ITEM_CATALOGUING }}</h2>
        </div>
        <div class="panel-body">
          <app-item-cataloguing-form [parentForm]="form"></app-item-cataloguing-form>
        </div>
      </div>
    </div>
  </div>
</div>