<form id="form-event-pricing" class="form pricing-form" [formGroup]="pricingEventForm" novalidate>
  <div class="valuation-group">
    <div class="form-group panel panel-default" [formGroup]="valuationForm">
      <div class="panel-body">
        <!-- valuation form -->
        <div class="form">
          <div class="form-group row">
            <div class="col-sm-6" [class.has-error]="valuationFormErrors.valuationDate" *ngIf="hideElements.indexOf('valuationDate')===-1">
              <label for="valuationDate">
                {{ labels.date }}
                <span class="require" *ngIf="validate">*</span>
              </label>
              <input id="valuationDate" type="text" class="form-control" bsDatepicker formControlName="valuationDate" [bsConfig]="datePickerConfig"
              />
              <span *ngIf="valuationFormErrors['valuationDate']" class="help-block require">{{ valuationFormErrors['valuationDate'] }}</span>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6" [class.has-error]="valuationFormErrors.valuationOrigin" *ngIf="hideElements.indexOf('valuationOrigin')===-1">
              <label for="valuationOrigin">
                {{ labels.origin }}
                <span class="require" *ngIf="validate">*</span>
              </label>
              <input id="valuationOrigin" ngui-auto-complete class="form-control arrow-down" [source]="pricingOrigins" [list-formatter]="listFormatter"
                display-property-name="name" value-property-name="valuationOriginId" placeholder="{{ labels.origin }}" formControlName="valuationOrigin"
                min-chars="0" />
              <span *ngIf="valuationFormErrors['valuationOrigin']" class="help-block require">{{ valuationFormErrors['valuationOrigin'] }}</span>
            </div>
            <div class="col-sm-6" [class.has-error]="valuationFormErrors.valuationType" *ngIf="hideElements.indexOf('valuationType')===-1">
              <label for="valuationType">
                {{ labels.type }}
                <span class="require" *ngIf="validate">*</span>
              </label>
              <input id="valuationType" ngui-auto-complete class="form-control arrow-down" [source]="pricingTypes" [list-formatter]="listFormatter"
                display-property-name="name" value-property-name="valuationTypeId" placeholder="{{ labels.type }}" formControlName="valuationType"
                min-chars="0" />
              <span *ngIf="valuationFormErrors['valuationType']" class="help-block require">{{ valuationFormErrors['valuationType'] }}</span>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-6" [class.has-error]="valuationFormErrors.valuationId" *ngIf="hideElements.indexOf('valuationId')===-1">
              <label for="valuationId">{{ labels.valuationId }}</label>
              <input id="valuationId" formControlName="valuationId" class="form-control" type="text" [placeholder]="labels.valuationId">
              <span *ngIf="valuationFormErrors['valuationId']" class="help-block require">{{ valuationFormErrors['valuationId'] }}</span>
            </div>
            <div class="col-sm-6" [class.has-error]="valuationFormErrors.valuationProposal" *ngIf="hideElements.indexOf('valuationProposal')===-1">
              <label for="valuationProposal">{{ labels.proposal }}</label>
              <input id="valuationProposal" formControlName="valuationProposal" class="form-control" type="text" [placeholder]="labels.proposal">
              <span *ngIf="valuationFormErrors['valuationProposal']" class="help-block require">{{ valuationFormErrors['valuationProposal'] }}</span>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12" [class.has-error]="valuationFormErrors.valuationNotes" *ngIf="hideElements.indexOf('valuationNotes')===-1">
              <label for="valuationNotes">{{ labels.notes }}</label>
              <textarea id="valuationNotes" class="form-control" cols="5" rows="2" formControlName="valuationNotes"></textarea>
              <span *ngIf="valuationFormErrors['valuationNotes']" class="help-block require">{{ valuationFormErrors['valuationNotes'] }}</span>
            </div>
          </div>
        </div>
        <!-- EO valuation form -->
      </div>
    </div>
  </div>

  <div class="client-group" *ngIf="!(hideAffiliatedClient && hideClient)">
    <div class="form-group panel panel-default">
      <div class="panel-heading" *ngIf="!hideSubtitles">
        <div class="row text-center">
          <h2 class="section-subtitle">{{ labels.clientDetails }}</h2>
        </div>
      </div>
      <div class="panel-body">
        <div *ngIf="!hideClient">
          <div class="row text-center" *ngIf="!hideSubtitles">
            <h3 class="segment-title">{{ labels.mainClient }}</h3>
          </div>
          <app-client-form [parentForm]="pricingEventForm" [validate]="validate" [required]="validate" [disabled]="disabled"></app-client-form>
        </div>
        <div *ngIf="!hideAffiliatedClient">
          <div class="row text-center" *ngIf="!hideSubtitles">
            <h3 class="segment-title">{{ labels.affiliatedClient }}</h3>
          </div>
          <app-affiliated-client [parentForm]="pricingEventForm" [validate]="validate" [disabled]="disabled"></app-affiliated-client>
        </div>
      </div>
    </div>
  </div>

  <div class="event-id" *ngIf="hideElements.indexOf('eventId')===-1">
    <div class="form-group panel panel-default">
      <div class="panel-body" [class.has-error]="valuationFormErrors.eventId">
        <label for="valuationType">
          {{ labels.eventId }}
          <span class="require" [hidden]="!formRequired.eventId">*</span>
        </label>
        <input id="eventId" formControlName="eventId" class="form-control" type="text" [placeholder]="labels.eventId">
        <span *ngIf="valuationFormErrors['eventId']" class="help-block require">{{ valuationFormErrors['eventId'] }}</span>
      </div>
    </div>
  </div>
</form>