<div class="form pricing-item-form" [formGroup]="form">
  <div class="flexFields">
    <div class="flexField">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="segment-title">{{ labels.values }}</h3>
        </div>
        <div class="panel-body">
          <div class="form" [formGroup]="formItemValues">
            <div class="form-group row" qa-data="valAuction">
              <div class="col-sm-12 flex-container">
                <app-currency-estimate #currencyEstimate [validation]="requiredMode" [setOptions]="componentOptions.auction"></app-currency-estimate>
                <label class="checkbox-inline check f-11" (click)="switch('formItemValues', 'auctionPlusOne')">{{ labels.plusOne }}</label>
                <input id="auctionPlusOne" type="checkbox" class="form-control" formControlName="auctionPlusOne">
                <div class="checkbox-tweak">
                  <i class="fa fa-check"></i>
                </div>
              </div>
              <div class="col-sm-12">
                <span *ngIf="formErrors.auctionPlusOne" class="help-block require">{{ formErrors.auctionPlusOne }}</span>
              </div>
            </div>
            <div class="form-group row" qa-data="valPS">
              <div class="col-sm-12">
                <app-currency-estimate #currencyEstimate [validation]="requiredMode" [setOptions]="componentOptions.ps"></app-currency-estimate>
              </div>
            </div>
            <div class="form-group row" qa-data="valInsurance">
              <div class="col-sm-12">
                <app-currency-estimate #currencyEstimate [validation]="requiredMode" [setOptions]="componentOptions.insurance"></app-currency-estimate>
              </div>
            </div>
            <div class="form-group row" qa-data="valFMV">
              <div class="col-sm-12">
                <app-currency-estimate #currencyEstimate [validation]="requiredMode" [setOptions]="componentOptions.fmv"></app-currency-estimate>
              </div>
            </div>
            <div class="form-group row" *ngIf="form.touched && !form.valid">
              <div class="col-sm-12">
                <p class="require-fields">
                  <span class="require">*</span>{{ dictionary.VALIDATION.INVALID_FORM_MESSAGE }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="segment-title">{{ labels.pipeline }}</h3>
        </div>
        <div class="panel-body">
          <div class="form" [formGroup]="formItemPipelines">
            <div class="form-group row" qa-data="pipelineAuction">
              <div class="col-sm-12">
                <label for="pipelineAuction">{{ labels.auction }}</label>
              </div>
              <div class="col-sm-9">
                <input id="pipelineAuction" ngui-auto-complete autocomplete="off"
                  class="form-control smallCase arrow-down"
                  [source]="observableTransactionAuction.bind(this)"
                  (eventScroll)="auctionTransactionScroll($event, null)"
                  [list-formatter]="listFormatter" display-property-name="name" 
                  value-property-name="id" formControlName="pipelineAuction"
                  min-chars="0"
                  loading-text=""/>
                <span *ngIf="formErrors.pipelineAuction" class="help-block require">{{ formErrors.pipelineAuction }}</span>
              </div>
              <div class="col-sm-3">
                <label class="checkbox-inline check f-11" (click)="switch('formItemPipelines', 'pipelineAuctionTarget')">{{ labels.target }}</label>
                <input id="pipelineAuctionTarget" type="checkbox" class="form-control" formControlName="pipelineAuctionTarget">
                <div class="checkbox-tweak">
                  <i class="fa fa-check"></i>
                </div>
              </div>
            </div>
            <div class="form-group row" qa-data="pipelinePrivateSale">
              <div class="col-sm-12">
                <label for="pipelinePrivateSale">{{ labels.ps }}</label>
              </div>
              <div class="col-sm-9">
                <input id="pipelinePrivateSale" ngui-auto-complete autocomplete="off" 
                  class="form-control smallCase arrow-down" 
                  [source]="observableTransactionPrivateSale.bind(this)"
                  (eventScroll)="privateSaleTransactionScroll($event, null)"
                  [list-formatter]="listFormatter" display-property-name="name"
                  value-property-name="id" formControlName="pipelinePrivateSale"
                  min-chars="0" 
                  loading-text=""/>
                <span *ngIf="formErrors.fairMarketValuePrice" class="help-block require">{{ formErrors.fairMarketValuePrice }}</span>
              </div>
              <div class="col-sm-3">
                <label class="checkbox-inline check f-11" (click)="switch('formItemPipelines', 'pipelinePrivateSaleTarget')">{{ labels.target }}</label>
                <input id="pipelinePrivateSaleTarget" type="checkbox" class="form-control" formControlName="pipelinePrivateSaleTarget">
                <div class="checkbox-tweak">
                  <i class="fa fa-check"></i>
                </div>
                <span *ngIf="formErrors.pipelinePrivateSaleTarget" class="help-block require">{{ formErrors.pipelinePrivateSaleTarget }}</span>
              </div>
            </div>
            <div class="form-group row" qa-data="pipelineExhibition">
              <div class="col-sm-12">
                <label for="pipelineExhibition">{{ labels.exhibition }}</label>
              </div>
              <div class="col-sm-9">
                <input id="pipelineExhibition" ngui-auto-complete autocomplete="off"
                  class="form-control smallCase arrow-down" 
                  [source]="observableExhibition.bind(this)"
                  (eventScroll)="exhibitionScroll($event, null)"
                  [list-formatter]="listFormatter" display-property-name="name" value-property-name="id" formControlName="pipelineExhibition"
                  min-chars="0" 
                  loading-text=""/>
                <span *ngIf="formErrors.pipelineExhibition" class="help-block require">{{ formErrors.pipelineExhibition }}</span>
              </div>
              <div class="col-sm-3">
                <label class="checkbox-inline check f-11" (click)="switch('formItemPipelines', 'pipelineExhibitionTarget')">{{ labels.target }}</label>
                <input id="pipelineExhibitionTarget" type="checkbox" class="form-control" formControlName="pipelineExhibitionTarget">
                <div class="checkbox-tweak">
                  <i class="fa fa-check"></i>
                </div>
                <span *ngIf="formErrors.pipelineExhibitionTarget" class="help-block require">{{ formErrors.pipelineExhibitionTarget }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>