.pricing-item-form {
  .subtitle{
    font-size: 16px;
    text-align: center;
  }

  .checkbox-tweak {
    display: inline;
  }

  .form-control[disabled] {
    background-color: #eee;
  }

  .flex-container {
    display: flex;
    align-items: center;
  }

  .dash-separator {
    margin: 0 5px;
  }

  .panel {
  	height: auto;
  }
}
