<div [formGroup]="establishmentForm" class="form">
  <div class="row form-group">
    <div class="col-sm-12" [class.has-error]="establishmentError.establishment">
      <label for="venue">{{ dictionary.ESTABLISHMENT.LABELS.ESTABLISHMENT }}
        <span class="require" *ngIf="requiredEstablishment">*</span>
      </label>
      <input id="venue" ngui-auto-complete class="form-control" (eventScroll)="eventScroll($event, null)" [source]="observableSource.bind(this)"
        autocomplete="off" [list-formatter]="listFormatter" formControlName="establishment" display-property-name="name" value-property-name="venueId"
        loading-text="" in-chars="2" />
      <span class="help-block require">{{ establishmentError.establishment }}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group row">
        <div class="col-sm-6 ">
          <label for="inpCountryName">{{ dictionary.ESTABLISHMENT.LABELS.COUNTRY }}</label>
          <input id="inpCountryName" class="form-control field-readonly" type="text" formControlName="countryName" readonly="false"
          />
        </div>
        <div class="col-sm-6">
          <label for="state">{{ dictionary.ESTABLISHMENT.LABELS.STATE }}</label>
          <input id="state" class="form-control field-readonly" type="text" formControlName="state" readonly="true" />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6">
          <label for="inpCityName">{{ dictionary.ESTABLISHMENT.LABELS.CITY }}</label>
          <input id="inpCityName" class="form-control field-readonly" type="text" formControlName="cityName" readonly="true" />
        </div>
        <div class="col-sm-6">
          <label for="inpRegion">{{ dictionary.ESTABLISHMENT.LABELS.REGION }}</label>
          <input id="inpRegion" class="form-control field-readonly" type="text" formControlName="region" readonly="true" />
        </div>
      </div>
    </div>
  </div>
</div>