@import './../../shared/styles/_mixins.scss';
.event-details {
  @include font-format;
  width: 100%;
  .form-wrapper {
    padding: 5px;
    .form-group {
      position: relative;
      .require {
        color: #a94442;
      }
      .help-block {
        margin: 2px 0;
        font-size: 10px;
      }
    }
  }
  label {
    @include label-format;
    margin: 0;
  }
  input {
    @include font-format;
    min-height: 28px;
  }
  .require-fields {
    color: #a94442;
  }
  .has-error {
    .form-control {
      box-shadow: inset 1px 1px 5px rgba(255, 104, 104, 0.075);
    }
  }
}

.form-control:focus,
.completer-input:focus,
.ng2-tag-input.ng2-tag-input--focused {
  border-color: rgba(85, 85, 85, .5) !important;
}

:host /deep/ .has-error {
  .completer-input {
    border-color: #a94442;
  }
}

:host /deep/ .btn-default {
  &:hover,
  &:active {
    background-color: #fff;
  }
}

:host /deep/ .form-horizontal .ngui-auto-complete {
  height: auto !important;
}