<form id="form-event-transaction" class="form-horizontal flexbox-container" [formGroup]="transactionForm" novalidate>
  <div id="event-details" class="event-details">
    <div class="panel form form-wrapper">
      <div class="form-group row" *ngIf="disabled && transactionDetail">
        <div class="col-sm-12 event-link-container">
          <a id="eventLink" href="#" class="event-link" (click)="goToEventPage()" title="{{ dictionary.NAVIGATION.eventPage }}">{{ transactionDetail.id }}</a>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6" [class.has-error]="formErrors.date">
          <label for="date">{{ formLabels.date }}
            <span class="require" *ngIf="validate">*</span>
          </label>
          <input type="text" id="date" class="form-control" bsDatepicker formControlName="date" [bsConfig]="datePickerConfig" autocomplete="off"
          />
          <span *ngIf="formErrors.date" class="help-block require">{{ formErrors.date }}</span>
        </div>
        <div class="col-sm-6" [class.has-error]="formErrors.transactionType" *ngIf="hideElements.indexOf('transactionType')===-1">
          <label for="transactionType">{{ formLabels.transactionType }}
            <span class="require" *ngIf="validate">*</span>
          </label>
          <input id="transactionType" ngui-auto-complete class="form-control" [source]="transactionTypes" [no-match-found-text]="dictionary.MESSAGES.EMPTY_TRANSACTION_TYPES"
            [list-formatter]="listFormatter" display-property-name="name" value-property-name="text" formControlName="transactionType"
            [loading-text]="dictionary.MESSAGES.LOADING_TRANSACTION_TYPES" max-num-list="20" match-formatted="true" min-chars="0"
            autocomplete="off" />
          <span *ngIf="formErrors.transactionType" class="help-block require">{{ formErrors.transactionType }}</span>
        </div>
      </div>

      <div class="form-group row" [class.has-error]="formErrors.title" *ngIf="hideElements.indexOf('title')===-1">
        <div class="col-sm-12">
          <label for="title">{{ formLabels.title }}
            <span class="require" *ngIf="validate">*</span>
          </label>
          <input id="title" class="form-control" type="text" formControlName="title" />
          <span *ngIf="formErrors.title" class="help-block require">{{ formErrors.title }}</span>
        </div>
      </div>
      <app-establishment-form [parentForm]="transactionForm" [validation]="validate" [required]="validate" [disableForm]="disabled"
        *ngIf="hideElements.indexOf('establishments')===-1"></app-establishment-form>
      <div class="form-group row">
        <div class="col-sm-6" [class.has-error]="formErrors.department" *ngIf="hideElements.indexOf('department')===-1">
          <label for="department">{{ formLabels.department.label }}</label>
          <input id="department" ngui-auto-complete (eventScroll)="eventScrollDepartment($event, null)" [source]="observableDepartment.bind(this)"
            no-match-found-text="{{ formLabels.department.noDepartmentFound }}" [list-formatter]="listFormatter" display-property-name="name"
            value-property-name="departmentId" class="form-control" formControlName="department" loading-text=""
            min-chars="0" />
          <span *ngIf="formErrors.department" class="help-block require">{{ formErrors.department }}</span>
        </div>
        <div class="col-sm-6" [class.has-error]="formErrors.saleNumber" *ngIf="hideElements.indexOf('saleNumber')===-1">
          <label for="saleNumber">{{ formLabels.saleNumber }}</label>
          <input id="saleNumber" class="form-control" type="text" formControlName="saleNumber" />
          <span *ngIf="formErrors.saleNumber" class="help-block require">{{ formErrors.saleNumber }}</span>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6" [class.has-error]="formErrors.currency" *ngIf="hideElements.indexOf('currency')===-1">
          <label for="currency">{{ formLabels.currency.label }}
            <span class="require" *ngIf="validate">*</span>
          </label>
          <input id="currency" ngui-auto-complete (eventScroll)="eventScroll($event, null)" [source]="observableSource.bind(this)"
            no-match-found-text="{{ formLabels.currency.noCurrencyFound }}" [list-formatter]="listFormatterResult" display-property-name="code"
            value-property-name="currencyId" class="form-control" formControlName="currency" loading-text=""
            min-chars="0" />
          <span *ngIf="formErrors.currency" class="help-block require">{{ formErrors.currency }}</span>
        </div>
        <div class="col-sm-6" [class.has-error]="transactionForm.get('totalLots').errors" *ngIf="hideElements.indexOf('totalLots')===-1">
          <label for="totalLots">{{ formLabels.totalLots }}</label>
          <input id="totalLots" class="form-control" type="number" formControlName="totalLots" max="99000" min="0" />
          <span *ngIf="transactionForm.get('totalLots').errors" class="help-block require">{{ validationMessages.TOTAL_LOTS.maxlength }}</span>
        </div>
      </div>
      <div class="form-group row" *ngIf="hideElements.indexOf('notes')===-1">
        <div class="col-sm-12" [class.has-error]="formErrors.notes">
          <label for="notes">{{ formLabels.notes }}</label>
          <textarea id="notes" class="form-control" rows="2" formControlName="notes"></textarea>
          <span *ngIf="formErrors.notes" class="help-block require">{{ formErrors.notes }}</span>
        </div>
      </div>
      <div>&nbsp;</div>
      <div class="form-group row" *ngIf="validate">
        <div class="col-sm-12">
          <p class="require-fields">
            <span class="require">*</span>{{ validationMessages.INVALID_FORM_MESSAGE }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12" [class.has-error]="formErrors.eventId" *ngIf="hideElements.indexOf('eventId')===-1">
          <label for="eventId">{{ dictionary.LABELS.EVENT_ID }}</label>
          <input id="eventId" class="form-control" type="text" formControlName="eventId" autocomplete="off" />
          <span *ngIf="formErrors.eventId" class="help-block require">{{ formErrors.eventId }}</span>
        </div>
      </div>
    </div>
  </div>
</form>