<div class="row" (click)="goToEvent(eventCard.id)">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-6">
        <label class="card-event-title">{{eventCard.typeEvent}}</label>
      </div>
      <div class="col-sm-6">
        <label class="card-event-title-date">{{eventCard.date | date:constant.DATE_FORMAT}}</label>
      </div>
    </div>
    <div class="row" *ngIf="eventCard.auctionShow || eventCard.privateShow || eventCard.fmvShow || eventCard.insuranceShow">
      <div class="col-sm-2">
        <label class="card-event-subtitle">{{dictionary.EVENT_PRICING.VALUES}}:</label>
      </div>
      <div class="col-sm-10">
        <label class="card-event-text col-md-12" *ngIf="eventCard.auctionShow">{{eventCard.currencLowHigh}}</label>
        <label class="card-event-text col-md-12" *ngIf="eventCard.privateShow">{{eventCard.privatePS}}</label>
        <label class="card-event-text col-md-12" *ngIf="eventCard.fmvShow">{{eventCard.fmv}}</label>
        <label class="card-event-text col-md-12" *ngIf="eventCard.insuranceShow">{{eventCard.insuranceI}}</label>

      </div>
    </div>
    <div class="row" *ngIf="eventCard.source">
      <div class="col-sm-2">
        <label class="card-event-subtitle">{{ dictionary.EVENT_PRICING.SOURCE }}:</label>
      </div>
      <div class="col-sm-10">
        <label class="card-event-text">{{eventCard.source}}</label>
      </div>
    </div>
    <div class="row" *ngIf="eventCard.client">
      <div class="col-sm-2">
        <label class="card-event-subtitle">{{ dictionary.EVENT_PRICING.CLIENT }}:</label>
      </div>
      <div class="col-sm-10">
        <label class="card-event-text">{{eventCard.client}}{{eventCard.mainClient}}{{eventCard.affiliationText}}{{eventCard.affiliatedClient}}</label>
      </div>
    </div>
    <div class="row" *ngIf="eventCard.notes">
      <div class="col-sm-2">
        <label class="card-event-subtitle">{{ dictionary.EVENT_PRICING.NOTES }}:</label>
      </div>
      <div class="col-sm-10">
        <label class="card-event-text"> {{ eventCard.notes }}</label>
      </div>
    </div>
  </div>
</div>