<simple-notifications [options]="options" class="event-notifications"></simple-notifications>
<app-navigation-header [totalPages]="pageTotal">
</app-navigation-header>
<div class="section-container" [attr.state]="state">
  <h1 class="section-title">{{ sectionTitle }}</h1>
  <div id="pricingContainer" class="event-container event-pricing" state="search">
    <div class="form-container">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row text-center">
            <h2 class="section-subtitle">{{ generalDictionary.FORM_LABELS.valuationDetail }}</h2>
          </div>
        </div>
        <div class="panel-body">
          <pricing-form [hideElements]="hiddenFields"></pricing-form>
        </div>
      </div>
    </div>
    <div class="table-container" [style.display]="showTable>0 ? 'block' : 'none'">
      <app-pricing-table [setItems]="eventItems" (moreItems)="moreItems($event)" (removeItem)="removeItem($event)" (showPricingItemPopup)="loadItemPopup($event, true)">
      </app-pricing-table>
    </div>
  </div>
</div>