<div class="currency-estimate">
  <div class="form" [formGroup]="form">
    <div class="form-group row">
      <div class="col-sm-12">
        <label for="label" class="notWrapped" [class.require]="required && (estimate || estimateHigh) && form.invalid">
          {{ displayOptions.label }}
          <span class="require" [hidden]="!(required && (estimate || estimateHigh))">*</span>
        </label>
      </div>
      <div class="col-sm-4">
        <input id="currency" ngui-auto-complete autocomplete="off" class="form-control smallCase arrow-down" (eventScroll)="currencyScroll($event, null)"
          [source]="observableSource.bind(this)" [list-formatter]="listFormatterCurrency" display-property-name="code"
          value-property-name="currencyId" [placeholder]="labels.currency.label" formControlName="currency"
          min-chars="0" loading-text=""/>
      </div>
      <div class="col-sm-8" [class.flex-container]="displayOptions.estimateHigh">
        <input id="estimate" [placeholder]="labels.estimate"
          type="text" ngui-auto-complete autocomplete="off" class="form-control smallCase"
          [source]="observableEstimate.bind(this)" (eventScroll)="estimatesScroll($event, null)"
          [list-formatter]="listFomatterEstimate" display-property-name="lowValue" value-property-name="lowValue"
          min-chars="0" currencyFormatted [options]="emptySymbol"
          maxLength="9" formControlName="estimate" loading-text=""/>
        <ng-container *ngIf="displayOptions.estimateHigh">
          <span class="dash-separator">-</span>
          <input id="estimateHigh" [placeholder]="labels.estimateHigh"
            type="text" ngui-auto-complete autocomplete="off" class="form-control smallCase"
            [source]="observableEstimate.bind(this)" (eventScroll)="estimatesScroll($event, null)"
            [list-formatter]="listFomatterEstimateHigh" display-property-name="highValue" value-property-name="highValue"
            min-chars="0" currencyFormatted [options]="emptySymbol"
            maxLength="9" formControlName="estimateHigh" loading-text=""/>
        </ng-container>
      </div>
      <div class="col-sm-4">
        <span *ngIf="formErrors.currency" class="help-block require">{{ formErrors.currency }}</span>
      </div>
      <div class="col-sm-8">
        <span *ngIf="formErrors.estimate" class="help-block require">{{ formErrors.estimate }}</span>
        <span *ngIf="formErrors.estimateHigh" class="help-block require">{{ formErrors.estimateHigh }}</span>
      </div>
    </div>
  </div>
</div>
