$column-size: calc(100% / 2);

.add-item-table {
  width: 100%;
  .panel {
    border: 0;
    margin-bottom: 0;
    .panel-heading {
      h5 {
        .panel-title {
          text-align: center;
        }
      }
    }
  }
}

.transaction-items {
  thead {
   th {
      width: $column-size;
    }
  }

  tbody {
    overflow: auto;

    tr {
      td {
        width: $column-size;
        &:hover {
          cursor: pointer;
        }
      }
    }

  }

}
