<div class="add-item-table">
  <div class="panel panel-default panel-with-search">
    <div class="panel-heading">
      <h5 class="panel-title">{{ subEventType }}</h5>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table id="consignmentPurchaseAddItemTable" class="table table-hover table-responsive table-scroll event-table event-table-scrollable event-table-indexed transaction-items">
          <thead class="table-header">
            <tr>
              <th>{{ dictionary.CLIENT.LABELS.CLIENT_SOURCE }}</th>
              <th>{{ dictionary.CLIENT.LABELS.CLIENT }} </th>
              <th>{{ dictionary.CLIENT.LABELS.CLIENT_NUMBER }}</th>
              <th>{{ dictionary.CLIENT.LABELS.KCM }} </th>
              <th>{{ dictionary.CLIENT.LABELS.MAIN_CLIENT }} </th>
            </tr>
          </thead>
          <tbody>
            <tr id="linkEventToItem-{{item.id}}" *ngFor="let item of items" (click)="linkEventToItem( item )">
              <td>{{item.mainClient['clientSource']['name']}} </td>
              <td></td>
              <td>{{item.mainClient['clientId']}}</td>
              <td></td>
              <td></td>
            </tr>
            <tr *ngIf="items.length === 0">
              <td colspan="3">{{ dictionary.MESSAGES.NO_ELEMENTS_FOUND }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
