<div class="event-transaction-table">
  <app-table *ngIf="type==='TRANSACTION'" class="flex-item confirmed-lots" [transactionItems]="items" (moreItems)="lotTableScrolled()"
    [title]="tableLabels.TABLE_TITLE" (removeItem)="deleteItem($event)" [noClientVersion]="true"></app-table>
  <app-publication-table [noClientVersion]="true" *ngIf="type==='PUBLICATION'" [eventItems]="items" [title]="tableLabels.TABLE_TITLE"
    (removeItem)="deleteItem($event)" (moreItems)="lotTableScrolled()">
  </app-publication-table>
</div>