.event-transaction-table {
  width: 100%;
  .panel {
    margin-bottom: 0;
  }
}

.transaction-items {
  thead {
    padding-right: 15px;
    th {
      width: 40%;

      &:first-child {
        width: 60%;
      }

      .object-items {
        display: flex;

        .image {
          flex-basis: 150px;
          padding-right: 8px;
        }

        .cataloguing {
          flex-basis: calc( 100% - 150px);
          padding-left: 8px;
        }
      }
    }
  }

  tbody {
    overflow: auto;

    tr {
      td {
        width: 40%;
        &.col-with-multiple-items {
          flex-basis: 59%;
          width: 60%;
          &.object-items {
            display: table-cell;
          }

          ul {
            > li {
              display: flex;

              .image {
                flex-basis: 150px;
                padding-right: 8px;
              }
              .description {
                flex-basis: calc( 100% - 150px);
                padding-left: 8px;
              }
            }
          }
        }
      }
    }

  }

}

#divtoshow {
  border: 4px solid #ddd;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  height: 50vh;
  margin: 0 auto;
  overflow:hidden;
  position: fixed;
  top: 0;
  width: 30vw;
  img {
    margin: 10px;
  }
}
