section {
  display: flex;
  flex-direction: column;
  width: 100%;

  #consignmentPurchaseAddItemContainer {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    width: 100%;

    .event-column-form {
      border: 1px solid #ddd;
      box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
      flex-basis:30%;
      margin-right: 1%;
      display: flex;
      flex-direction: column;
      #filter {
        align-self: flex-end;
        margin: 10px;
      }
    }

    .table-container {
      border: 1px solid #ddd;
      flex-basis:70%;
      display: flex;
      flex-direction: column;
      .btnAdd {
        align-self: flex-end;
        margin: 10px;
      }
    }
  }

  .title{
    text-align: center;
    font-size: 18px;
    margin: 5px 0 2px;
  }

  .btnClose {
    align-self: flex-end;
    margin-right: 20px;
  }
}
