<simple-notifications [options]="options" class="notifications" (onDestroy)="destroyMessage($event)"></simple-notifications>
<section>
  <button class="" id="btnClose" class="btnClose" (click)="close()">
    {{ buttonlabels.CLOSE }} <i class="fa fa-times-circle-o fa-lg" aria-hidden="true" [title]="dictionary.CLOSE" ></i>
  </button>
  <div id="consignmentPurchaseAddItemContainer" class="container-fluid">
    <div class="event-column-form">
      <app-consignment-purchase-add-item-form></app-consignment-purchase-add-item-form>
      <button id="filter" (click)="goToFilter()">
          {{ buttonlabels.FILTER }} <i class="fa fa-search-plus" aria-hidden="true" [title]="dictionary.FILTER"></i>
      </button>
    </div>
    <div class="table-container event-column-table">
      <button id="btnAdd" class="btnAdd" (click)="goToAddEvent()">
        {{ buttonlabels.ADD }} <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
      <app-consignment-purchase-add-item-table [subEventType]="subEventType" [eventItems]="eventItems" (event)='addEventToItem($event)'></app-consignment-purchase-add-item-table>
    </div>
  </div>
</section>
