@import '../../styles/_variables';
.compact {
    &-button-holder {
        @extend .full-width;
        border: 1px solid #ddd;
        border-bottom: none;
        padding: 5px 0px;
    }
    &-search-button {
        @extend .standar-label-width;
        margin: 0 auto;
        display: block;
    }
    &-panel {
        padding-bottom: 25px;
    }
}

:host ::ng-deep .compact-row .ngui-auto-complete-wrapper {
    @extend .standar-field-width;
}

:host ::ng-deep .form-inline .panel {
    border: none;
    padding: 0;
    margin: 0;
    @extend .full-width;
    &-group {
        @extend .full-width;
    }
}

.form-container {
    padding: 10px 0px;
    @extend .full-width;
    .location-fields {
        margin: 0;
    }
    .client-form-add-client,
    .client-form-remove-client {
        cursor: pointer;
        color: #666;
        line-height: 45px;
        font-size: 20px;
        &:hover {
            text-decoration: none;
        }
    }
    .filter {
        &-holder {
            margin-top: 15px;
        }
        &-btn[disabled] {
            opacity: .5;
        }
    }
    .not-editable {
        color: #a94442;
        margin-bottom: 15px;
        font-weight: bold;
    }
    .title,
    .suffix {
        margin-top: 45px;
    }
    .padding-bottom {
        padding-bottom: 15px;
    }
}