<div class="compact-button-holder" *ngIf="compactMode()">
  <button id="filter" qa-data="cl-modal-search-bnt-filter" *ngIf="compactMode()" [disabled]="!form.valid" class="btn btn-default compact-search-button"
    (click)="send()">
    {{ generalDictionary.BUTTONS.SEARCH}}
  </button>
</div>
<div class="panel form" [ngClass]="{'compact-panel':compactMode()}">
  <div [formGroup]="form" class="form-container" [ngClass]="{'form-inline':compactMode()}">
    <div [ngSwitch]="mode">
      <ng-container *ngSwitchCase="'compact'">
        <div class="form-group row">
          <div class="compact-row-holder">
            <div class="compact-fields-title">
              <label class="compact-fields-title-label">{{dictionary.EXTERNAL_CLIENT.LABELS.CLIENT}}</label>
              <button type="button" class="close" *ngIf="individualSubscriptions.client?.visible" (click)="clearGroup(individualSubscriptions.client?.type)">&times;</button>
            </div>
            <div class="compact-row" [class.has-error]="formErrors.party">
              <label class="compact-fields-label" for="client_party">{{ dictionary.EXTERNAL_CLIENT.LABELS.PARTY }}
                <span class="require" *ngIf="validate && isCompany">*</span>
              </label>
              <input id="client_party" qa-data="cl-modal-search-party" class="form-control compact-fields-input" autocomplete="off" formControlName="party"
              />
              <span *ngIf="formErrors.party" class="help-block require">{{ formErrors.party }}</span>
            </div>
            <div class="compact-row" [class.has-error]="formErrors.party">
              <label class="compact-fields-label" for="client_number">{{ dictionary.EXTERNAL_CLIENT.LABELS.NUMBER }}</label>
              <input id="client_number" qa-data="cl-modal-search-number" class="form-control compact-fields-input" autocomplete="off" formControlName="number"
              />
            </div>
            <div class="compact-row" [class.has-error]="formErrors.kcm">
              <label class="compact-fields-label" for="client_kcm">{{ dictionary.EXTERNAL_CLIENT.LABELS.KCM }}</label>
              <input id="client_kcm" qa-data="cl-modal-search-kcm" class="form-control full-width compact-fields-input" autocomplete="off"
                formControlName="kcm" ngui-auto-complete [no-match-found-text]="dictionary.EXTERNAL_CLIENT.MESSAGES.EMPTY_KCMS"
                [list-formatter]="listFormatter" display-property-name="name" value-property-name="name" loading-text="" in-chars="2"
                (eventScroll)="eventScroll($event, null)" [source]="kcmObservable.bind(this)" />
              <span *ngIf=" formErrors.kcm " class="help-block require ">{{ formErrors.kcm }}</span>
            </div>
          </div>
          <div class="compact-row-holder">
            <div class="compact-fields-title">
              <label class="compact-fields-title-label">{{dictionary.EXTERNAL_CLIENT.LABELS.CLIENT_TYPE}}</label>
              <button type="button" class="close" *ngIf="individualSubscriptions.clientType?.visible" (click)="clearGroup(individualSubscriptions.clientType?.type)">&times;</button>
            </div>
            <div class="compact-row" [class.has-error]="formErrors.type">
              <label class="compact-fields-label" for="type">{{ dictionary.EXTERNAL_CLIENT.LABELS.TYPE }}</label>
              <input id="type" qa-data="cl-modal-search-type" class="form-control compact-fields-input full-width" autocomplete="off" formControlName="type"
                ngui-auto-complete [source]="types" [no-match-found-text]="dictionary.EXTERNAL_CLIENT.MESSAGES.EMPTY_TYPES"
                [list-formatter]="listFormatter" display-property-name="name" value-property-name="name" [loading-text]="dictionary.EXTERNAL_CLIENT.MESSAGES.LOADING_TYPES"
                in-chars="2" />
              <span *ngIf="formErrors.type" class="help-block require">{{ formErrors.type }}</span>
            </div>
          </div>
          <div class="compact-row-holder">
            <div class="compact-fields-title">
              <label class="compact-fields-title-label">{{dictionary.EXTERNAL_CLIENT.LABELS.CLIENT_LOCATION}}</label>
              <button type="button" class="close" *ngIf="individualSubscriptions.clientLocation?.visible" (click)="clearGroup(individualSubscriptions.clientLocation?.type)">&times;</button>
            </div>
            <div class="compact-row">
              <label class="compact-fields-label" for="client_city">{{ dictionary.EXTERNAL_CLIENT.LABELS.CITY }}
              </label>
              <input id="client_city" qa-data="cl-search-city" class="form-control compact-fields-input" autocomplete="off" formControlName="city"
              />
            </div>
            <div class="compact-row">
              <label class="compact-fields-label" for="client_state">{{ dictionary.EXTERNAL_CLIENT.LABELS.STATE }}
              </label>
              <input id="client_state" qa-data="cl-modal-search-state" class="form-control compact-fields-input" autocomplete="off" formControlName="state"
              />
            </div>
            <div class="compact-row">
              <label class="compact-fields-label" for="client_country">{{ dictionary.EXTERNAL_CLIENT.LABELS.COUNTRY }}
              </label>
              <input id="client_country" qa-data="cl-modal-search-country" class="form-control compact-fields-input" autocomplete="off"
                formControlName="country" />
            </div>
            <div class="compact-row">
              <label class="compact-fields-label" for="client_region">{{ dictionary.EXTERNAL_CLIENT.LABELS.REGION}}
              </label>
              <input id="client_region" qa-data="cl-modal-search-region" class="form-control compact-fields-input" autocomplete="off" formControlName="region"
              />
            </div>
          </div>
          <div class="compact-row-holder">
            <div class="compact-fields-title">
              <label class="compact-fields-title-label">{{dictionary.EXTERNAL_CLIENT.LABELS.CLIENT_SEGMENT}}</label>
              <button type="button" class="close compact-clear-button" *ngIf="individualSubscriptions.clientSegment?.visible" (click)="clearGroup(individualSubscriptions.clientSegment?.type)">&times;</button>
            </div>
            <div class="compact-row">
              <label class="compact-fields-label">{{ dictionary.EXTERNAL_CLIENT.LABELS.SEGMENT}}</label>
              <input id="client_segment" qa-data="cl--search-segment" class="form-control compact-fields-input full-width" autocomplete="off"
                formControlName="segment" ngui-auto-complete [source]="segments" [no-match-found-text]="dictionary.EXTERNAL_CLIENT.MESSAGES.EMPTY_SEGMENTS"
                [list-formatter]="listFormatter" display-property-name="name" value-property-name="name" [loading-text]="dictionary.EXTERNAL_CLIENT.MESSAGES.LOADING_SEGMENTS"
                in-chars="2" />
              <span *ngIf="formErrors.segment" class="help-block require">{{ formErrors.segment }}</span>
            </div>
          </div>
          <div class="compact-row-holder">
            <div class="compact-fields-title">
              <label class="compact-fields-title-label">{{dictionary.EXTERNAL_CLIENT.LABELS.CLIENT_ORIGIN}}</label>
              <button type="button" class="close" *ngIf="individualSubscriptions.clientOrigin?.visible" (click)="clearGroup(individualSubscriptions.clientOrigin?.type)">&times;</button>
            </div>
            <div class="compact-row" [class.has-error]="formErrors.origin">
              <label class="compact-fields-label" for="client_origin">{{ dictionary.EXTERNAL_CLIENT.LABELS.ORIGIN }}</label>
              <input id="client_origin" qa-data="cl-modal-search-origin" class="form-control compact-fields-input full-width" autocomplete="off"
                formControlName="origin" ngui-auto-complete [source]="originValues" [no-match-found-text]="dictionary.EXTERNAL_CLIENT.MESSAGES.EMPTY_ORIGINS"
                [list-formatter]="listFormatter" display-property-name="name" value-property-name="name" [loading-text]="dictionary.EXTERNAL_CLIENT.MESSAGES.LOADING_ORIGINS"
                in-chars="2" />
              <span *ngIf="formErrors.origin" class="help-block require">{{ formErrors.origin }}</span>

            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'wide'">
        <div class="row">
          <div class="col-xs-12 not-editable text-right" *ngIf="notEditable && hideElements.indexOf('notEditableWarning') ===-1 ">
            {{dictionary.CLIENT.LABELS.CLIENT_NOT_EDITABLE}}
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-6" [class.has-error]="formErrors.party">
            <label for="client_party">{{ dictionary.EXTERNAL_CLIENT.LABELS.PARTY }}
              <span class="require" *ngIf="validate && isCompany">*</span>
            </label>
            <input id="client_party" qa-data="cl-form-party" class="form-control" autocomplete="off" formControlName="party" />
            <span *ngIf="formErrors.party" class="help-block require">{{ formErrors.party }}</span>
          </div>
          <div class="col-xs-3">
            <label for="client_number">{{ dictionary.EXTERNAL_CLIENT.LABELS.NUMBER }}</label>
            <input id="client_number" qa-data="cl-form-number" class="form-control" autocomplete="off" formControlName="number" />
          </div>
          <div class="col-xs-3" [class.has-error]="formErrors.type">
            <label for="client_type">{{ dictionary.EXTERNAL_CLIENT.LABELS.TYPE }}</label>
            <input id="client_type" qa-data="cl-form-type" class="form-control" autocomplete="off" formControlName="type" ngui-auto-complete
              [source]="types" [no-match-found-text]="dictionary.EXTERNAL_CLIENT.MESSAGES.EMPTY_TYPES" [list-formatter]="listFormatter"
              display-property-name="name" value-property-name="name" [loading-text]="dictionary.EXTERNAL_CLIENT.MESSAGES.LOADING_TYPES"
              in-chars="2" />
            <span *ngIf="formErrors.type" class="help-block require">{{ formErrors.type }}</span>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-6 col-sm-3" [class.has-error]="formErrors.title">
            <label for="client_title">{{ dictionary.EXTERNAL_CLIENT.LABELS.TITLE }}</label>
            <input id="client_title" qa-data="cl-form-title" class="form-control" autocomplete="off" formControlName="title" (focus)="updating=false;"
              ngui-auto-complete [source]="observableTitle.bind(this)" (eventScroll)="titleScroll($event, null)" [no-match-found-text]="dictionary.EXTERNAL_CLIENT.MESSAGES.EMPTY_TITLES"
              [list-formatter]="listFormatter" display-property-name="name" value-property-name="name" [loading-text]="none"
              in-chars="2" />
            <span *ngIf="formErrors.title" class="help-block require">{{ formErrors.title }}</span>
          </div>
          <div class="col-xs-6 col-sm-3" [class.has-error]="formErrors.name">
            <label for="client_name">{{ dictionary.EXTERNAL_CLIENT.LABELS.NAME }}</label>
            <input id="client_name" qa-data="cl-form-name" class="form-control" autocomplete="off" formControlName="name" (focus)="updating=false;"
            />
            <span *ngIf="formErrors.name" class="help-block require">{{ formErrors.name }}</span>
          </div>
          <div class="col-xs-4 col-sm-2" [class.has-error]="formErrors.middleName">
            <label for="client_middleName">{{ dictionary.EXTERNAL_CLIENT.LABELS.MIDDLE_NAME }}
            </label>
            <input id="client_middleName" qa-data="cl-form-middleName" class="form-control" autocomplete="off" formControlName="middleName"
            />
            <span *ngIf="formErrors.middleName" class="help-block require">{{ formErrors.middleName }}</span>
          </div>
          <div class="col-xs-6 col-sm-3" [class.has-error]="formErrors.surname">
            <label for="client_surname">{{ dictionary.EXTERNAL_CLIENT.LABELS.SURNAME }}
              <span class="require" *ngIf="validate && isIndividual">*</span>
            </label>
            <input id="client_surname" qa-data="cl-form-surname" class="form-control" autocomplete="off" formControlName="surname" (focus)="updating=false;"
            />
            <span *ngIf="formErrors.surname" class="help-block require">{{ formErrors.surname }}</span>
          </div>
          <div class="col-xs-2 col-sm-1">
            <label for="client_suffix">{{ dictionary.EXTERNAL_CLIENT.LABELS.SUFFIX }}</label>
            <input id="client_suffix" qa-data="cl-form-suffix" class="form-control" autocomplete="off" formControlName="suffix" (focus)="updating=false;"
              ngui-auto-complete [source]="observableSuffix.bind(this)" (eventScroll)="suffixScroll($event, null)" [no-match-found-text]="dictionary.EXTERNAL_CLIENT.MESSAGES.EMPTY_SUFFIXES"
              [list-formatter]="listFormatter" display-property-name="name" value-property-name="name" [loading-text]="none"
              in-chars="2" />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-12 col-sm-6">
            <div class="row">
              <div class="row location-fields">
                <div class="col-sm-6 col-xs-6" [class.has-error]="formErrors.city">
                  <label for="client_city">{{ dictionary.EXTERNAL_CLIENT.LABELS.CITY }}</label>
                  <input id="client_city" qa-data="cl-form-city" class="form-control" autocomplete="off" formControlName="city" />
                  <span *ngIf="formErrors.city" class="help-block require">{{ formErrors.city }}</span>
                </div>
                <div class="col-sm-6 col-xs-6" [class.has-error]="formErrors.state">
                  <label for="client_state">{{ dictionary.EXTERNAL_CLIENT.LABELS.STATE }}</label>
                  <input id="client_state" qa-data="cl-form-state" class="form-control" autocomplete="off" formControlName="state" />
                  <span *ngIf="formErrors.state" class="help-block require">{{ formErrors.state }}</span>
                </div>
              </div>
              <div class="row location-fields">
                <div class="col-sm-6 col-xs-6" [class.has-error]="formErrors.country">
                  <label for="client_country">{{ dictionary.EXTERNAL_CLIENT.LABELS.COUNTRY }}</label>
                  <input id="client_country" qa-data="cl-form-name" class="form-control" autocomplete="off" formControlName="country" />
                  <span *ngIf="formErrors.country" class="help-block require">{{ formErrors.country }}</span>
                </div>
                <div class="col-sm-6 col-xs-6" [class.has-error]="formErrors.region">
                  <label for="client_region">{{ dictionary.EXTERNAL_CLIENT.LABELS.REGION }}</label>
                  <input id="client_region" class="form-control" autocomplete="off" formControlName="region" />
                  <span *ngIf="formErrors.region" class="help-block require">{{ formErrors.region }}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-xs-6  " [class.has-error]="formErrors.gender">
                <label for="client_gender">{{ dictionary.EXTERNAL_CLIENT.LABELS.GENDER }}</label>
                <input id="client_gender" qa-data="cl-form-gender" class="form-control" autocomplete="off" formControlName="gender" ngui-auto-complete
                  [source]="gendersValues" [no-match-found-text]="dictionary.EXTERNAL_CLIENT.MESSAGES.EMPTY_ORIGINS" [list-formatter]="listFormatter"
                  display-property-name="name" value-property-name="name" in-chars="2" />
                <span *ngIf="formErrors.gender" class="help-block require">{{ formErrors.gender }}</span>
              </div>
              <div class="col-xs-3">
                <label for="client_age">{{ dictionary.EXTERNAL_CLIENT.LABELS.AGE }}</label>
                <input id="client_age" qa-data="cl-form-age" class="form-control" autocomplete="off" formControlName="age" type="number"
                  min="0" max="120" />
              </div>
              <div class=" col-xs-3" [class.has-error]="formErrors.deceased">
                <label for="client_deceased">{{ dictionary.EXTERNAL_CLIENT.LABELS.DECEASED }}</label>
                <input id="client_deceased" qa-data="cl-form-deceased" class="form-control" autocomplete="off" formControlName="deceased"
                  ngui-auto-complete [source]="deceasedValues" [list-formatter]="listFormatter" display-property-name="name"
                  value-property-name="name" in-chars="2" />
                <span *ngIf="formErrors.deceased" class="help-block require">{{ formErrors.deceased }}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6" [class.has-error]="formErrors.segment">
                <label for="client_segment">{{ dictionary.EXTERNAL_CLIENT.LABELS.SEGMENT }}</label>
                <input id="client_segment" qa-data="cl-form-segment" class="form-control" autocomplete="off" formControlName="segment" ngui-auto-complete
                  [source]="segments" [no-match-found-text]="dictionary.EXTERNAL_CLIENT.MESSAGES.EMPTY_SEGMENTS" [list-formatter]="listFormatter"
                  display-property-name="name" value-property-name="name" [loading-text]="dictionary.EXTERNAL_CLIENT.MESSAGES.LOADING_SEGMENTS"
                  in-chars="2" />
                <span *ngIf="formErrors.segment" class="help-block require">{{ formErrors.segment }}</span>
              </div>
              <div class="col-xs-3" [class.has-error]="formErrors.level">
                <label for="client_level">
                  {{ dictionary.EXTERNAL_CLIENT.LABELS.LEVEL }}
                  <span class="require" *ngIf="validate">*</span>
                </label>
                <input id="client_level" qa-data="cl-form-level" class="form-control" autocomplete="off" formControlName="level" type="number"
                  min="0" />
                <span *ngIf="formErrors.level" class="help-block require">{{ formErrors.level }}</span>
              </div>
              <div class="col-xs-3" [class.has-error]="formErrors.status">
                <label for="client_status">{{ dictionary.EXTERNAL_CLIENT.LABELS.STATUS }}</label>
                <input id="client_status" qa-data="cl-form-status" class="form-control" autocomplete="off" formControlName="status" ngui-auto-complete
                  [source]="statuses" [no-match-found-text]="dictionary.EXTERNAL_CLIENT.MESSAGES.EMPTY_STATUS" [list-formatter]="listFormatter"
                  display-property-name="name" value-property-name="name" [loading-text]="dictionary.EXTERNAL_CLIENT.MESSAGES.LOADING_STATUS"
                  in-chars="2" />
                <span *ngIf="formErrors.status" class="help-block require">{{ formErrors.status }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-6" [class.has-error]="formErrors.kcm">
            <label for="client_kcm">{{ dictionary.EXTERNAL_CLIENT.LABELS.KCM }}</label>
            <input id="client_kcm" qa-data="cl-form-kcm" class="form-control" autocomplete="off" formControlName="kcm" ngui-auto-complete
              [no-match-found-text]="dictionary.EXTERNAL_CLIENT.MESSAGES.EMPTY_KCMS" [list-formatter]="listFormatter" display-property-name="name"
              value-property-name="name" loading-text="" in-chars="2" (eventScroll)="eventScroll($event, null)" [source]="kcmObservable.bind(this)"
            />
            <span *ngIf=" formErrors.kcm " class="help-block require ">{{ formErrors.kcm }}</span>
          </div>
          <div class="col-xs-3 col-xs-offset-3" [class.has-error]="formErrors.origin">
            <label for="client_origin">{{ dictionary.EXTERNAL_CLIENT.LABELS.ORIGIN }}</label>
            <input id="client_origin" qa-data="cl-form-origin" class="form-control" autocomplete="off" formControlName="origin" ngui-auto-complete
              [source]="originValues" [no-match-found-text]="dictionary.EXTERNAL_CLIENT.MESSAGES.EMPTY_ORIGINS" [list-formatter]="listFormatter"
              display-property-name="name" value-property-name="name" [loading-text]="dictionary.EXTERNAL_CLIENT.MESSAGES.LOADING_ORIGINS"
              in-chars="2" />
            <span *ngIf="formErrors.origin" class="help-block require">{{ formErrors.origin }}</span>
          </div>
        </div>
        <div class="form-group row" *ngIf="!hideElements.indexOf('filter')">
          <div class="col-xs-6">
            <label for="client_main_client_party_name">{{ dictionary.EXTERNAL_CLIENT.LABELS.MAIN_CLIENT_PARTY_NAME }}</label>
            <input id="client_main_client_party_name" qa-data="cl-form-mainClientPartyName" class="form-control" autocomplete="off" formControlName="mainClientPartyName"
              type="text" min="0" max="120" />
          </div>
          <div class="col-xs-2">
            <label for="client_main_client_id">{{ dictionary.EXTERNAL_CLIENT.LABELS.MAIN_CLIENT_ID }}</label>
            <input id="client_main_client_party_id" qa-data="cl-form-mainClientID" class="form-control" autocomplete="off" formControlName="mainClientID"
              type="text" min="0" max="120" />
          </div>
          <div class="col-xs-3" [class.has-error]="formErrors.mainClientType">
            <label for="main_client_type">{{ dictionary.EXTERNAL_CLIENT.LABELS.MAIN_CLIENT_TYPE }}</label>
            <input id="main_client_type" qa-data="cl-form-mainClientType" class="form-control" autocomplete="off" formControlName="mainClientType"
            />
            <span *ngIf="formErrors.mainClientType" class="help-block require">{{ formErrors.mainClientType }}</span>
          </div>
          <div class="col-xs-1" *ngIf="!notEditable && (!validate || (validate && client?.id))">
            <a id="addMainClientId" class="client-form-add-client" (click)="addClient()">+</a>
          </div>
        </div>
        <div class="form-group row filter-holder" *ngIf="hideElements.indexOf( 'filter')===-1 ">
          <div class="col-sm-12 ">
            <button id="filter" qa-data="cl-form-btn-filter" [disabled]="!form.valid" class="pull-right filter-btn " (click)="send() ">
              {{ generalDictionary.BUTTONS.FILTER }}
              <i class="fa fa-search-plus " aria-hidden="true " [title]=" generalDictionary.BUTTONS.FILTER "></i>
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>