<div class="modal-dialog" style="width: 1200px" (window:keydown)="keyboardShortCutFunctionModal($event)">
  <div class="modal-content">
    <div class="modal-header" style="background-color: #000;padding:5px;">
      <span class="text-left w-20p m-l-5">
        <a>
        <img src="assets/images/slogo.png" class="logo">
        </a>
      </span>
      <span class="mode w-80p">
        <span class="text-center mode-label">
            <span>Create Mode</span>
        </span>
      </span>
      
      <span class="text-right w20p" style="float:right;font-size:18px;">
          <a (click)="apply(objectDetailsForm.value)" alt="Update Property (CTRL+SHIFT+S)" class="mousePointer modalFloppyIconColor">
            <i class="fa fa-floppy-o" title="Save" aria-hidden="true"></i>
          </a>
        &nbsp;

          <a (click)="cancel()" class="mousePointer modalCloseIconColor">
            <i class="fa fa-times" title="Close" aria-hidden="true"></i>
          </a>
        &nbsp;

        </span>
    </div>
    <div class="modal-body">
      <div class="container-fluid flexbox-container p-0" (click)="toggleFlag=0;">
        <form class="form-horizontal noModeChange" [formGroup]="objectDetailsForm">
          <div class="panel-body col-sm-6 p-l-0 p-r-10">
            <div class="form-group">
              <div class="col-sm-12 p-0">
                <app-new-object-dropupload (success)="handleFileSuccess($event,'image')" (error)="handleFileFailure($event,'image')">
                </app-new-object-dropupload>
              </div>
            </div>
          </div>
          <div class="panel-body col-sm-6 p-r-0 p-l-10 object-details">
            <div class="form-group">
              <div class="col-sm-12">
                <span *ngFor="let art of checkedArtist" class="selected-auto-list coloryellow">
                                {{art.display}}

                    <i class="fa fa-times" aria-hidden="true" (click)="artistChange('remove',art);"></i>
                  </span>
              </div>
              <div class="col-sm-12 object-autocomplete" [ngClass]="((!objectDetailsForm.controls['artistData'].valid && requiredFlag) && !checkedArtist.length)?'has-error bottom-line-error':''">
                <input ngui-auto-complete formControlName="artistData" [source]="artistName" [list-formatter]="nameListFormatter" no-match-found-text="no records found" display-property-name="firstName" min-chars="2" placeholder="Select Artist" (ngModelChange)="artistChange('add',$event)" (keypress)="artistData=$event.target.value" class="form-control" [(ngModel)]="artistData" (blur)="resetArtistNameInput()">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <input formControlName="title" no-match-found-text=" " class="form-control" id="titleEn" placeholder="Title (EN)" maxlength="500" qa-data="titleEng"
                />
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <input formControlName="originalTitle" no-match-found-text=" " class="form-control" id="titleOrig" placeholder="Title (Orig)"
                  maxlength="500" />
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <input formControlName="signature" (paste)="onSignaturePaste($event)" maxlength="1000" no-match-found-text=" " class="form-control"
                  id="signature" placeholder="Signature" ngModel/>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <input formControlName="medium" no-match-found-text=" " class="form-control" id="medium" placeholder="Medium" maxlength="1000"
                  ngModel/>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="col-sm-6 p-0 pull-left">
                  <div class="col-sm-11 p-0" style="position: relative;" (mouseleave)="closeList(categoryList, 'category')">
                    <ng2-completer formControlName='category' #categoryList (keydown)="categoryListOpen=!categoryListOpen" (blur)="validateSelectedItem(categoryList.value, 'category')"
                      [datasource]='categoryService' [minSearchLength]='0' placeholder="Category"></ng2-completer>
                    <div class="list-caret" (click)="openList(categoryList, 'category')">
                      <i class="fa fa-caret-down" aria-hidden="true"></i>
                  </div>
                </div>
                </div>
                <div class="col-sm-6 p-0 pull-rig ht">
                  <div class="col-sm-11 p-0 pull-right" style="position: relative;" (mouseleave)="closeList(subCategoryList, 'subcategory')">
                    <ng2-completer formControlName='subCategory' #subCategoryList (keydown)="subCategoryListOpen=!subCategoryListOpen" (blur)="validateSelectedItem(subCategoryList.value, 'subCategory')"
                      [datasource]='subCategoryService' [minSearchLength]='0' placeholder="Sub-category"></ng2-completer>
                    <div class="list-caret" (click)="openList(subCategoryList, 'subcategory')">
                      <i class="fa fa-caret-down" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <div class="col-sm-6 p-0 pull-left">
                  <div class="col-sm-11 p-0" style="position: relative;" (mouseleave)="closeList(presizeNameList, 'presizename')">
                    <ng2-completer formControlName='presizeName' #presizeNameList (keydown)="presizeNameListOpen=!presizeNameListOpen" (blur)="validateSelectedItem(presizeNameList.value, 'presizeName')"
                      [datasource]='presizeTypesService' [minSearchLength]='0' placeholder="Pre-size Type"></ng2-completer>
                    <div class="list-caret" (click)="openList(presizeNameList, 'presizename')">
                      <i class="fa fa-caret-down" aria-hidden="true"></i>
                  </div>
                </div>
                </div>
                <div class="col-sm-6 p-0 pull-right">
                  <div class="col-sm-11 p-0 pull-right">
                    <input type="number" name="parts" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 110 ||  event.keyCode == 190 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true"
                      class="form-control" formControlName="parts" id="parts" placeholder="Parts" ngModel />
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-3">
                <input type="number" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109  || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true"
                  min="0" (paste)="onPaste($event)" name="heightCm" class="form-control merge-popup-width" formControlName="heightCm"
                  id="heightCm" placeholder="Height" (ngModelChange)="CmToInViceVersaChange('heightIn', 'CmToIn', $event);"
                  ngModel />
              </div>
              <label class="col-sm-1 p-0 m-0 p-t-6 f-10 t-align-c">x</label>
              <div class="col-sm-3">
                <input type="number" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109  || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true"
                  min="0" (paste)="onPaste($event)" name="widthCm" class="form-control merge-popup-width" formControlName="widthCm"
                  id="widthCm" placeholder="Width" (ngModelChange)="CmToInViceVersaChange('widthIn', 'CmToIn', $event)" ngModel
                />
              </div>
              <label class="col-sm-1 p-0 m-0 p-t-6 f-10 t-align-c">x</label>
              <div class="col-sm-3 pull-right">
                <span class="col-sm-9 p-0 row b-b-1-ddd">
                  <input type="number" name="depthCm" class="form-control merge-popup-depth col-sm-12 p-0 row pull-right" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109  || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true"
                    formControlName="depthCm" id="depthCm" min="0" (paste)="onPaste($event)" placeholder="Depth" (ngModelChange)="CmToInViceVersaChange('depthIn', 'CmToIn', $event)"
                                  ngModel />
                    </span>
                <span class="col-sm-1 pull-right d-inline-block row p-0 m-0 p-t-11 f-10 t-align-r">cm</span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-3">
                <input type="text" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true" min="0" (paste)="onPaste($event)" name="heightIn" class="form-control merge-popup-width" placeholder="Height" formControlName="heightIn" id="heightIn" (change)="CmToInViceVersaChange('heightCm', 'InToCm', $event.target.value);" ngModel />
              </div>
              <label class="col-sm-1 p-0 m-0 p-t-6 f-10 t-align-c">x</label>
              <div class="col-sm-3">
                <input type="text" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true" min="0" (paste)="onPaste($event)" name="widthIn" class="form-control merge-popup-width" placeholder="Width" formControlName="widthIn" id="widthIn" (change)="CmToInViceVersaChange('widthCm', 'InToCm', $event.target.value);" ngModel />
              </div>
              <label class="col-sm-1 p-0 m-0 p-t-6 f-10 t-align-c">x</label>
              <div class="col-sm-3 pull-right">
                <span class="col-sm-9 p-0 row b-b-1-ddd">
                      <input type="text"
                                      name="depthIn"
                                      class="form-control merge-popup-depth col-sm-12 p-0 row pull-right"
                                      onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true"
                                      placeholder="Depth"
                                      formControlName="depthIn"
                                      id="depthIn"
                                      min="0"
                                      (paste)="onPaste($event)"
                                      (change)="CmToInViceVersaChange('depthCm', 'InToCm', $event.target.value);"
                                      ngModel />
                    </span>
                <span class="col-sm-1 pull-right d-inline-block row p-0 m-0 p-t-11 f-10 t-align-r">in</span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <input type="text" name="sizeText" class="form-control" placeholder="Size Text" formControlName="sizeText" id="sizeText"
                  placeholder="Size Text" maxlength="500" ngModel>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-4">
                <input type="number" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 110 || event.keyCode == 190 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true"
                  name="yearStart" class="form-control" formControlName="yearStart" id="yearStart" placeholder="Year - From"
                  ngModel />
                <div *ngIf="objectDetailsForm.controls['yearStart'].hasError('pattern')" class="alert alert-danger">
                  Please enter 4 digit number
                </div>
              </div>
              <div class="col-sm-4">
                <input type="number" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 110 || event.keyCode == 190 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true"
                  name="yearEnd" class="form-control" formControlName="yearEnd" id="yearEnd" placeholder="Year - To" ngModel
                />
                <div *ngIf="objectDetailsForm.controls['yearEnd'].hasError('pattern')" class="alert alert-danger">
                  Please enter 4 digit number
                </div>
              </div>
              <div class="col-sm-4 pull-left p-0">
                <label class="checkbox-inline check f-11 p-0">
                  Circa
                  <input type="checkbox" name="yearCirca" value="yearCirca" formControlName="yearCirca" ngModel id="chk" (focus)="addOutline($event)" (blur)="removeOutline($event)"/>
                  <div><i class="fa fa-check"></i></div>
                </label>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-4">
                <input type="number" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 110 || event.keyCode == 190 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true"
                  name="castYearStart" class="form-control" formControlName="castYearStart" id="castYearStart" placeholder="Cast Year - From"
                  ngModel />
                <div *ngIf="objectDetailsForm.controls['castYearStart'].hasError('pattern')" class="alert alert-danger">
                  Please enter 4 digit number
                </div>
              </div>
              <div class="col-sm-4">
                <input type="number" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 110 || event.keyCode == 190 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true"
                  name="castYearEnd" class="form-control" formControlName="castYearEnd" id="castYearEnd" placeholder="Cast Year - To"
                  ngModel />
                <div *ngIf="objectDetailsForm.controls['castYearEnd'].hasError('pattern')" class="alert alert-danger">
                  Please enter 4 digit number
                </div>
              </div>
              <div class="row">
                <div class="col-sm-2 p-0">
                  <label class="checkbox-inline check f-11 p-0">
                    Circa
                    <input type="checkbox" name="castYearCirca" value="castYearCirca" formControlName="castYearCirca" ngModel id="chk" (focus)="addOutline($event)" (blur)="removeOutline($event)">
                    <div><i class="fa fa-check"></i></div>
                  </label>
                </div>
                <div class="col-sm-2 p-0 pull-right">
                  <label class="checkbox-inline check f-11">
                    PH
                    <input type="checkbox" name="posthumous" value="posthumous" formControlName="posthumous" ngModel id="chk" (focus)="addOutline($event)" (blur)="removeOutline($event)">
                    <div><i class="fa fa-check"></i></div>
                  </label>
                </div>
            </div>
            </div>
            <div class="form-group">
              <div class="col-sm-12">
                <input type="text" name="yearText" class="form-control" placeholder="Year Text" formControlName="yearText" id="yearTxt" ngModel>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-4 pull-left p-0">
                <div class="col-sm-12">
                  <input [readonly]="(objectDetailsForm.value.editionSizeTotal==='Unique')" type="text" name="editionNumber" class="form-control"
                    formControlName="editionNumber" id="editionNumber" placeholder="Edition No." ngModel />
                </div>
              </div>
              <div class="col-sm-4">
                <div class="col-sm-12" style="padding-left: 3px; padding-right: 3px;position: relative;" (mouseleave)="closeList(editionNameList, 'editionname')">
                  <ng2-completer [disableInput]="(objectDetailsForm.value.editionSizeTotal==='Unique')" formControlName='editionName' #editionNameList
                    [datasource]='editionTypeService' (keydown)="editionNameListOpen=!editionNameListOpen" (blur)="validateSelectedItem(editionNameList.value, 'editionName')"
                    [minSearchLength]='0' placeholder="Edition Type"></ng2-completer>
                  <div class="list-caret" (click)="openList(editionNameList, 'editionname')">
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </div>
              </div>
              </div>
              <div class="col-sm-4 p-0 pull-right">
                <div class="col-sm-12">
                  <input type="text" name="editionSizeTotal" class="form-control mousePointer" formControlName="editionSizeTotal" id="editionSizeTotal" (click)="EditionModalPrompt()" placeholder="Edition Size Total" ngModel />
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-4 pull-left">
                <div class="col-sm-11 p-0 d-inline-block">
                  <input type="number" onkeydown="javascript: return (event.keyCode == 107 || event.keyCode == 109 || event.keyCode == 69 || event.keyCode == 189 || event.keyCode == 187) ? false : true"
                    (paste)="onPaste($event)" min="0" name="weight" formControlName="weight" class="form-control" id="weight"
                    placeholder="Weight" ngModel />
                </div>
                <span class="col-sm-1 pull-left d-inline-block row p-0 m-0 p-t-11 f-10 t-align-r">kg</span>
              </div>
              <div class="col-sm-8 pull-right">
                <div class="col-sm-11 p-0 d-inline-block pull-right">
                  <input type="text" name="foundry" class="form-control" formControlName="foundry" placeholder="Foundry" id="foundry" ngModel
                  />
                </div>
              </div>
            </div>
            <div class="form-group m-t-10">
              <div class="row check-35-padding">
                <div class="col-sm-3 p-0">
                  <label class="control-label f-11 p-0 checkbox-inline check">
                    Certificate
                    <input type="checkbox" name="certificate" class="form-control" formControlName="certificate" value="certificate" ngModel id="chk" (focus)="addOutline($event)" (blur)="removeOutline($event)"/>
                    <div><i class="fa fa-check"></i></div>
                  </label>
                </div>
                <div class="col-sm-2 p-0">
                  <label class="control-label f-11 p-0 checkbox-inline check">
                    Signed
                    <input type="checkbox" name="signed" class="form-control" formControlName="signed" value="signed" ngModel id="chk" (focus)="addOutline($event)" (blur)="removeOutline($event)"/>
                    <div><i class="fa fa-check"></i></div>
                  </label>
                </div>
                <div class="col-sm-3 p-0">
                  <label class="control-label f-11 p-0 checkbox-inline check">
                    &nbsp;&nbsp;Stamped
                    <input type="checkbox" name="stamped" class="form-control" formControlName="stamped" value="stamped" ngModel id="chk" (focus)="addOutline($event)" (blur)="removeOutline($event)"/>
                    <div><i class="fa fa-check"></i></div>
                  </label>
                </div>
                <div class="col-sm-4 p-0">
                  <label class="control-label f-11 p-0 checkbox-inline check">
                    Authentication
                    <input type="checkbox" name="authentication" class="form-control" formControlName="authentication" value="authentication" ngModel id="chk" (focus)="addOutline($event)" (blur)="removeOutline($event)"/>
                    <div><i class="fa fa-check"></i></div>
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group m-t-10">
              <div class="col-sm-6 p-0 pull-left">
                <div class="col-sm-12">
                  <tag-input formControlName="archiveNumbers" id="archiveNumbers" [editable]='true' [addOnPaste]='true' [trimTags]='true' secondaryPlaceholder="Archive No." placeholder="" blinkIfDupe="true" addOnBlur="true" [(ngModel)]="archiveNoTags" (onAdd)="getArchiveNumbers();" (onRemove)="getArchiveNumbers()" (onFocus)="getArchiveNumbers()" (onBlur)="getArchiveNumbers()" (onTextChange)="getArchiveNumbers()"></tag-input>
                </div>
              </div>
              <div class="col-sm-6 p-0 pull-right m-t-17">
                <div class="col-sm-12">
                  <input formControlName="sortCode" no-match-found-text=" " class="form-control" placeholder="Sort Code" id="sortCode" />
                </div>
              </div>
            </div>
            <div class="panel m-0 m-t-10 col-sm-12">
              <div class="panel-body p-b-15">
                <table class="table table-sm table-striped table-scroll">
                  <thead>
                    <tr>
                      <th>CR</th>
                      <th>Type</th>
                      <th>Author</th>
                      <th>Volume</th>
                      <th>Number</th>
                    </tr>
                  </thead>
                  <tbody class="scrollable row" id='tblCatalogRaisonnees'>
                    <tr *ngFor="let raisonnes of propertyCatalogRaisonnee; let i=index;">
                      <td class="f-12">{{i+1 }}</td>
                      <td class="f-12">{{raisonnes.type}}</td>
                      <td class="f-12">{{raisonnes.author}}</td>
                      <td>
                        <input type='text' [value]="raisonnes.volumeCR?raisonnes.volumeCR:null" (input)="raisonnes.volumeCR = $event.target.value;" class='form-control volumes w-75' placeholder="Volume" />
                      </td>
                      <td>
                        <input type='text' [value]="raisonnes.numberCR?raisonnes.numberCR:null" (input)="raisonnes.numberCR = $event.target.value;" class='form-control number w-75' placeholder="Number" />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<style>
.modal-body {
  padding: 1px 0px 15px 15px;
}
.merge-popup-width {
  width: 140%;
}
.merge-popup-depth {
  width: 195%;
  padding: 6px 12px;
}
.list-caret {
  position: absolute;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  text-align: center;
  right: 0px;
  top: 6px;
  cursor: pointer;
}
.check-35-padding{
  padding-left: 35px;
}
input[type="checkbox"]{
  display: block;
}
input#chk {
  position: absolute;
  width: 1px; height: 0;
  margin: 0; margin-top: 4px; outline: none;
  border: 1px solid transparent; 
  background-color: transparent;
}
.outline {
  outline-color: rgb(77, 144, 254); /* #4D90FE */
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}
.dz-preview .dz-file-preview, .dz-details, .dz-details>img, .dz-details img {
  height: auto;
}
.dz-details {
  height: auto;
}
.object-details {
  max-height: 498px;
  overflow: hidden;
  overflow-y: scroll;
  padding-right: 15px;
  margin-top: 12px;
}
.object-details::-webkit-scrollbar {
    display: inline-block;
}
.m-t-17 {
  margin-top: 17px;
}
::-webkit-scrollbar { 
    display: none; 
    width: 8px;
}/* Handle */
::-webkit-scrollbar-thumb {
    background: #ccc;
    border: #ccc;
}
.scrollable { 
    overflow-x:hidden; 
    overflow-y:scroll;
    -ms-overflow-style: none;
}
::-webkit-scrollbar-track {
    background: #ccc;
    border: 4px solid transparent;
    background-clip: content-box;
}
.table-scroll tbody {
    overflow-y: scroll;
    padding-right: 15px;
    margin-top: 5px;
}
.table-scroll tr {
    width: 100%;
    table-layout: fixed;
    display: inline-table;
}
.table-scroll tbody tr {
    display: table;
}
.table-scroll thead {
    display: block;
}
.table-striped thead tr th, .table-striped tbody tr td {
    border: none;
}
.table-striped thead tr, .table-striped tbody tr {
    border: none;
    border-bottom: 1px solid #e8e8e8;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: transparent;
}
.mode {
  display: inline-block;
  text-align: center;
  padding-top: 2px;
}
.mode-label {
  background-color: #4682B4;
  color:#FFF;
  padding: 5px;
  font-size: 14px;
}
.logo {
  max-height: 20px;
}
</style> 