.presentation-view {
  padding-top: 50px;
  * {
    font-size: 12px;
    color: #333;
  }
  h5 {
    font-weight: bold;
  }
  ul {
    list-style: none;
    padding: 0;
    margin-top: -5px;
  }
  dt {
    padding: 0;
  }
  .object-section {
    margin-top: 5px;
    padding: 10px 20px;
    margin-bottom: 10px;
    &--dashed {
      border-bottom: 2px solid #c2bebe;
    }
    &.object-image {
      padding: 10px 0;
      margin-left: -1px;
    }
    &.object-pricing {
      min-height: 150px;
    }
    &.object-auction {
      ul {
        li:not(:first-child) {
          margin-top: 20px;
        }
      }
    }
  }
  .divider-right {
    border-right: 1px solid #aaaaaa;
  }
  .right-column {
    max-height: 700px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .capitalize {
    text-transform: capitalize;
  }

  .no-info {
    color: #999;
    font-style: italic;
  }
}

.container {
  width: 85%;
}
.font-size {
  font-size: 12px;
}