<div class="container presentation-view object">
  <div class="col-md-6 divider-right">
    <div class="col-md-12 object-section object-section--dashed object-owner">
      <div class="row">
        <div class="col-sm-3">
          <label>{{dictionary.PRESENTATION.LABEL_OWNER}}:</label>
        </div>
        <div>
          <div *ngIf="owner && owner.entityId"  class="col-sm-7">{{ owner.name }} ({{ owner.entityId }})</div>
          <div *ngIf="!owner || !owner.entityId" class="no-info col-sm-7">{{dictionary.PRESENTATION.EMPTY_OWNER}}</div>
        </div>
        <div *ngIf="owner && owner.entityId" class="col-sm-12">
          <div class="row">
            <div class="col-sm-3">
              <label>{{dictionary.PRESENTATION.LABEL_LOCATION}}:</label>
            </div>
            <div *ngIf="owner?.location" class="col-sm-7 capitalize">{{ owner.location }}</div>
            <div *ngIf="!owner?.location" class="no-info col-sm-7">{{dictionary.PRESENTATION.EMPTY_LOCATION}}</div>
          </div>
          <div class="row" *ngIf="owner.level >= 0">
            <div class="col-sm-3">
              <label>{{dictionary.PRESENTATION.LABEL_LEVEL}}:</label>
            </div>
            <div class="col-sm-7">{{ dictionary.PRESENTATION.LABEL_LEVEL }} {{ owner.level }}</div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <label>{{dictionary.PRESENTATION.LABEL_KCM}}:</label>
            </div>
            <div *ngIf="owner.keyClientManager?.name" class="col-sm-7">{{ owner.keyClientManager?.name }}</div>
            <div *ngIf="!owner.keyClientManager?.name" class="no-info col-sm-7">{{dictionary.PRESENTATION.EMPTY_KCM}}</div>
          </div>
          <div class="row" *ngIf="!!owner.affiliationText">
            <div class="col-sm-3">
              <label>{{dictionary.PRESENTATION.LABEL_AFFILIATION}}:</label>
            </div>
            <div class="col-sm-7">{{ owner.affiliationText }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 object-section object-section--dashed object-image font-size">
      <app-object *ngIf="!!object && object.id" [object]="object" clickable="false" bigimage="true"></app-object>
    </div>
    <div class="col-md-12 object-section object-pricing">
      <label>{{dictionary.PRESENTATION.TITLE_PRICING}}:</label> <span *ngIf="!!latestPricing && latestPricing.id">{{ latestPricing.event?.date | date:formatDate }}</span>
      <ul *ngIf="!!latestPricing && latestPricing.id">
        <li>{{ latestPricing.event?.valuationType.name }} {{ latestPricing.event?.valuationOrigin.name }}</li>
        <li *ngIf="latestPricing.privateSaleNetSeller">{{ latestPricing.privateSaleCurrency?.code }} {{ latestPricing.privateSaleNetSeller | number }} {{dictionaryPricing.PS}}</li>
        <li *ngIf="latestPricing.auctionLowValue && latestPricing.auctionHighValue">{{ latestPricing.auctionCurrency?.code }} {{ latestPricing.auctionLowValue | number }} - {{ latestPricing.auctionHighValue
          | number }} {{dictionaryPricing.A}}</li>
        <li *ngIf="latestPricing.insurancePrice">{{ latestPricing.insuranceCurrency?.code }} {{ latestPricing.insurancePrice | number }} {{dictionaryPricing.I}}</li>
        <li *ngIf="latestPricing.fairMarketValuePrice">{{ latestPricing.fairMarketValueCurrency?.code }} {{ latestPricing.fairMarketValuePrice | number }} {{dictionaryPricing.FMV}}</li>
        <li>{{ latestPricing.pipelineAuction?.name }}</li>
        <li>{{ latestPricing.pipelinePrivateSale?.name }}</li>
        <li>{{ latestPricing.pipelineExhibition?.name }}</li>
      </ul>
      <div *ngIf="!latestPricing || !latestPricing.id" class="no-info">{{dictionary.PRESENTATION.EMPTY_PRICING}}</div>
    </div>
  </div>
  <div class="col-md-6 right-column">
    <div class="object-section object-auction">
      <h5>{{dictionary.PRESENTATION.TITLE_AUCTIONS}}:</h5>
      <ul *ngIf="auctions.length > 0">
        <li>
          <ul>
            <li *ngFor="let auction of auctions">
              <div>
                {{ auction.event?.establishment?.name }}, {{ auction.event?.date | date:formatDate }}, {{ auction.event?.title }}<span *ngIf="auction.lotNumber">, {{dictionaryTransaction.LOT}} {{ auction.lotNumber}}</span>.
              </div>
              <div>
                {{ eventsDictionary.EVENT_TRANSACTION.ESTIMATE }}: {{ auction.auction?.estimateOnRequest ? eventsDictionary.EVENT_TRANSACTION.ESTIMATEONREQUEST : "" }}<span *ngIf="auction.event?.currency?.code"> {{ auction.event?.currency?.code }}</span><span *ngIf="auction.auction?.lowEstimate && auction.auction?.highEstimate"> {{ auction.auction?.lowEstimate
                | number }}-{{ auction.auction?.highEstimate | number }}</span><span *ngIf="auction.auction?.term?.name"> ({{ auction.auction?.term?.name }}).</span>
              </div>
              <div>
                {{auction.status?.name}}
                <span *ngIf="auction.status?.id === auctionStatusId.sold && (auction.auction.hammer || auction.auction.premium) ">
                  : <span *ngIf="auction.auction.hammer">{{ auction.event?.currency?.code }} {{ auction.auction.hammer | number }} {{ eventsDictionary.EVENT_TRANSACTION.H }}</span> <span *ngIf="auction.auction.premium">{{ auction.event?.currency?.code }} {{ auction.auction.premium | number }} {{ eventsDictionary.EVENT_TRANSACTION.P }}</span>.
                </span>
                <span *ngIf="auction.status?.id === auctionStatusId.boughtIn && auction.auction.unsoldHammer">
                  :{{ auction.event?.currency?.code }} {{ auction.auction.unsoldHammer | number }} {{ eventsDictionary.EVENT_TRANSACTION.UH }}.
                </span>
              </div>
            </li>
          </ul>
        </li>
      </ul>
      <span *ngIf="auctions.length === 0" class="no-info">{{dictionary.PRESENTATION.EMPTY_AUCTIONS}}</span>
    </div>
    <div class="object-section object-publication">
      <h5>{{dictionary.PRESENTATION.TITLE_LITERATURE}}:</h5>
      <ul *ngIf="publications.length > 0">
        <li *ngFor="let publication of publications">
          <span>
            <span *ngIf="publication.event?.author">{{ publication.event?.author }}, </span>{{ publication.event?.establishment?.name }}, {{ publication.event?.title }}, {{ publication.event?.date
            | date:formatDate }}<span *ngIf="publication.number">, {{ eventsDictionary.EVENT_PUBLICATION.NO }} {{ publication.number }}</span><span *ngIf="publication.cataloguingPage">, {{ eventsDictionary.EVENT_PUBLICATION.P
            }}. {{ publication.cataloguingPage }}</span><span *ngIf="publication.publicationItemType?.id === eventsConstants.OBJECT || publication.publicationItemType?.id === eventsConstants.INSTALLATION"> (<span *ngIf="publication.publicationItemType?.id === eventsConstants.INSTALLATION">{{publication.publicationItemType?.value}}</span><span *ngIf="publication.colourType?.name">{{ eventsDictionary.EVENT_PUBLICATION.ILLUSTRATED_IN }} {{ publication.colourType?.name}}</span><span *ngIf="publication.plate">, {{ eventsDictionary.EVENT_PUBLICATION.PL
              }}. {{ publication.plate }}</span><span *ngIf="publication.figure">, {{ eventsDictionary.EVENT_PUBLICATION.FIG }}. {{ publication.figure }}</span><span *ngIf="publication.illustration">, {{ eventsDictionary.EVENT_PUBLICATION.P
              }}. {{ publication.illustration }}</span>)</span>.
          </span>
        </li>
      </ul>
      <span *ngIf="publications.length === 0" class="no-info">{{dictionary.PRESENTATION.EMPTY_PUBLICATIONS}}</span>
    </div>
  </div>
</div>
