.contextmenu {
    position: absolute;
    .context-body {
        padding: 5px 10px;
        border: 1px solid #aaa;
        list-style: none;
        background: #fff;
        .entry {
            padding: 5px;
            margin: 0;
            &:not(:last-child) {
                border-bottom: 1px solid #aaa
            }
            a {
                color: #333;
                cursor: pointer;
                &:hover {
                  text-decoration:none;
                }
            }
        }
    }
}