<div class="contextmenu" [ngStyle]="{'left.px': x, 'top.px': y}" *ngIf="open">
  <ul class="context-body">
    <li *ngFor="let entry of entries" class="entry">
      <a class="{{ entry.id }}" (click)="entryClicked(entry, $event)">{{ entry.text }}</a>
    </li>
  </ul>
</div>
