<!-- Add Dropdown Values Modal -->
<modal #addDropdownValuesModal [hideCloseButton]="true" [closeOnEscape]="false" [closeOnOutsideClick]="false">
    <modal-header>
        <div class="modal-title">
            <h5 class="pull-left">Add Value -- Table: {{tableName}}</h5>
            <button id="closeAddDropDown" class="modal-btn secondary pull-right" (click)="addDropdownValuesModal.close();addDropdownValuesForm.reset();">CANCEL</button>
            <button type="submit" (click)="addDropdownValue();addDropdownValuesForm.reset();" class="modal-btn primary pull-right" 
            [disabled]="disableSave">SAVE</button>
        </div>
    </modal-header>
    <modal-content>
        <form [formGroup]="addDropdownValuesForm" class="noModeChange" novalidate (ngSubmit)="addDropdownValue()">
            <div class="col-sm-12">
                <div class="col-sm-12 row" *ngIf="tableValue!='country' && tableValue!='sitter'">
                    <input type="text" formControlName="dropdownValue" (keypress)="getNewValue()" (keyup)="setDisable($event)" minlength="1" maxlength="30"
                    class="form-control" placeholder="Add dropdown value.." [(ngModel)]="dropdownValue">
                </div>
                <div class="col-sm-12 row" *ngIf="tableValue==='country'">
                    <input type="text" formControlName="dropdownCountrySitterValue" (keypress)="getNewValue()" (keyup)="setDisable($event)" minlength="1" maxlength="100"
                    class="form-control" placeholder="Add dropdown value.." [(ngModel)]="dropdownValue">
                </div>
                <div class="col-sm-12 row" *ngIf="tableValue==='sitter'">
                    <input type="text" formControlName="dropdownCountrySitterValue" minlength="1" maxlength="100"  (keyup)="setDisable($event)"
                    class="form-control p-r-30" placeholder="First Name.." [(ngModel)]="dropdownValue">
                    <input type="text" formControlName="dropdownCountrySitterValueLname" minlength="1" maxlength="100"  (keyup)="setDisable($event)"
                    class="form-control p-r-30" placeholder="Last Name.." [(ngModel)]="dropdownCountrySitterValueLname">
                </div>
                
            </div>
        </form>
    </modal-content>
    <modal-footer></modal-footer>
</modal>