.h-auto {
    height: auto;
}
.panel-title {
    font-size: 12px !important;
}
.ngx-datatable {
    height: 300px;
}
.amend-dropdown-panel {
    margin: 0 auto;
    width: 750px;
    height: auto;
}
@media (min-width: 768px) {
    .amend-dropdown-panel {
        margin-top: 0;
    }
}
@media (min-width: 900px){
    .amend-dropdown-panel {
        margin-top: 20px;
    }
}

@media (min-width: 1050px){
    .amend-dropdown-panel {
        margin-top: 50px;
    }
}
.amend-dropdown-datatable-filter {
    padding: 8px;
    padding-right: 20px;
    margin: 15px auto;
    width: 50%;
    height: 30px;
    font-size: 11px; 
}
.form-control-clear {
    padding: 22px 0 0 0;
    margin-left: -15px;
    cursor: pointer;
}
.completer-dropdown-holder {
    max-width: 100px !important;
    overflow: hidden;
}
.list-caret {
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    text-align: center;
    right: 0px;
    top: 6px;
    cursor: pointer;
}
.add-new {
    width: 30%;
    text-align: right;
    font-size: 11px;
    padding: 10px 0 10px;
}
i.fa.fa-plus {
    top: 12px;
    margin-left: 5px;
    position: absolute;
}
.panel-heading {
    font-size: 11px;
}
.amend-dropdown-datatable ngx-datatable {
    font-size: 11px;
}
.amend-dropdown-datatable .ngx-datatable {
    height: calc(100vh - 110px);
    max-height: 515px;
    overflow: scroll;
}
.amend-dropdown-datatable .fa {
    font-size: 11px;
    color: #ccc;
}
.amend-dropdown-datatable .fa:hover {
    color: #5f849a;
}
.amend-dropdown-datatable .form-control-clear {
    z-index: 10;
    pointer-events: auto;
    cursor: pointer;
    position: absolute;
    margin-top: 20px;
    right: 20px;
}
.datatable-header {
    font-weight: bold;
    cursor: pointer;
    font-size: 13px;
}
.amend-dropdown-datatable .row-icons {
    display: inline-block;
}
.dropdown-values {
    white-space: normal;
    padding: 5px 10px 5px 0;
    cursor: pointer;
}
a {
	text-decoration: none;
	cursor: pointer;
}
.delete-icon-edit-dialog {
    position: absolute;
    padding-left: 10px;
    top: 1px;
    right: 0;
    bottom: 0;
    padding-top: 3px;
}