<!-- Navigation -->
<nav id="navHeaderValue" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <app-header (click)="redirect('home');"></app-header>
    <!-- Top Menu Items -->
    <ul class="nav top-nav pull-right">
        <li>
            <a (click)="redirect('admin')"><i class="fa fa fa-reply" aria-hidden="true" title="Back to Admin Page"></i></a>
        </li>
        <li class="dropdown" (click)="toggleFunction(1);" [ngClass]="{'open': toggleFlag === 1}">
            <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-h fa-lg"></i>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu dropdown-padding-right">
                <li class="divider"></li>
                <li><a (click)="this.keycloak.logout()"><i class="fa fa-fw fa-power-off"></i> Log Out</a></li>
            </ul>
        </li>
    </ul>
</nav>
<br/>
<br/>
<div id="page-wrapper">
    <div class="container-fluid" (click)="toggleFlag=0;"  (window:keydown)="keyboardShortCutamendDropDownFunction($event)">
        <div class="amend-dropdown-panel">
            <div class="panel h-auto">
                <div class="panel-heading">
                    <h5 class="panel-title" *ngIf="!tableName || tableName==''">Admin Values</h5>
                    <h5 class="panel-title" *ngIf="tableName && tableName!=''">Admin Values - {{tableName}}</h5>
                    <div class="panel-body row">
                        <div class="col-sm-12 p-0">
                            <ng2-completer #table [openOnFocus]="true"
                            [datasource]='tablesList' [minSearchLength]='0' [clearUnselected]='true' 
                            [selectOnFocus]='false' (selected)="displayDropdownValues($event);this.helper.clearInput('tableFilter');clearFilter();"
                            (blur)="validateSelected(table.value)" placeholder="Select Table..."></ng2-completer>
                            <div class="list-caret" (click)="openList(table, 'table')"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
                        </div>
                        <div class="col-sm-12 panel m-t-20 p-r-l-25">
                            <input type='filter' #tableFilter id='tableFilter' class="amend-dropdown-datatable-filter form-control pull-left" placeholder='Search..' (keyup)='updateFilter($event)' />
                            <span class="form-control-clear pull-left" *ngIf="tableFilter.value.length > 0" (click)="this.helper.clearInput('tableFilter');clearFilter();">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </span>
                            <a class="add-new pull-right" (click)="tableName!=''?this.addDropdownValuesModal.addDropdownValuesModal.open():alertSelectTable();">Add New Value
                                <i class="fa fa-plus"></i>
                            </a>
                            <ngx-datatable #tblDropdownValues class="amend-dropdown-datatable"
                                class="table" 
                                [rows]="rows"
                                [columnMode]="'flex'"
                                [headerHeight]="headerHeight"
                                [footerHeight]="footerHeight" 
                                [rowHeight]="rowHeight"
                                [scrollbarV]="true"
                                [externalSorting]="true"
                                *ngIf="displayTableData">
                                <ngx-datatable-column name="Values" prop="name" [flexGrow]="6" *ngIf="selectedTable!='country' && selectedTable!='sitter'">
                                    <ng-template let-column="column" ngx-datatable-header-template>
                                        <span class="datatable-header">{{column.name}}</span>
                                    </ng-template>
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template class="dropdown-values">
                                        {{value}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Values" prop="countryName" [flexGrow]="6" *ngIf="selectedTable==='country'">
                                    <ng-template let-column="column" ngx-datatable-header-template>
                                        <span class="datatable-header">{{column.name}}</span>
                                    </ng-template>
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template class="dropdown-values">
                                        {{value}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Values" prop="displayName" [flexGrow]="6" *ngIf="selectedTable==='sitter'">
                                    <ng-template let-column="column" ngx-datatable-header-template>
                                        <span class="datatable-header">{{column.name}}</span>
                                    </ng-template>
                                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template class="dropdown-values">
                                        {{value}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column [flexGrow]="1">
                                    <ng-template let-value="value" ngx-datatable-cell-template let-row="row">
                                        <span class="m-l-15 m-r-15 row-icons pull-right">
                                            <a alt="Edit" (click)="this.editDropdownValuesModal.editDropdownValuesModal.open(); populateEditDropdownValuesModal(row);">
                                                <i class="fa fa-pencil" title="Edit" aria-hidden="true"></i>
                                            </a>
                                        </span>
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-add-dropdown-values-modal (updateTable)="loadTable()" [tableName]="tableName" [tableValue]="selectedTable"></app-add-dropdown-values-modal>
        <app-edit-dropdown-values-modal (valuesMerged)="loadTable()" (openEditModal)="this.editDropdownValuesModal.editDropdownValuesModal.open();" (updatedDropdownValue)="updateDropdownValueRowByID($event)"  [tableName]="selectedTable" [dropdownValueID]="editDropdownValueID" [dropdownValue]="editDropdownValue" [dropdownValueLastname]="editDropdownValueLname" [originalValue]="editDropdownValue" [tableData]="selectedtableData"></app-edit-dropdown-values-modal>
    </div>
</div>