<!-- Edit Dropdown Values Modal -->
<modal #editDropdownValuesModal [hideCloseButton]="true" [closeOnEscape]="false" [closeOnOutsideClick]="false">
    <modal-header>
        <div class="modal-title">
            <h5 class="pull-left">Edit - Delete Value: {{originalValue}}</h5>
            <button #cancel class="modal-btn secondary pull-right" (click)="editDropdownValuesModal.close();">CANCEL</button>
            <button type="submit" (click)="updateDropdownValue();" class="modal-btn primary pull-right" 
            [disabled]="dropdownValue==''">SAVE</button>
        </div>
    </modal-header>
    <modal-content>
        <form [formGroup]="editDropdownValuesForm" class="noModeChange" novalidate (ngSubmit)="updateDropdownValue()">
            <div class="col-sm-12">
                <div class="col-sm-12 row" *ngIf="tableName!='country' && tableName!='sitter'">
                    <input type="text" formControlName="dropdownValue" minlength="1" maxlength="30"
                    class="form-control p-r-30" placeholder="Edit dropdown value.." [(ngModel)]="dropdownValue">
                    <div class="delete-icon-edit-dialog">
                        <span class="m-r-15 row-icons t-align-r pull-right w-20">
                            <a alt="Delete" (click)="deleteDropdownValue()">
                                <i class="fa fa-trash-o" title="Delete" aria-hidden="true"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="col-sm-12 row" *ngIf="tableName==='country'">
                    <input type="text" formControlName="dropdownCountrySitterValue" minlength="1" maxlength="100"
                    class="form-control p-r-30" placeholder="Edit dropdown value.." [(ngModel)]="dropdownValue">
                    <div class="delete-icon-edit-dialog">
                        <span class="m-r-15 row-icons t-align-r pull-right w-20">
                            <a alt="Delete" (click)="deleteDropdownValue()">
                                <i class="fa fa-trash-o" title="Delete" aria-hidden="true"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="col-sm-12 row" *ngIf="tableName==='sitter'">
                    <input type="text" formControlName="dropdownCountrySitterValue" minlength="1" maxlength="100"
                    class="form-control p-r-30" placeholder="First Name.." [(ngModel)]="dropdownValue">
                    <input type="text" formControlName="dropdownCountrySitterValueLname" minlength="1" maxlength="100"
                    class="form-control p-r-30" placeholder="Last Name.." [(ngModel)]="dropdownValueLastname">
                    <div class="delete-icon-edit-dialog">
                        <span class="m-r-15 row-icons t-align-r pull-right w-20">
                            <a alt="Delete" (click)="deleteDropdownValue()">
                                <i class="fa fa-trash-o" title="Delete" aria-hidden="true"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </modal-content>
    <modal-footer></modal-footer>
</modal>