.affiliated-client {
    &-add-client {
        cursor: pointer;
        color: #666;
        line-height: 45px;
        font-size: 20px;
        &:hover {
            text-decoration: none;
        }
    }
}