<div [formGroup]="affiliatedClient" class="form affiliated-client">
  <div class="row form-group ">
    <div class="col-sm-4" [class.has-error]="formEventError['clientSourceType']">
      <label for="affiliatedClientSourceType">{{ dictionary.LABELS.CLIENT_SOURCE_TYPE }}
        <span class="require" *ngIf="affiliatedClientIdValue">*</span>
      </label>
      <input id="affiliatedClientSourceType" ngui-auto-complete class="form-control arrow-down" [disabled]="disable" [source]="sourceTypes"
        [list-formatter]="listFormatter" display-property-name="name" value-property-name="id" autocomplete="off" formControlName="clientSourceType"
        min-chars="0" />
      <span *ngIf="formEventError['clientSourceType']" class="help-block require">{{ formEventError['clientSourceType'] }}</span>
    </div>
    <div class="col-sm-4" [class.has-error]="formEventError['clientSource']">
      <label for="affiliatedClientSource">{{ dictionary.LABELS.CLIENT_SOURCE }}
        <span class="require" *ngIf="requiredAffiliate">*</span>
      </label>
      <input id="affiliatedClientSource" ngui-auto-complete class="form-control" [disabled]="disable" (eventScroll)="eventScroll($event, null)"
        [source]="observableSource.bind(this)" no-match-found-text="{{ dictionary.MESSAGES.EMPTY_CLIENT_SOURCE_NAMES }}" [list-formatter]="listFormatter"
        display-property-name="name" value-property-name="id" autocomplete="off" formControlName="clientSource" loading-text=""
      />
      <span *ngIf="formEventError['clientSource']" class="help-block require">{{ formEventError['clientSource'] }}</span>
    </div>
    <div class="col-sm-4" [class.has-error]="formEventError['affiliatedType']">
      <label for="affiliatedType">{{ dictionary.LABELS.AFFILIATED_TYPE }}
        <span class="require" *ngIf="requiredAffiliate">*</span>
      </label>
      <input id="affiliatedType" ngui-auto-complete class="form-control arrow-down" [disabled]="disable" [source]="typeList" [list-formatter]="listFormatter"
        display-property-name="name" value-property-name="id" autocomplete="off" formControlName="affiliatedType" min-chars="0"
      />
      <span *ngIf="formEventError['affiliatedType']" class="help-block require">{{ formEventError['affiliatedType'] }}</span>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-sm-8">
      <label for="affiliatedClientName">{{ dictionary.LABELS.CLIENT_NAME }}</label>
      <input id="affiliatedClientName" type="text" class="form-control" formControlName="clientName" disabled />
    </div>
    <div class="col-sm-4" [class.has-error]="formEventError['clientId']">
      <div class="row">
        <div class="col-sm-9">
          <label for="affiliatedClientId">{{ dictionary.LABELS.AFFILIATED_CLIENT_ID }}</label>
          <input id="affiliatedClientId" type="text" class="form-control" formControlName="clientId" disabled />
          <span *ngIf="formEventError['clientId']" class="help-block require">{{ formEventError['clientId'] }}</span>
        </div>
        <div class="col-sm-3" *ngIf="!disabled">
          <a id="addAffiliatedClientId" class="affiliated-client-add-client" (click)="addClient()">+</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-sm-8">
      <label for="affiliatedClientKCM">{{ dictionary.LABELS.CLIENT_KCM }}</label>
      <input id="affiliatedClientKCM" type="text" class="form-control" formControlName="clientKcm" disabled />
    </div>
  </div>
</div>