﻿/*!
 * Start Bootstrap - SB Admin (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

html,
body {
  min-height: 100%;
}

html.loading body {
  opacity: 0.5;
}

.loading {
  background: transparent url('./../images/ajax-loader.gif') no-repeat fixed center;
  pointer-events: none;
}

.ngui-auto-complete .loading {
  background: none;
}

body.positionFixed {
  overflow: hidden;
}

.modal-backdrop {
  position: relative!important;
}

.hovered-image {
  max-width: 500px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1200;
  box-shadow: 0 0 20px #aaa;
  margin: 0 auto;
  height: auto;
  position: fixed;
}


/* Global Styles */

@media(min-width:768px) {
  body {
    padding-top: 50px;
  }
}

#wrapper {
  padding-left: 0;
}

#page-wrapper {
  width: 100%;
  padding: 0;
  background-color: #fff;
}

.page-content {
  padding-top: 20px;
  padding-bottom: 50px;
}

.flexbox-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

.flexbox-container .col-sm-height {
  display: flex;
  flex-direction: row;
}

.form-horizontal {
  width: 100%;
}

.horizontal-center {
  float: none;
  margin: 0 auto;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 225px;
  }
  #page-wrapper {
    padding: 10px;
  }
}

input::-webkit-input-placeholder {
  font-size: 10px;
  line-height: 3;
  color: #969696;
}

textarea {
  background: none;
  font-size: 11px;
  max-width: 100%;
}

.control-label {
  font-weight: 100;
}

.form-group {
  margin-bottom: 0;
}

.form-control {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  border-radius: 0;
  box-shadow: none;
  font-size: 12px;
  height: 28px;
}

.form-control:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, .12) !important;
}

.completer-input:focus,
.ng2-tag-input.ng2-tag-input--focused {
  border-color: rgba(0, 0, 0, .12) !important;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background: none;
}

.panel {
  border: 1px solid #ddd;
  border-radius: 0;
  padding: 0 10px 20px 10px;
  background: none;
  width: 100%;
  height: 100%;
}

.panel-heading {
  background-color: transparent !important;
  border: 0;
  font-size: 17px;
  color: #555 !important;
}

.panel-title {
  font-size: 11px;
  font-weight: bold;
  text-align: center;
}

.panel-body {
  padding: 0;
  padding-top: 10px;
}


/* table styles */

.table-scroll tbody {
  overflow-y: scroll;
  padding-right: 15px;
  margin-top: 5px;
}

.table-scroll tr {
  width: 100%;
  table-layout: fixed;
  display: inline-table;
}

.table-scroll tbody tr {
  display: table;
}

.table-scroll thead {
  display: block;
}

.table>thead>tr>th {
  border-bottom: none;
  font-size: 11px;
}

.table-striped thead tr th,
.table-striped tbody tr td {
  vertical-align: middle;
  padding: 6px 8px 2px 12px;
}

.table-striped thead tr,
.table-striped tbody tr {
  border: none;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: transparent;
}

.table-striped>tbody>tr,
.table-striped>tbody>tr>td>input {
  background: none !important;
}

.alert {
  padding: 5px;
  border-radius: 0;
  font-size: 11px;
}


/* font styles */

.f-10 {
  font-size: 10px;
}

.f-11 {
  font-size: 11px;
}

.f-12 {
  font-size: 12px;
}


/* margin styles */

.m-0-auto {
  margin: 0 auto;
}

.m-0 {
  margin: 0;
}

.m-t-0 {
  margin-top: 0px !important;
}

.m-t-5 {
  margin-top: 5px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-r-15 {
  margin-right: 15px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-1 {
  margin-bottom: 1px;
}

.m-l-5 {
  margin-left: 5px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-l-15 {
  margin-left: 15px;
}


/* padding styles */

.p-0 {
  padding: 0;
}

.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.p-t-6 {
  padding-top: 6px;
}

.p-t-11 {
  padding-top: 11px;
}

.p-t-20 {
  padding-top: 20px;
}

.p-r-0 {
  padding-right: 0px;
}

.p-r-10 {
  padding-right: 10px;
}

.p-r-15 {
  padding-right: 15px;
}

.p-r-30 {
  padding-right: 30px;
}

.p-r-l-25 {
  padding: 0 25px;
}

.p-l-0 {
  padding-left: 0px;
}

.p-l-10 {
  padding-left: 10px;
}

.p-l-20 {
  padding-left: 20px !important;
}


/* border styles */

.b-1-ddd {
  border: 1px solid #ddd;
}


/* height styles */

.h-400 {
  max-height: 400px;
  overflow: scroll;
}


/* width styles */

.w-20 {
  width: 20px;
}

.w-75 {
  width: 75px;
}

.w-20p {
  width: 20%;
}

.w-80p {
  width: 80%;
}

.w-100p {
  width: 100%;
}


/* border styles */

.b-0 {
  border: none;
}

.float-l {
  float: left;
}

.v-align-m {
  vertical-align: middle;
}

.v-align-baseline-middle {
  vertical-align: -webkit-baseline-middle;
}

.t-align-l {
  text-align: left;
}

.t-align-r {
  text-align: right;
}

.t-align-c {
  text-align: center;
}

.d-inline-block {
  display: inline-block;
}


/* Top Navigation */

.top-nav {
  /*padding: 0 15px; Amit 200617*/
  /*text-align: center; /* Center align items by Amit 190617*/
}

.top-nav>li {
  display: inline-block;
  float: none;
  /* center align-items Amit 190617*/
}

.top-nav>li>a {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
  color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
  color: #fff;
  background-color: #000;
}

.top-nav>.open>.dropdown-menu {
  float: left;
  position: absolute;
  margin-top: 0;
  border: 1px solid rgba(0, 0, 0, .15);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.top-nav>.open>.dropdown-menu>li>a {
  white-space: normal;
}

ul.message-dropdown {
  padding: 0;
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
}

li.message-preview {
  width: 275px;
  border-bottom: 1px solid rgba(0, 0, 0, .15);
}

li.message-preview>a {
  padding-top: 15px;
  padding-bottom: 15px;
}

li.message-footer {
  margin: 5px 0;
}

ul.alert-dropdown {
  width: 200px;
}


/* Side Navigation */

@media(min-width:768px) {
  .side-nav {
    position: fixed;
    top: 51px;
    left: 225px;
    width: 225px;
    margin-left: -225px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #222;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
  }
  .side-nav>li>a {
    width: 225px;
  }
  .side-nav li a:hover,
  .side-nav li a:focus {
    outline: none;
    background-color: #000 !important;
  }
}

.side-nav>li>ul {
  padding: 0;
}

.side-nav>li>ul>li>a {
  display: block;
  padding: 10px 15px 10px 38px;
  text-decoration: none;
  color: #999;
}

.side-nav>li>ul>li>a:hover {
  color: #fff;
}


/* Flot Chart Containers */

.flot-chart {
  display: block;
  height: 350px;
}

.flot-chart-small {
  display: block;
  height: 150px;
}

.flot-chart-content {
  width: 100%;
  height: 100%;
}


/* Custom Colored Panels */

.huge {
  font-size: 40px;
}


/*Amit dropdown-menu position change when text is more in dropdown-list */

.dropdown-menu-position {
  right: 0;
  min-width: 245px;
  margin-right: 5px;
  left: auto;
}

.dropdown-padding-right {
  right: 0;
  margin-right: 5px;
  left: auto;
}


/* Custom 'Radio' button style */

input[type="radio"] {
  display: none;
}


/* Radio - Label style on hover */

input+label.radio:hover,
input+label.radio:focus,
input:checked+label.radio:hover {
  color: #000;
  font-style: bold;
}


/* Radio button label style */

label.radio {
  font-size: 11px;
  cursor: pointer;
  display: block;
  position: relative;
  white-space: no-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all .15s ease;
  color: #555;
}

label.radio::before {
  font-family: FontAwesome;
  font-size: 17px;
  padding-right: 5px;
  color: #aaa;
}


/* Radio button style when checked */

input[type="radio"]:checked+label {
  color: #555;
}

span.radio {
  margin-top: -5px;
}


/* Custom 'Checkbox' style */

input[type="checkbox"] {
  display: none;
}

label.check {
  font-size: 10px;
}

label.check div {
  width: 19px;
  height: 19px;
  display: inline-block;
  background-color: #fdfdfd;
  text-align: center;
  line-height: 19px;
  margin-right: 6px;
  cursor: pointer;
}

label.check i {
  font-size: 15px;
  color: #ccc;
}

label.check:click+div i {
  opacity: 1;
  color: #5cf163;
}

input:checked+div i {
  opacity: 1;
  color: #5cf163;
}


/* Custom SELECT control - ng-completer styles */

.completer-holder {
  width: 100% !important;
}

.completer-dropdown {
  width: 100% !important;
  border: 1px solid black;
  top: 35px;
  font-size: 11px;
  max-height: 15rem;
  overflow: auto;
  z-index: 1 !important;
}

.completer-dropdown::-webkit-scrollbar {
  display: inline-block;
  width: 2px;
  transition: opacity 3s ease-in-out;
  -webkit-transition: opacity 3s ease-in-out;
  -moz-transition: opacity 3s ease-in-out;
  -ms-transition: opacity 3s ease-in-out;
  -o-transition: opacity 3s ease-in-out;
  opacity: 1;
}

.completer-dropdown::-webkit-scrollbar-thumb {
  background: none !important;
}

.completer-selected-row {
  background-color: #eee !important;
  color: #000 !important;
}

.completer-input {
  display: block;
  width: 100%;
  height: 28px;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  border-radius: 0;
  box-shadow: 0;
  cursor: text;
}

.completer-input:focus {
  outline: 0;
  border-bottom: 1px solid #66afe9;
}


/* Custom Select Control - angular2-multiselect-dropdown styles */

.selected-list[_ngcontent-c3] button[_ngcontent-c3] {
  box-shadow: none !important;
  border: 0;
  border-bottom: 1px solid #ccc;
  padding-left: 0px !important;
}

.selected-list[_ngcontent-c3] .c-list[_ngcontent-c3] .c-token[_ngcontent-c3] {
  background-color: #ecf542 !important;
  font-size: 11px !important;
  border-radius: 25px !important;
  padding: 2px 9px !important;
  color: #555 !important;
  float: left !important;
  margin: 5px 0 0 6px !important;
}

.selected-list[_ngcontent-c3] .c-list[_ngcontent-c3] .c-token[_ngcontent-c3] .fa-remove[_ngcontent-c3] {
  font-size: 10px !important;
  margin-left: 5px !important;
  font-weight: 100;
}

.dropdown-list[_ngcontent-c3] {
  font-size: 11px;
}

.dropdown-list[_ngcontent-c3] label {
  font-weight: 100;
  color: #333 !important;
}

.pure-checkbox[_ngcontent-c3] input[type="checkbox"][_ngcontent-c3]+label[_ngcontent-c3]:before {
  width: 9px !important;
  height: 9px !important;
}

.pure-checkbox[_ngcontent-c3] input[type="checkbox"][_ngcontent-c3]+label[_ngcontent-c3]:after {
  top: 6px !important;
  left: 2px !important;
  width: 6px !important;
  height: 2px !important;
}

.c-btn[_ngcontent-c3] {
  font-size: 12px !important;
}


/* Custome tags input control - ngx-chips */

tag {
  padding: 2px 8px !important;
  color: #000 !important;
  font-weight: 800;
  height: 24px !important;
  line-height: 20px !important;
  background-color: #c8dade !important;
  font-size: 10px !important;
  margin: 0.1rem 0.4rem 0.1rem 0 !important;
}

delete-icon {
  color: #000 !important;
  width: 12px !important;
}

delete-icon svg {
  height: 8px !important;
  width: 8px !important;
  vertical-align: middle !important;
  color: #000 !important;
  fill: #000 !important;
}

delete-icon:hover {
  transform: none !important;
  height: 8px;
}


/* Tag Input - Archive Numbers */

.ng2-tag-input__text-input[_ngcontent-c7] {
  font-size: 11px !important;
  height: 10px !important;
}

.ng2-tag-input.ng2-tag-input--focused[_ngcontent-c4] {
  border-bottom: 1px solid #66afe9 !important;
}

.tag__text {
  font-size: 11px !important;
}

#paginationInput {
  width: 30px;
}

.sitter-autocomplete-fname ngui-auto-complete {
  width: 220% !important;
}

.sitter-autocomplete-lname ngui-auto-complete {
  width: 220% !important;
  left: -123% !important;
}

.imageSubjectAutoComplete ngui-auto-complete {
  max-height: 250px !important;
}

.form-horizontal .country-list .ngui-auto-complete {
  height: 251px !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

.form-horizontal .country-list .ngui-auto-complete>ul li {
  padding: 2px 10px;
  border-bottom: 1px solid #eee;
}

.form-horizontal .object-autocomplete .ngui-auto-complete {
  height: 355px !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

.form-horizontal .object-autocomplete {
  z-index: 1000;
}

.form-horizontal .object-autocomplete .ngui-auto-complete ul {
  max-height: 355px !important;
  overflow-y: auto !important;
}

.form-horizontal .object-autocomplete .ngui-auto-complete {
  word-wrap: break-word;
  line-height: 1.5;
  margin-bottom: 4px;
  color: #4d5965;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

.form-horizontal .object-autocomplete .ngui-auto-complete ul li.item:not(.active):hover,
.form-horizontal .object-autocomplete .ngui-auto-complete>ul li.selected {
  color: #397dff;
  background-color: transparent;
  cursor: pointer;
}

.form-horizontal .object-autocomplete.ngui-auto-complete>ul li {
  background-color: transparent;
}

.form-horizontal .object-autocomplete .ngui-auto-complete>ul li .auto-title {
  font-weight: 600;
  line-height: 25px;
}

.form-horizontal .object-autocomplete .ngui-auto-complete>ul li {
  padding: 6px 10px;
  border-bottom: 1px solid #eee;
}

.form-horizontal .autoFirstHightlight .ngui-auto-complete ul li.item:not(.active):hover,
.form-horizontal .autoFirstHightlight .ngui-auto-complete>ul li.selected {
  color: #397dff;
  background-color: transparent;
  cursor: pointer;
}

.form-horizontal .autoFirstHightlight.ngui-auto-complete>ul li {
  background-color: transparent;
}

.form-horizontal .autoFirstHightlight .ngui-auto-complete ul li.item:first-child {
  color: #397dff;
  background-color: transparent;
  cursor: pointer;
}


/* Modal Styles */

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.modal-header h5 {
  font-size: 15px;
}

.modal-content {
  border-radius: 0;
  color: #000;
  padding: 1em;
  position: relative;
  margin: 0 auto;
  width: auto;
  font-size: 12px;
  line-height: 1.5em;
  box-shadow: none;
}

.modal-content .modal-label {
  line-height: 2.2em;
}

.modal-btn {
  margin-top: 3px;
  margin-left: 3px;
  cursor: pointer;
  color: #000;
  font-size: 10px;
  border-radius: 3px;
  padding: 1px 5px;
}

.modal-btn.primary {
  color: #3ed079;
  border: 1px solid #3ed079;
  background: #fff;
  padding: 5px;
}

.modal-btn.secondary {
  color: #b7bbb8;
  border: 1px solid #b7bbb8;
  background: #fff;
  padding: 5px;
}

.modal-btn:hover {
  text-decoration: none;
  color: #000;
}

.modal-btn.primary:hover,
.modal-btn.secondary:hover {
  border: 1px solid #000;
  color: #000;
}

.modal-footer {
  border: none;
}

.form-horizontal .selected .ngui-auto-complete ul,
.form-horizontal .selected .ngui-auto-complete ul {
  max-height: 251px !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

.form-horizontal .country-list .ngui-auto-complete ul {
  max-height: 251px !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  width: 210px;
  position: absolute;
}

.selected-auto-list {
  font-size: 11px !important;
  border-radius: 25px !important;
  padding: 2px 9px !important;
  color: #555 !important;
  float: left !important;
  margin: 5px 0 0 6px !important;
}

.object-border {
  border: 1px solid #ffc169;
  box-shadow: none;
  cursor: pointer;
}

.artist-border {
  border: 1px solid #ffa9ee;
  box-shadow: none;
  cursor: pointer;
}

.import-export-border {
  border: 1px solid #a4ff5c;
  box-shadow: none;
  cursor: pointer;
}

.admin-border {
  border: 1px solid #d8ceec;
  box-shadow: none;
  cursor: pointer;
}

.home-title {
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
  color: #a7a7a7;
}

.dropdown-menu>li>a:hover {
  cursor: pointer;
}

.header-titles {
  text-align: center;
  font-size: 22px;
  margin-top: -41px;
}

.header-titles .header-text {
  background: #4682B4;
  padding: 14px;
  padding-left: 40px;
  padding-right: 40px;
  color: #FFF;
}

.mousePointer {
  cursor: pointer;
}

.searchIconColor a i,
.eraserIconColor a i {
  color: #337ab7;
  font-size: 20px;
}

.plusIconColor a i {
  color: #288671;
  font-size: 20px;
}

.floopyIconColor a i {
  color: #d41c1c;
  font-size: 20px;
}

.replyIconColor a i {
  color: #663399;
  font-size: 20px;
}

.searchIconColor a i:hover,
.eraserIconColor a i:hover,
.plusIconColor a i:hover,
.floopyIconColor a i:hover,
.replyIconColor a i:hover {
  color: #FFF;
}

.modalCloseIconColor i {
  color: #337ab7;
}

.modalFloppyIconColor i {
  color: #d41c1c;
}

.modalCloseIconColor i:hover,
.modalFloppyIconColor i:hover {
  color: #FFF;
}

.dropdown-menu>li>a:hover {
  cursor: pointer;
}

.save-search-notes:hover::-webkit-scrollbar,
.save-search-notes:focus::-webkit-scrollbar {
  display: inline-block;
}

.ngx-datatable {
  color: #555;
  padding: 0 15px;
}

.ngx-datatable a {
  color: #555;
  cursor: pointer;
  text-decoration: none;
}

.datatable-header {
  font-weight: bold;
  vertical-align: middle;
}

.datatable-body-row {
  min-height: 30px;
  height: auto;
  border-bottom: 1px solid #eee;
  padding: 5px 0;
}


/* 
            ngui-auto-complete {
              width: 220% !important;
            } */

.removePadding {
  padding-left: 0px;
  padding-right: 0px;
}