<simple-notifications [options]="options" class="notifications" (onDestroy)="destroyMessage($event)"></simple-notifications>
<app-navigation-header [totalPages]="pageTotal"></app-navigation-header>
<section [attr.state]="state" class="section-container">
  <h1 class="section-title">{{ sectionTitle }}</h1>
  <div id="consignmentPurchaseContainer" class="event-container" state="search">
    <div class="form-container">
      <app-consignment-purchase-form class="event-column-form"></app-consignment-purchase-form>
    </div>
    <div class="table-container" [style.display]="showTable ? 'block' : 'none'">
      <app-consignment-purchase-table class="event-column-table" [eventItems]="eventItems" (moreItems)="moreItems($event)" (removeItem)="removeItem($event)">
      </app-consignment-purchase-table>
    </div>
  </div>
</section>