<div [formGroup]="form" class="form">
  <div class="row form-group"  *ngIf="hideElements.indexOf('itemId')===-1">
    <div class="col-sm-12">
      <label for="oldItemId">{{ dictionary.LABELS.ITEM_ID }}</label>
      <input type="text" id="oldItemId" class="form-control" rows="3" formControlName="itemId" />
      <span *ngIf="formErrors.itemId" class="help-block require">{{ formErrors.itemId }}</span>
    </div>
  </div>
  <div class="row form-group" *ngIf="hideElements.indexOf('notes')===-1">
    <div class="col-sm-12">
      <label for="idNotes">{{ dictionary.LABELS.COMMENTS }}</label>
      <textarea id="idNotes" class="form-control" rows="4" formControlName="notes"></textarea>
      <span *ngIf="formErrors.notes" class="help-block require">{{ formErrors.notes }}</span>
    </div>
  </div>
</div>
