<div class="modal-dialog app-dialog confirm-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">{{ title }}</h4>
    </div>
    <div class="modal-body">
      <p>{{ message}}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default confirm" (click)="confirm()">{{ dictionary.DIALOG.YES }}</button>
      <button type="button" class="btn btn-default cancel" (click)="close()">{{ dictionary.DIALOG.NO }}</button>
    </div>
  </div>
</div>
