<div class="modal-dialog app-dialog upload-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">{{ title }}</h4>
    </div>
    <div class="modal-body">
      <p>{{ message}}</p>
      <input id="fileName" type="file" (change)="fileChanged($event)" />
      <p class="error">{{ invalidName }}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default confirm" (click)="confirm()" [disabled]="!canUpload">{{ dictionary.DIALOG.UPLOAD }}</button>
      <button type="button" class="btn btn-default cancel" (click)="close()">{{ dictionary.DIALOG.CANCEL }}</button>
    </div>
  </div>
</div>
